@import 'utility.scss';

#chat {

	border: 1px solid $test-color;

	max-width: 800px;
	height: 800px;
	margin: 0 auto;
	.chat_list {
		.cl_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 60px;
			padding: 12px 16px;
			.clh_name {
				font-size: 16px;
				color: $color2;
				flex: 99;
				.name {
					font-weight: 500;
				}
			}
			.clh_right {
				display: flex;
				align-items: center;
				.clh_d {
					font-size: 14px;
					color: $color6;
				}
				.clh_load {
					margin-left: 10px;
				}
			}
		}
		.cl_body {
			.clb_tab {
				display: flex;
				.clbt_button {
					flex: 1;
					height: 60px;
					border: 1px solid $colorD;
					font-size: 16px;
					color: $color2;
					background: #F5F6F7;
					+ .clbt_button {
						margin-left: -1px;
					}
					&.on {
						position: relative;
						z-index: 1;
						border: 2px solid $point0;
						background: $colorF;
					}
				}
			}
			.clb_tab_wrap {
				.tlbtw_cont {
					.chat_list {
						display: flex;
						align-items: center;
						padding: 20px 15px;
						&:nth-child(2n) {
							background: $colorF6;
						}
						.cl_tag {
							width: 76px;
							height: 36px;
							border: 1px solid $color3;
							border-radius: 60px;
							font-size: 14px;
							color: $color3;
							text-align: center;
							line-height: 34px;
							&.st0 {
								&:after {content: '거래불가';}
							}
							&.st1 {
								border-color: $chat1;
								color: $chat1;
								&:after {content: '거래대기';}
							}
							&.st2 {
								border-color: $chat2;
								color: $chat2;
								&:after {content: '거래중';}
							}
							&.st3 {
								border-color: $chat3;
								color: $chat3;
								&:after {content: '거래완료';}
							}
						}
						.cl_mid {
							flex: 99;
							padding: 0 10px;
							.clt_tag {
								font-size: 14px;
								line-height: 20px;
								max-height: 40px;
								color: $color2;
								overflow: hidden;
							}
						}
						.cl_right {
							text-align: right;
							.clr_date {
								font-size: 12px;
								color: $color6;
								.time {
									font-family: $nunito;
								}
							}
							.clr_count {
								display: inline-block;
								vertical-align: top;
								min-width: 18px;
								height: 18px;
								padding: 0 5px;
								background: $point0;
								color: #fff;
								font-size: 13px;
								font-family: $nunito;
								border-radius: 9px;
								margin-top: 6px;
								line-height: 18px;
							}
						}
					}
				}
			}
		}
		.cl_search {
			margin-top: 20px;
			.cls_form {
				display: block;
				position: relative;
				width: 409px;
				height: 36px;
				padding-right: 56px;
				border: 1px solid $point1;
				margin: 0 auto;
				input[type="text"] {
					width: 100%;
					height: 100%;
					border: 0 none;
					padding: 0 10px;
					font-size: 14px;
					&::placeholder {
						color: $colorA;
					}
				}
				button,
				input[type="submit"] {
					position: absolute;
					top: 0;
					right: 0;
					width: 56px;
					height: 100%;
					background: $point1;
					border: 0 none;
					font-size: 14px;
					color: #fff;
				}
			}
		}
		.cl_page {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 2px;
			margin-top: 30px;
			.arr {
				display: block;
				font-size: 0;
				width: 15px;
				height: 30px;
				background: no-repeat top 55% center;
				&.first {
					background-image: url('../images/common/page_first.svg');
				}
				&.prev {
					background-image: url('../images/common/page_prev.svg');
				}
				&.next {
					background-image: url('../images/common/page_next.svg');
				}
				&.last {
					background-image: url('../images/common/page_last.svg');
				}
			}
			.clp_num {
				display: flex;
				align-items: center;
				gap: 4px;
			}
			.num {
				width: 30px;
				height: 30px;
				border-radius: 15px;
				text-align: center;
				line-height: 30px;
				color: $color6;
				&.on {
					color: #fff;
					background: $color4;
				}
			}
		}
	}
	.chat_view {
		height: 100%;
		.chat_view_main {
			height: 100%;
		}
	}
}

#chatBox {
	background: #ABC0D1;
	height: 100%;
	display: flex;
	flex-direction: column;
	.chat_messege_list {
		flex: 1;
		@include scroll;
		max-height: calc(100% - 50px);
		padding: 0 15px;
		.notice_list {
			background: #fff;
			border: 1px solid $point0;
			border-radius: 3px;
			padding: 10px 15px;
			margin: 20px 0;
		}
		.date_list {
			overflow: hidden;
			text-align: center;
			margin: 20px 0 26px;
			.datebox {
				position: relative;
				display: inline-block;
				margin: 0 auto;
				font-size: 12px;
				font-family: $nunito;
				color: $color6;
				&:before,
				&:after {
					content: '';
					position: absolute;
					top: calc(50% - 1px);
					display: block;
					width: 50vw;
					height: 1px;
					background: $color6;
					opacity: 0.4;
				}
				&:before {
					right: calc(100% + 6px);
				}
				&:after {
					left: calc(100% + 6px);
				}
			}
		}
		.cml_list {
			display: flex;
			align-items: flex-end;
			margin: 20px 0;
			.txtbox {
				max-width: calc(100% - 150px);
				padding: 10px 15px;
				margin-bottom: 1px;
				background: #fff;
				border-radius: 3px;
				box-shadow: 0px 2px 2px #00000029;
			}
			.otherbox {
				flex: 1;
				padding: 0 6px;
				font-family: $nunito;
				font-size: 12px;
				color: $color6;
				.countbox {
					display: block;
					color: #FCEC33;
					font-weight: 300;
					text-shadow: 0px 1px 1px #00000029;
				}
				.timebox {
					display: block;
				}
			}
			&.t_r {
				justify-content: flex-end;
				.txtbox {
					order: 2;
					background-color: #FEE932;
				}
				.otherbox {
					order: 1;
					text-align: right;
				}
			}
		}
	}
	.chat_messege_auto {

	}
	.chat_messege_send {
		.cms_form {
			display: flex;
			position: relative;
			background: #fff;
			min-height: 50px;
			.cms_txt {
				width: calc(100% - 50px);
				border: 0 none;
				padding: 15px 50px 15px 15px;
				font-size: 14px;
				line-height: 20px;
				outline: 0 none;
				min-height: 50px;
				max-height: 200px;
				@include scroll;
			}
			.cms_file {
				position: absolute;
				top: 50%;
				margin-top: -25px;
				right: 70px;
				width: 50px;
				height: 50px;
				overflow: hidden;
				background: url('../images/common/i_file.svg') no-repeat center center;
				cursor: pointer;
				input {
					opacity: 0;
				}
			}
			.cms_send {
				width: 70px;
				background: #FFEC42;
				border: 0 none;
				font-size: 16px;
				color: $color2;
			}
		}
	}
}