body,
body * {
  font-family: "Noto Sans Kr", sans-serif;
}

body {
  color: #222222;
}

button {
  cursor: pointer;
}

.w_set {
  width: 1080px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.w_set_member {
  width: 744px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.nunito {
  font-family: "Nunito Sans", sans-serif;
}

@media (min-width: 1080px) {
  .hide_pc {
    display: none !important;
  }
}
@media (max-width: 1080px) {
  body:not(.is_pc) .w_set {
    width: auto;
    max-width: 1080px;
    padding-left: 16px;
    padding-right: 16px;
  }
  body:not(.is_pc) .hide_m {
    display: none !important;
  }
  body:not(.is_pc) .w_set_member {
    width: auto;
    max-width: 744px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.fc_p0 {
  color: #014099 !important;
}

.fc_p1 {
  color: #113462 !important;
}

.fc_p2 {
  color: #24B685 !important;
}

.radio_visual {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.radio_visual input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio_visual .radio_ico {
  display: block;
  width: 19px;
  height: 19px;
  outline: 1px solid #014099;
  border: 4px solid #fff;
  border-radius: 100%;
  background: #fff;
}
.radio_visual .txt {
  padding-left: 5px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #014099;
  margin-top: -2px;
}
.radio_visual input:checked + .radio_ico {
  background-color: #014099;
}
.radio_visual.type2 .radio_ico {
  outline-color: #24B685;
}
.radio_visual.type2 input:checked + .radio_ico {
  background-color: #24B685;
}
.radio_visual.type2 .txt {
  color: #24B685;
}

.label_c {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.label_c input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.label_c .txt {
  padding-left: 10px;
  font-size: 16px;
}
.label_c .txt b {
  font-weight: 500;
}
.label_c .ico {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
}
.label_c input:checked + .ico {
  border-color: #333333;
  background: url() no-repeat center center #333333;
}

.label_r {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.label_r input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.label_r .txt {
  padding-left: 10px;
  font-size: 16px;
}
.label_r .ico {
  display: inline-block;
  width: 22px;
  height: 22px;
  outline: 1px solid #A7A7A7;
  border: 4px solid #fff;
  border-radius: 100%;
}
.label_r input:checked + .ico {
  outline-color: #113462;
  background-color: #113462;
}
.label_r input:checked + .ico + .txt {
  color: #113462;
}

.label_t {
  display: block;
}
.label_t input:not([type=radio]) {
  width: 100%;
  height: 48px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  padding: 0 14px;
  font-size: 16px;
  background: #fff;
}
.label_t input:not([type=radio])::-moz-placeholder {
  color: #A7A7A7;
}
.label_t input:not([type=radio]):-ms-input-placeholder {
  color: #A7A7A7;
}
.label_t input:not([type=radio])::placeholder {
  color: #A7A7A7;
}

@media (max-width: 1080px) {
  body:not(.is_pc) .label_t input:not([type=radio]) {
    padding: 0 10px;
    font-size: 12px;
  }
}

.label_s {
  display: block;
}
.label_s select {
  width: auto;
  height: 48px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  padding: 0 68px 0 14px;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background: url(../images/ico/ico_arrow2.svg) no-repeat top 50% right 16px #fff;
}

@media (max-width: 1080px) {
  body:not(.is_pc) .label_s select {
    padding: 0 30px 0 14px;
    font-size: 14px;
    background-size: 12px auto;
  }
}

.st_btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0 22px;
  height: 48px;
  background: #333333;
  border: 1px solid #333333;
  border-radius: 3px;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  line-height: 46px;
}
.st_btn.size_side {
  width: 100%;
  height: 40px;
  line-height: 38px;
  font-size: 13px;
}
.st_btn.size_b {
  width: 360px;
  height: 54px;
  line-height: 52px;
}
.st_btn.size_sml {
  min-width: 76px;
  height: 36px;
  line-height: 34px;
  padding: 0 12px;
  font-size: 14px;
}
.st_btn.color_p {
  background-color: #014099;
  border-color: #014099;
}
.st_btn.color_6 {
  background-color: #666666;
  border-color: #666666;
}
.st_btn.color_pw {
  background: #fff;
  border-color: #014099;
  color: #014099;
}
.st_btn i.i_arr {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 4px;
  width: 4px;
  height: 100%;
  background: url("../images/common/i_arr.svg") no-repeat center center;
}

@media (max-width: 1080px) {
  body:not(.is_pc) .st_btn.size_m_100, body:not(.is_pc) .st_btn.size_b {
    width: 100%;
  }
}/*# sourceMappingURL=common.css.map */