@import 'utility.scss';

body,
body * {
	font-family: "Nunito Sans", "Noto Sans Kr", sans-serif;
}

body {
	color: $color2;
}
button {cursor: pointer;}

body.is_pc {
	min-width: 1200px;
}

.w_set {
	width: $w_set;
	margin-left: auto !important;
	margin-right: auto !important;
}
.w_set_member {
	width: 744px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.nunito {
	font-family: $nunito;
}

@include pc {
	.hide_pc {display: none !important;}
}

@include mobile {
	.w_set {
		width: auto;
		max-width: $w_set;
		padding-left: 16px;
		padding-right: 16px;
	}

	.hide_m {display: none !important;}

	.w_set_member {
		width: auto;
		max-width: 744px;
		padding-left: 16px;
		padding-right: 16px;
	}
}

.fc_p0 {color: $point0 !important;}
.fc_p1 {color: $point1 !important;}
.fc_p2 {color: $point2 !important;}

.radio_visual {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	input[type="radio"] {
		position: absolute;
		//NOTE 수정 width: 0;
		// height: 0;
		opacity: 0;
	}
	.radio_ico {
		display: block;
		width: 19px;
		height: 19px;
		outline: 1px solid $point0;
		border: 4px solid #fff;
		border-radius: 100%;
		background: #fff;
	}
	.txt {
		padding-left: 5px;
		line-height: 20px;
		font-size: 16px;
		font-weight: 500;
		color: $point0;
		margin-top: -2px;
	}
	input:checked + .radio_ico {
		background-color: $point0;
	}
	&.type2 {
		.radio_ico {
			outline-color: $point2;
		}
		input:checked + .radio_ico {
			background-color: $point2;
		}
		.txt {
			color: $point2;
		}
	}
}

// 체크박스 라벨
// 체크시 아이콘 에셋 처리가 안되어서 작업 필요함
.label_c {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
	}
	.txt {
		padding-left: 10px;
		font-size: 16px;
		b {
			font-weight: 500;
		}
	}
	.ico {
		display: inline-block;
		width: 22px;
		height: 22px;
		border: 1px solid $colorD;
		border-radius: 2px;
		background: #fff;
	}
	input:checked + .ico {
		border: 0 none;
		// 아이콘 체크 추가 필요
		background: url('../images/common/i_checkbox.svg') no-repeat center center $color3;
	}

	&.size_s {
		.ico {
			width: 18px;
			height: 18px;
		}
		.txt {
			padding-left: 6px;
			font-size: 14px;
		}
	}
}

@include mobile {
	.label_c {
		.txt {
			padding-left: 6px;
			font-size: 14px;
		}
	}
}

.label_r {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	input[type="radio"] {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
	}
	.txt {
		padding-left: 10px;
		font-size: 16px;
	}
	.ico {
		display: inline-block;
		width: 22px;
		height: 22px;
		outline: 1px solid $colorA;
		border: 4px solid #fff;
		border-radius: 100%;
	}
	input:checked + .ico {
		outline-color: $point1;
		background-color: $point1;
		+ .txt {
			color: $point1;
		}
	}

	&.size_s {
		.txt {
			padding-left: 6px;
			font-size: 14px;
		}
	}
}

.label_t {
	display: block;

	.label_txt {
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 500;
		&.req {
			&:after {
				content: ' *';
				color: #DE4040;
				font-weight: 400;
			}
		}
	}

	input:not([type="radio"]) {
		width: 100%;
		height: 48px;
		border: 1px solid #D3D3D3;
		border-radius: 3px;
		padding: 0 14px;
		font-size: 16px;
		background: #fff;
	}
	input:not([type="radio"])::placeholder {
		color: $colorA;
	}

	&.type_login {
		input:not([type="radio"]) {
			height: 50px;
			border-color: #A7A7A7;
			border-radius: 0;
			padding: 0 20px;
			font-size: 14px;
		}
	}
}

@include mobile {
	.label_t {
		.label_txt {
			margin-bottom: 8px;
			font-size: 15px;
		}

		input:not([type="radio"]) {
			padding: 0 10px;
			font-size: 12px;
		}
	}
}


.label_s {
	display: block;
	select {
		width: auto;
		height: 48px;
		border: 1px solid #D3D3D3;
		border-radius: 3px;
		//NOTE 패딩 수정
		padding: 0 68px 0 14px;
		font-size: 16px;
		appearance: none;
		cursor: pointer;
		// 화살표 아이콘 추가 필요함
		background: url(../images/ico/ico_arrow2.svg) no-repeat top 50% right 16px #fff;
	}
}

@include mobile {
	.label_s {
		select {
			//NOTE 패딩 수정
			padding: 0 30px 0 14px;
			font-size: 14px;
			background-size: 12px auto;
		}
	}
}

.st_btn_align {
	display: flex;
	justify-content: center;
	&.pc_center {
		gap: 20px;
	}
}

@include mobile {
	.st_btn_align {
		&.m_auto {
			.st_btn {
				flex: 1;
			}
			gap: 8px;
		}
	}
}

.st_btn {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 22px;
	height: 48px;
	background: $color3;
	border: 1px solid $color3;
	border-radius: 3px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	line-height: 46px;
	// size
	&.size_side {
		width: 100%;
		height: 40px;
		line-height: 38px;
		font-size: 13px
	}
	&.size_b {
		width: 360px;
		height: 54px;
		line-height: 52px;
	}
	&.size_login {
		width: 100%;
		height: 65px;
		line-height: 63px;
		border-radius: 0;
	}
	&.size_sml {
		min-width: 76px;
		height: 36px;
		line-height: 34px;
		padding: 0 12px;
		font-size: 14px;
	}
	&.size_m {
		width: 166px;
		height: 40px;
		line-height: 38px;
	}
	// color
	&.color_p {
		background-color: $point0;
		border-color: $point0;
	}
	&.color_6 {
		background-color: $color6;
		border-color: $color6;
	}
	&.color_4 {
		background-color: $color4;
		border-color: $color4;
	}
	&.color_pw {
		background: #fff;
		border-color: $point0;
		color: $point0;
	}

	i.i_arr {
		display: inline-block;
		vertical-align: bottom;
		margin-left: 4px;
		width: 4px;
		height: 100%;
		background: url('../images/common/i_arr.svg') no-repeat center center;
	}
}

@include mobile {
	.st_btn {
		&.size_m_100,
		&.size_b {
			width: 100%;
		}

		&.size_login {
			height: 54px;
			line-height: 52px;
		}
	}
}