#member {
  margin: 50px auto 120px;
  color: #222222;
}
#member .main_title {
  text-align: center;
}
#member .main_title h2 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}
#member .main_title p {
  margin-top: 20px;
  font-size: 16px;
}
#member .main_title .ico {
  margin-top: 50px;
  margin-bottom: 30px;
}
#member .step_wrap {
  position: relative;
  display: flex;
  height: 70px;
  margin-top: 30px;
}
#member .step_wrap li {
  display: block;
  position: relative;
  width: 33.33%;
  height: 100%;
  padding: 0 14px;
}
#member .step_wrap li .step_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #F6F6F6;
}
#member .step_wrap li .step_box .t1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
}
#member .step_wrap li .step_box .t2 {
  margin-top: 8px;
  font-size: 14px;
}
#member .step_wrap li:before, #member .step_wrap li:after {
  content: "";
  display: block;
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  background: url(../images/ico/ico_step.svg) no-repeat right center;
}
#member .step_wrap li:after {
  right: -8px;
}
#member .step_wrap li:before {
  left: -8px;
  background-position: left center;
}
#member .step_wrap li.on .step_box {
  background-color: #434343;
  color: #fff;
}
#member .step_wrap li.on:after, #member .step_wrap li.on:before {
  background-image: url(../images/ico/ico_step_on.svg);
}
#member .step_wrap li:first-child {
  padding-left: 0;
}
#member .step_wrap li:first-child .step_box {
  text-indent: 5px;
}
#member .step_wrap li:first-child:before {
  content: none;
}
#member .step_wrap li:last-child {
  padding-right: 0;
  text-indent: -5px;
}
#member .step_wrap li:last-child:after {
  content: none;
}
#member .chk_area {
  display: flex;
  font-size: 16px;
}
#member .chk_area input {
  position: absolute;
  opacity: 0;
}
#member .chk_area .chk {
  position: relative;
  display: inline-block;
  color: #222;
  padding: 0 0 0 32px;
  line-height: 1.5;
}
#member .chk_area .chk .ico_chk {
  display: block !important;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 2px;
  left: 0;
  background: url(../images/ico/ico_chk_off.svg) no-repeat center center;
  background-size: 22px;
  overflow: hidden;
}
#member .chk_area input:checked + .chk i {
  background-image: url(../images/ico/ico_chk_on.svg);
}
#member .chk_area em {
  color: #A7A7A7;
  font-weight: 400;
}
#member .chk_area em.red {
  color: #DE4040;
}
#member .join2 {
  margin-top: 40px;
}
#member .join2 .list .label_t {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
#member .join2 .list .label_t.type_sns {
  align-items: start;
  margin-bottom: 60px;
}
#member .join2 .list .label_t.type_sns .sns {
  margin-bottom: 9px;
}
#member .join2 .list .label_t.type_sns .sns .radio_visual {
  height: 26px;
  line-height: 26px;
  width: auto;
}
#member .join2 .list .label_t.type_sns .sns .radio_visual + .radio_visual {
  margin-left: 50px;
}
#member .join2 .list .label_t.type_sns .sns .radio_visual .txt {
  color: #113462;
}
#member .join2 .list .label_t.type_sns .alert_msg {
  display: flex;
  align-items: center;
}
#member .join2 .list .label_t.type_sns .alert_msg i {
  background-image: url(../images/ico/ico_alert.svg);
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 4px;
}
#member .join2 .list .label_t.type_sns .alert_msg span {
  font-size: 14px;
  color: #666666;
}
#member .join2 .list .label_t label, #member .join2 .list .label_t .label {
  width: 164px;
  font-size: 18px;
  font-weight: 500;
  flex: 0 0 auto;
}
#member .join2 .list .label_t label em, #member .join2 .list .label_t .label em {
  color: #DE4040;
}
#member .join2 .list .label_t .padding {
  display: flex;
  width: 100%;
  align-items: center;
}
#member .join2 .list .label_t .padding.type_line .label_s {
  margin-right: 0;
}
#member .join2 .list .label_t .padding.type_line input {
  margin-right: 0;
}
#member .join2 .list .label_t .padding.type_line span {
  margin: 0 5px;
  width: 8px;
  display: block;
  overflow: hidden;
  flex: 0 0 auto;
}
#member .join2 .list .label_t .padding .label_s {
  margin-right: 10px;
}
#member .join2 .list .label_t .padding .st_btn {
  flex: 0 0 auto;
  margin-left: 10px;
}
#member .join2 .list .btn {
  text-align: center;
}
#member .agree_area {
  margin-top: 55px;
}
#member .agree_area .list {
  text-align: left;
}
#member .agree_area .list .all {
  margin-bottom: 30px;
}
#member .agree_area .list ul {
  border: 1px solid #D9D9D9;
  margin-top: 20px;
}
#member .agree_area .list ul .title .agree_area {
  margin-top: 0;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 18px 40px 18px 20px;
  line-height: 1.5;
}
#member .agree_area .list ul .title .agree_area::after {
  content: "";
  width: 14px;
  height: 8px;
  position: absolute;
  top: calc(50% - 4px);
  transform: translate(-50%);
  right: 10px;
  background-image: url("../images/ico/ico_arrow2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#member .agree_area .list ul .title .agree_area.active::after {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  right: 20px;
}
#member .agree_area .list ul .cont {
  display: none;
  padding: 0 19px 20px;
  height: 240px;
  overflow: scroll;
  overflow-x: hidden;
}
#member .agree_area .list ul .cont .answer {
  position: relative;
}
#member .member_info {
  display: flex;
  justify-content: space-between;
  background-color: #EEF3F9;
  padding: 16px;
  margin-top: 34px;
  flex-wrap: wrap;
  align-items: center;
}
#member .member_info .pt_txt {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  font-size: 16px;
}
#member .member_info .pt_txt .pic {
  font-size: 0;
}
#member .member_info .pt_txt .txt {
  padding: 0px 20px;
  color: #333333;
}
#member .member_info .pt_txt .txt.nunito {
  font-weight: 500;
}
#member .member_info .pt_txt .txt + .txt {
  position: relative;
}
#member .member_info .pt_txt .txt + .txt:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
  width: 1px;
  height: 10px;
  background: #A7A7A7;
}
#member .man_list {
  margin-top: 50px;
}
#member .man_list p {
  font-size: 18px;
  font-weight: 500;
}
#member .man_list .man_check {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}
#member .man_list .man_check li {
  position: relative;
  display: flex;
  gap: 20px;
  padding: 20px 40px 25px 20px;
  border: 1px solid #707070;
}
#member .man_list .man_check li::after {
  content: "";
  position: absolute;
  display: block;
  width: 9px;
  height: 18px;
  top: calc(50% - 5px);
  transform: translate(-50%);
  right: 15px;
  background-image: url("../images/ico/ico_arrow1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px 18px;
}
#member .man_list .man_check li p {
  font-size: 16px;
}
#member .man_list .man_check li span {
  display: block;
  margin-top: 11px;
}
#member .man_list .man_check li:nth-child(1) img {
  width: 40px;
}
#member .man_list .man_check li:nth-child(2) img {
  width: 70px;
}
#member .gift {
  text-align: center;
}
#member .gift .gift_img {
  border: 1px solid #A7A7A7;
  padding: 16px 20px 28px;
  margin-top: 52px;
}
#member .gift .gift_img .gift_img_title {
  text-align: center;
}
#member .gift .gift_img .gift_img_title .pic {
  font-size: 0;
}
#member .gift .gift_img .gift_img_title p {
  margin-top: 16px;
  font-size: 16px;
  color: #014099;
}
#member .gift .gift_img .coupon_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 58px;
  padding-right: 28px;
}
#member .gift .gift_img .coupon_list .coupon {
  position: relative;
}
#member .gift .gift_img .coupon_list .coupon .x_count {
  position: absolute;
  width: 56px;
  height: 56px;
  top: -28px;
  right: -28px;
  background: #333333;
  border-radius: 100%;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
}
#member .gift .gift_img .coupon_list .coupon .x_count span {
  font-size: 20px;
}
#member .gift .btn {
  margin-top: 78px;
}

@media (max-width: 1080px) {
  body:not(.is_pc) #member {
    margin: 30px auto 60px;
  }
  body:not(.is_pc) #member .main_title h2 {
    font-size: 18px;
  }
  body:not(.is_pc) #member .main_title p {
    margin-top: 20px;
    font-size: 14px;
  }
  body:not(.is_pc) #member .main_title .ico {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  body:not(.is_pc) #member .main_title.is_end h2 {
    font-size: 20px;
  }
  body:not(.is_pc) #member .main_title.is_end p {
    margin-top: 10px;
    font-size: 16px;
  }
  body:not(.is_pc) #member .step_wrap {
    height: 50px;
    margin-top: 20px;
  }
  body:not(.is_pc) #member .step_wrap li {
    padding: 0 9px;
  }
  body:not(.is_pc) #member .step_wrap li .step_box .t1 {
    display: none;
  }
  body:not(.is_pc) #member .step_wrap li .step_box .t2 {
    margin-top: 0;
    font-size: 14px;
  }
  body:not(.is_pc) #member .step_wrap li:before, body:not(.is_pc) #member .step_wrap li:after {
    width: 15px;
    background: url(../images/ico/ico_step_m.svg) no-repeat right center;
  }
  body:not(.is_pc) #member .step_wrap li:after {
    right: -3px;
  }
  body:not(.is_pc) #member .step_wrap li:before {
    left: -3px;
    background-position: left center;
  }
  body:not(.is_pc) #member .step_wrap li.on:after, body:not(.is_pc) #member .step_wrap li.on:before {
    background-image: url(../images/ico/ico_step_m_on.svg);
  }
  body:not(.is_pc) #member .step_wrap li:first-child {
    padding-left: 0;
  }
  body:not(.is_pc) #member .step_wrap li:first-child .step_box {
    padding-left: 5px;
    text-indent: 0;
  }
  body:not(.is_pc) #member .step_wrap li:last-child {
    padding-right: 0;
  }
  body:not(.is_pc) #member .step_wrap li:last-child .step_box {
    padding-right: 5px;
    text-indent: 0;
  }
}
@media (max-width: 1080px) and (min-width: 500px) {
  body:not(.is_pc) #member .step_wrap .mbr {
    display: none;
  }
}
@media (max-width: 1080px) {
  body:not(.is_pc) #member .chk_area {
    display: flex;
    font-size: 14px;
  }
  body:not(.is_pc) #member .chk_area input {
    position: absolute;
    opacity: 0;
  }
  body:not(.is_pc) #member .chk_area .chk {
    padding: 2px 0 0 32px;
  }
}
@media (max-width: 1080px) {
  body:not(.is_pc) #member .join2 {
    margin-top: 20px;
  }
  body:not(.is_pc) #member .join2 .list .label_t {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
  }
  body:not(.is_pc) #member .join2 .list .label_t.type_sns {
    align-items: start;
    margin-bottom: 60px;
  }
  body:not(.is_pc) #member .join2 .list .label_t.type_sns .sns {
    margin-bottom: 10px;
  }
  body:not(.is_pc) #member .join2 .list .label_t.type_sns .sns .radio_visual {
    height: 26px;
    line-height: 26px;
    width: auto;
  }
  body:not(.is_pc) #member .join2 .list .label_t.type_sns .sns .radio_visual + .radio_visual {
    margin-left: 50px;
  }
  body:not(.is_pc) #member .join2 .list .label_t.type_sns .sns .radio_visual .txt {
    color: #113462;
  }
  body:not(.is_pc) #member .join2 .list .label_t.type_sns .alert_msg {
    align-items: flex-start;
  }
  body:not(.is_pc) #member .join2 .list .label_t.type_sns .alert_msg i {
    margin: 2px 4px 0 0;
  }
  body:not(.is_pc) #member .join2 .list .label_t.type_sns .alert_msg span {
    flex: 1;
  }
  body:not(.is_pc) #member .join2 .list .label_t label, body:not(.is_pc) #member .join2 .list .label_t .label {
    width: 100%;
    font-size: 16px;
    flex: 0 0 auto;
    margin-bottom: 10px;
  }
  body:not(.is_pc) #member .join2 .list .label_t .padding {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  body:not(.is_pc) #member .join2 .list .label_t .padding.type_line .label_s {
    margin-right: 0;
    width: calc(30% - 12px);
  }
  body:not(.is_pc) #member .join2 .list .label_t .padding.type_line .label_s select {
    width: 100%;
  }
  body:not(.is_pc) #member .join2 .list .label_t .padding.type_line input {
    margin-right: 0;
    width: calc(35% - 12px) !important;
  }
  body:not(.is_pc) #member .join2 .list .label_t .padding.type_line span {
    margin: 0 0;
    width: 18px;
    text-align: center;
  }
  body:not(.is_pc) #member .join2 .list .label_t .padding .label_s {
    margin-right: 10px;
    width: 114px;
  }
  body:not(.is_pc) #member .join2 .list .label_t .padding .label_s select {
    width: 100%;
  }
  body:not(.is_pc) #member .join2 .list .label_t .padding input[type=text] {
    width: calc(100% - 114px - 10px);
  }
  body:not(.is_pc) #member .join2 .list .label_t .padding .st_btn {
    margin: 10px 0 0 0;
  }
  body:not(.is_pc) #member .join2 .list .btn {
    text-align: center;
  }
}
@media (max-width: 1080px) {
  body:not(.is_pc) #member .agree_area {
    margin-top: 30px;
  }
  body:not(.is_pc) #member .agree_area .list .all {
    margin-bottom: 30px;
  }
  body:not(.is_pc) #member .agree_area .list ul {
    border: 1px solid #D9D9D9;
    margin-top: 20px;
  }
  body:not(.is_pc) #member .agree_area .list ul .title .agree_area {
    margin-top: 0;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 20px;
    line-height: 1.5;
  }
  body:not(.is_pc) #member .agree_area .list ul .title .agree_area .chk_area > span {
    padding: 2px 20px 0 0;
  }
  body:not(.is_pc) #member .agree_area .list ul .title .agree_area::after {
    width: 12px;
    height: 6px;
    top: calc(50% - 3px);
    transform: none;
    right: 20px;
    background-size: 100% 100%;
  }
  body:not(.is_pc) #member .agree_area .list ul .title .agree_area.active::after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    right: 20px;
  }
  body:not(.is_pc) #member .agree_area .list ul .cont {
    height: 240px;
  }
}
@media (max-width: 1080px) {
  body:not(.is_pc) #member .member_info {
    padding: 16px;
    margin-top: 20px;
  }
  body:not(.is_pc) #member .member_info .pt_txt {
    font-size: 14px;
  }
  body:not(.is_pc) #member .member_info .pt_txt .txt {
    padding: 0px 10px;
  }
}
@media (max-width: 1080px) {
  body:not(.is_pc) #member .man_list {
    margin-top: 30px;
  }
  body:not(.is_pc) #member .man_list .main_list_title {
    font-size: 18px;
  }
  body:not(.is_pc) #member .man_list .man_check {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }
  body:not(.is_pc) #member .man_list .man_check li {
    align-items: center;
    gap: 0;
    padding: 20px 40px 25px 0;
    border: 1px solid #707070;
  }
  body:not(.is_pc) #member .man_list .man_check li .pic {
    width: 110px;
    text-align: center;
  }
  body:not(.is_pc) #member .man_list .man_check li .txt {
    width: calc(100% - 110px);
  }
  body:not(.is_pc) #member .man_list .man_check li p {
    font-size: 16px;
  }
  body:not(.is_pc) #member .man_list .man_check li span {
    display: block;
    margin-top: 11px;
    font-size: 14px;
  }
  body:not(.is_pc) #member .man_list .man_check li:nth-child(1) img {
    width: 40px;
  }
  body:not(.is_pc) #member .man_list .man_check li:nth-child(2) img {
    width: 70px;
  }
}
@media (max-width: 1080px) {
  body:not(.is_pc) #member .gift .gift_img {
    padding: 18px 20px 28px;
    margin-top: 40px;
  }
  body:not(.is_pc) #member .gift .gift_img .gift_img_title p {
    margin-top: 20px;
    font-size: 14px;
  }
  body:not(.is_pc) #member .gift .gift_img .coupon_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 52px;
    padding-right: 0;
    gap: 48px;
  }
  body:not(.is_pc) #member .gift .btn {
    margin-top: 78px;
  }
}

#login {
  padding-top: 50px;
}
#login.has_bg {
  background: transparent linear-gradient(180deg, #EEF3F9 0%, rgba(238, 243, 249, 0) 100%) 0% 0% no-repeat padding-box;
}
#login .login_title {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
#login .login_form .label_t + .label_t {
  margin-top: 14px;
}
#login .login_form .f_sp_b {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#login .login_form .f_sp_b .linkbox {
  display: flex;
  align-items: center;
}
#login .login_form .f_sp_b .linkbox li + li {
  margin-left: 19px;
  padding-left: 19px;
  position: relative;
}
#login .login_form .f_sp_b .linkbox li + li:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background: #B2B2B2;
}
#login .login_form .f_sp_b .linkbox li a {
  font-size: 14px;
}
#login .login_form .btn_wrap {
  margin-top: 50px;
}
#login .login_form .btn_wrap .st_btn + .st_btn {
  margin-top: 10px;
}
#login .login_form .alert_19 {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#login .login_form .alert_19 i {
  display: block;
  width: 41px;
  height: 41px;
  background: url("../images/member/ico_19.svg") no-repeat center center;
}
#login .login_form .alert_19 p {
  padding-left: 7px;
  font-size: 14px;
  color: #000000;
  flex: 99;
  letter-spacing: -0.02em;
}
#login .login_banner {
  display: none;
}
#login .find_id {
  width: 360px;
  margin: 70px auto 0;
}
#login .find_id .label_t + .label_t {
  margin-top: 20px;
}
#login .find_id .btn_wrap {
  margin-top: 80px;
}

@media (min-width: 1080px) {
  #login .login_index {
    display: flex;
    margin-top: 60px;
  }
  #login .login_index > * {
    flex: 99;
    width: 50%;
  }
  #login .login_index > *:first-child {
    padding-right: 19px;
  }
  #login .login_index > *:not(:first-child) {
    padding-left: 19px;
    border-left: 1px solid #D3D3D3;
  }
  #login .login_index .login_form {
    display: block;
  }
  #login .login_index .login_banner {
    display: block;
  }
  #login .login_index .login_banner a {
    position: relative;
    display: block;
    width: 520px;
    height: 407px;
  }
  #login .login_index .login_banner a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 1080px) {
  body:not(.is_pc) #login {
    padding-top: 30px;
  }
  body:not(.is_pc) #login .login_title {
    font-size: 18px;
  }
  body:not(.is_pc) #login .login_index {
    margin-top: 20px;
  }
  body:not(.is_pc) #login .login_form .label_t + .label_t {
    margin-top: 10px;
  }
  body:not(.is_pc) #login .login_form .f_sp_b .linkbox li + li {
    margin-left: 10px;
    padding-left: 11px;
  }
  body:not(.is_pc) #login .login_form .f_sp_b .linkbox li a {
    font-size: 14px;
  }
  body:not(.is_pc) #login .login_form .alert_19 {
    margin-top: 40px;
    align-items: flex-start;
  }
  body:not(.is_pc) #login .login_form .alert_19 p {
    padding-left: 7px;
    font-size: 14px;
  }
  body:not(.is_pc) #login .login_banner {
    display: none;
  }
  body:not(.is_pc) #login .find_id {
    width: auto;
    margin: 30px auto 0;
  }
  body:not(.is_pc) #login .find_id .label_t + .label_t {
    margin-top: 10px;
  }
  body:not(.is_pc) #login .find_id .btn_wrap {
    margin-top: 40px;
  }
}/*# sourceMappingURL=etc.css.map */