@import "utility.scss";

#member {
	margin: 50px auto 120px;
	color: #222222;

	.main_title {
		text-align: center;
		h2 {
			font-size: 28px;
			font-weight: 500;
			margin: 0;
		}
		p{
			margin-top: 20px;
			font-size: 16px;
		}
		.ico{
			margin-top: 50px;
			margin-bottom: 30px;
		}
	}
	.step_wrap{
		position: relative;
		display: flex;
		height: 70px;
		margin-top: 30px;
		$gap: 10px;
		$gap2: 2px;
		li{
			display: block;
			position: relative;
			width: 33.33%;
			height: 100%;
			padding: 0 $gap + $gap2 * 2;
			.step_box {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				height: 100%;
				background: $colorF6;
				.t1 {
					font-family: $nunito;
					font-size: 12px;
				}
				.t2 {
					margin-top: 8px;
					font-size: 14px;
				}
			}
			&:before,
			&:after {
				content: '';
				display: block;
				width: $gap * 3;
				height: 100%;
				position: absolute;
				top: 0;
				background: url(../images/ico/ico_step.svg) no-repeat right center;
			}
			&:after {
				right: -$gap + $gap2;
			}
			&:before {
				left: -$gap + $gap2;
				background-position: left center;
			}
			&.on {
				.step_box {
					background-color: $color4;
					color: #fff;
				}
				&:after,
				&:before {
					background-image: url(../images/ico/ico_step_on.svg);
				}
			}
			&:first-child {
				padding-left: 0;
				.step_box {
					text-indent: 5px;
				}
				&:before {
					content: none;
				}
			}
			&:last-child {
				padding-right: 0;
				text-indent: -5px;
				&:after {
					content: none;
				}
			}
		}
	}
	//체크박스
	.chk_area {
		display: flex;
		font-size: 16px;
		input {
			position: absolute;
			opacity: 0;
		}
		.chk {
			position: relative;
			display: inline-block;
			color: #222;
			padding: 0 0 0 32px;
			line-height: 1.5;
			.ico_chk {
				display: block !important;
				width: 22px;
				height: 22px;
				position: absolute;
				top: 2px;
				left: 0;
				background: url(../images/ico/ico_chk_off.svg) no-repeat center center;
				background-size: 22px;
				overflow: hidden;
			}
		}
		input:checked+.chk i {
			background-image: url(../images/ico/ico_chk_on.svg);
		}
		em{
			color: #A7A7A7;
			font-weight: 400;
			&.red{
				color: #DE4040;
			}
		}
	}
	.join2{
		margin-top: 40px;
		.list{
			.label_t{
				display: flex;
				align-items: center;
				margin-bottom: 26px;
				&.type_sns{
					align-items: start;
					margin-bottom: 60px;
					.sns{
						margin-bottom: 9px;
						.radio_visual{
							height: 26px;
							line-height: 26px;
							width: auto;
							&+.radio_visual{
								margin-left: 50px;
							}
							.txt{
								color: #113462;
							}
						}
					}
					.alert_msg{
						display: flex;
						align-items: center;
						i{
							background-image: url(../images/ico/ico_alert.svg);
							width: 16px;
							height: 16px;
							display: block;
							margin-right: 4px;
						}
						span {
							font-size: 14px;
							color: $color6;
						}
					}
				}
				label,.label{
					width: 164px;
					font-size: 18px;
					font-weight: 500;
					flex: 0 0 auto;
					em{
						color: #DE4040;

					}
				}
				.padding{
					display: flex;
					width: 100%;
					align-items: center;
					&.type_line{
						.label_s{
							margin-right: 0;
						}
						input{
							margin-right: 0;
						}
						span{
							margin: 0 5px;
							width: 8px;
							display: block;
							overflow: hidden;
							flex: 0 0 auto;
						}
					}
					.label_s{
						margin-right: 10px;
					}
					.st_btn{
						flex :0 0 auto;
						margin-left: 10px;
					}
				}
			}
			.btn{
				text-align: center;
			}
		}
	}
	//박스 모듈
	.agree_area{
		margin-top: 55px;
		.list {
			text-align: left;
			.all{
				margin-bottom: 30px;
			}
			ul {
				border: 1px solid #D9D9D9;
				margin-top: 20px;
				.title .agree_area {
					margin-top: 0;
					cursor: pointer;
					display: block;
					position: relative;
					padding: 18px 40px 18px 20px;
					line-height: 1.5;
					&::after {
						content: '';
						width: 14px;
						height: 8px;
						position: absolute;
						top: calc(50% - 4px);
						transform: translate(-50%);
						right: 10px;
						background-image: url("../images/ico/ico_arrow2.svg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: 14px 8px;
						transition: .3s;
						-webkit-transition: .3s;
					}
					&.active::after {
						transform: rotate(-180deg);
						-webkit-transform: rotate(-180deg);
						right: 20px;
					}
				}
				.cont {
					display: none;
					padding: 0 19px 20px;
					height: 240px;
					overflow: scroll;
					overflow-x: hidden;
					.answer {
						position: relative;
					}
				}
			}
		}
	}
	.member_info {
		display: flex;
		justify-content: space-between;
		background-color: #EEF3F9;
		padding: 16px;
		margin-top: 34px;
		flex-wrap: wrap;
		align-items: center;
		.pt_txt {
			display: flex;
			justify-content: center;
			flex: 1;
			align-items: center;
			font-size: 16px;
			.pic {
				font-size: 0;
			}
			.txt {
				padding: 0px 20px;
				color: #333333;
				&.nunito {
					font-weight: 500;
				}
			}
			.txt + .txt {
				@include dash(1px, 10px, $colorA);
			}
		}
	}
	//본인확인
	.man_list {
		margin-top: 50px;
		p{
			font-size: 18px;
			font-weight: 500;
		}
		.man_check {
			display: flex;
			gap: 16px;
			margin-top: 30px;
			li {
				position: relative;
				display: flex;
				gap: 20px;
				padding: 20px 40px 25px 20px;
				border: 1px solid #707070;
				&::after {
					content: '';
						position: absolute;
						display: block;
						width: 9px;
						height: 18px;
						top: calc(50% - 5px);
						transform: translate(-50%);
						right: 15px;
						background-image: url("../images/ico/ico_arrow1.svg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: 9px 18px;
					}
				p{
					font-size: 16px;
				}
				span{
					display: block;
					margin-top: 11px;
				}
				&:nth-child(1) {
					img {
						width: 40px;
					}
				}
				&:nth-child(2) {
					img {
						width: 70px;
					}
				}
			}
		}
	}
	//.gift
	.gift{
		text-align: center;
		.gift_img{
			border: 1px solid $colorA;
			padding: 16px 20px 28px;
			margin-top: 52px;
			.gift_img_title {
				text-align: center;
				.pic {
					font-size: 0;
				}
				p {
					margin-top: 16px;
					font-size: 16px;
					color: $point0;
				}
			}
			.coupon_list {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 58px;
				$size: 56px;
				padding-right: calc($size / 2);
				.coupon {
					position: relative;
					.x_count {
						position: absolute;
						width: $size;
						height: $size;
						top: calc($size / -2);
						right: calc($size / -2);
						background: $color3;
						border-radius: 100%;
						font-size: 28px;
						line-height: $size;
						text-align: center;
						color: $colorF;
						font-family: $nunito;
						span {
							font-size: 20px;
						}
					}
				}
			}
		}
		.btn {
			margin-top: 78px;
		}
	}


}

@include mobile {
	#member {
		margin: 30px auto 60px;

		.main_title {
			h2 {
				font-size: 18px;
			}
			p{
				margin-top: 20px;
				font-size: 14px;
			}
			.ico{
				margin-top: 30px;
				margin-bottom: 20px;
			}
			&.is_end {
				h2 {
					font-size: 20px;
				}
				p {
					margin-top: 10px;
					font-size: 16px;
				}
			}
		}

		.step_wrap{
			height: 50px;
			margin-top: 20px;
			$gap: 5px;
			$gap2: 2px;
			li{
				padding: 0 $gap + $gap2 * 2;
				.step_box {
					.t1 {
						display: none;
					}
					.t2 {
						margin-top: 0;
						font-size: 14px;
					}
				}
				&:before,
				&:after {
					width: $gap * 3;
					background: url(../images/ico/ico_step_m.svg) no-repeat right center;
				}
				&:after {
					right: -$gap + $gap2;
				}
				&:before {
					left: -$gap + $gap2;
					background-position: left center;
				}
				&.on {
					&:after,
					&:before {
						background-image: url(../images/ico/ico_step_m_on.svg);
					}
				}
				&:first-child {
					padding-left: 0;
					.step_box {
						padding-left: $gap;
						text-indent: 0;
					}
				}
				&:last-child {
					padding-right: 0;
					.step_box {
						padding-right: $gap;
						text-indent: 0;
					}
				}
			}
			@media (min-width: 500px) {
				.mbr {display: none;}
			}
		}

		//체크박스
		.chk_area {
			display: flex;
			font-size: 14px;
			input {
				position: absolute;
				opacity: 0;
			}
			.chk {
				padding: 2px 0 0 32px;
			}
		}
		.join2{
			margin-top: 20px;
			.list{
				.label_t{
					align-items: flex-start;
					flex-direction: column;
					margin-bottom: 20px;
					&.type_sns{
						align-items: start;
						margin-bottom: 60px;
						.sns{
							margin-bottom: 10px;
							.radio_visual{
								height: 26px;
								line-height: 26px;
								width: auto;
								&+.radio_visual{
									margin-left: 50px;
								}
								.txt{
									color: #113462;
								}
							}
						}
						.alert_msg{
							align-items: flex-start;
							i{
								margin: 2px 4px 0 0;
							}
							span {
								flex: 1;
							}
						}
					}
					label,.label{
						width: 100%;
						font-size: 16px;
						flex: 0 0 auto;
						margin-bottom: 10px;
					}
					.padding{
						display: flex;
						flex-wrap: wrap;
						width: 100%;
						align-items: center;
						&.type_line{
							$gap: 18px;
							$gap2: calc($gap * 2 / 3);
							.label_s{
								margin-right: 0;
								width: calc(30% - $gap2);
								select {
									width: 100%;
								}
							}
							input{
								margin-right: 0;
								width: calc(35% - $gap2) !important;
							}
							span{
								margin: 0 0;
								width: $gap;
								text-align: center;
							}
						}
						.label_s{
							margin-right: 10px;
							width: 114px;
							select {
								width: 100%;
							}
						}
						input[type="text"] {
							width: calc(100% - 114px - 10px);
						}
						.st_btn{
							margin: 10px 0 0 0;
						}
					}
				}
				.btn{
					text-align: center;
				}
			}
		}

		//박스 모듈
		.agree_area{
			margin-top: 30px;
			.list {
				.all{
					margin-bottom: 30px;
				}
				ul {
					border: 1px solid #D9D9D9;
					margin-top: 20px;
					.title .agree_area {
						margin-top: 0;
						.chk_area {
							> span {
								padding: 2px 20px 0 0;
							}
						}
						cursor: pointer;
						display: block;
						position: relative;
						padding: 20px;
						line-height: 1.5;
						&::after {
							width: 12px;
							height: 6px;
							top: calc(50% - 3px);
							transform: none;
							right: 20px;
							background-size: 100% 100%;
						}
						&.active::after {
							transform: rotate(-180deg);
							-webkit-transform: rotate(-180deg);
							right: 20px;
						}
					}
					.cont {
						height: 240px;
					}
				}
			}
		}
		.member_info {
			padding: 16px;
			margin-top: 20px;
			.pt_txt {
				font-size: 14px;
				.txt {
					padding: 0px 10px;
				}
			}
		}

		//본인확인
		.man_list {
			margin-top: 30px;
			.main_list_title{
				font-size: 18px;
			}
			.man_check {
				display: flex;
				flex-direction: column;
				gap: 15px;
				margin-top: 15px;
				li {
					align-items: center;
					gap: 0;
					padding: 20px 40px 25px 0;
					border: 1px solid #707070;
					.pic {
						width: 110px;
						text-align: center;
					}
					.txt {
						width: calc(100% - 110px);
					}
					p{
						font-size: 16px;
					}
					span{
						display: block;
						margin-top: 11px;
						font-size: 14px;
					}
					&:nth-child(1) {
						img {
							width: 40px;
						}
					}
					&:nth-child(2) {
						img {
							width: 70px;
						}
					}
				}
			}
		}
		//.gift
		.gift{
			.gift_img{
				padding: 18px 20px 28px;
				margin-top: 40px;
				.gift_img_title {
					p {
						margin-top: 20px;
						font-size: 14px;
					}
				}
				.coupon_list {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					margin-top: 52px;
					$size: 56px;
					padding-right: 0;
					gap: 48px;
				}
			}
			.btn {
				margin-top: 78px;
			}
		}
	}
}

#login {
	padding-top: 50px;
	&.has_bg {
		background: transparent linear-gradient(180deg, #EEF3F9 0%, #EEF3F900 100%) 0% 0% no-repeat padding-box;
	}
	.login_title {
		font-size: 28px;
		font-weight: 500;
		text-align: center;
	}
	.login_form {
		.label_t {
			+ .label_t {
				margin-top: 14px;
			}
		}
		.f_sp_b {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
			.linkbox {
				display: flex;
				align-items: center;
				li {
					+ li {
						margin-left: 19px;
						padding-left: 19px;
						@include dash(1px, 12px, #B2B2B2);
					}
					a {
						font-size: 14px;
					}
				}
			}
		}
		.btn_wrap {
			margin-top: 50px;
			.st_btn + .st_btn {
				margin-top: 10px;
			}
		}
		.alert_19 {
			display: flex;
			align-items: center;
			margin-top: 30px;
			i {
				display: block;
				width: 41px;
				height: 41px;
				background: url('../images/member/ico_19.svg') no-repeat center center;
			}
			p {
				padding-left: 7px;
				font-size: 14px;
				color: $color0;
				flex: 99;
				letter-spacing: -0.02em;
			}
		}
	}
	.login_banner {
		display: none;
	}

	.find_id {
		width: 360px;
		margin: 70px auto 0;
		.label_t {
			+ .label_t {
				margin-top: 20px;
			}
		}
		.btn_wrap {
			margin-top: 80px;
		}
	}
}

@include pc {
	#login {
		.login_index {
			display: flex;
			margin-top: 60px;
			> * {
				flex: 99;
				width: 50%;
				&:first-child {
					padding-right: 19px;
				}
				&:not(:first-child) {
					padding-left: 19px;
					border-left: 1px solid #D3D3D3;
				}
			}
			.login_form {
				display: block;
			}
			.login_banner {
				display: block;
				a {
					position: relative;
					display: block;
					width: 520px;
					height: 407px;
					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}

@include mobile {
	#login {
		padding-top: 30px;
		.login_title {
			font-size: 18px;
		}
		.login_index {
			margin-top: 20px;
		}
		.login_form {
			.label_t {
				+ .label_t {
					margin-top: 10px;
				}
			}
			.f_sp_b {
				.linkbox {
					li {
						+ li {
							margin-left: 10px;
							padding-left: 11px;
						}
						a {
							font-size: 14px;
						}
					}
				}
			}
			.alert_19 {
				margin-top: 40px;
				align-items: flex-start;
				p {
					padding-left: 7px;
					font-size: 14px;
				}
			}
		}
		.login_banner {
			display: none;
		}

		.find_id {
			width: auto;
			margin: 30px auto 0;
			.label_t {
				+ .label_t {
					margin-top: 10px;
				}
			}
			.btn_wrap {
				margin-top: 40px;
			}
		}
	}
}