#member {
  margin: 50px auto 120px;
}
#member .main_title {
  text-align: center;
}
#member .main_title h2 {
  font-size: 28px;
  margin: 0;
}
#member .main_title p {
  margin-top: 20px;
}
#member .step_wrap {
  position: relative;
  display: flex;
  height: 70px;
  margin-top: 30px;
}
#member .step_wrap li {
  display: block;
  width: 259px;
  height: 70px;
}
#member .step_wrap li .step_01 {
  background-image: url(../images/ico/ico_step1.svg);
  left: 0;
}
#member .step_wrap li .step_01 + .step_box {
  left: 74px;
}
#member .step_wrap li .step_01.on {
  background-image: url(../images/ico/ico_step4.svg);
}
#member .step_wrap li .step_02 {
  background-image: url(../images/ico/ico_step2.svg);
  left: 242px;
}
#member .step_wrap li .step_02 + .step_box {
  left: 345px;
}
#member .step_wrap li .step_02.on {
  background-image: url(../images/ico/ico_step5.svg);
}
#member .step_wrap li .step_03 {
  background-image: url(../images/ico/ico_step3.svg);
  left: 485px;
}
#member .step_wrap li .step_03 + .step_box {
  left: 589px;
}
#member .step_wrap li .step_03.on {
  background-image: url(../images/ico/ico_step6.svg);
}
#member .step_wrap li .step_box {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
#member .step_wrap li i {
  position: absolute;
  width: 259px;
  height: 70px;
}
#member .step_wrap li i.on + .step_box {
  color: white;
}
#member .chk_area input {
  position: absolute;
  opacity: 0;
}
#member .chk_area .chk {
  position: relative;
  display: block;
  /* height: 24px; */
  line-height: 24px;
  color: #222;
  padding: 0 0 0 30px;
}
#member .chk_area .chk .ico_chk {
  display: block !important;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-size: 24px;
  background-image: url(../images/ico/ico_chk_off.svg);
  border-radius: 2px;
  overflow: hidden;
}
#member .chk_area input:checked + .chk i {
  background-image: url(../images/ico/ico_chk_on.svg);
}
#member .list {
  text-align: left;
}
#member .list ul:nth-child(1) .title a {
  padding-top: 26px;
  border-top: 1px solid #D9D9D9;
}
#member .list ul:nth-child(1) .title a.type_no {
  padding-top: 31px;
}
#member .list ul .title {
  border: 1px solid #D9D9D9;
  margin-top: 20px;
}
#member .list ul .title a {
  display: block;
  position: relative;
  padding: 18px 20px;
  line-height: 20px;
}
#member .list ul .title a::after {
  content: "";
  width: 20px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  transform: translate(-50%);
  right: 20px;
  background-image: url("../images/common/ico/ico_daun.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#member .list ul .title a.active::after {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  right: 30px;
}
#member .list ul .cont {
  display: none;
  padding: 19px 67px;
  background-color: #F2F7FF;
  border-radius: 6px;
  margin-bottom: 10px;
}
#member .list ul .cont .answer {
  position: relative;
}
#member .list ul .cont .answer::before {
  content: "";
  font-size: 16px;
  position: absolute;
  left: -30px;
  top: -3px;
  font-size: 20px;
  color: #0466FA;
  font-weight: 600;
  line-height: 1.5;
}
#member .list ul .cont .answer p {
  font-size: 16px;
  line-height: 23px;
  color: #191F28;
}
#member .man_list {
  margin-top: 50px;
}
#member .man_list .man_check {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}
#member .man_list .man_check li {
  display: flex;
  gap: 20px;
  padding: 20px 20px 25px;
  border: 1px solid #707070;
}
#member .man_list .man_check li:nth-child(1) img {
  width: 40px;
}
#member .man_list .man_check li:nth-child(2) img {
  width: 70px;
}