#member {
  margin: 50px auto 120px;
  color: #222222;

  .main_title {
    text-align: center;
    h2 {
      font-size: 28px;
      font-weight: 500;
      margin: 0;
    }
    p{
      margin-top: 20px;
      font-size: 16px;
    }
  }
  .step_wrap{
    position: relative;
    display: flex;
    height: 70px;
    margin-top: 30px;
    li{
      display: block;
      width: 259px;
      height: 70px;
      .step_01{
        background-image: url(../images/ico/ico_step1.svg);
        left: 0;
        &+.step_box{
          left: 74px;
        }
        &.on{
          background-image: url(../images/ico/ico_step4.svg);
        }
      }
      .step_02 {
        background-image: url(../images/ico/ico_step2.svg);
        left: 242px;
        &+.step_box {
            left: 345px;
          }
        &.on {
          background-image: url(../images/ico/ico_step5.svg);
        }
      }
      .step_03 {
        background-image: url(../images/ico/ico_step3.svg);
        left: 485px;
        &+.step_box {
            left: 589px;
          }
        &.on {
          background-image: url(../images/ico/ico_step6.svg);
        }
      }
      .step_box{
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        span{
          display: block;
          margin-top: 7.5px;
          font-size: 14px;
        }
      }
      i{
        position: absolute;
        width: 259px;
        height: 70px;
        &.on{
          &+.step_box {
              color: white;
            }
        }

      }
    }
  }
  //체크박스
  .chk_area {
    display: flex;
    font-size: 16px;
    input {
      position: absolute;
      opacity: 0;
    }
    .chk {
      position: relative;
      display: inline-block;
      height: 22px;
      line-height: 22px;
      color: #222;
      padding: 0 0 0 32px;
      .ico_chk {
        display: block !important;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 50%;
        left: 0;
        background-repeat: no-repeat;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        background-size: 22px;
        background-image: url(../images/ico/ico_chk_off.svg);
        border-radius: 2px;
        overflow: hidden;
      }
    }
    input:checked+.chk i {
      background-image: url(../images/ico/ico_chk_on.svg);
    }
    em{
      color: #A7A7A7;
      font-weight: 400;
      &.red{
        color: #DE4040;
      }
    }
  }

  //박스 모듈
  .agree_area{
    margin-top: 54px;
    .list {
      text-align: left;
      .all{
        margin-bottom: 30px;
      }
      ul {
        .title .agree_area {
          cursor: pointer;
          margin-top: 20px;
          display: block;
          position: relative;
          padding: 18px 40px 18px 20px;
          line-height: 20px;
          border: 1px solid #D9D9D9;
          &::after {
            content: '';
            width: 20px;
            height: 10px;
            position: absolute;
            top: calc(50% - 5px);
            transform: translate(-50%);
            right: 10px;
            background-image: url("../images/ico/ico_arrow2.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px 10px;
            transition: .3s;
            -webkit-transition: .3s;
          }
          &.active::after {
            transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            right: 30px;
          }
          &.active{
            border-bottom: 0;
          }
        }
        .cont {
          display: none;
          padding: 20px 19px;
          border: 1px solid #D9D9D9;
          border-top: 0;
          height: 240px;
          overflow: scroll;
          overflow-x: hidden;
          .answer {
            position: relative;
          }
        }
      }
    }
  }

  //본인확인
  .man_list {
    margin-top: 50px;
    p{
      font-size: 18px;
      font-weight: 500;
    }
    .man_check {
      display: flex;
      gap: 16px;
      margin-top: 30px;
      li {
        position: relative;
        display: flex;
        gap: 20px;
        padding: 20px 40px 25px 20px;
        border: 1px solid #707070;
        &::after {
          content: '';
            position: absolute;
            display: block;
            width: 9px;
            height: 18px;
            top: calc(50% - 5px);
            transform: translate(-50%);
            right: 15px;
            background-image: url("../images/ico/ico_arrow1.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 9px 18px;
          }
        p{
          font-size: 16px;
        }
        span{
          display: block;
          margin-top: 11px;
        }
        &:nth-child(1) {
          img {
            width: 40px;
          }
        }
        &:nth-child(2) {
          img {
            width: 70px;
          }
        }
      }
    }
  }



}