@import 'utility.scss';

.w_set {
	width: $w_set;
}
body {overflow-x: hidden;}

#header {
	position: relative;
	border-bottom: 1px solid $colorD;
	.sec_top {
		display: flex;
		align-items: center;
		padding: 26px 0 28px;
		.logo {
			width: 182px;
			a {
				display: flex;
				img {
					width: 50px;
				}
				.logo_txt {
					padding-left: 6px;
					color: $color3;
					line-height: 1;
					.t1 {
						display: block;
						font-size: 11px;
						font-weight: 500;
					}
					.t2 {
						font-size: 18px;
						font-weight: 900;
						color: $point1;
						font-family: $nunito;
					}
					.t3 {
						font-size: 15px;
						font-weight: 500;
					}
				}
			}
		}
		.header_search {
			position: relative;
			flex: 1;
			height: 52px;
			border: 2px solid $color4;
			border-radius: 4px;
			$rw: 200px;
			.search_bar {
				display: flex;
				align-items: center;
				height: 100%;
				.sec_radio {
					display: flex;
					align-items: center;
					gap: 10px;
					width: $rw;
					padding-left: 27px;
				}
				.sec_ipt {
					width: calc(100% - $rw);
					height: 100%;
					input {
						width: 100%;
						height: 100%;
						border: 0 none;
						font-size: 16px;
						&::placeholder {
							color: $colorA;
						}
					}
				}
				.sec_submit {
					position: relative;
					width: 48px;
					height: 100%;
					input,
					button {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: url('../images/common/search_submit.svg') no-repeat center center $color4;
						font-size: 0;
						border: 0 none;
					}
				}
			}
			&.show .search_content {
				display: block;
			}
			.search_content {
				display: none;
				position: absolute;
				z-index: 5;
				top: 100%;
				left: -2px;
				width: calc(100% + 4px);
				height: 530px;
				background: #fff;
				border: 1px solid $color4;
				padding: 20px;
				.t_before {
					display: flex;
					height: 100%;
					.sec_1 {
						flex: 1;
					}
					.sec_2 {
						width: 180px;
						padding-left: 15px;
						border-left: 1px solid $colorD;
					}
				}
				.ws_content_sec {
					display: flex;
					height: 100%;
					.sch_li_sec {
						@include scroll;
					}
					&:not(.has_select) {
						flex-direction: column;
						.sec_1,
						.sec_2,
						.sec_3 {
							height: calc(50% - 1px);
						}
						.sec_1 {
							margin-bottom: 16px;
						}
						.sec_2 {
							margin-top: 16px;
						}
						.sec_3 {
							display: none;
						}
						.line {
							height: 1px;
							background: $colorD;
						}
					}
					&.has_select {
						.sec_1 {
							width: calc(33.33% - 10px);
							margin-right: 10px;
						}
						.sec_2 {
							display: none;
						}
						.sec_3 {
							padding-left: 16px;
							width: calc(66.66% - 1px);
						}
						.line {
							width: 1px;
							background: $colorD;
						}
					}
				}
				.sec_title {
					display: flex;
					justify-content: space-between;
					font-size: 14px;
					font-weight: 500;
					line-height: 20px;
					color: $color2;
				}
				.sec_clear_wrap {
					display: none;
				}
				* + .sec_title {
					margin-top: 15px;
				}
				.sec_cont {
					margin-top: 10px;
				}
				.sec_cont_full {
					height: calc(100% - 30px);
					@include scroll;
				}
				.sch_ul {
					li {
						position: relative;
						height: 26px;
						label {
							display: block;
							position: relative;
							input {
								position: absolute;
								opacity: 0;
								width: 0;
								height: 0;
							}
						}
						a,
						label .aftertxt {
							display: block;
							font-size: 14px;
							line-height: 26px;
							color: $color3;
							padding: 0 5px;
							cursor: pointer;
						}
						.li_del {
							position: absolute;
							right: 0;
							top: 50%;
							width: 20px;
							height: 20px;
							margin-top: -10px;
							background: url('../images/common/search_del.svg') no-repeat center center;
							border: 0 none;
							font-size: 0;
						}
						.sell {
							color: $point0;
						}
						.buy {
							color: $point2;
						}
						.sell, .buy {
							&:after {content: ' '}
						}
						.rank {
							display: inline-block;
							width: 30px;
							color: $color6;
						}
						.new {
							display: inline-block;
							vertical-align: bottom;
							width: 35px;
							color: #FF3333;
							text-align: center;
							font-style: italic;
							font-size: 10px;
							&:after {
								content: 'NEW';
							}
						}
						.sch_point {
							color: $point0;
							font-weight: 500;
						}
						&:hover,
						input:checked + .aftertxt {
							background-color: #E9F2FF;
						}
					}
					&.has_close {
						margin-right: 15px;
						padding-right: 15px;
						li {
							a {
								margin-right: 30px;
							}
							+ li {
								margin-top: 5px;
							}
						}
					}
					&.has_rank {
						@for $i from 1 to 11 {
							li:nth-of-type(#{$i}) {
								.rank:before {content: '#{$i}';}
							}
						}
						li:nth-of-type(-n+3) {
							.rank {color: #FE0000;}
						}
					}
					&.has_group {
						display: flex;
						flex-wrap: wrap;
						li.is_all {
							width: 100%;
						}
						.is_group {
							width: 50%;
						}
					}
				}
			}
		}
		.header_banner1 {
			width: 209px;
			height: 52px;
			margin-left: 8px;
			a {
				display: block;
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	.sec_bottom {
		display: flex;
		.sec_left {
			width: 290px;
		}
		.sec_right {
			margin-left: auto;
		}
		.chat_list_btn {
			height: 36px;
			background: $color4;
			border-radius: 4px;
			font-size: 14px;
			color: #fff;
			border: 0 none;
			box-shadow: 0px 2px 5px #0000001A;
			padding: 0 6px;
			white-space: nowrap;
			letter-spacing: -0.05em;
			.text {display: inline-block;}
			i {
				display: inline-block;
				vertical-align: bottom;
				width: 20px;
				height: 16px;
				background: url('../images/common/hd_alert.svg') no-repeat center center;
				margin-right: 4px;
			}
			.new_laert {
				display: inline-block;
				background: $color2;
				border-radius: 3px;
				padding: 0 6px;
				margin-left: 2px;
				font-size: 12px;
				line-height: 24px;
				letter-spacing: -0.03em;
				.t_y {
					font-size: 13px;
					font-weight: 600;
					color: #FFF447;
					font-family: $nunito;
					letter-spacing: -0.01em;
				}
			}
		}
		.header_menu {
			flex-grow: 1;
			display: flex;
			align-items: top;
			justify-content: center;
			&:after {
				content: '';
				display: none;
				position: absolute;
				z-index: 4;
				width: 100%;
				height: 200px;
				margin-top: 1px;
				top: 100%;
				left: 0;
				background: #FFFFFF;
			}
			> li {
				position: relative;
				+ li {margin-left: 40px;}
				> a {
					display: block;
					border-bottom: 3px solid transparent;
					padding: 2px 0 13px;
					font-size: 18px;
					color: $color2;
					line-height: 27px;
					font-weight: 500;
					&:hover,
					&.on {
						border-bottom-color: $color4;
					}
				}
				.dep2 {
					display: none;
					position: absolute;
					z-index: 5;
					padding: 16px 0 28px;
					> li {
						+ li {
							margin-top: 14px;
						}
						> a {
							font-size: 14px;
							color: #00000073;
							white-space: nowrap;
							&:hover {
								font-weight: 500;
								color: $color2;
							}
						}
					}
				}
			}
			&:hover {
				.dep2 {
					display: block;
				}
				&:after {
					display: block;
				}
			}
		}
		.header_login {
			font-size: 0;
			li {
				display: inline-block;
				+ li {
					position: relative;
					margin-left: 13px;
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: -7px;
						top: 50%;
						margin-top: -5px;
						width: 1px;
						height: 10px;
						background: $colorD;
					}
				}
				a {
					font-size: 14px;
					line-height: 36px;
					color: $color2;
					&.is_login:before {
						content: '19';
						display: inline-block;
						margin-right: 2px;
						width: 20px;
						height: 20px;
						background: #B20000;
						text-align: center;
						border-radius: 100%;
						font-size: 13px;
						color: #fff;
						line-height: 20px;
					}
				}
			}
		}
	}
}

@include mobile {
	.w_set {
		width: auto;
		max-width: $w_set;
		padding-left: 16px;
		padding-right: 16px;
	}

	#header {
		.sec_top {
			padding: 15px 0 0;
			.logo {
				width: 45px;
				a {
					img {
						width: 35px;
					}
					.logo_txt {
						display: none;
					}
				}
			}
			.header_search {
				&:not(.show) {
					height: 36px;
					border-width: 1px;
					border-radius: 3px;
				}
				.sec_radio {
					display: none;
				}
				.layer_close {
					display: none;
					position: absolute;
					top: 15px;
					left: 0;
					width: 36px;
					height: 36px;
					border: 0 none;
					background: url('../images/common/search_close.svg') no-repeat center center;
					font-size: 0;
				}
				.sec_ipt {
					width: calc(100% - 34px);
					input {
						padding: 0 10px;
						font-size: 14px;
						border-radius: 5px;
					}
				}
				.sec_submit {
					width: 34px;
					height: 100%;
					button {
						background: url('../images/common/m_hd_sch.svg') no-repeat center center;
					}
				}
				&.show {
					position: fixed;
					top: 0;
					left: 0;
					z-index: 50;
					width: 100%;
					height: 100%;
					padding-bottom: 60px;
					background: #fff;
					border: 0 none;
					border-radius: 0;
					.layer_close {
						display: block;
					}
					.search_bar {
						margin: 14px 16px 0 36px;
						height: 36px;
						box-sizing: unset;
						border: 1px solid #434343;
						border-radius: 3px;
					}
					.search_content {
						position: static;
						width: 100%;
						height: calc(100% - 50px);
						border: 0 none;
						padding: 0 0 0 0;
						.t_before_tab {
							display: flex;
							border-bottom: 2px solid #eee;
							.tbt_btn {
								flex: 1;
								border: 0 none;
								margin-bottom: -2px;
								border-bottom: 2px solid transparent;
								background: transparent;
								padding: 14px 0;
								font-size: 15px;
								color: $color2;
								&.on {
									color: $point0;
									font-weight: 500;
									border-bottom-color: $point0;
								}
							}
						}
						.t_before {
							display: block;
							padding: 12px 16px;
							.sec_title {
								font-size: 12px;
							}
							.sec:not(.on) {
								display: none;
							}
							.sec_clear_wrap {
								display: block;
								text-align: right;
								.sec_clear {
									border: 0 none;
									background: transparent;
									font-size: 12px;
									color: $color6;
									padding: 0 0 0 0;
								}
							}
							.sec_2 {
								width: auto;
								border: 0 none;
								padding: 0 0 0 0;
								.sec_cont {
									margin-top: 0;
								}
								.sch_ul {
									li {
										+ li {
											margin-top: 6px;
										}
										.rank {
											width: 26px;
										}
										.new {
											width: auto;
											padding-right: 6px;
										}
									}
								}
								.sec_title:not(.hide_m) {
									+ .sec_cont {
										margin-top: 10px;
									}
								}
							}
						}

						.ws_content_sec {
							display: flex;
							height: 100%;
							padding: 16px;
							&:not(.has_select),
							&.has_select {
								flex-direction: column;
								.sec_1,
								.sec_2,
								.sec_3 {
									width: 100%;
									height: calc(50% - 1px);
								}
								.sec_1 {
									margin-bottom: 16px;
								}
								.sec_2,
								.sec_3 {
									margin-top: 16px;
									padding: 0 0 0 0;
								}
								.line {
									width: 100%;
									height: 1px;
									background: $colorD;
								}
							}
							// &.has_select {
							// 	.sec_1 {
							// 		width: calc(33.33% - 10px);
							// 		margin-right: 10px;
							// 	}
							// 	.sec_2 {
							// 		display: none;
							// 	}
							// 	.sec_3 {
							// 		padding-left: 16px;
							// 		width: calc(66.66% - 1px);
							// 	}
							// 	.line {
							// 		width: 1px;
							// 		background: $colorD;
							// 	}
							// }
						}
					}
				}
			}
			.header_banner1 {
				display: none;
			}
			.header_menu_btn {
				padding-left: 10px;
				font-size: 0;
				.header_menu_open {
					border: 0 none;
					width: 24px;
					height: 24px;
					font-size: 0;
					background: url('../images/common/m_hd_menu.svg') no-repeat center center;
				}
			}
		}
		.sec_bottom {
			.sec_left,
			.sec_right {
				display: none;
			}
			.sec_center {
				width: 100%;
			}
			.header_menu {
				width: 100%;
				justify-content: space-between;
				&:after {
					content: none;
				}
				> li {
					position: relative;
					+ li {margin-left: 0;}
					> a {
						border-bottom: 0 none;
						padding: 15px 0;
						font-size: 14px;
						line-height: 1.5;
					}
					.dep2 {
						display: none !important;
					}
				}
				&:hover {
					.dep2 {
						display: none;
					}
					&:after {
						display: none;
					}
				}
			}
		}
	}
}

#footer {
	margin-top: 120px;
	.footer_top {
		background: #eee;
		height: 60px;
		.ft_nav {
			display: flex;
			align-items: center;
			gap: 37px;
			height: 60px;
			li {
				a {
					font-size: 14px;
					color: $color6;
					&.bold {
						font-weight: 500;
						color: $color3;
					}
				}
			}
		}
	}
	.footer_content {
		padding: 30px 0 45px;
		background: $colorF6;
		.fc_cont {
			display: flex;
			.ft_logo {
				margin: 6px 33px 0 0;
			}
			.ft_address {
				overflow: hidden;
				flex: 1;
				ul {
					margin: -6px 0 0 -13px;
					font-size: 0;
					li {
						position: relative;
						display: inline-block;
						vertical-align: top;
						margin: 6px 0 0 13px;
						font-size: 13px;
						color: $colorA;
						&:before {
							content: '';
							display: block;
							position: absolute;
							top: 50%;
							left: -6px;
							transform: translateY(-50%);
							width: 1px;
							height: 10px;
							background: $colorA;
						}
						&.w100 {
							width: 100%;
						}
					}
				}
			}
			.ft_cs {
				margin-left: auto;
				color: $color6;
				.fc_title {
					font-size: 14px;
				}
				.fc_info {
					display: flex;
					align-items: center;
					margin-top: 6px;
					.fci_tel {
						font-size: 38px;
						font-weight: 700;
					}
					.fci_link {
						display: block;
						margin-left: 10px;
						width: 86px;
						height: 34px;
						background: $color6;
						color: #fff;
						font-size: 14px;
						font-weight: 300;
						text-align: center;
						line-height: 34px;
					}
				}
				.fc_time {
					margin-top: 10px;
					font-size: 13px;
				}
			}
		}
	}
}

@include mobile {
	#footer {
		margin-top: 30px;
		.footer_top {
			height: 45px;
			.ft_nav {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: unset;
				height: 45px;
				li {
					a {
						font-size: 12px;
					}
				}
			}
		}
		.footer_content {
			padding: 25px 0 100px;
			.fc_cont {
				display: block;
				.ft_logo {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 0 0 0 0;
					.hide_pc {
						img {
							width: 53px;
						}
					}
					.show_pc_design {
						font-size: 12px;
						color: $colorA;
					}
				}
				.ft_address {
					overflow: hidden;
					margin-top: 20px;
					ul {
						margin: -2px 0 0 -13px;
						font-size: 0;
						li {
							margin: 2px 0 0 13px;
							font-size: 12px;
							&.w100 {
								width: 100%;
								margin-top: 20px;
								+ .w100 {
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	#mobile_btm_menu {
		display: flex;
		position: fixed;
		z-index: 100;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #fff;
		height: 60px;
		box-shadow: rgba(0,0,0,0.1) 0 0 10px;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 25%;
			text-align: center;
			i {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 26px;
				height: 26px;
			}
			.mbm_txt {
				font-size: 12px;
				color: $color6;
			}
			&.on {
				.mbm_txt {
					color: $point1;
				}
			}
		}
	}
}

#sidebar {
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 100%;
	width: 140px;
	transform: translateY(-50%);
	transition: 0.5s;
	&.on {
		margin-left: -140px;
		.side_open {
			&:after {
				transform: rotate(-180deg);
			}
		}
	}
	.side_open_wrap {
		position: absolute;
		top: calc(50% - 120px / 2);
		left: -34px;
		width: 34px;
		height: 120px;
		padding: 20px 0 20px 20px;
		overflow: hidden;
		margin: -20px 0 -20px -20px;
		box-sizing: unset;
		.side_open {
			width: 100%;
			height: 100%;
			font-size: 0;
			border: 0 none;
			border-radius: 10px 0px 0px 10px;
			box-shadow: 0px 0px 13px #00000021;
			background: $colorF;
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: url('../images/common/side_arr.svg') no-repeat center center;
			}
		}
	}
	.side_cont {
		padding: 18px 10px;
		border-radius: 10px 0px 0px 10px;
		background: $colorF;
		box-shadow: 0px 0px 13px #00000021;
		.side_slide {
			.swiper {
				border-radius: 6px;
			}
			a {
				display: block;
				border-radius: 6px;
				@include imgBox(120.83%);
			}
			.swiper-pagination-c {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				margin-top: 5px;
				.swiper-pagination-bullet {
					width: 6px;
					height: 6px;
					border-radius: 100%;
					margin: 0 0 0 0;
					background: $colorD;
					&.swiper-pagination-bullet-active {
						background: $point0;
					}
				}
			}
		}
		.side_mile {
			margin-top: 20px;
			.sm_box {
				border: 1px solid $colorD;
				border-radius: 6px;
				text-align: center;
				padding: 10px 5px;
				+ .sm_box {
					margin-top: 10px;
				}
				.sm_name {
					font-size: 13px;
					color: $color2;
				}
				.sm_num {
					margin-top: 6px;
					font-size: 14px;
					color: $color6;
					b {
						font-size: 15px;
						font-weight: 700;
						color: $point0;
					}
				}
			}
		}
		.side_b_btn {
			margin-top: 20px;
			.st_btn {
				border-radius: 6px;
				+ .st_btn {
					margin-top: 10px;
				}
			}
		}
	}
}

#contets {
	overflow: hidden;
}


#sidemenu {
	display: none;
}
body.sideopen {
	height: 100%;
	overflow: hidden;
}
@include mobile {
	// 여백 공통
	$secPadding: 16px;
	#sidemenu {
		display: block;
		position: fixed;
		z-index: 999999;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		background: $colorF;
		overflow-y: auto;
		transition: 0.3s;
		&.visible {
			left: 0;
		}
		.side_top {
			position: sticky;
			top: 0;
			height: 56px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 $secPadding;
			background: $colorF;
			border-bottom: 1px solid $colorD;
			.st_logo {
				font-size: 0;
				img {
					width: 35px;
				}
			}
			.side_close {
				width: 12px;
				height: 12px;
				box-sizing: unset;
				background: url('../images/common/side_close.svg') no-repeat center center;
				padding: 8px;
				margin-right: -8px;
				font-size: 0;
				border: 0 none;
			}
		}
		.side_info {
			padding: 18px $secPadding;
			background: $colorF6;
			.si_login {
				font-size: 16px;
				color: $color6;
				a {
					color: $point0;
					text-decoration: underline;
				}
			}
			.si_user {
				.siu_top {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid $colorD;
					padding-bottom: 16px;
					.user_name {
						padding-left: 26px;
						background: url('../images/common/side_member.svg') no-repeat left center;
						font-size: 16px;
						b {
							font-weight: 500;
						}
					}
					.siu_logout {
						font-size: 12px;
						color: $color6;
					}
				}
				.siu_points {
					margin-top: 18px;
					.line {
						display: flex;
						align-items: center;
						justify-content: space-between;
						+ .line {
							margin-top: 10px;
						}
						.line_name {
							font-size: 15px;
							color: $color6;
						}
						.line_num {
							font-size: 14px;
							.number {
								padding-right: 4px;
								font-size: 18px;
								font-family: $nunito;
								font-weight: 700;
								line-height: 1;
								vertical-align: bottom;
								&.is_top {
									color: $point0;
								}
							}
						}
					}
				}
			}
		}
		.side_menu_wrap {
			ul.dep1 {
				> li {
					border-top: 1px solid $colorD;
					.dep1box {
						display: flex;
						a {
							padding: 15px $secPadding;
							font-size: 16px;
							font-weight: 500;
							flex: 1;
							min-width: 0;
						}
						button {
							padding: 0 $secPadding;
							font-size: 0;
							background: url('../images/common/side_menu_arr.svg') no-repeat center center;
						}
					}
				}
			}
			ul.dep2 {
				padding: 20px $secPadding;
				border-top: 1px solid $colorD;
				> li {
					+ li {
						margin-top: 20px;
					}
					a {
						font-size: 14px;
					}
				}
			}
		}
	}
}