.w_set {
  width: 1080px;
}

body {
  overflow-x: hidden;
}

#header {
  position: relative;
  border-bottom: 1px solid #D3D3D3;
}
#header .sec_top {
  display: flex;
  align-items: center;
  padding: 26px 0 28px;
}
#header .sec_top .logo {
  width: 182px;
}
#header .sec_top .logo a {
  display: flex;
}
#header .sec_top .logo a img {
  width: 50px;
}
#header .sec_top .logo a .logo_txt {
  padding-left: 6px;
  color: #333333;
  line-height: 1;
}
#header .sec_top .logo a .logo_txt .t1 {
  display: block;
  font-size: 11px;
  font-weight: 500;
}
#header .sec_top .logo a .logo_txt .t2 {
  font-size: 18px;
  font-weight: 900;
  color: #113462;
  font-family: "Nunito Sans", sans-serif;
}
#header .sec_top .logo a .logo_txt .t3 {
  font-size: 15px;
  font-weight: 500;
}
#header .sec_top .header_search {
  position: relative;
  flex: 1;
  height: 52px;
  border: 2px solid #434343;
  border-radius: 4px;
}
#header .sec_top .header_search .search_bar {
  display: flex;
  align-items: center;
  height: 100%;
}
#header .sec_top .header_search .search_bar .sec_radio {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding-left: 27px;
}
#header .sec_top .header_search .search_bar .sec_ipt {
  width: calc(100% - 200px);
  height: 100%;
}
#header .sec_top .header_search .search_bar .sec_ipt input {
  width: 100%;
  height: 100%;
  border: 0 none;
  font-size: 16px;
}
#header .sec_top .header_search .search_bar .sec_ipt input::-moz-placeholder {
  color: #A7A7A7;
}
#header .sec_top .header_search .search_bar .sec_ipt input:-ms-input-placeholder {
  color: #A7A7A7;
}
#header .sec_top .header_search .search_bar .sec_ipt input::placeholder {
  color: #A7A7A7;
}
#header .sec_top .header_search .search_bar .sec_submit {
  position: relative;
  width: 48px;
  height: 100%;
}
#header .sec_top .header_search .search_bar .sec_submit input,
#header .sec_top .header_search .search_bar .sec_submit button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/common/search_submit.svg") no-repeat center center #434343;
  font-size: 0;
  border: 0 none;
}
#header .sec_top .header_search.show .search_content {
  display: block;
}
#header .sec_top .header_search .search_content {
  display: none;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: -2px;
  width: calc(100% + 4px);
  height: 530px;
  background: #fff;
  border: 1px solid #434343;
  padding: 20px;
}
#header .sec_top .header_search .search_content .t_before {
  display: flex;
  height: 100%;
}
#header .sec_top .header_search .search_content .t_before .sec_1 {
  flex: 1;
}
#header .sec_top .header_search .search_content .t_before .sec_2 {
  width: 180px;
  padding-left: 15px;
  border-left: 1px solid #D3D3D3;
}
#header .sec_top .header_search .search_content .ws_content_sec {
  display: flex;
  height: 100%;
}
#header .sec_top .header_search .search_content .ws_content_sec .sch_li_sec {
  overflow-y: auto;
}
#header .sec_top .header_search .search_content .ws_content_sec .sch_li_sec::-webkit-scrollbar {
  width: 6px;
  background: none;
}
#header .sec_top .header_search .search_content .ws_content_sec .sch_li_sec::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 3px;
  background: #C5C5C5;
}
#header .sec_top .header_search .search_content .ws_content_sec:not(.has_select) {
  flex-direction: column;
}
#header .sec_top .header_search .search_content .ws_content_sec:not(.has_select) .sec_1,
#header .sec_top .header_search .search_content .ws_content_sec:not(.has_select) .sec_2,
#header .sec_top .header_search .search_content .ws_content_sec:not(.has_select) .sec_3 {
  height: calc(50% - 1px);
}
#header .sec_top .header_search .search_content .ws_content_sec:not(.has_select) .sec_1 {
  margin-bottom: 16px;
}
#header .sec_top .header_search .search_content .ws_content_sec:not(.has_select) .sec_2 {
  margin-top: 16px;
}
#header .sec_top .header_search .search_content .ws_content_sec:not(.has_select) .sec_3 {
  display: none;
}
#header .sec_top .header_search .search_content .ws_content_sec:not(.has_select) .line {
  height: 1px;
  background: #D3D3D3;
}
#header .sec_top .header_search .search_content .ws_content_sec.has_select .sec_1 {
  width: calc(33.33% - 10px);
  margin-right: 10px;
}
#header .sec_top .header_search .search_content .ws_content_sec.has_select .sec_2 {
  display: none;
}
#header .sec_top .header_search .search_content .ws_content_sec.has_select .sec_3 {
  padding-left: 16px;
  width: calc(66.66% - 1px);
}
#header .sec_top .header_search .search_content .ws_content_sec.has_select .line {
  width: 1px;
  background: #D3D3D3;
}
#header .sec_top .header_search .search_content .sec_title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #222222;
}
#header .sec_top .header_search .search_content .sec_clear_wrap {
  display: none;
}
#header .sec_top .header_search .search_content * + .sec_title {
  margin-top: 15px;
}
#header .sec_top .header_search .search_content .sec_cont {
  margin-top: 10px;
}
#header .sec_top .header_search .search_content .sec_cont_full {
  height: calc(100% - 30px);
  overflow-y: auto;
}
#header .sec_top .header_search .search_content .sec_cont_full::-webkit-scrollbar {
  width: 6px;
  background: none;
}
#header .sec_top .header_search .search_content .sec_cont_full::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 3px;
  background: #C5C5C5;
}
#header .sec_top .header_search .search_content .sch_ul li {
  position: relative;
  height: 26px;
}
#header .sec_top .header_search .search_content .sch_ul li a {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  padding: 0 5px;
}
#header .sec_top .header_search .search_content .sch_ul li .li_del {
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url("../images/common/search_del.svg") no-repeat center center;
  border: 0 none;
  font-size: 0;
}
#header .sec_top .header_search .search_content .sch_ul li .sell {
  color: #014099;
}
#header .sec_top .header_search .search_content .sch_ul li .buy {
  color: #24B685;
}
#header .sec_top .header_search .search_content .sch_ul li .sell:after, #header .sec_top .header_search .search_content .sch_ul li .buy:after {
  content: " ";
}
#header .sec_top .header_search .search_content .sch_ul li .rank {
  display: inline-block;
  width: 30px;
  color: #666666;
}
#header .sec_top .header_search .search_content .sch_ul li .new {
  display: inline-block;
  vertical-align: bottom;
  width: 35px;
  color: #FF3333;
  text-align: center;
  font-style: italic;
  font-size: 10px;
}
#header .sec_top .header_search .search_content .sch_ul li .new:after {
  content: "NEW";
}
#header .sec_top .header_search .search_content .sch_ul li .sch_point {
  color: #014099;
  font-weight: 500;
}
#header .sec_top .header_search .search_content .sch_ul li:hover {
  background-color: #E9F2FF;
}
#header .sec_top .header_search .search_content .sch_ul.has_close {
  margin-right: 15px;
  padding-right: 15px;
}
#header .sec_top .header_search .search_content .sch_ul.has_close li a {
  margin-right: 30px;
}
#header .sec_top .header_search .search_content .sch_ul.has_close li + li {
  margin-top: 5px;
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(1) .rank:before {
  content: "1";
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(2) .rank:before {
  content: "2";
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(3) .rank:before {
  content: "3";
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(4) .rank:before {
  content: "4";
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(5) .rank:before {
  content: "5";
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(6) .rank:before {
  content: "6";
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(7) .rank:before {
  content: "7";
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(8) .rank:before {
  content: "8";
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(9) .rank:before {
  content: "9";
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(10) .rank:before {
  content: "10";
}
#header .sec_top .header_search .search_content .sch_ul.has_rank li:nth-of-type(-n+3) .rank {
  color: #FE0000;
}
#header .sec_top .header_search .search_content .sch_ul.has_group {
  display: flex;
  flex-wrap: wrap;
}
#header .sec_top .header_search .search_content .sch_ul.has_group li.is_all {
  width: 100%;
}
#header .sec_top .header_search .search_content .sch_ul.has_group .is_group {
  width: 50%;
}
#header .sec_top .header_banner1 {
  width: 209px;
  height: 52px;
  margin-left: 8px;
}
#header .sec_top .header_banner1 a {
  display: block;
  width: 100%;
  height: 100%;
}
#header .sec_top .header_banner1 a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#header .sec_bottom {
  display: flex;
}
#header .sec_bottom .sec_left {
  width: 290px;
}
#header .sec_bottom .sec_right {
  margin-left: auto;
}
#header .sec_bottom .chat_list_btn {
  height: 36px;
  background: #434343;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  border: 0 none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1019607843);
  padding: 0 6px;
  white-space: nowrap;
  letter-spacing: -0.05em;
}
#header .sec_bottom .chat_list_btn .text {
  display: inline-block;
}
#header .sec_bottom .chat_list_btn i {
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 16px;
  background: url("../images/common/hd_alert.svg") no-repeat center center;
  margin-right: 4px;
}
#header .sec_bottom .chat_list_btn .new_laert {
  display: inline-block;
  background: #222222;
  border-radius: 3px;
  padding: 0 6px;
  margin-left: 2px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.03em;
}
#header .sec_bottom .chat_list_btn .new_laert .t_y {
  font-size: 13px;
  font-weight: 600;
  color: #FFF447;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: -0.01em;
}
#header .sec_bottom .header_menu {
  flex-grow: 1;
  display: flex;
  align-items: top;
  justify-content: center;
}
#header .sec_bottom .header_menu:after {
  content: "";
  display: none;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 200px;
  margin-top: 1px;
  top: 100%;
  left: 0;
  background: #FFFFFF;
}
#header .sec_bottom .header_menu > li {
  position: relative;
}
#header .sec_bottom .header_menu > li + li {
  margin-left: 40px;
}
#header .sec_bottom .header_menu > li > a {
  display: block;
  border-bottom: 3px solid transparent;
  padding: 2px 0 13px;
  font-size: 18px;
  color: #222222;
  line-height: 27px;
  font-weight: 500;
}
#header .sec_bottom .header_menu > li > a:hover, #header .sec_bottom .header_menu > li > a.on {
  border-bottom-color: #434343;
}
#header .sec_bottom .header_menu > li .dep2 {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 16px 0 28px;
}
#header .sec_bottom .header_menu > li .dep2 > li + li {
  margin-top: 14px;
}
#header .sec_bottom .header_menu > li .dep2 > li > a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4509803922);
  white-space: nowrap;
}
#header .sec_bottom .header_menu > li .dep2 > li > a:hover {
  font-weight: 500;
  color: #222222;
}
#header .sec_bottom .header_menu:hover .dep2 {
  display: block;
}
#header .sec_bottom .header_menu:hover:after {
  display: block;
}
#header .sec_bottom .header_login {
  font-size: 0;
}
#header .sec_bottom .header_login li {
  display: inline-block;
}
#header .sec_bottom .header_login li + li {
  position: relative;
  margin-left: 13px;
}
#header .sec_bottom .header_login li + li:before {
  content: "";
  display: block;
  position: absolute;
  left: -7px;
  top: 50%;
  margin-top: -5px;
  width: 1px;
  height: 10px;
  background: #D3D3D3;
}
#header .sec_bottom .header_login li a {
  font-size: 14px;
  line-height: 36px;
  color: #222222;
}
#header .sec_bottom .header_login li a.is_login:before {
  content: "19";
  display: inline-block;
  margin-right: 2px;
  width: 20px;
  height: 20px;
  background: #B20000;
  text-align: center;
  border-radius: 100%;
  font-size: 13px;
  color: #fff;
  line-height: 20px;
}

@media (max-width: 1080px) {
  body:not(.is_pc) .w_set {
    width: auto;
    max-width: 1080px;
    padding-left: 16px;
    padding-right: 16px;
  }
  body:not(.is_pc) #header .sec_top {
    padding: 18px 0;
  }
  body:not(.is_pc) #header .sec_top .logo {
    width: 45px;
  }
  body:not(.is_pc) #header .sec_top .logo a img {
    width: 35px;
  }
  body:not(.is_pc) #header .sec_top .logo a .logo_txt {
    display: none;
  }
  body:not(.is_pc) #header .sec_top .header_search:not(.show) {
    height: 36px;
    border-width: 1px;
    border-radius: 3px;
  }
  body:not(.is_pc) #header .sec_top .header_search .sec_radio {
    display: none;
  }
  body:not(.is_pc) #header .sec_top .header_search .layer_close {
    display: none;
    position: absolute;
    top: 15px;
    left: 0;
    width: 36px;
    height: 36px;
    border: 0 none;
    background: url("../images/common/search_close.svg") no-repeat center center;
    font-size: 0;
  }
  body:not(.is_pc) #header .sec_top .header_search .sec_ipt {
    width: calc(100% - 34px);
  }
  body:not(.is_pc) #header .sec_top .header_search .sec_ipt input {
    padding: 0 10px;
    font-size: 14px;
    border-radius: 5px;
  }
  body:not(.is_pc) #header .sec_top .header_search .sec_submit {
    width: 34px;
    height: 100%;
  }
  body:not(.is_pc) #header .sec_top .header_search .sec_submit button {
    background: url("../images/common/m_hd_sch.svg") no-repeat center center;
  }
  body:not(.is_pc) #header .sec_top .header_search.show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    background: #fff;
    border: 0 none;
    border-radius: 0;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .layer_close {
    display: block;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_bar {
    margin: 14px 16px 0 36px;
    height: 36px;
    box-sizing: unset;
    border: 1px solid #434343;
    border-radius: 3px;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content {
    position: static;
    width: 100%;
    height: calc(100% - 50px);
    border: 0 none;
    padding: 0 0 0 0;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before_tab {
    display: flex;
    border-bottom: 2px solid #eee;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before_tab .tbt_btn {
    flex: 1;
    border: 0 none;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
    background: transparent;
    padding: 14px 0;
    font-size: 15px;
    color: #222222;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before_tab .tbt_btn.on {
    color: #014099;
    font-weight: 500;
    border-bottom-color: #014099;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before {
    display: block;
    padding: 12px 16px;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before .sec_title {
    font-size: 12px;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before .sec:not(.on) {
    display: none;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before .sec_clear_wrap {
    display: block;
    text-align: right;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before .sec_clear_wrap .sec_clear {
    border: 0 none;
    background: transparent;
    font-size: 12px;
    color: #666666;
    padding: 0 0 0 0;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before .sec_2 {
    width: auto;
    border: 0 none;
    padding: 0 0 0 0;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before .sec_2 .sec_cont {
    margin-top: 0;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before .sec_2 .sch_ul li + li {
    margin-top: 6px;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before .sec_2 .sch_ul li .rank {
    width: 26px;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before .sec_2 .sch_ul li .new {
    width: auto;
    padding-right: 6px;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .t_before .sec_2 .sec_title:not(.hide_m) + .sec_cont {
    margin-top: 10px;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec {
    display: flex;
    height: 100%;
    padding: 16px;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec:not(.has_select), body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec.has_select {
    flex-direction: column;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec:not(.has_select) .sec_1,
body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec:not(.has_select) .sec_2,
body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec:not(.has_select) .sec_3, body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec.has_select .sec_1,
body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec.has_select .sec_2,
body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec.has_select .sec_3 {
    width: 100%;
    height: calc(50% - 1px);
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec:not(.has_select) .sec_1, body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec.has_select .sec_1 {
    margin-bottom: 16px;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec:not(.has_select) .sec_2,
body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec:not(.has_select) .sec_3, body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec.has_select .sec_2,
body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec.has_select .sec_3 {
    margin-top: 16px;
    padding: 0 0 0 0;
  }
  body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec:not(.has_select) .line, body:not(.is_pc) #header .sec_top .header_search.show .search_content .ws_content_sec.has_select .line {
    width: 100%;
    height: 1px;
    background: #D3D3D3;
  }
  body:not(.is_pc) #header .sec_top .header_banner1 {
    display: none;
  }
  body:not(.is_pc) #header .sec_top .header_menu_btn {
    padding-left: 10px;
    font-size: 0;
  }
  body:not(.is_pc) #header .sec_top .header_menu_btn .header_menu_open {
    border: 0 none;
    width: 24px;
    height: 24px;
    font-size: 0;
    background: url("../images/common/m_hd_menu.svg") no-repeat center center;
  }
  body:not(.is_pc) #header .sec_bottom .sec_left,
body:not(.is_pc) #header .sec_bottom .sec_right {
    display: none;
  }
}

#footer {
  margin-top: 120px;
}
#footer .footer_top {
  background: #eee;
  height: 60px;
}
#footer .footer_top .ft_nav {
  display: flex;
  align-items: center;
  gap: 37px;
  height: 60px;
}
#footer .footer_top .ft_nav li a {
  font-size: 14px;
  color: #666666;
}
#footer .footer_top .ft_nav li a.bold {
  font-weight: 500;
  color: #333333;
}
#footer .footer_content {
  padding: 30px 0 45px;
  background: #F6F6F6;
}
#footer .footer_content .fc_cont {
  display: flex;
}
#footer .footer_content .fc_cont .ft_logo {
  margin: 6px 33px 0 0;
}
#footer .footer_content .fc_cont .ft_address {
  overflow: hidden;
  flex: 1;
}
#footer .footer_content .fc_cont .ft_address ul {
  margin: -6px 0 0 -13px;
  font-size: 0;
}
#footer .footer_content .fc_cont .ft_address ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 0 13px;
  font-size: 13px;
  color: #A7A7A7;
}
#footer .footer_content .fc_cont .ft_address ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #A7A7A7;
}
#footer .footer_content .fc_cont .ft_address ul li.w100 {
  width: 100%;
}
#footer .footer_content .fc_cont .ft_cs {
  margin-left: auto;
  color: #666666;
}
#footer .footer_content .fc_cont .ft_cs .fc_title {
  font-size: 14px;
}
#footer .footer_content .fc_cont .ft_cs .fc_info {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
#footer .footer_content .fc_cont .ft_cs .fc_info .fci_tel {
  font-size: 38px;
  font-weight: 700;
}
#footer .footer_content .fc_cont .ft_cs .fc_info .fci_link {
  display: block;
  margin-left: 10px;
  width: 86px;
  height: 34px;
  background: #666666;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 34px;
}
#footer .footer_content .fc_cont .ft_cs .fc_time {
  margin-top: 10px;
  font-size: 13px;
}

@media (max-width: 1080px) {
  body:not(.is_pc) #footer {
    margin-top: 30px;
  }
  body:not(.is_pc) #footer .footer_top {
    height: 45px;
  }
  body:not(.is_pc) #footer .footer_top .ft_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: unset;
    height: 45px;
  }
  body:not(.is_pc) #footer .footer_top .ft_nav li a {
    font-size: 12px;
  }
  body:not(.is_pc) #footer .footer_content {
    padding: 25px 0 100px;
  }
  body:not(.is_pc) #footer .footer_content .fc_cont {
    display: block;
  }
  body:not(.is_pc) #footer .footer_content .fc_cont .ft_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 0;
  }
  body:not(.is_pc) #footer .footer_content .fc_cont .ft_logo .hide_pc img {
    width: 53px;
  }
  body:not(.is_pc) #footer .footer_content .fc_cont .ft_logo .show_pc_design {
    font-size: 12px;
    color: #A7A7A7;
  }
  body:not(.is_pc) #footer .footer_content .fc_cont .ft_address {
    overflow: hidden;
    margin-top: 20px;
  }
  body:not(.is_pc) #footer .footer_content .fc_cont .ft_address ul {
    margin: -2px 0 0 -13px;
    font-size: 0;
  }
  body:not(.is_pc) #footer .footer_content .fc_cont .ft_address ul li {
    margin: 2px 0 0 13px;
    font-size: 12px;
  }
  body:not(.is_pc) #footer .footer_content .fc_cont .ft_address ul li.w100 {
    width: 100%;
    margin-top: 20px;
  }
  + body:not(.is_pc) #footer .footer_content .fc_cont .ft_address ul li.w100.w100 {
    margin-top: 10px;
  }
  body:not(.is_pc) #mobile_btm_menu {
    display: flex;
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 60px;
  }
  body:not(.is_pc) #mobile_btm_menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    text-align: center;
  }
  body:not(.is_pc) #mobile_btm_menu a i {
    display: block;
    width: 26px;
    height: 26px;
  }
  body:not(.is_pc) #mobile_btm_menu a .mbm_txt {
    font-size: 12px;
    color: #666666;
  }
}

#sidebar {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 100%;
  width: 140px;
  transform: translateY(-50%);
  transition: 0.5s;
}
#sidebar.on {
  margin-left: -140px;
}
#sidebar.on .side_open:after {
  transform: rotate(-180deg);
}
#sidebar .side_open_wrap {
  position: absolute;
  top: calc(50% - 60px);
  left: -34px;
  width: 34px;
  height: 120px;
  padding: 20px 0 20px 20px;
  overflow: hidden;
  margin: -20px 0 -20px -20px;
  box-sizing: unset;
}
#sidebar .side_open_wrap .side_open {
  width: 100%;
  height: 100%;
  font-size: 0;
  border: 0 none;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1294117647);
  background: #FFFFFF;
}
#sidebar .side_open_wrap .side_open:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/common/side_arr.svg") no-repeat center center;
}
#sidebar .side_cont {
  padding: 18px 10px;
  border-radius: 10px 0px 0px 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1294117647);
}
#sidebar .side_cont .side_slide .swiper {
  border-radius: 6px;
}
#sidebar .side_cont .side_slide a {
  display: block;
  border-radius: 6px;
  position: relative;
  padding-bottom: 120.83%;
  overflow: hidden;
}
#sidebar .side_cont .side_slide a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#sidebar .side_cont .side_slide .swiper-pagination-c {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}
#sidebar .side_cont .side_slide .swiper-pagination-c .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin: 0 0 0 0;
  background: #D3D3D3;
}
#sidebar .side_cont .side_slide .swiper-pagination-c .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #014099;
}
#sidebar .side_cont .side_mile {
  margin-top: 20px;
}
#sidebar .side_cont .side_mile .sm_box {
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  text-align: center;
  padding: 10px 5px;
}
#sidebar .side_cont .side_mile .sm_box + .sm_box {
  margin-top: 10px;
}
#sidebar .side_cont .side_mile .sm_box .sm_name {
  font-size: 13px;
  color: #222222;
}
#sidebar .side_cont .side_mile .sm_box .sm_num {
  margin-top: 6px;
  font-size: 14px;
  color: #666666;
}
#sidebar .side_cont .side_mile .sm_box .sm_num b {
  font-size: 15px;
  font-weight: 700;
  color: #014099;
}
#sidebar .side_cont .side_b_btn {
  margin-top: 20px;
}
#sidebar .side_cont .side_b_btn .st_btn {
  border-radius: 6px;
}
#sidebar .side_cont .side_b_btn .st_btn + .st_btn {
  margin-top: 10px;
}

#contets {
  overflow: hidden;
}/*# sourceMappingURL=layout.css.map */