#main {
  position: relative;
  padding-top: 42px;
}
#main .main_title {
  font-size: 24px;
  color: #222222;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
}
#main .main_gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 896px;
  background: transparent linear-gradient(180deg, #F2F4F5 0%, rgba(255, 255, 255, 0) 100%) 0% 0% no-repeat padding-box;
}
#main .position {
  position: relative;
  z-index: 2;
}
#main .main_visual .swiper {
  overflow: visible;
}
#main .main_visual .swiper-slide a {
  display: block;
  border-radius: 8px;
  position: relative;
  padding-bottom: 390px;
  overflow: hidden;
}
#main .main_visual .swiper-slide a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .main_sec.div2 {
  display: flex;
  justify-content: space-between;
}
#main .main_sec .divide {
  width: calc(50% - 20px);
}
#main .main_sec.sec_1 {
  margin-top: 100px;
}
#main .main_sec.sec_2 {
  margin-top: 58px;
}
#main .main_sec .benefit_banner {
  display: flex;
  gap: 34px 38px;
  flex-wrap: wrap;
}
#main .main_sec .benefit_banner .banner_list {
  display: block;
  width: calc(50% - 19px);
  height: 160px;
  padding: 15px 14px;
  border-radius: 4px;
  overflow: hidden;
  background: no-repeat right bottom;
}
#main .main_sec .benefit_banner .banner_list .t1 {
  font-size: 16px;
}
#main .main_sec .benefit_banner .banner_list .t2 {
  font-size: 18px;
  font-weight: 500;
}
#main .main_sec .benefit_banner .banner_list.t1 {
  background: url("../images/main/mbb1.svg") no-repeat right 9px bottom 12px #EFF3FA;
}
#main .main_sec .benefit_banner .banner_list.t1 .t1 {
  color: #033893;
}
#main .main_sec .benefit_banner .banner_list.t2 {
  background: url("../images/main/mbb2.png") no-repeat right 15px bottom 17px #FCEDF4;
}
#main .main_sec .benefit_banner .banner_list.t2 .t1 {
  color: #AB1854;
}
#main .main_sec .benefit_banner .banner_list.t3 {
  background: url("../images/main/mbb3.png") no-repeat right 14px bottom 8px #F4F8E1;
}
#main .main_sec .benefit_banner .banner_list.t3 .t1 {
  color: #277939;
}
#main .main_sec .benefit_banner .banner_list.t4 {
  background: url("../images/main/mbb4.png") no-repeat right 0 bottom 0 #FCF1CD;
}
#main .main_sec .benefit_banner .banner_list.t4 .t1 {
  color: #A44923;
}
#main .main_sec .guide_banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 26px;
}
#main .main_sec .guide_banner a {
  display: block;
}
#main .main_sec .guide_banner a .pic {
  width: 156px;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D3D3D3;
}
#main .main_sec .guide_banner a .pic img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
#main .main_sec .guide_banner a .txt {
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: #222222;
}
#main .main_sec .main_notice > li {
  position: relative;
  padding-left: 16px;
}
#main .main_sec .main_notice > li:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #D3D3D3;
  position: absolute;
  top: 53%;
  left: 0;
  transform: translateY(-50%);
}
#main .main_sec .main_notice > li + li {
  margin-top: 20px;
}
#main .main_sec .main_notice > li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .main_sec .main_notice > li a .title {
  font-size: 16px;
  color: #222222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 99;
}
#main .main_sec .main_notice > li a .date {
  font-size: 14px;
  color: #666666;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  padding-left: 10px;
}
#main .main_sec .main_cs .cs_round {
  display: flex;
  justify-content: space-between;
}
#main .main_sec .main_cs .cs_round li {
  min-width: 90px;
}
#main .main_sec .main_cs .cs_round li a {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#main .main_sec .main_cs .cs_round li a i {
  display: block;
  width: 62px;
  height: 62px;
  background: no-repeat center center #F6F6F6;
  border-radius: 100%;
}
#main .main_sec .main_cs .cs_round li a .link_name {
  margin-top: 4px;
  font-size: 16px;
  color: #222222;
}
#main .main_sec .main_cs .cs_info {
  margin-top: 20px;
  padding: 14px 20px;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
}
#main .main_sec .main_cs .cs_info .csi_title {
  font-size: 14px;
  color: #222222;
}
#main .main_sec .main_cs .cs_info .csi_phone {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
#main .main_sec .main_cs .cs_info .csi_phone .csip_ico {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background: url() no-repeat center center #F6F6F6;
}
#main .main_sec .main_cs .cs_info .csi_phone .csip_txt {
  padding-left: 10px;
}
#main .main_sec .main_cs .cs_info .csi_phone .csip_txt .csipt_tel {
  font-size: 36px;
  color: #222222;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
}
#main .main_sec .main_cs .cs_info .csi_phone .csip_txt .csipt_time {
  margin-top: 5px;
  font-size: 15px;
  color: #222222;
}

@media (max-width: 1080px) {
  #main {
    padding-top: 0;
  }
  #main .main_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  #main .main_gradient {
    display: none;
  }
  #main .main_visual {
    margin: 0 -16px;
  }
  #main .main_visual .swiper {
    overflow: hidden;
  }
  #main .main_visual .swiper-slide a {
    display: block;
    border-radius: 8px;
    position: relative;
    padding-bottom: 55.55%;
    overflow: hidden;
  }
  #main .main_visual .swiper-slide a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=main.css.map */