@import 'utility.scss';

#main {
	position: relative;
	padding-top: 42px;
	.main_title {
		font-size: 24px;
		color: $color2;
		font-weight: 500;
		line-height: 1.5;
		margin-bottom: 30px;
	}
	.main_gradient {
		position: absolute;
		z-index: 1;
		top: 0;
		width: 100%;
		height: 896px;
		background: transparent linear-gradient(180deg, #F2F4F5 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
	}
	.position {
		position: relative;
		z-index: 2;
	}
	.main_visual {
		.swiper {
			overflow: visible;
		}
		.swiper-slide {
			a {
				display: block;
				border-radius: 8px;
				@include imgBoxPx(390px);
			}
		}
	}

	.main_sec {
		&.div2 {
			display: flex;
			justify-content: space-between;
		}
		.divide {
			width: calc(50% - 20px);
		}
		&.sec_1 {
			margin-top: 100px;
		}
		&.sec_2 {
			margin-top: 58px;
		}

		.benefit_banner {
			display: flex;
			gap: 34px 38px;
			flex-wrap: wrap;
			.banner_list {
				display: block;
				width: calc(50% - 19px);
				height: 160px;
				padding: 15px 14px;
				border-radius: 4px;
				overflow: hidden;
				background: no-repeat right bottom;
				.t1 {
					font-size: 16px;
				}
				.t2 {
					font-size: 18px;
					font-weight: 500;
				}
				&.t1 {
					background: url('../images/main/mbb1.svg') no-repeat right 9px bottom 12px #EFF3FA;
					.t1 {
						color: #033893;
					}
				}
				&.t2 {
					background: url('../images/main/mbb2.png') no-repeat right 15px bottom 17px #FCEDF4;
					.t1 {
						color: #AB1854;
					}
				}
				&.t3 {
					background: url('../images/main/mbb3.png') no-repeat right 14px bottom 8px #F4F8E1;
					.t1 {
						color: #277939;
					}
				}
				&.t4 {
					background: url('../images/main/mbb4.png') no-repeat right 0 bottom 0 #FCF1CD;
					.t1 {
						color: #A44923;
					}
				}
			}
		}

		.guide_banner {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 10px 26px;
			a {
				display: block;
				.pic {
					width: 156px;
					height: 156px;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid $colorD;
					img {
						object-fit: cover;
						max-width: 100%;
						max-height: 100%;
					}
				}
				.txt {
					margin-top: 8px;
					font-size: 16px;
					text-align: center;
					font-weight: 500;
					color: $color2;
				}
			}
		}

		.main_notice {
			> li {
				position: relative;
				padding-left: 16px;
				&:before {
					content: '';
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 100%;
					background: $colorD;
					position: absolute;
					top: 53%;
					left: 0;
					transform: translateY(-50%);
				}
				+ li {
					margin-top: 20px;
				}
				a {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.title {
						font-size: 16px;
						color: $color2;
						@include ellipsis;
						flex: 99;
					}
					.date {
						font-size: 14px;
						color: $color6;
						font-family: $nunito;
						font-weight: 300;
						padding-left: 10px;
					}
				}
			}
		}

		.main_cs {
			.cs_round {
				display: flex;
				justify-content: space-between;
				li {
					min-width: 90px;
					a {
						display: flex;
						align-items: center;
						flex-direction: column;
						i {
							display: block;
							width: 62px;
							height: 62px;
							background: no-repeat center center $colorF6;
							border-radius: 100%;
						}
						.link_name {
							margin-top: 4px;
							font-size: 16px;
							color: $color2;
						}
					}
				}
			}
			.cs_info {
				margin-top: 20px;
				padding: 14px 20px;
				border: 1px solid $colorD;
				border-radius: 4px;
				.csi_title {
					font-size: 14px;
					color: $color2;
				}
				.csi_phone {
					display: flex;
					align-items: center;
					margin-top: 6px;
					.csip_ico {
						width: 68px;
						height: 68px;
						border-radius: 100%;
						background: url() no-repeat center center $colorF6;
					}
					.csip_txt {
						padding-left: 10px;
						.csipt_tel {
							font-size: 36px;
							color: $color2;
							font-weight: 700;
							font-family: $nunito;
						}
						.csipt_time {
							margin-top: 5px;
							font-size: 15px;
							color: $color2;
						}
					}
				}
			}
		}
	}
}

@include mobile {
	#main {
		padding-top: 0;
		.main_title {
			font-size: 18px;
			margin-bottom: 15px;
		}
		.main_gradient {
			display: none;
		}
		.main_visual {
			margin: 0 -16px;
			.swiper {
				overflow: hidden;
			}
			.swiper-slide {
				a {
					display: block;
					border-radius: 8px;
					@include imgBox(55.55%);
				}
			}
		}
	}
}