#product {
  margin-top: 50px;
}
#product .page_title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}
#product .page_title b {
  font-size: 28px;
  font-weight: 500;
}
#product .page_title .page_cate {
  display: flex;
}
#product .page_title .page_cate span {
  font-size: 16px;
  color: #666666;
}
#product .page_title .page_cate span + span:before {
  content: ">";
}
#product .prd_tab {
  display: flex;
  margin-bottom: 30px;
}
#product .prd_tab button {
  flex: 1;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  font-size: 16px;
}
#product .prd_tab button + button {
  margin-left: -1px;
}
#product .prd_tab button.on {
  position: relative;
  z-index: 2;
  border-color: #014099;
  background-color: #014099;
  color: #FFFFFF;
}
#product .prd_tab.type_sa button {
  height: 50px;
}
#product .prd_tab.type_sa_all {
  margin-bottom: 0;
}
#product .prd_sec {
  margin-top: 40px;
}
#product .prd_sec .prd_s_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#product .prd_sec .prd_s_title .sec_left,
#product .prd_sec .prd_s_title .sec_right {
  display: flex;
  align-items: baseline;
}
#product .prd_sec .prd_s_title b {
  font-size: 16px;
  font-weight: 500;
}
#product .prd_sec .prd_s_title .count {
  padding-left: 10px;
  font-size: 14px;
}
#product .prd_sec .prd_s_title .count .point {
  color: #014099;
}
#product .prd_sec .prd_s_title .pd_sort {
  position: relative;
}
#product .prd_sec .prd_s_title .pd_sort .sort_toggle {
  width: 120px;
  height: 36px;
  background: #fff;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
}
#product .prd_sec .prd_s_title .pd_sort .sort_toggle .sort_txt {
  font-size: 14px;
  padding-right: 20px;
  background: url("../images/product/i_sort.svg") no-repeat right center;
}
#product .prd_sec .prd_s_title .pd_sort .sort_select {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  text-align: center;
}
#product .prd_sec .prd_s_title .pd_sort .sort_select > .sort_option {
  font-size: 14px;
  border: 0 none;
  background: none;
}
#product .prd_sec .prd_s_title .pd_sort .sort_select > .sort_option + .sort_option {
  margin-top: 6px;
}
#product .prd_sec .prd_s_title .pd_sort .sort_select > .sort_option.on {
  font-weight: 500;
}

.prd_search_option {
  display: block;
}
.prd_search_option .btn_area {
  margin-top: 40px;
}

.table_display {
  border: 1px solid #D3D3D3;
}
.table_display .tr {
  display: flex;
}
.table_display .tr + .tr {
  border-top: 1px solid #D3D3D3;
}
.table_display .tr .th,
.table_display .tr .td {
  padding: 12px 10px;
}
.table_display .tr .th {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  background: #F6F6F6;
  min-height: 46px;
  font-size: 14px;
  color: #000000;
}
.table_display .tr .td {
  flex: 1;
  border-left: 1px solid #D3D3D3;
}
.table_display .tr .td .range {
  display: flex;
  align-items: center;
}
.table_display .tr .td .range input[type=text] {
  width: 70px;
  height: 28px;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
}
.table_display .tr .td .range .dash {
  display: block;
  width: 15px;
  text-align: center;
}
.table_display .tr .td .range .unit {
  padding-left: 6px;
}
.table_display .tr .td.type_check {
  display: flex;
  gap: 10px 20px;
}
.table_display .tr .td.type_radio {
  display: flex;
  gap: 10px 10px;
  white-space: nowrap;
}
.table_display .tr .td.type_ipt {
  padding: 0 0 0 0;
}
.table_display .tr .td.type_ipt input {
  border: 0 none;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 14px;
}
.table_display .tr .td.type_ipt input::-moz-placeholder {
  color: #A7A7A7;
}
.table_display .tr .td.type_ipt input::placeholder {
  color: #A7A7A7;
}
.table_display .tr.row_2 .td:last-child {
  width: 570px;
  flex: none;
}

@media (min-width: 1080px) {
  .table_display {
    border: 1px solid #D3D3D3;
  }
  .table_display .tr .td + .th {
    border-left: 1px solid #D3D3D3;
  }
}
@media (max-width: 1080px) {
  body:not(.is_pc) #product {
    margin-top: 50px;
  }
  body:not(.is_pc) #product .page_title {
    display: flex;
    justify-content: unset;
    margin-bottom: 20px;
  }
  body:not(.is_pc) #product .page_title b {
    font-size: 18px;
  }
  body:not(.is_pc) #product .page_title .page_cate {
    display: flex;
    padding-left: 14px;
  }
  body:not(.is_pc) #product .page_title .page_cate span {
    font-size: 14px;
  }
  body:not(.is_pc) #product .prd_tab {
    display: flex;
    margin-bottom: 15px;
  }
  body:not(.is_pc) #product .prd_tab button {
    height: 50px;
    font-size: 14px;
  }
  body:not(.is_pc) #product .prd_sec {
    margin-top: 30px;
  }
  body:not(.is_pc) #product .prd_sec .prd_s_title {
    margin-bottom: 15px;
  }
  body:not(.is_pc) #product .prd_sec .prd_s_title b {
    font-size: 16px;
  }
  body:not(.is_pc) #product .prd_sec .prd_s_title .count {
    padding-left: 10px;
    font-size: 14px;
  }
  body:not(.is_pc) #product .prd_sec .prd_s_title .pd_sort {
    position: relative;
  }
  body:not(.is_pc) #product .prd_sec .prd_s_title .pd_sort .sort_toggle {
    width: 114px;
    height: 36px;
  }
  body:not(.is_pc) #product .prd_sec .prd_s_title .pd_sort .sort_toggle .sort_txt {
    font-size: 14px;
    padding-right: 20px;
  }
  body:not(.is_pc) .prd_search_option {
    display: block;
  }
  body:not(.is_pc) .prd_search_option .btn_area {
    margin-top: 20px;
  }
  body:not(.is_pc) .table_display .tr {
    display: flex;
    flex-wrap: wrap;
  }
  body:not(.is_pc) .table_display .tr .th,
  body:not(.is_pc) .table_display .tr .td {
    padding: 12px 10px;
  }
  body:not(.is_pc) .table_display .tr .th {
    width: 60px !important;
    text-align: center;
  }
  body:not(.is_pc) .table_display .tr .td {
    width: calc(100% - 60px) !important;
    flex: none;
  }
  body:not(.is_pc) .table_display .tr .td .range {
    display: flex;
    align-items: center;
    width: 100%;
  }
  body:not(.is_pc) .table_display .tr .td .range input[type=text] {
    width: calc((100% - 15px - 34px) / 2);
    height: 32px;
  }
  body:not(.is_pc) .table_display .tr .td .range .dash {
    width: 15px;
  }
  body:not(.is_pc) .table_display .tr .td .range .unit {
    padding-left: 0;
    width: 34px;
    text-align: right;
  }
  body:not(.is_pc) .table_display .tr .td.type_check {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 16px;
  }
  body:not(.is_pc) .table_display .tr .td.type_radio {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    white-space: nowrap;
  }
  body:not(.is_pc) .table_display .tr .td.type_radio .label_r {
    width: 100%;
  }
  body:not(.is_pc) .table_display .tr .td.type_ipt {
    padding: 0 0 0 0;
  }
  body:not(.is_pc) .table_display .tr .td.type_ipt input {
    padding: 0 10px;
  }
  body:not(.is_pc) .table_display .tr.row_2 .td ~ .th,
  body:not(.is_pc) .table_display .tr.row_2 .td ~ .td {
    border-top: 1px solid #D3D3D3;
  }
}

body .grade.grade1 {
  color: #014099;
}
body .grade.grade2 {
  color: #666666;
}
body .grade.grade3 {
  color: #F5B60E;
}
body .grade.grade4 {
  color: #49D3D9;
}
body .grade.grade5 {
  color: #7356BA;
}

.prd_list_wrap {
  width: 100%;
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}
.prd_list_wrap thead th {
  background: #F6F6F6;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 20px;
}
.prd_list_wrap thead th.sec_opt {
  text-align: left;
}
.prd_list_wrap:not(.type_prem) tbody {
  border: 1px solid #D3D3D3;
}
.prd_list_wrap:not(.type_prem) td {
  border: 1px solid #D3D3D3;
  border-width: 1px 0 1px 0;
}
.prd_list_wrap tbody .prd_list {
  font-size: 14px;
}
.prd_list_wrap tbody .prd_list td {
  padding: 10px 20px;
}
.prd_list_wrap tbody .prd_list td.sec_prem {
  position: relative;
  font-size: 0;
}
.prd_list_wrap tbody .prd_list td.sec_prem:after {
  content: "";
  display: block;
  width: 60px;
  height: 55px;
  background: url("../images/product/i_pre.svg") no-repeat top 0 left 50%;
  margin-top: -12px;
}
.prd_list_wrap tbody .prd_list td.sec_ico {
  text-align: center;
}
.prd_list_wrap tbody .prd_list td.sec_ico i {
  display: inline-block;
  vertical-align: bottom;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background: #f55;
  font-size: 0;
}
.prd_list_wrap tbody .prd_list td.sec_name {
  max-width: 500px;
}
.prd_list_wrap tbody .prd_list td.sec_name .name_txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.prd_list_wrap tbody .prd_list td.sec_price {
  text-align: right;
}
.prd_list_wrap tbody .prd_list td.sec_price .price_per {
  color: #666666;
}
.prd_list_wrap tbody .prd_list td.sec_price .price_txt {
  color: #014099;
}
.prd_list_wrap tbody .prd_list td.sec_date {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  color: #666666;
}
.prd_list_wrap tbody .prd_list.disabled td {
  border-color: #D3D3D3 !important;
  background-color: #EEEEEE !important;
}
.prd_list_wrap tbody .prd_list.disabled td, .prd_list_wrap tbody .prd_list.disabled td * {
  color: #A7A7A7 !important;
}
.prd_list_wrap tbody .prd_list.disabled td.sec_ico i {
  filter: grayscale(100%);
}
.prd_list_wrap tbody .prd_list.is_prem td {
  background-color: #ECEBF9;
}
.prd_list_wrap.type_prem {
  border-collapse: separate;
  border-spacing: 0 4px;
}
.prd_list_wrap.type_prem tbody tr td {
  background: #EEF3F9;
}
.prd_list_wrap.type_prem tbody tr:nth-of-type(2n) td {
  background: #ECEBF9;
}
.prd_list_wrap.type_prem tbody tr.disabled td {
  border: 1px solid #D3D3D3;
  border-width: 1px 0 1px 0;
}
.prd_list_wrap.type_prem tbody tr.disabled td:first-child {
  border-left-width: 1px;
}
.prd_list_wrap.type_prem tbody tr.disabled td:last-child {
  border-right-width: 1px;
}

@media (max-width: 1080px) {
  body:not(.is_pc) .prd_list_wrap {
    display: block;
    width: auto;
    padding: 0;
    border: 0;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 0 -16px;
  }
  body:not(.is_pc) .prd_list_wrap thead {
    display: none;
  }
  body:not(.is_pc) .prd_list_wrap tbody {
    display: block;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list:not(:first-of-type) {
    border-top: 1px solid #D3D3D3;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list td {
    border: 0 none;
    padding: 20px 10px;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list td.sec_prem, body:not(.is_pc) .prd_list_wrap tbody .prd_list td.sec_opt {
    display: none;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list td.sec_ico {
    text-align: center;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list td.sec_ico i {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list td.sec_name {
    min-width: 0;
    max-width: none;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list td.sec_name .name_txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 99;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list td.sec_price {
    white-space: nowrap;
    text-align: right;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list td.sec_price .price_per {
    color: #666666;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list td.sec_price .price_txt {
    color: #014099;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list td.sec_date {
    display: none;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list.disabled {
    background-color: #EEEEEE !important;
  }
  body:not(.is_pc) .prd_list_wrap tbody .prd_list.is_prem {
    background-color: #ECEBF9;
  }
  body:not(.is_pc) .prd_list_wrap.type_prem tbody tr {
    border-width: 0px !important;
    background: #EEF3F9;
  }
  body:not(.is_pc) .prd_list_wrap.type_prem tbody tr + tr {
    margin-top: 4px;
  }
  body:not(.is_pc) .prd_list_wrap.type_prem tbody tr.disabled {
    border: 1px solid #D3D3D3 !important;
  }
  body:not(.is_pc) .prd_list_wrap.type_prem tbody tr:nth-of-type(2n) {
    background: #ECEBF9;
  }
}

.sell_add .sa_noti {
  background: #EEF3F9;
  padding: 14px 30px;
}
.sell_add .sa_noti ul li {
  padding-left: 18px;
  font-size: 14px;
  background: url("../images/product/noti_i.svg") no-repeat left 0 top 5px;
}
.sell_add .sa_noti ul li + li {
  margin-top: 4px;
}
.sell_add .sa_noti + .prd_tab {
  margin-top: 30px;
}
.sell_add .sa_noti2 {
  margin-top: 30px;
  padding: 14px 29px;
  border: 1px solid #D3D3D3;
}
.sell_add .sa_noti2 > ul > li {
  padding-left: 18px;
  font-size: 13px;
  color: #FF3333;
  background: url("../images/product/noti_i2.svg") no-repeat left 0 top 5px;
}
.sell_add .sa_noti2 > ul > li + li {
  margin: 5px 0 4px;
}
.sell_add .sa_noti2 > ul > li > ul {
  margin-top: 8px;
}
.sell_add .sa_noti2 > ul > li > ul > li {
  font-size: 13px;
  color: #333333;
}
.sell_add .sa_sec_title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.sell_add .sa_options table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}
.sell_add .sa_options table th, .sell_add .sa_options table td {
  font-size: 14px;
  padding: 8px 10px;
  border: 1px solid #D3D3D3;
}
.sell_add .sa_options table th {
  background: #F6F6F6;
  text-align: center;
  width: 200px;
  font-weight: 400;
}
.sell_add .sa_options table td input, .sell_add .sa_options table td select {
  width: 100%;
  height: 34px;
  border: 1px solid #D3D3D3;
  background-color: #FFFFFF;
  padding: 5px 10px;
}
.sell_add .sa_options table td input.type_price, .sell_add .sa_options table td select.type_price {
  width: 200px;
  font-size: 18px;
  text-align: right;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}
.sell_add .sa_options table td input:focus, .sell_add .sa_options table td select:focus {
  border-color: #014099;
}
.sell_add .sa_options table td select {
  width: 300px;
}
.sell_add .sa_options table td .price_noti .price_num {
  color: #7226A5;
}
.sell_add .sa_options .sa_game_sel {
  position: relative;
  width: 100%;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_box {
  position: relative;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_box button {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 22px;
  height: 22px;
  background: url("../images/common/search_ico.svg") no-repeat;
  border: 0 none;
  font-size: 0;
}
.sell_add .sa_options .sa_game_sel:not(.on) .sgs_sch_lay {
  display: none !important;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay {
  display: flex;
  position: absolute;
  z-index: 8;
  top: 100%;
  height: 323px;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #014099;
  padding: 14px 4px;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay .ssl_section {
  width: 28%;
  padding: 0 10px;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay .ssl_section + .ssl_section {
  border-left: 1px solid #D3D3D3;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay .ssl_section.sec3 {
  width: 44%;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay ul {
  height: 100%;
  overflow-y: auto;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay ul::-webkit-scrollbar {
  width: 6px;
  background: none;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay ul::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 3px;
  background: #C5C5C5;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay ul li + li {
  margin-top: 10px;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay ul li label {
  display: block;
  position: relative;
  cursor: pointer;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay ul li label input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay ul li label input:checked + .label_after {
  color: #014099;
  color: #f55;
}
.sell_add .sa_options .sa_game_sel .sgs_sch_lay ul li label .label_after {
  font-size: 14px;
}
.sell_add .editorsample {
  margin-top: 10px;
  border: 1px solid #D3D3D3;
  height: 300px;
}
.sell_add .items_sale_additional {
  margin-top: 30px;
}
.sell_add .sa_btns {
  margin-top: 60px;
}
.sell_add .prd_tab_under .choice_c {
  display: flex;
  padding: 5px 0;
  border: 2px solid #014099;
  background: #F6F6F6;
}
.sell_add .prd_tab_under .choice_c label {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  justify-content: center;
}
.sell_add .prd_tab_under .choice_c label + label {
  border-left: 1px dashed #A7A7A7;
}
.sell_add .prd_tab_under .ptu_noti {
  padding: 10px 16px;
}
.sell_add .prd_tab_under .ptu_noti ul li {
  font-size: 14px;
}
.sell_add .prd_tab_under .ptu_noti ul li:before {
  content: "- ";
}
.sell_add .prd_tab_under .ptu_noti ul li .p_color {
  color: #FF3333;
}
.sell_add .sa_all_table_wrap {
  margin-top: 24px;
}
.sell_add .sa_all_table_wrap .saa_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.sell_add .sa_all_table_wrap .saa_btns .sec_left,
.sell_add .sa_all_table_wrap .saa_btns .sec_right {
  display: flex;
  gap: 10px;
}
.sell_add .sa_all_table_wrap .saa_btns .saab_t1 {
  border: 1px solid #014099;
  background: #EEF3F9;
  width: 120px;
  height: 32px;
  font-size: 14px;
}
.sell_add .sa_all_table_wrap .saa_btns .saab_t2 {
  border: 1px solid #113462;
  background: #FFFFFF;
  color: #113462;
  width: 64px;
  height: 32px;
  font-size: 14px;
}
.sell_add .sa_all_table_wrap .saa_btns .saab_t2.is_del {
  color: #DE4040;
  border-color: #DE4040;
}
.sell_add .sa_all_table_wrap .saa_btns select {
  height: 32px;
  min-width: 70px;
}
.sell_add .sa_all_table_wrap .saa_table {
  display: table;
  width: 100%;
}
.sell_add .sa_all_table_wrap .saa_table .thead,
.sell_add .sa_all_table_wrap .saa_table .tbody {
  display: table-row-group;
}
.sell_add .sa_all_table_wrap .saa_table .tr {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 80px 0 40px;
}
.sell_add .sa_all_table_wrap .saa_table .tr select {
  width: 100%;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  height: 50px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th,
.sell_add .sa_all_table_wrap .saa_table .tr .td {
  padding: 9px;
  border: 1px solid #D3D3D3;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th + .td,
.sell_add .sa_all_table_wrap .saa_table .tr .th + .th,
.sell_add .sa_all_table_wrap .saa_table .tr .td + .td,
.sell_add .sa_all_table_wrap .saa_table .tr .td + .th {
  border-left: 0;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_checkbox,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_name,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_name {
  width: 350px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_name .rt_row,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_name .rt_row {
  width: 100%;
  display: flex;
  gap: 10px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_name .rt_row + .rt_row,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_name .rt_row + .rt_row {
  margin-top: 10px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_name .rt_1 label,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_name .rt_1 label {
  flex: 1;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_name .rt_2 label,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_name .rt_2 label {
  flex: 1;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_name .rt_2 label.label_s,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_name .rt_2 label.label_s {
  min-width: 70px;
  flex: none;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_type,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_type {
  width: 70px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_type label + label,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_type label + label {
  margin-top: 3px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_unit,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_unit {
  width: 138px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_unit label,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_unit label {
  flex: 1;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_count,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_count {
  flex: 1;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_count .rt_row,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_count .rt_row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_count .rt_row + .rt_row,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_count .rt_row + .rt_row {
  margin-top: 10px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_count .rt_1 label,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_count .rt_1 label {
  width: 120px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.t_last,
.sell_add .sa_all_table_wrap .saa_table .tr .td.t_last {
  width: 80px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.is_full,
.sell_add .sa_all_table_wrap .saa_table .tr .td.is_full {
  width: 100%;
  gap: 10px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.is_full label,
.sell_add .sa_all_table_wrap .saa_table .tr .td.is_full label {
  flex: 1;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.is_full .editor_toggle,
.sell_add .sa_all_table_wrap .saa_table .tr .td.is_full .editor_toggle {
  width: 100px;
  height: 34px;
  background: #222222;
  border: 0 none;
  border-radius: 3px;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.is_full .editor_toggle span,
.sell_add .sa_all_table_wrap .saa_table .tr .td.is_full .editor_toggle span {
  font-size: 14px;
  color: #FFFFFF;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.is_full .editor_toggle i,
.sell_add .sa_all_table_wrap .saa_table .tr .td.is_full .editor_toggle i {
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-left: 2px;
  background: url("../images/product/editor_toggle.svg") no-repeat center center;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.is_full.open .editor_toggle i,
.sell_add .sa_all_table_wrap .saa_table .tr .td.is_full.open .editor_toggle i {
  transform: rotate(180deg);
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.is_full.has_editor,
.sell_add .sa_all_table_wrap .saa_table .tr .td.is_full.has_editor {
  padding: 0 0 0 0;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.is_full.has_editor .editorsample,
.sell_add .sa_all_table_wrap .saa_table .tr .td.is_full.has_editor .editorsample {
  margin: 0 0 0 0;
  width: 100%;
  background: #f55;
}
.sell_add .sa_all_table_wrap .saa_table .tr .th.is_full:not(.open) + .has_editor,
.sell_add .sa_all_table_wrap .saa_table .tr .td.is_full:not(.open) + .has_editor {
  display: none;
}
.sell_add .sa_all_table_wrap .saa_table .tr .td {
  border-top-width: 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

@media (max-width: 1080px) {
  body:not(.is_pc) .sell_add .sa_noti {
    padding: 14px;
  }
  body:not(.is_pc) .sell_add .sa_noti2 {
    padding: 14px;
  }
  body:not(.is_pc) .sell_add .sa_sec_title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
  }
  body:not(.is_pc) .sell_add .sa_options table th {
    width: 72px;
    padding: 0 0 0 0;
  }
  body:not(.is_pc) .sell_add .sa_options table td input.type_price {
    width: calc(100% - 20px);
    font-size: 16px;
  }
  body:not(.is_pc) .sell_add .sa_options table td select {
    width: 100%;
  }
  body:not(.is_pc) .sell_add .sa_options table td.for_m_0 {
    font-size: 0;
  }
  body:not(.is_pc) .sell_add .sa_options table td .price_noti {
    display: inline-block;
    width: 20px;
    text-align: right;
    font-size: 0 !important;
  }
  body:not(.is_pc) .sell_add .sa_options table td .price_noti .for_m {
    font-size: 14px;
  }
  body:not(.is_pc) .sell_add .sa_options .sa_game_sel .sgs_sch_box button {
    display: none;
  }
  body:not(.is_pc) .sell_add .sa_options .sa_game_sel .sgs_sch_lay {
    display: block;
    height: 500px;
    padding: 6px 18px;
  }
  body:not(.is_pc) .sell_add .sa_options .sa_game_sel .sgs_sch_lay .ssl_section {
    width: 100% !important;
    height: 33.33%;
    padding: 10px 0;
  }
  body:not(.is_pc) .sell_add .sa_options .sa_game_sel .sgs_sch_lay .ssl_section + .ssl_section {
    border: 0 none;
    border-top: 1px solid #D3D3D3;
  }
  body:not(.is_pc) .sell_add .sa_options .sa_game_sel .sgs_sch_lay ul {
    height: 100%;
  }
  body:not(.is_pc) .sell_add .editorsample {
    height: 300px;
  }
  body:not(.is_pc) .sell_add .sa_btns {
    margin-top: 50px;
  }
}/*# sourceMappingURL=product.css.map */