@import 'utility.scss';

#product {
	margin-top: 50px;
	.page_title {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 30px;
		b {
			font-size: 28px;
			font-weight: 500;
		}
		.page_cate {
			display: flex;
			span {
				font-size: 16px;
				color: $color6;
				+ span {
					&:before {
						content: '>';
					}
				}
			}
		}
	}
	.prd_tab {
		display: flex;
		margin-bottom: 30px;
		button {
			+ button {
				margin-left: -1px;
			}
			flex: 1;
			height: 60px;
			background: $colorF;
			border: 1px solid $colorD;
			font-size: 16px;
			&.on {
				position: relative;
				z-index: 2;
				border-color: $point0;
				background-color: $point0;
				color: $colorF;
			}
		}
		&.type_sa {
			button {
				height: 50px;
			}
		}
		&.type_sa_all {
			margin-bottom: 0 !important;
		}
	}

	.prd_sec {
		margin-top: 40px;
		.prd_s_title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;
			.sec_left,
			.sec_right {
				display: flex;
				align-items: baseline;
			}
			b {
				font-size: 16px;
				font-weight: 500;
			}
			.count {
				padding-left: 10px;
				font-size: 14px;
				.point {
					color: $point0;
				}
			}
			.pd_sort {
				position: relative;
				.sort_toggle {
					width: 120px;
					height: 36px;
					background: #fff;
					border: 1px solid $colorD;
					border-radius: 2px;
					.sort_txt {
						font-size: 14px;
						padding-right: 20px;
						background: url('../images/product/i_sort.svg') no-repeat right center;
					}
				}
				.sort_select {
					position: absolute;
					top: calc(100% + 2px);
					left: 0;
					width: 100%;
					padding: 10px 0;
					background: #fff;
					border: 1px solid $colorD;
					border-radius: 2px;
					text-align: center;
					> .sort_option {
						font-size: 14px;
						border: 0 none;
						background: none;
						+ .sort_option {
							margin-top: 6px;
						}

						&.on {
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}
.prd_search_option {
	display: block;
	.btn_area {
		margin-top: 40px;
	}
}
.table_display {
	border: 1px solid $colorD;
	.tr {
		display: flex;
		+ .tr {
			border-top: 1px solid $colorD;
		}
		.th,
		.td {
			padding: 12px 10px;
		}
		.th {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 120px;
			background: $colorF6;
			min-height: 46px;
			font-size: 14px;
			color: $color0;
		}
		.td {
			flex: 1;
			border-left: 1px solid $colorD;
			.range {
				display: flex;
				align-items: center;
				input[type="text"] {
					width: 70px;
					height: 28px;
					border: 1px solid $colorD;
					border-radius: 2px;
				}
				.dash {
					display: block;
					width: 15px;
					text-align: center;
				}
				.unit {
					padding-left: 6px;
				}
			}
			&.type_check {
				display: flex;
				gap: 10px 20px;
			}
			&.type_radio {
				display: flex;
				gap: 10px 10px;
				white-space: nowrap;
			}
			&.type_ipt {
				padding: 0 0 0 0;
				input {
					border: 0 none;
					width: 100%;
					height: 100%;
					padding: 0 10px;
					font-size: 14px;
					&::placeholder {
						color: $colorA;
					}
				}
			}
		}

		&.row_2 {
			.td:last-child {
				width: 570px;
				flex: none;
			}
		}
	}
}

@include pc {
	.table_display {
		border: 1px solid $colorD;
		.tr {
			.td + .th {
				border-left: 1px solid $colorD;
			}
		}
	}
}

@include mobile {
	#product {
		margin-top: 50px;
		.page_title {
			display: flex;
			justify-content: unset;
			margin-bottom: 20px;
			b {
				font-size: 18px;
			}
			.page_cate {
				display: flex;
				padding-left: 14px;
				span {
					font-size: 14px;
				}
			}
		}
		.prd_tab {
			display: flex;
			margin-bottom: 15px;
			button {
				height: 50px;
				font-size: 14px;
			}
		}
		.prd_sec {
			margin-top: 30px;
			.prd_s_title {
				margin-bottom: 15px;
				b {
					font-size: 16px;
				}
				.count {
					padding-left: 10px;
					font-size: 14px;
				}
				.pd_sort {
					position: relative;
					.sort_toggle {
						width: 114px;
						height: 36px;
						.sort_txt {
							font-size: 14px;
							padding-right: 20px;
						}
					}
				}
			}
		}
	}

	.prd_search_option {
		display: block;
		.btn_area {
			margin-top: 20px;
		}
	}
	.table_display {
		.tr {
			display: flex;
			flex-wrap: wrap;
			.th,
			.td {
				padding: 12px 10px;
			}
			.th {
				width: 60px !important;
				text-align: center;
			}
			.td {
				width: calc(100% - 60px) !important;
				flex: none;
				.range {
					display: flex;
					align-items: center;
					width: 100%;
					input[type="text"] {
						width: calc((100% - 15px - 34px) / 2);
						height: 32px;
					}
					.dash {
						width: 15px;
					}
					.unit {
						padding-left: 0;
						width: 34px;
						text-align: right;
					}
				}
				&.type_check {
					display: flex;
					flex-wrap: wrap;
					gap: 10px 16px;
				}
				&.type_radio {
					display: flex;
					flex-wrap: wrap;
					gap: 13px;
					white-space: nowrap;
					.label_r {
						width: 100%;
					}
				}
				&.type_ipt {
					padding: 0 0 0 0;
					input {
						padding: 0 10px;
					}
				}
			}
	
			&.row_2 {
				.td ~ .th,
				.td ~ .td {
					border-top: 1px solid $colorD;
				}
			}
		}
	}
}




body .grade {
	&.grade1 {
		color: $grade1;
	}
	&.grade2 {
		color: $grade2;
	}
	&.grade3 {
		color: $grade3;
	}
	&.grade4 {
		color: $grade4;
	}
	&.grade5 {
		color: $grade5;
	}
}

.prd_list_wrap {
	width: 100%;
	padding:0;
	border:0;
	border-spacing:0px;
	border-collapse:collapse;
	thead {
		th {
			background: $colorF6;
			text-align: center;
			font-size: 16px;
			font-weight: 500;
			padding: 13px 20px;
			&.sec_opt {
				text-align: left;
			}
		}
	}
	&:not(.type_prem) {
		tbody {
			border: 1px solid $colorD;
		}
		td {
			border: 1px solid $colorD;
			border-width: 1px 0 1px 0;
		}
	}
	tbody {
		.prd_list {
			font-size: 14px;
			td {
				padding: 10px 20px;
				&.sec_prem {
					position: relative;
					font-size: 0;
					&:after {
						content: '';
						display: block;
						width: 60px;
						height: 55px;
						background: url('../images/product/i_pre.svg') no-repeat top 0 left 50%;
						margin-top: -12px;
					}
				}
				&.sec_ico {
					text-align: center;
					i {
						display: inline-block;
						vertical-align: bottom;
						width: 38px;
						height: 38px;
						border-radius: 100%;
						background: $test-color;
						font-size: 0;
					}
				}
				&.sec_name {
					max-width: 500px;
					.name_opt {

					}
					.name_txt {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				&.sec_price {
					text-align: right;
					.price_per {
						color: $color6;
					}
					.price_txt {
						color: $point0;
					}
				}
				&.sec_date {
					text-align: center;
					font-family: $nunito;
					color: $color6;
				}
			}

			&.disabled {
				td {
					border-color: $colorD !important;
					background-color: $colorE !important;
					&, * {
						color: $colorA !important;
					}
					&.sec_ico {
						i {
							filter: grayscale(100%);
						}
					}
				}
			}
			&.is_prem {
				td {
					background-color: #ECEBF9;
				}
			}
		}
	}

	&.type_prem {
		border-collapse: separate;
  	border-spacing: 0 4px;
		tbody {
			tr {
				td {
					background: #EEF3F9;
				}
				&:nth-of-type(2n) {
					td {
						background: #ECEBF9;
					}
				}
				&.disabled {
					td {
						border: 1px solid $colorD;
						border-width: 1px 0 1px 0;
						&:first-child {
							border-left-width: 1px;
						}
						&:last-child {
							border-right-width: 1px;
						}
					}
				}
			}
		}
	}
}

@include mobile {
	.prd_list_wrap {
		display: block;
		width: auto;
		padding:0;
		border:0;
		border-spacing:0px;
		border-collapse:collapse;
		margin: 0 (-$m_space);
		thead {
			display: none;
		}
		tbody {
			display: block;
			.prd_list {
				display: flex;
				align-items: center;
				font-size: 14px;
				&:not(:first-of-type) {
					border-top: 1px solid $colorD;
				}
				td {
					border: 0 none;
					padding: 20px 10px;
					&.sec_prem,
					&.sec_opt {
						display: none;
					}
					&.sec_ico {
						text-align: center;
						i {
							display: inline-block;
							width: 25px;
							height: 25px;
						}
					}
					&.sec_name {
						min-width: 0;
						max-width: none;
						.name_opt {
	
						}
						.name_txt {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							flex: 99;
						}
					}
					&.sec_price {
						white-space: nowrap;
						text-align: right;
						.price_per {
							color: $color6;
						}
						.price_txt {
							color: $point0;
						}
					}
					&.sec_date {
						display: none;
					}
				}
	
				&.disabled {
					background-color: $colorE !important;
				}
				&.is_prem {
					background-color: #ECEBF9;
				}
			}
		}
	
		&.type_prem {
			tbody {
				tr {
					+ tr {
						margin-top: 4px;
					}
					border-width: 0px !important;
					&.disabled {
						border: 1px solid $colorD !important;
					}
					background: #EEF3F9;
					&:nth-of-type(2n) {
						background: #ECEBF9;
					}
				}
			}
		}
	}
}





.sell_add {
	.sa_noti {
		background: #EEF3F9;
		padding: 14px 30px;
		ul {
			li {
				padding-left: 18px;
				font-size: 14px;
				background: url('../images/product/noti_i.svg') no-repeat left 0 top 5px;
				+ li {
					margin-top: 4px;
				}
			}
		}
		+ .prd_tab {
			margin-top: 30px;
		}
	}

	.sa_noti2 {
		margin-top: 30px;
		padding: 14px 29px;
		border: 1px solid $colorD;
		> ul {
			> li {
				padding-left: 18px;
				font-size: 13px;
				color: #FF3333;
				background: url('../images/product/noti_i2.svg') no-repeat left 0 top 5px;
				+ li {
					margin: 5px 0 4px;
				}
				> ul {
					margin-top: 8px;
					> li {
						font-size: 13px;
						color: $color3;
					}
				}
			}
		}
	}

	.sa_sec_title {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 500;
	}

	.sa_options {
		table {
			width: 100%;
			border-spacing:0px;
			border-collapse:collapse;
			th, td {
				font-size: 14px;
				padding: 8px 10px;
				border: 1px solid $colorD;
			}
			th {
				background: $colorF6;
				text-align: center;
				width: 200px;
				font-weight: 400;
			}
			td {
				input, select {
					width: 100%;
					height: 34px;
					border: 1px solid $colorD;
					background-color: $colorF;
					padding: 5px 10px;
					&.type_price {
						width: 200px;
						font-size: 18px;
						text-align: right;
						font-family: $nunito;
						font-weight: 700;
					}
					&:focus {
						border-color: $point0;
					}
				}
				select {
					width: 300px;
				}
				.price_noti {
					.price_num {
						color: #7226A5;
					}
				}
			}
		}
		.sa_game_sel {
			position: relative;
			width: 100%;
			.sgs_sch_box {
				position: relative;
				button {
					position: absolute;
					top: 7px;
					right: 10px;
					width: 22px;
					height: 22px;
					background: url('../images/common/search_ico.svg') no-repeat;
					border: 0 none;
					font-size: 0;
				}
			}
			&:not(.on) .sgs_sch_lay {
				display: none !important;
			}
			.sgs_sch_lay {
				display: flex;
				position: absolute;
				z-index: 8;
				top: 100%;
				height: 323px;
				left: 0;
				width: 100%;
				background: #fff;
				border: 1px solid $point0;
				padding: 14px 4px;
				.ssl_section {
					width: 28%;
					padding: 0 10px;
					+ .ssl_section {
						border-left: 1px solid $colorD;
					}
					&.sec3 {
						width: 44%;
					}
				}
				ul {
					height: 100%;
					@include scroll;
					li {
						+ li {
							margin-top: 10px;
						}
						label {
							display: block;
							position: relative;
							cursor: pointer;
							input {
								position: absolute;
								width: 0;
								height: 0;
								opacity: 0;
								&:checked + .label_after {
									color: $point0;
									color: $test-color;
								}
							}
							.label_after {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}

	.editorsample {
		margin-top: 10px;
		border: 1px solid $colorD;
		height: 300px;
	}

	.items_sale_additional {
		margin-top: 30px;
	}

	.sa_btns {
		margin-top: 60px;
	}

	.prd_tab_under {
		.choice_c {
			display: flex;
			padding: 5px 0;
			border: 2px solid $point0;
			background: $colorF6;
			label {
				flex: 1;
				text-align: center;
				padding: 8px 0;
				justify-content: center;
				+ label {
					border-left: 1px dashed $colorA;
				}
			}
		}
		.ptu_noti {
			padding: 10px 16px;
			ul {
				li {
					position: relative;
					padding-left: 10px;
					font-size: 14px;
					&:before {
						display: block;
						content: '- ';
						position: absolute;
						top: 0;
						left: 0;
					}
					.p_color {
						color: $warning;
					}
				}
			}
		}

		+ .sa_options {
			margin-top: 20px;
		}
	}

	.sa_all_table_wrap {
		margin-top: 24px;
		.saa_btns {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
			.sec_left,
			.sec_right {
				display: flex;
				gap: 10px;
			}
			.saab_t1 {
				border: 1px solid $point0;
				background: $bgE;
				width: 120px;
				height: 32px;
				font-size: 14px;
			}
			.saab_t2 {
				border: 1px solid $point1;
				background: $colorF;
				color: $point1;
				width: 64px;
				height: 32px;
				font-size: 14px;
				&.is_del {
					color: #DE4040;
					border-color: #DE4040;
				}
			}
			select {
				height: 32px;
				min-width: 70px;
			}
		}

		.saa_table {
			display: table;
			width: 100%;
			.thead,
			.tbody {
				display: table-row-group;
			}
			.tr {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				padding: 0 80px 0 40px;
				select {
					width: 100%;
				}
				.th {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: $colorF6;
					height: 50px;
				}
				.th,
				.td {
					+ .td,
					+ .th {
						border-left: 0;
					}
					padding: 9px;
					border: 1px solid $colorD;
					&.t_checkbox {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 40px;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
					}
					&.t_name {
						.rt_row {
							width: 100%;
							display: flex;
							gap: 10px;
							+ .rt_row {
								margin-top: 10px;
							}
						}
						.rt_1 {
							label {
								flex: 1;
							}
						}
						.rt_2 {
							label {
								&.label_s {
									min-width: 70px;
									flex: none;
								}
								flex: 1;
							}
						}
					}
					&.t_type {
						label + label {
							margin-top: 3px;
						}
					}
					&.t_unit {
						label {
							flex: 1;
						}
					}
					&.t_count {
						flex: 1;
						.rt_row {
							width: 100%;
							display: flex;
							align-items: center;
							gap: 10px;
							+ .rt_row {
								margin-top: 10px;
							}
						}
						.rt_1 {
							label {
								width: 120px;
							}
						}
					}
					&.t_all {
						justify-content: center;
						align-items: center;
					}
					&.t_last {
						position: absolute;
						top: 0;
						right: 0;
						height: 100%;
					}
					&.is_full {
						width: 100%;
						gap: 10px;
						label {
							flex: 1;
						}
						.editor_toggle {
							width: 100px;
							height: 34px;
							background: $color2;
							border: 0 none;
							border-radius: 3px;
							span {
								font-size: 14px;
								color: $colorF;
							}
							i {
								display: inline-block;
								width: 14px;
								height: 12px;
								margin-left: 2px;
								background: url('../images/product/editor_toggle.svg') no-repeat center center;
							}
						}
						&.open {
							.editor_toggle {
								i {
									transform: rotate(180deg);
								}
							}
						}
						&.has_editor {
							padding: 0 0 0 0;
							.editorsample {
								margin: 0 0 0 0;
								width: 100%;
								background: #f55;
							}
						}
						&:not(.open) + .has_editor {
							display: none;
						}
					}
				}
				.td {
					border-top-width: 0;
					display: flex;
					align-content: center;
					flex-wrap: wrap;
					.add_sell_btn {
						width: 100%;
						height: 90px;
						background-color: $point1;
						border: 0 none;
						border-radius: 3px;
						font-size: 14px;
						color: $colorF;
					}
				}
			}
		}
	}
}

@include pc {
	.sell_add {
		.sa_all_table_wrap {
			.saa_table {
				.tr {
					.th,
					.td {
						&.t_name {
							width: 350px;
						}
						&.t_type {
							width: 70px;
						}
						&.t_unit {
							width: 138px;
						}
						&.t_all {
							width: 60px;
						}
						&.t_last {
							width: 80px;
						}
					}
				}
			}
		}
	}
}

.label_for_pd {
	.fix_link{
		width: 100%;
		height: 26px;
		border: 1px solid $colorD;
		background-color: $colorF;
		border-radius: 15px;
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		span{
			display: block;
			padding-left: 18px;
			background: url(../images/mypage/mypage_pencil.svg) no-repeat left top 55%;
		}
		~ * {
			margin-top: 12px;
		}
	}
	label {
		user-select: none;
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
		width: 64px;
		height: 26px;
		cursor: pointer;
		position: relative;

		input {
			appearance: none;
			position: relative;
			background-color: #A7A7A7;
			box-shadow: inset 0px 1px 4px #00000033;
			border-radius: 15px;
			width: 100%;
			height: 100%;
			padding: 3px;
			margin: 0;

			~.checked_text {
				display: none;
			}

			~.unchecked_text {
				display: inline-block;
			}

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 3px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #fff;
				transition: right 150ms linear;
			}

			&:checked {
				background-color: #113462;

				~.unchecked_text {
						display: none;
				}

				~.checked_text {
						display: inline-block;
				}

				&::before {
						right: 41px;
				}
			}
		}

		.checked_text {
			position: absolute;
			font-size: 10px;
			line-height: 15px;
			color: #fff;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
		}

		.unchecked_text {
			position: absolute;
			font-size: 10px;
			line-height: 15px;
			color: #fff;
			top: 50%;
			left: 9px;
			transform: translateY(-50%);
		}
	}
}

@include mobile {
	.sell_add {
		.sa_noti {
			padding: 14px;
		}
	
		.sa_noti2 {
			padding: 14px;
		}
	
		.sa_sec_title {
			margin-bottom: 10px;
			font-size: 16px;
			font-weight: 500;
		}
	
		.sa_options {
			table {
				th {
					width: 72px;
					padding: 0 0 0 0;
				}
				td {
					input {
						&.type_price {
							width: calc(100% - 20px);
							font-size: 16px;
						}
					}
					select {
						width: 100%;
					}
					&.for_m_0 {
						font-size: 0;
					}
					.price_noti {
						display: inline-block;
						width: 20px;
						text-align: right;
						font-size: 0 !important;
						.for_m {
							font-size: 14px;
						}
					}
				}
			}
			.sa_game_sel {
				.sgs_sch_box {
					button {
						display: none;
					}
				}
				.sgs_sch_lay {
					display: block;
					height: 500px;
					padding: 6px 18px;
					.ssl_section {
						width: 100% !important;
						height: 33.33%;
						padding: 10px 0;
						+ .ssl_section {
							border: 0 none;
							border-top: 1px solid $colorD;
						}
					}
					ul {
						height: 100%;
					}
				}
			}
		}
	
		.editorsample {
			height: 300px;
		}

		.sa_btns {
			margin-top: 50px;
		}

		.prd_tab_under {
			.choice_c {
				label {
					padding: 6px 0;
				}
			}
			.ptu_noti {
				padding: 10px 0;
			}
		}
	
		.sa_all_table_wrap {
			margin-top: 20px;
			.saa_btns {
				.sec_right {
					gap: 0;
				}
				.saab_t1 {
					width: 100px;
					font-size: 12px;
				}
				.saab_t2 {
					width: 44px;
					font-size: 12px;
					border-color: $colorD;
					+ .saab_t2 {
						margin-left: -1px;
					}
				}
			}
	
			.saa_table {
				display: block;
				width: 100%;
				.thead {
					display: none;
				}
				.tbody {
					display: block;
					+ .tbody {
						margin-top: 40px;
					}
				}
				.tr {
					position: relative;
					display: block;
					padding: 0 0 0 0;
					select {
						width: 100%;
					}
					.td {
						&:first-child {
							+ .td {
								border-top-width: 1px;
							}
						}
						+ .td {
							border-left-width: 1px;
						}
						&:before {
							content: '';
							top: 0;
							left: 0;
							display: block;
							width: calc(100% + 18px);
							margin: -9px -9px 9px;
							height: 49px;
							background: $colorF6;
							border-bottom: 1px solid $colorD;
							text-align: center;
							font-size: 14px;
							line-height: 48px;
						}

						padding: 9px;
						border: 1px solid $colorD;
						&.t_checkbox {
							&:before {
								content: none;
							}
							width: 50px;
							position: absolute;
							top: 0;
							left: 0;
							height: 51px;
						}
						&.t_name {
							&:before {
								padding-left: 50px;
								content: '물품정보';
							}
							.rt_row {
								gap: 8px;
								+ .rt_row {
									margin-top: 8px;
								}
							}
						}
						&.t_type {
							&:before {
								content: '판매';
								margin-bottom: 19px;
							}
							align-items: center;
							justify-content: center;
							padding-bottom: 19px;
							label + label {
								margin-top: 0;
								margin-left: 40px;
							}
						}
						&.t_unit {
							&:before {
								content: '판매단위';
							}
							label {
								flex: 1;
							}
						}
						&.t_count {
							&:before {
								content: '판매수량 / 판매가격';
							}
							.rt_row {
								width: 100%;
								display: flex;
								align-items: center;
								gap: 10px;
								+ .rt_row {
									margin-top: 10px;
								}
							}
							.rt_1 {
								label {
									width: auto;
									flex: 1;
								}
							}
						}
						&.t_all {
							&:before {
								content: '즉시결제';
							}
						}
						&.t_last {
							&:before {
								content: none;
							}
							position: static;
							align-items: center;
							justify-content: center;
						}
						&.is_full {
							&:before {
								content: none;
							}
						}
					}
					.td {
						border-top-width: 0;
						.add_sell_btn {
							width: 164px;
							height: 36px;
							font-size: 16px;
							br {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	.label_for_pd {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		.fix_link{
			width: 70px;
			~ * {
				margin-top: 0;
			}
		}
		label {
			width: 64px;
		}
	}
}