// point color
$point0: #014099;
$point1: #113462;
$point2: #24B685;
// normal color
$color1: #000000;
$color2: #222222;
$color3: #333333;
$color4: #434343;
$color6: #666666;
$colorA: #A7A7A7;
$colorC: #C5C5C5;
$colorD: #D3D3D3;
$colorF: #FFFFFF;
$colorF6: #F6F6F6;
// grade color
$grade1: #014099;
$grade2: #666666;
$grade3: #F5B60E;
$grade4: #49D3D9;
$grade5: #7356BA;
// chat color
$chat1: #068C6C;
$chat2: #FF9E4A;
$chat3: #007CEE;

$test-color: #f55;

// vertical width
$w_set: 1080px;

// font
$nunito: 'Nunito Sans', sans-serif;

// mixin
// @include **** 형식 선언
@mixin scroll {
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 6px;
		background: none;
	}
	&::-webkit-scrollbar-thumb {
		width: 6px;
		border-radius: 3px;
		background: $colorC;
	}
}

@mixin imgBox($per) {
	position: relative;
	padding-bottom: $per;
	overflow: hidden;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@mixin imgBoxPx($px) {
	position: relative;
	padding-bottom: $px;
	overflow: hidden;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@mixin ellipsis() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin dash($w, $h, $bg) {
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: calc($h / -2);
		width: $w;
		height: $h;
		background: $bg;
	}
}

@mixin pc {
	@media (min-width: $w_set) {
		@content;
	}
}
@mixin mobile {
	body:not(.is_pc) {
		@media (max-width: $w_set) {
			@content;
		}
	}
}