@charset "UTF-8";
.member-wrap .join-wrap .w-set.type-s {
  max-width: 494px;
  margin: 0 auto;
}
.member-wrap .join-top .step-list {
  margin-top: 60px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.member-wrap .join-top .step-list li.on .num {
  background: #111e55;
}
.member-wrap .join-top .step-list li.on .txt, .member-wrap .join-top .step-list li.on .document-wrap .document-btm .date, .document-wrap .document-btm .member-wrap .join-top .step-list li.on .date {
  font-weight: 700;
  color: #111e55;
}
.member-wrap .join-top .step-list li.line {
  display: block;
  width: 16px;
  height: 4px;
  background: url("../images/common/img/register_line.svg") no-repeat center;
  background-size: 100% 100%;
}
.member-wrap .join-top .step-list .num {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 50%;
  background: #ddd;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.member-wrap .join-top .step-list .txt, .member-wrap .join-top .step-list .document-wrap .document-btm .date, .document-wrap .document-btm .member-wrap .join-top .step-list .date {
  margin-left: 6px;
  font-size: 18px;
  color: #b2b2b2;
}

.wbz-popup-cont .password-wrap .input-wrap {
  margin-top: 20px;
  width: 100%;
}
.wbz-popup-cont .password-wrap .input-wrap input {
  text-align: center;
}

.document-wrap .document-top {
  background-color: #222;
  padding: 21px 0;
  position: relative;
  height: 70px;
}
.document-wrap .document-top .btn-back {
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100%;
  background: url("../images/common/ico/document_btn_back.svg") no-repeat center;
  border-right: 1px solid rgba(255, 255, 255, 0.44);
}
.document-wrap .document-top .btn-pdf {
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 50px;
  border-left: 1px solid rgba(255, 255, 255, 0.44);
}
.document-wrap .page {
  max-width: 1300px;
  margin: 0 auto;
}
.document-wrap .document-cont .num-list p {
  font-size: 15px;
  line-height: 18px;
}
.document-wrap .document-cont .num-list p + p {
  padding-top: 12px;
}
.document-wrap .document-cont .tit {
  font-weight: 700;
  font-size: 26px;
  display: block;
  text-align: center;
  padding-bottom: 60px;
}
.document-wrap .document-cont .table-wrap table {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-bottom: 0px none;
}
.document-wrap .document-cont .table-wrap table th,
.document-wrap .document-cont .table-wrap table td {
  font-size: 15px;
  padding: 6px;
  height: 54px;
  text-align: center;
}
.document-wrap .document-cont .table-wrap table th {
  background-color: #f6f6f6;
  font-weight: 400;
  border: 1px solid #d3d3d3;
  border-top-width: 0;
}
.document-wrap .document-cont .table-wrap table td {
  background-color: #fff;
  border: solid #d3d3d3;
  border-width: 0 1px 1px 0;
}
.document-wrap .document-btm {
  padding-top: 100px;
  text-align: center;
}
.document-wrap .document-btm .txt, .document-wrap .document-btm .date {
  font-weight: 500;
  font-size: 16px;
}
.document-wrap .document-btm .date {
  padding-top: 16px;
}
.document-wrap .document-btm .seal-area {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
}
.document-wrap .document-btm .seal-area .kiiptest {
  padding-left: 12px;
  font-size: 20px;
}
.document-wrap .document-btm .seal-area img {
  margin-left: 8px;
}
.document-wrap .caution-wrap {
  margin-top: 80px;
  padding-top: 60px;
  border-top: 1px dashed #b2b2b2;
}
.document-wrap .caution-wrap .tit {
  font-weight: 700;
  font-size: 20px;
  display: block;
  text-align: center;
}
.document-wrap .caution-wrap .caution-box {
  margin-top: 40px;
  padding: 30px;
  background: #f5f9fc;
}
.document-wrap .caution-wrap .caution-box p {
  font-size: 15px;
  line-height: 28px;
}
.document-wrap .map-wrap {
  margin-top: 40px;
  background: #ddd;
}
.document-wrap .map-wrap::before {
  content: "";
  display: block;
  padding-bottom: 38.31%;
}
.document-wrap .career-wrap {
  padding: 50px 0 120px;
}
.document-wrap .career-wrap .tit {
  margin-top: 26px;
}
.document-wrap .career-wrap .table-wrap + .table-wrap {
  margin-top: 50px;
}
.document-wrap .mytest-wrap {
  padding: 80px 0 200px;
}
.document-wrap .certificate-wrap {
  margin: 100px 0 120px;
  padding: 40px 40px 120px;
  border: 1px solid #222;
}
.document-wrap .certificate-wrap .document-cont .num-list p {
  font-size: 18px;
}
.document-wrap .certificate-wrap .document-cont .tit {
  padding-top: 18px;
  padding-bottom: 100px;
  font-size: 60px;
}
.document-wrap .certificate-wrap .document-cont .myinfo {
  margin-left: auto;
  max-width: 236px;
}
.document-wrap .certificate-wrap .document-cont .myinfo dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.document-wrap .certificate-wrap .document-cont .myinfo dl + dl {
  padding-top: 10px;
}
.document-wrap .certificate-wrap .document-cont .myinfo dl dt {
  font-weight: 500;
}
.document-wrap .certificate-wrap .document-cont .txt, .document-wrap .certificate-wrap .document-cont .document-btm .date, .document-wrap .document-btm .certificate-wrap .document-cont .date {
  padding-top: 276px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}
.document-wrap .certificate-wrap .document-cont .date {
  padding-top: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}
.document-wrap .certificate-wrap .document-btm {
  padding-top: 440px;
  font-size: 16px;
}
.document-wrap .certificate-wrap .document-btm .kiiptest {
  padding: 6px 0 0;
  display: block;
  font-size: 36px;
}
.document-wrap .certificate-wrap .document-btm img {
  margin-left: 12px;
}

.register-box {
  display: flex;
  gap: 12px;
  margin-top: 40px;
}
.register-box .register-list {
  flex: 1;
  border: 1px solid #ddd;
}
.register-box .register-list.on {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.0705882353);
  border: 2px solid #3090d6;
}
.register-box .register-list.on .tit {
  font-weight: 600;
}
.register-box .register-list:last-child {
  flex: 0 0 40%;
}
.register-box .register-list .tit {
  text-align: center;
  background-color: #f5f9fc;
  padding: 20px 0;
  font-size: 18px;
  line-height: 21px;
}
.register-box .register-list .tit span {
  font-family: "Montserrat", sans-serif;
}
.register-box .register-list .desc {
  padding: 30px 20px;
  min-height: 478px;
}
.register-box .register-list .desc .place-list li + li {
  margin-top: 14px;
}
.register-box .register-list .desc .place-list .radiobox label {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 12px;
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.register-box .register-list .desc .place-list .radiobox label::before {
  position: initial;
  margin: 0;
}
.register-box .register-list .desc .place-list .radiobox input[type=radio]:checked ~ label {
  border: 1px solid #0b248d;
  background: rgba(2, 79, 196, 0.1215686275);
  color: #024fc4;
}
.register-box .register-list .desc .place-list .radiobox input[disabled] ~ label {
  border-color: #f5f5f5;
  background: #f5f5f5;
  color: #b2b2b2;
}
.register-box .register-list .desc .place-list .radiobox input[disabled] ~ label::before {
  background: #f5f5f5;
}
.register-box .register-list .desc .selectlist {
  display: flex;
  margin-top: 14px;
}
.register-box .register-list .desc .selectlist p {
  margin-right: 18px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.register-box .register-list .desc .selectlist p .square {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 6px;
}
.register-box .register-list .desc .selectlist p .square.today {
  background-color: #576fec;
}
.register-box .register-list .desc .selectlist p .square.testday {
  background-color: #e7e9f5;
}
.register-box .register-list .desc .selectlist p .square.selectday {
  background-color: #0b248d;
}
.register-box .register-list .desc .datebox {
  background: #f5f5f5;
  padding: 16px 14px;
}
.register-box .register-list .desc .datebox .date-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
  line-height: 19px;
}
.register-box .register-list .desc .datebox .date-list + .date-list {
  margin-top: 12px;
}
.register-box .register-list .desc .datebox .date-list .datebox-tit {
  flex: 0 0 auto;
  color: #555;
}
.register-box .register-list .desc .datebox .date-list .datebox-desc {
  font-weight: 600;
  font-size: 16px;
}
.register-box .register-list .desc .table-wrap {
  margin-top: 24px;
}
.register-box .register-list .desc .table-wrap .ing {
  color: #024fc4;
}
.register-box .register-list .desc .table-wrap .end {
  color: #f50e0e;
}
.register-box .register-list .desc .table-wrap .list-row .select {
  width: 44px;
}
.register-box .register-list .desc .table-wrap .list-row .select .radiobox label {
  width: 22px;
  height: 22px;
  padding-left: 22px;
}
.register-box .register-list .desc .table-wrap .list-row .select .radiobox label::before {
  margin-top: -11px;
}
.register-box .register-list .desc .table-wrap .list-row .round {
  width: 50px;
}
.register-box .register-list .desc .table-wrap .list-row .time {
  width: 28%;
}
.register-box .register-list .desc .table-wrap .list-row .state {
  width: 74px;
}
.register-box .register-list .desc .info-txt {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: -12px;
}

.calendar_box {
  margin-top: 16px;
}
.calendar_box .clndr-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.calendar_box .clndr-controls .month {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.calendar_box .clndr-controls .clndr-previous-button, .calendar_box .clndr-controls .clndr-next-button {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/common/ico_calendar_prev.svg) no-repeat center;
  font-size: 0;
  cursor: pointer;
}
.calendar_box .clndr-controls .clndr-next-button {
  background-image: url(../images/common/ico_calendar_next.svg);
}
.calendar_box .clndr .clndr-table {
  width: 100%;
  text-align: center;
  margin-top: 24px;
}
.calendar_box .clndr .header-day {
  font-weight: 400;
  font-size: 16px;
  padding: 0 0 14px;
}
.calendar_box .clndr table tr th:first-child {
  color: #ff3434;
}
.calendar_box .clndr table tr th:last-child {
  color: #2251a8;
}
.calendar_box .clndr table tr td:first-child .day-contents {
  color: #ff3434;
}
.calendar_box .clndr table tr td:last-child .day-contents {
  color: #2251a8;
}
.calendar_box .clndr table td {
  border: 1px solid #ddd;
  width: 14.2857142857%;
  height: 43px;
  vertical-align: middle;
}
.calendar_box .clndr table td button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.calendar_box .clndr table td .day-contents {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #555;
  line-height: 1;
}
.calendar_box .clndr table td.today button {
  background: #576fec;
}
.calendar_box .clndr table td.today .day-contents {
  color: #fff;
}
.calendar_box .clndr table td.selectday button {
  background: #0b248d;
}
.calendar_box .clndr table td.selectday .day-contents {
  color: #fff;
}
.calendar_box .clndr table td.testday button {
  background: #e7e9f5;
}
.calendar_box .clndr table td.testday .day-contents {
  color: #0b248d;
}
.calendar_box .clndr table td.last-month, .calendar_box .clndr table td.next-month {
  background: #fff !important;
}
.calendar_box .clndr table td.last-month *, .calendar_box .clndr table td.next-month * {
  display: none;
}
.calendar_box .clndr table td div {
  line-height: 1;
}

.supervisor-wrap .tab-list {
  margin: 60px 0;
}

.sub-content .table-wrap .list-row .no {
  width: 80px;
}
.sub-content .table-wrap .list-row .name {
  width: 140px;
}
.sub-content .table-wrap .list-row .birth {
  width: 140px;
}
.sub-content .table-wrap .list-row .mobile {
  width: 150px;
}
.sub-content .table-wrap .list-row .approval {
  width: 110px;
}
.sub-content .table-wrap .list-row .apply,
.sub-content .table-wrap .list-row .print {
  width: 130px;
}
.sub-content .table-wrap .list-row .apply .btn,
.sub-content .table-wrap .list-row .print .btn {
  width: 80px;
  height: 28px;
  line-height: 26px;
  font-size: 14px;
}
.sub-content .table-wrap .list-row .apply .btn.off,
.sub-content .table-wrap .list-row .print .btn.off {
  border-color: #ddd;
  color: #555;
}
.sub-content .table-wrap .table-body .list-row .name,
.sub-content .table-wrap .table-body .list-row .certi-num {
  color: #555;
}

@media (max-width: 1240px) {
  .member-wrap .join-top .step-list {
    align-items: flex-start;
    margin: 30px 0 24px;
  }
  .member-wrap .join-top .step-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .member-wrap .join-top .step-list li.on .txt, .member-wrap .join-top .step-list li.on .document-wrap .document-btm .date, .document-wrap .document-btm .member-wrap .join-top .step-list li.on .date {
    font-weight: 600;
  }
  .member-wrap .join-top .step-list li.line {
    margin-top: 54px;
  }
  .member-wrap .join-top .step-list .txt, .member-wrap .join-top .step-list .document-wrap .document-btm .date, .document-wrap .document-btm .member-wrap .join-top .step-list .date {
    margin: 10px 0 0;
  }
  .register-box {
    flex-direction: column;
    margin-top: 32px;
    gap: 24px;
  }
  .register-box .register-list .tit {
    padding: 16px 0;
    font-size: 16px;
  }
  .register-box .register-list .desc {
    padding: 20px 12px;
    min-height: 168px;
  }
  .register-box .register-list .desc .place-list li + li {
    margin-top: 12px;
  }
  .register-box .register-list .desc .place-list .radiobox label {
    gap: 8px;
    height: 48px;
    font-size: 13px;
  }
  .register-box .register-list .desc .table-wrap .ing,
  .register-box .register-list .desc .table-wrap .end {
    color: #555;
  }
  .register-box .register-list .desc .table-wrap .table-head {
    display: none;
  }
  .register-box .register-list .desc .table-wrap .table-body {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .register-box .register-list .desc .table-wrap .list-row {
    width: calc(50% - 6px);
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 16px 12px;
    padding-left: 50px;
  }
  .register-box .register-list .desc .table-wrap .list-row.type-empty {
    width: 100%;
    justify-content: center;
    padding: 50px 12px;
    border: 0;
  }
  .register-box .register-list .desc .table-wrap .list-row.type-empty div {
    padding-top: 62px;
    background: url("../images/common/ico/empty.svg") no-repeat top center;
  }
  .register-box .register-list .desc .table-wrap .list-row > div {
    height: auto;
    border: 0;
    padding: 0;
  }
  .register-box .register-list .desc .table-wrap .list-row .select {
    width: auto;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .register-box .register-list .desc .table-wrap .list-row .round,
  .register-box .register-list .desc .table-wrap .list-row .time {
    width: auto;
  }
  .register-box .register-list .desc .table-wrap .list-row .round,
  .register-box .register-list .desc .table-wrap .list-row .time {
    position: relative;
    margin-right: 8px;
    padding-right: 8px;
  }
  .register-box .register-list .desc .table-wrap .list-row .round::after,
  .register-box .register-list .desc .table-wrap .list-row .time::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background: #d3d3d3;
    position: absolute;
    right: 0;
    top: 7px;
  }
  .register-box .register-list .desc .table-wrap .list-row .recruits {
    text-align: left;
    width: 100%;
    order: 5;
  }
  .register-box .register-list .desc .table-wrap .list-row .recruits::before {
    content: "모집인원 : ";
  }
  .register-box .register-list .desc .table-wrap .list-row .available {
    text-align: left;
    width: 100%;
    order: 6;
  }
  .register-box .register-list .desc .table-wrap .list-row .available::before {
    content: "가능인원 : ";
  }
  .register-box .register-list .desc .table-wrap .list-row .state {
    width: auto;
  }
  .register-box .register-list .desc .info-txt {
    font-size: 12px;
    line-height: 17px;
  }
  .supervisor-wrap .tab-list {
    margin: 30px -16px;
  }
}
@media (max-width: 768px) {
  .member-wrap .join-top .step-list {
    justify-content: space-around;
  }
  .member-wrap .join-top .step-list li.on .txt, .member-wrap .join-top .step-list li.on .document-wrap .document-btm .date, .document-wrap .document-btm .member-wrap .join-top .step-list li.on .date {
    font-weight: 600;
  }
  .member-wrap .join-top .step-list li.line {
    margin-top: 50px;
    width: 10px;
  }
  .member-wrap .join-top .step-list .txt, .member-wrap .join-top .step-list .document-wrap .document-btm .date, .document-wrap .document-btm .member-wrap .join-top .step-list .date {
    margin: 10px 0 0;
    font-size: 14px;
  }
  .register-box .register-list .desc .table-wrap .list-row {
    width: 100%;
  }
}