@charset "UTF-8";
.register-box {
  display: flex;
  gap: 12px;
  margin-top: 40px;
}
.register-box .register-list {
  flex: 1;
  border: 1px solid #ddd;
}
.register-box .register-list.on {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.0705882353);
  border: 2px solid #3090d6;
}
.register-box .register-list.on .tit {
  font-weight: 600;
}
.register-box .register-list:last-child {
  flex: 0 0 40%;
}
.register-box .register-list .tit {
  text-align: center;
  background-color: #f5f9fc;
  padding: 20px 0;
  font-size: 18px;
  line-height: 21px;
}
.register-box .register-list .tit span {
  font-family: "Montserrat", sans-serif;
}
.register-box .register-list .desc {
  padding: 30px 20px;
  min-height: 478px;
}
.register-box .register-list .desc .place-list li + li {
  margin-top: 14px;
}
.register-box .register-list .desc .place-list .radiobox label {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 12px;
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.register-box .register-list .desc .place-list .radiobox label::before {
  position: initial;
  margin: 0;
}
.register-box .register-list .desc .place-list .radiobox input[type=radio]:checked ~ label {
  border: 1px solid #0b248d;
  background: rgba(2, 79, 196, 0.1215686275);
  color: #024fc4;
}
.register-box .register-list .desc .place-list .radiobox input[disabled] ~ label {
  border-color: #f5f5f5;
  background: #f5f5f5;
  color: #b2b2b2;
}
.register-box .register-list .desc .place-list .radiobox input[disabled] ~ label::before {
  background: #f5f5f5;
}
.register-box .register-list .desc .selectlist {
  display: flex;
  margin-top: 14px;
}
.register-box .register-list .desc .selectlist p {
  margin-right: 18px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.register-box .register-list .desc .selectlist p .square {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 6px;
}
.register-box .register-list .desc .selectlist p .square.today {
  background-color: #576fec;
}
.register-box .register-list .desc .selectlist p .square.testday {
  background-color: #e7e9f5;
}
.register-box .register-list .desc .selectlist p .square.selectday {
  background-color: #0b248d;
}
.register-box .register-list .desc .datebox {
  background: #f5f5f5;
  padding: 16px 14px;
}
.register-box .register-list .desc .datebox .date-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
  line-height: 19px;
}
.register-box .register-list .desc .datebox .date-list + .date-list {
  margin-top: 12px;
}
.register-box .register-list .desc .datebox .date-list .datebox-tit {
  flex: 0 0 auto;
  color: #555;
}
.register-box .register-list .desc .datebox .date-list .datebox-desc {
  font-weight: 600;
  font-size: 16px;
}
.register-box .register-list .desc .table-wrap {
  margin-top: 24px;
}
.register-box .register-list .desc .table-wrap .ing {
  color: #024fc4;
}
.register-box .register-list .desc .table-wrap .end {
  color: #f50e0e;
}
.register-box .register-list .desc .table-wrap .list-row .select {
  width: 44px;
}
.register-box .register-list .desc .table-wrap .list-row .select .radiobox label {
  width: 22px;
  height: 22px;
  padding-left: 22px;
}
.register-box .register-list .desc .table-wrap .list-row .select .radiobox label::before {
  margin-top: -11px;
}
.register-box .register-list .desc .table-wrap .list-row .round {
  width: 50px;
}
.register-box .register-list .desc .table-wrap .list-row .time {
  width: 28%;
}
.register-box .register-list .desc .table-wrap .list-row .state {
  width: 74px;
}
.register-box .register-list .desc .info-txt {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: -12px;
}

.calendar_box {
  margin-top: 16px;
}
.calendar_box .clndr-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.calendar_box .clndr-controls .month {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.calendar_box .clndr-controls .clndr-previous-button, .calendar_box .clndr-controls .clndr-next-button {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/common/ico_calendar_prev.svg) no-repeat center;
  font-size: 0;
  cursor: pointer;
}
.calendar_box .clndr-controls .clndr-next-button {
  background-image: url(../images/common/ico_calendar_next.svg);
}
.calendar_box .clndr .clndr-table {
  width: 100%;
  text-align: center;
  margin-top: 24px;
}
.calendar_box .clndr .header-day {
  font-weight: 400;
  font-size: 16px;
  padding: 0 0 14px;
}
.calendar_box .clndr table tr th:first-child {
  color: #ff3434;
}
.calendar_box .clndr table tr th:last-child {
  color: #2251a8;
}
.calendar_box .clndr table tr td:first-child .day-contents {
  color: #ff3434;
}
.calendar_box .clndr table tr td:last-child .day-contents {
  color: #2251a8;
}
.calendar_box .clndr table td {
  border: 1px solid #ddd;
  width: 14.2857142857%;
  height: 43px;
  vertical-align: middle;
}
.calendar_box .clndr table td button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.calendar_box .clndr table td .day-contents {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #555;
  line-height: 1;
}
.calendar_box .clndr table td.today button {
  background: #576fec;
}
.calendar_box .clndr table td.today .day-contents {
  color: #fff;
}
.calendar_box .clndr table td.selectday button {
  background: #0b248d;
}
.calendar_box .clndr table td.selectday .day-contents {
  color: #fff;
}
.calendar_box .clndr table td.testday button {
  background: #e7e9f5;
}
.calendar_box .clndr table td.testday .day-contents {
  color: #0b248d;
}
.calendar_box .clndr table td.last-month, .calendar_box .clndr table td.next-month {
  background: #fff !important;
}
.calendar_box .clndr table td.last-month *, .calendar_box .clndr table td.next-month * {
  display: none;
}
.calendar_box .clndr table td div {
  line-height: 1;
}

@media (max-width: 1240px) {
  .register-box {
    flex-direction: column;
    margin-top: 32px;
    gap: 24px;
  }
  .register-box .register-list .tit {
    padding: 16px 0;
    font-size: 16px;
  }
  .register-box .register-list .desc {
    padding: 20px 12px;
    min-height: 168px;
  }
  .register-box .register-list .desc .place-list li + li {
    margin-top: 12px;
  }
  .register-box .register-list .desc .place-list .radiobox label {
    gap: 8px;
    height: 48px;
    font-size: 13px;
  }
  .register-box .register-list .desc .table-wrap .ing,
  .register-box .register-list .desc .table-wrap .end {
    color: #555;
  }
  .register-box .register-list .desc .table-wrap .table-head {
    display: none;
  }
  .register-box .register-list .desc .table-wrap .table-body {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .register-box .register-list .desc .table-wrap .list-row {
    width: calc(50% - 6px);
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 16px 12px;
    padding-left: 50px;
  }
  .register-box .register-list .desc .table-wrap .list-row.type-empty {
    width: 100%;
    justify-content: center;
    padding: 50px 12px;
    border: 0;
  }
  .register-box .register-list .desc .table-wrap .list-row.type-empty div {
    padding-top: 62px;
    background: url("../images/common/ico/empty.svg") no-repeat top center;
  }
  .register-box .register-list .desc .table-wrap .list-row > div {
    height: auto;
    border: 0;
    padding: 0;
  }
  .register-box .register-list .desc .table-wrap .list-row .select {
    width: auto;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .register-box .register-list .desc .table-wrap .list-row .round,
  .register-box .register-list .desc .table-wrap .list-row .time {
    width: auto;
  }
  .register-box .register-list .desc .table-wrap .list-row .round,
  .register-box .register-list .desc .table-wrap .list-row .time {
    position: relative;
    margin-right: 8px;
    padding-right: 8px;
  }
  .register-box .register-list .desc .table-wrap .list-row .round::after,
  .register-box .register-list .desc .table-wrap .list-row .time::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background: #d3d3d3;
    position: absolute;
    right: 0;
    top: 7px;
  }
  .register-box .register-list .desc .table-wrap .list-row .recruits {
    text-align: left;
    width: 100%;
    order: 5;
  }
  .register-box .register-list .desc .table-wrap .list-row .recruits::before {
    content: "모집인원 : ";
  }
  .register-box .register-list .desc .table-wrap .list-row .available {
    text-align: left;
    width: 100%;
    order: 6;
  }
  .register-box .register-list .desc .table-wrap .list-row .available::before {
    content: "가능인원 : ";
  }
  .register-box .register-list .desc .table-wrap .list-row .state {
    width: auto;
  }
  .register-box .register-list .desc .info-txt {
    font-size: 12px;
    line-height: 17px;
  }
}
@media (max-width: 768px) {
  .register-box .register-list .desc .table-wrap .list-row {
    width: 100%;
  }
}