@import "./utility.scss";

// 회원가입
.member-wrap {
    .join-wrap {
        .w-set {
            &.type-s {
                max-width: 494px;
                margin: 0 auto;
            }
        }
    }
    .join-top {
        .step-list {
            margin-top: 60px;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                &.on {
                    .num {
                        background: #111e55;
                    }
                    .txt {
                        font-weight: 700;
                        color: #111e55;
                    }
                }
                &.line {
                    display: block;
                    width: 16px;
                    height: 4px;
                    background: url("../images/common/img/register_line.svg") no-repeat center;
                    background-size: 100% 100%;
                }
            }
            .num {
                display: inline-block;
                width: 34px;
                height: 34px;
                line-height: 34px;
                border-radius: 50%;
                background: #ddd;
                font-family: $mont;
                font-weight: 600;
                font-size: 14px;
                color: #fff;
                text-align: center;
            }
            .txt {
                margin-left: 6px;
                font-size: 18px;
                color: #b2b2b2;
            }
        }
    }
}

// 팝업
.wbz-popup-cont {
    .password-wrap {
        .input-wrap {
            margin-top: 20px;
            width: 100%;
            input {
                text-align: center;
            }
        }
    }
    .withdrawal-wrap {
        margin-top: 40px;
        .input-wrap {
            textarea {
                border-radius: 0;
                height: 360px;
                padding: 20px;
            }
        }
    }
    .refund-wrap {
        // 테이블
        .table-wrap {
            margin-top: 26px;
            .table-top {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 0 0 15px;
                border: 0;
            }
            .table-body {
                .list-row {
                    &:last-child {
                        border-bottom: 1px solid #d3d3d3;
                    }
                }
            }
            .list-row {
                display: table;
                width: 100%;
                table-layout: fixed;
                &.table-title {
                    color: #fff;
                    font-size: 14px;
                    & > div {
                        text-align: center;
                        background: #555;
                    }
                }
                & > div {
                    border: solid #d3d3d3;
                    border-width: 1px 0 0 1px;
                    font-size: 15px;
                    display: table-cell;
                    text-align: center;
                    padding: 12px 20px;
                    height: 42px;
                    vertical-align: middle;
                    &:last-child {
                        border-right: 1px solid #d3d3d3;
                    }
                }
                .criteria {
                    background: #f5f9fc;
                }
                .amount {
                    text-align: left;
                }
            }
        }
    }
    .logout-wrap {
        margin-top: 26px;
        padding: 20px 0;
        background: #f5f9fc;
        text-align: center;
        .txt {
            font-size: 16px;
        }
        .time {
            padding-top: 10px;
            font-weight: 600;
            font-size: 18px;
        }
    }
}

// pdf
.document-wrap {
    .document-top {
        background-color: #222;
        padding: 21px 0;
        position: relative;
        height: 70px;
        .btn-back {
            font-size: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 70px;
            height: 100%;
            background: url("../images/common/ico/document_btn_back.svg") no-repeat center;
            border-right: 1px solid rgba(255, 255, 255, 0.44);
        }
        .btn-pdf {
            font-size: 18px;
            color: #fff;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            padding: 0 50px;
            border-left: 1px solid rgba(255, 255, 255, 0.44);
        }
    }
    .page {
        max-width: 1300px;
        margin: 0 auto;
    }
    .document-cont {
        .num-list {
            p {
                font-size: 15px;
                line-height: 18px;
                & + p {
                    padding-top: 12px;
                }
            }
        }
        .tit {
            font-weight: 700;
            font-size: 26px;
            display: block;
            text-align: center;
            padding-bottom: 60px;
        }
        // 테이블
        .table-wrap {
            table {
                width: 100%;
                border: 1px solid #d3d3d3;
                border-bottom: 0px none;
                th,
                td {
                    font-size: 15px;
                    padding: 6px;
                    height: 54px;
                    text-align: center;
                }
                th {
                    background-color: #f6f6f6;
                    font-weight: 400;
                    border: 1px solid #d3d3d3;
                    border-top-width: 0;
                }
                td {
                    background-color: #fff;
                    border: solid #d3d3d3;
                    border-width: 0 1px 1px 0;
                }
            }
        }
    }
    .document-btm {
        padding-top: 100px;
        text-align: center;
        .txt {
            font-weight: 500;
            font-size: 16px;
        }
        .date {
            @extend .txt;
            padding-top: 16px;
        }
        .seal-area {
            margin-top: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 16px;
            .kiiptest {
                padding-left: 12px;
                font-size: 20px;
            }
            img {
                margin-left: 8px;
            }
        }
    }
    .caution-wrap {
        margin-top: 80px;
        padding-top: 60px;
        border-top: 1px dashed #b2b2b2;
        .tit {
            font-weight: 700;
            font-size: 20px;
            display: block;
            text-align: center;
        }
        .caution-box {
            margin-top: 40px;
            padding: 30px;
            background: #f5f9fc;
            p {
                font-size: 15px;
                line-height: 28px;
            }
        }
    }
    .map-wrap {
        margin-top: 40px;
        background: #ddd;
        &::before {
            content: "";
            display: block;
            padding-bottom: 38.31%;
        }
    }
    .career-wrap {
        padding: 50px 0 120px;
        .tit {
            margin-top: 26px;
        }
        .table-wrap {
            & + .table-wrap {
                margin-top: 50px;
            }
        }
    }
    .mytest-wrap {
        padding: 80px 0 200px;
    }
    .certificate-wrap {
        margin: 100px 0 120px;
        padding: 40px 40px 120px;
        border: 1px solid #222;
        .document-cont {
            .num-list {
                p {
                    font-size: 18px;
                }
            }
            .tit {
                padding-top: 18px;
                padding-bottom: 100px;
                font-size: 60px;
            }
            .myinfo {
                margin-left: auto;
                max-width: 236px;
                dl {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 20px;
                    & + dl {
                        padding-top: 10px;
                    }
                    dt {
                        font-weight: 500;
                    }
                }
            }
            .txt {
                padding-top: 276px;
                text-align: center;
                font-weight: 500;
                font-size: 24px;
            }
            .date {
                padding-top: 50px;
                text-align: center;
                font-weight: 500;
                font-size: 24px;
            }
        }
        .document-btm {
            padding-top: 440px;
            font-size: 16px;
            .kiiptest {
                padding: 6px 0 0;
                display: block;
                font-size: 36px;
            }
            img {
                margin-left: 12px;
            }
        }
    }
}

.register-box {
    display: flex;
    gap: 12px;
    margin-top: 40px;
    .register-list {
        flex: 1;
        border: 1px solid #ddd;
        &.on {
            box-shadow: 0px 3px 12px #00000012;
            border: 2px solid #3090d6;
            .tit {
                font-weight: 600;
            }
        }
        &:last-child {
            flex: 0 0 40%;
        }
        .tit {
            text-align: center;
            background-color: #f5f9fc;
            padding: 20px 0;
            font-size: 18px;
            line-height: 21px;
            span {
                font-family: $mont;
            }
        }
        .desc {
            padding: 30px 20px;
            min-height: 478px;
            .place-list {
                li {
                    & + li {
                        margin-top: 14px;
                    }
                }
                .radiobox {
                    label {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        padding: 14px 12px;
                        width: 100%;
                        height: 50px;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        &::before {
                            position: initial;
                            margin: 0;
                        }
                    }
                    input[type="radio"]:checked ~ label {
                        border: 1px solid #0b248d;
                        background: #024fc41f;
                        color: $primary-color1;
                    }
                    input[disabled] ~ label {
                        border-color: #f5f5f5;
                        background: #f5f5f5;
                        color: #b2b2b2;
                        &::before {
                            background: #f5f5f5;
                        }
                    }
                }
            }
            .selectlist {
                display: flex;
                margin-top: 14px;
                p {
                    margin-right: 18px;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    .square {
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                        margin-right: 6px;
                        &.today {
                            background-color: #576fec;
                        }
                        &.testday {
                            background-color: #e7e9f5;
                        }
                        &.selectday {
                            background-color: #0b248d;
                        }
                    }
                }
            }
            .datebox {
                background: #f5f5f5;
                padding: 16px 14px;
                .date-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    font-size: 14px;
                    line-height: 19px;
                    & + .date-list {
                        margin-top: 12px;
                    }
                    .datebox-tit {
                        flex: 0 0 auto;
                        color: #555;
                    }
                    .datebox-desc {
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
            .table-wrap {
                margin-top: 24px;
                .ing {
                    color: #024fc4;
                }
                .end {
                    color: #f50e0e;
                }
                .list-row {
                    .select {
                        width: 44px;
                        .radiobox {
                            label {
                                width: 22px;
                                height: 22px;
                                padding-left: 22px;
                                &::before {
                                    margin-top: -11px;
                                }
                            }
                        }
                    }
                    .round {
                        width: 50px;
                    }
                    .time {
                        width: 28%;
                    }
                    .state {
                        width: 74px;
                    }
                }
            }
            .info-txt {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: -12px;
            }
        }
    }
}
.calendar_box {
    margin-top: 16px;
    .clndr-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        .month {
            font-family: $mont;
            font-size: 18px;
        }
        .clndr-previous-button {
            display: block;
            width: 24px;
            height: 24px;
            background: url(../images/common/ico_calendar_prev.svg) no-repeat center;
            font-size: 0;
            cursor: pointer;
        }
        .clndr-next-button {
            @extend .clndr-previous-button;
            background-image: url(../images/common/ico_calendar_next.svg);
        }
    }
    .clndr {
        .clndr-table {
            width: 100%;
            text-align: center;
            margin-top: 24px;
        }
        .header-day {
            font-weight: 400;
            font-size: 16px;
            padding: 0 0 14px;
        }
        table {
            tr {
                th {
                    &:first-child {
                        color: #ff3434;
                    }
                    &:last-child {
                        color: #2251a8;
                    }
                }
                td {
                    &:first-child {
                        .day-contents {
                            color: #ff3434;
                        }
                    }
                    &:last-child {
                        .day-contents {
                            color: #2251a8;
                        }
                    }
                }
            }
            td {
                border: 1px solid #ddd;
                width: calc(100% / 7);
                height: 43px;
                vertical-align: middle;
                button {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
                .day-contents {
                    font-size: 16px;
                    font-family: $mont;
                    color: #555;
                    line-height: 1;
                }
                &.today {
                    button {
                        background: #576fec;
                    }
                    .day-contents {
                        color: #fff;
                    }
                }
                &.selectday {
                    button {
                        background: #0b248d;
                    }
                    .day-contents {
                        color: #fff;
                    }
                }
                &.testday {
                    button {
                        background: #e7e9f5;
                    }
                    .day-contents {
                        color: #0b248d;
                    }
                }
                &.last-month,
                &.next-month {
                    background: #fff !important;
                    * {
                        display: none;
                    }
                }
                div {
                    line-height: 1;
                }
            }
        }
    }
}

// 감독관
.supervisor-wrap {
    .tab-list {
        margin: 60px 0;
    }
}

.sub-content {
    // 테이블
    .table-wrap {
        .list-row {
            .no {
                width: 80px;
            }
            .name {
                width: 140px;
            }
            .birth {
                width: 140px;
            }
            .mobile {
                width: 150px;
            }
            .approval {
                width: 110px;
            }
            .apply,
            .print {
                width: 130px;
                .btn {
                    width: 80px;
                    height: 28px;
                    line-height: 26px;
                    font-size: 14px;
                    &.off {
                        border-color: #ddd;
                        color: #555;
                    }
                }
            }
        }
        .table-body {
            .list-row {
                .name,
                .certi-num {
                    color: #555;
                }
            }
        }
    }
}

@include tablet {
    // 회원가입
    .member-wrap {
        .join-top {
            .step-list {
                align-items: flex-start;
                margin: 30px 0 24px;
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    &.on {
                        .txt {
                            font-weight: 600;
                        }
                    }
                    &.line {
                        margin-top: 54px;
                    }
                }
                .num {
                }
                .txt {
                    margin: 10px 0 0;
                }
            }
        }
    }

    .register-box {
        flex-direction: column;
        margin-top: 32px;
        gap: 24px;
        .register-list {
            .tit {
                padding: 16px 0;
                font-size: 16px;
            }
            .desc {
                padding: 20px 12px;
                min-height: 168px;
                .place-list {
                    li {
                        & + li {
                            margin-top: 12px;
                        }
                    }
                    .radiobox {
                        label {
                            gap: 8px;
                            height: 48px;
                            font-size: 13px;
                        }
                    }
                }
                .table-wrap {
                    .ing,
                    .end {
                        color: #555;
                    }
                    .table-head {
                        display: none;
                    }
                    .table-body {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 12px;
                    }
                    .list-row {
                        width: calc(50% - 6px);
                        position: relative;
                        display: inline-flex;
                        flex-wrap: wrap;
                        border: 1px solid #ddd;
                        padding: 16px 12px;
                        padding-left: 50px;
                        &.type-empty {
                            width: 100%;
                            justify-content: center;
                            padding: 50px 12px;
                            border: 0;
                            div {
                                padding-top: 62px;
                                background: url("../images/common/ico/empty.svg") no-repeat top center;
                            }
                        }
                        & > div {
                            height: auto;
                            border: 0;
                            padding: 0;
                        }
                        .select {
                            width: auto;
                            position: absolute;
                            left: 12px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        .round,
                        .time {
                            width: auto;
                        }
                        .round,
                        .time {
                            position: relative;
                            margin-right: 8px;
                            padding-right: 8px;
                            &::after {
                                content: "";
                                display: inline-block;
                                width: 1px;
                                height: 8px;
                                background: #d3d3d3;
                                position: absolute;
                                right: 0;
                                top: 7px;
                            }
                        }
                        .recruits {
                            text-align: left;
                            width: 100%;
                            order: 5;
                            &::before {
                                content: "모집인원 : ";
                            }
                        }
                        .available {
                            text-align: left;
                            width: 100%;
                            order: 6;
                            &::before {
                                content: "가능인원 : ";
                            }
                        }
                        .state {
                            width: auto;
                        }
                    }
                }
                .info-txt {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
        }
    }

    // 감독관
    .supervisor-wrap {
        .tab-list {
            margin: 30px -16px;
        }
    }
}

@include mobile {
    // 회원가입
    .member-wrap {
        .join-top {
            .step-list {
                justify-content: space-around;
                li {
                    &.on {
                        .txt {
                            font-weight: 600;
                        }
                    }
                    &.line {
                        margin-top: 50px;
                        width: 10px;
                    }
                }
                .num {
                }
                .txt {
                    margin: 10px 0 0;
                    font-size: 14px;
                }
            }
        }
    }

    .register-box {
        .register-list {
            .desc {
                .table-wrap {
                    .list-row {
                        width: 100%;
                    }
                }
            }
        }
    }
}
