@import "./utility.scss";

.register-box {
    display: flex;
    gap: 12px;
    margin-top: 40px;
    .register-list {
        flex: 1;
        border: 1px solid #ddd;
        &.on {
            box-shadow: 0px 3px 12px #00000012;
            border: 2px solid #3090d6;
            .tit {
                font-weight: 600;
            }
        }
        &:last-child {
            flex: 0 0 40%;
        }
        .tit {
            text-align: center;
            background-color: #f5f9fc;
            padding: 20px 0;
            font-size: 18px;
            line-height: 21px;
            span {
                font-family: $mont;
            }
        }
        .desc {
            padding: 30px 20px;
            min-height: 478px;
            .place-list {
                li {
                    & + li {
                        margin-top: 14px;
                    }
                }
                .radiobox {
                    label {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        padding: 14px 12px;
                        width: 100%;
                        height: 50px;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        &::before {
                            position: initial;
                            margin: 0;
                        }
                    }
                    input[type="radio"]:checked ~ label {
                        border: 1px solid #0b248d;
                        background: #024fc41f;
                        color: $primary-color1;
                    }
                    input[disabled] ~ label {
                        border-color: #f5f5f5;
                        background: #f5f5f5;
                        color: #b2b2b2;
                        &::before {
                            background: #f5f5f5;
                        }
                    }
                }
            }
            .selectlist {
                display: flex;
                margin-top: 14px;
                p {
                    margin-right: 18px;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    .square {
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                        margin-right: 6px;
                        &.today {
                            background-color: #576fec;
                        }
                        &.testday {
                            background-color: #e7e9f5;
                        }
                        &.selectday {
                            background-color: #0b248d;
                        }
                    }
                }
            }
            .datebox {
                background: #f5f5f5;
                padding: 16px 14px;
                .date-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    font-size: 14px;
                    line-height: 19px;
                    & + .date-list {
                        margin-top: 12px;
                    }
                    .datebox-tit {
                        flex: 0 0 auto;
                        color: #555;
                    }
                    .datebox-desc {
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
            .table-wrap {
                margin-top: 24px;
                .ing {
                    color: #024fc4;
                }
                .end {
                    color: #f50e0e;
                }
                .list-row {
                    .select {
                        width: 44px;
                        .radiobox {
                            label {
                                width: 22px;
                                height: 22px;
                                padding-left: 22px;
                                &::before {
                                    margin-top: -11px;
                                }
                            }
                        }
                    }
                    .round {
                        width: 50px;
                    }
                    .time {
                        width: 28%;
                    }
                    .state {
                        width: 74px;
                    }
                }
            }
            .info-txt {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: -12px;
            }
        }
    }
}
.calendar_box {
    margin-top: 16px;
    .clndr-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        .month {
            font-family: $mont;
            font-size: 18px;
        }
        .clndr-previous-button {
            display: block;
            width: 24px;
            height: 24px;
            background: url(../images/common/ico_calendar_prev.svg) no-repeat center;
            font-size: 0;
            cursor: pointer;
        }
        .clndr-next-button {
            @extend .clndr-previous-button;
            background-image: url(../images/common/ico_calendar_next.svg);
        }
    }
    .clndr {
        .clndr-table {
            width: 100%;
            text-align: center;
            margin-top: 24px;
        }
        .header-day {
            font-weight: 400;
            font-size: 16px;
            padding: 0 0 14px;
        }
        table {
            tr {
                th {
                    &:first-child {
                        color: #ff3434;
                    }
                    &:last-child {
                        color: #2251a8;
                    }
                }
                td {
                    &:first-child {
                        .day-contents {
                            color: #ff3434;
                        }
                    }
                    &:last-child {
                        .day-contents {
                            color: #2251a8;
                        }
                    }
                }
            }
            td {
                border: 1px solid #ddd;
                width: calc(100% / 7);
                height: 43px;
                vertical-align: middle;
                button {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
                .day-contents {
                    font-size: 16px;
                    font-family: $mont;
                    color: #555;
                    line-height: 1;
                }
                &.today {
                    button {
                        background: #576fec;
                    }
                    .day-contents {
                        color: #fff;
                    }
                }
                &.selectday {
                    button {
                        background: #0b248d;
                    }
                    .day-contents {
                        color: #fff;
                    }
                }
                &.testday {
                    button {
                        background: #e7e9f5;
                    }
                    .day-contents {
                        color: #0b248d;
                    }
                }
                &.last-month,
                &.next-month {
                    background: #fff !important;
                    * {
                        display: none;
                    }
                }
                div {
                    line-height: 1;
                }
            }
        }
    }
}

@include tablet {
    .register-box {
        flex-direction: column;
        margin-top: 32px;
        gap: 24px;
        .register-list {
            .tit {
                padding: 16px 0;
                font-size: 16px;
            }
            .desc {
                padding: 20px 12px;
                min-height: 168px;
                .place-list {
                    li {
                        & + li {
                            margin-top: 12px;
                        }
                    }
                    .radiobox {
                        label {
                            gap: 8px;
                            height: 48px;
                            font-size: 13px;
                        }
                    }
                }
                .table-wrap {
                    .ing,
                    .end {
                        color: #555;
                    }
                    .table-head {
                        display: none;
                    }
                    .table-body {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 12px;
                    }
                    .list-row {
                        width: calc(50% - 6px);
                        position: relative;
                        display: inline-flex;
                        flex-wrap: wrap;
                        border: 1px solid #ddd;
                        padding: 16px 12px;
                        padding-left: 50px;
                        &.type-empty {
                            width: 100%;
                            justify-content: center;
                            padding: 50px 12px;
                            border: 0;
                            div {
                                padding-top: 62px;
                                background: url("../images/common/ico/empty.svg") no-repeat top center;
                            }
                        }
                        & > div {
                            height: auto;
                            border: 0;
                            padding: 0;
                        }
                        .select {
                            width: auto;
                            position: absolute;
                            left: 12px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        .round,
                        .time {
                            width: auto;
                        }
                        .round,
                        .time {
                            position: relative;
                            margin-right: 8px;
                            padding-right: 8px;
                            &::after {
                                content: "";
                                display: inline-block;
                                width: 1px;
                                height: 8px;
                                background: #d3d3d3;
                                position: absolute;
                                right: 0;
                                top: 7px;
                            }
                        }
                        .recruits {
                            text-align: left;
                            width: 100%;
                            order: 5;
                            &::before {
                                content: "모집인원 : ";
                            }
                        }
                        .available {
                            text-align: left;
                            width: 100%;
                            order: 6;
                            &::before {
                                content: "가능인원 : ";
                            }
                        }
                        .state {
                            width: auto;
                        }
                    }
                }
                .info-txt {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
        }
    }
}

@include mobile {
    .register-box {
        .register-list {
            .desc {
                .table-wrap {
                    .list-row {
                        width: 100%;
                    }
                }
            }
        }
    }
}
