#header {
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
#header .inner {
  max-width: 1300px;
  margin: 0 auto;
  height: 84px;
  display: flex;
  align-items: center;
}
#header .hd-logo {
  width: 207px;
  height: 42px;
}
#header .hd-logo .logo-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/common/img/logo.svg") no-repeat center;
  background-size: 100% auto;
}
#header .gnb-wrap {
  margin-left: 112px;
  position: relative;
  height: 100%;
}
#header .gnb-wrap .gnb {
  height: 100%;
}
#header .gnb-wrap .gnb > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
#header .gnb-wrap .gnb > li:hover > a, #header .gnb-wrap .gnb > li.on > a {
  color: #024fc4;
}
#header .gnb-wrap .gnb > li > a {
  height: 100%;
  padding: 32px 32px 0;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  transition: all 0.15s;
}
#header .gnb-wrap .gnb .depth2 {
  position: absolute;
  left: 32px;
  top: 0;
  width: 100%;
  opacity: 0;
  display: none;
  padding-top: 17px;
  position: relative;
  z-index: 110;
  transition: all 0.35s;
}
#header .gnb-wrap .gnb .depth2.on {
  opacity: 1;
  display: block;
}
#header .gnb-wrap .gnb .depth2 li a {
  display: block;
  padding: 8px 0;
  font-size: 16px;
  transition: all 0.15s;
}
#header .gnb-wrap .gnb .depth2 li a:hover, #header .gnb-wrap .gnb .depth2 li a.on {
  color: #024fc4;
}
#header .gnb-wrap .gnb .depth3 li a {
  position: relative;
  color: #555;
  padding: 5px 0 5px 16px;
}
#header .gnb-wrap .gnb .depth3 li a::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #555;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
#header .gnb-wrap .gnb .depth3 li:first-child a {
  padding-top: 2px;
}
#header .gnb-wrap .gnb .depth3 li:last-child a {
  padding-bottom: 8px;
}
#header .gnb-wrap .gnb-bg {
  opacity: 0;
}
#header .gnb-wrap .gnb-bg.on {
  position: absolute;
  left: -100vw;
  top: 85px;
  width: 200vw;
  height: 334px;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.0588235294);
  transition: all 0.35s;
  z-index: 100;
}
#header .hd-utils {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 0;
}
#header .hd-utils .login {
  background: #fff;
  width: 80px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #3090D6;
  border-radius: 6px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #3090D6;
}
#header .hd-utils .logout {
  padding: 0 14px;
  background: #fff;
  width: 148px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #121212;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #121212;
  display: flex;
  justify-content: space-between;
}
#header .hd-utils .logout .time {
  color: #024fc4;
  padding-left: 21px;
  background: url("../images/common/ico/hd_time.svg") no-repeat left center;
}
#header .hd-utils .notify {
  display: block;
  width: 42px;
  height: 42px;
  background: url("../images/common/ico/hd_notify.svg") no-repeat center;
  margin-left: 15px;
}
#header .hd-utils .notify.on {
  position: relative;
}
#header .hd-utils .notify.on::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #024fc4;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: absolute;
  right: 7px;
  top: 8px;
}
#header .hd-utils .hd_lang {
  position: relative;
  margin-left: 2px;
}
#header .hd-utils .hd_lang .btn_lang {
  display: inline-block;
  width: 43px;
  height: 43px;
  background: url("../images/common/ico/hd_lang.svg") no-repeat center;
  position: relative;
}
#header .hd-utils .hd_lang .btn_lang .txt {
  position: absolute;
  left: 18px;
  bottom: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #222;
}
#header .hd-utils .hd_lang .btn_lang.on::after {
  transform: scaleY(-1);
}
#header .hd-utils .hd_lang .btn_lang::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url("../images/common/ico/hd_lang_arr.svg") no-repeat center;
  position: absolute;
  right: -5px;
  transition: all 0.35s;
}
#header .hd-utils .hd_lang .pop_dropdown {
  display: none;
  position: absolute;
  z-index: 1000;
  top: calc(100% + 2px);
  left: 0;
  width: auto;
  min-width: 120px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  padding: 6px 0;
}
#header .hd-utils .hd_lang .pop_dropdown .pop_dropdown_btn {
  display: block;
  padding: 6px 16px;
  font-size: 14px;
  color: #555;
}
#header .hd-utils .hd_lang .pop_dropdown .pop_dropdown_btn:hover, #header .hd-utils .hd_lang .pop_dropdown .pop_dropdown_btn.on {
  color: #3090D6;
}
#header .header-mobile {
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 50px 0 40px;
}
#header .header-mobile .hd-center .title {
  font-size: 18px;
  font-weight: 500;
}
#header .header-mobile .hd-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
#header .header-mobile .hd-left .btn_back {
  display: block;
  width: 42px;
  height: 100%;
  font-size: 0;
  background-image: url("../images/common/ico/btn_hd_back.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 16px;
}
.aside-bg {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.63;
}
.aside-bg.on {
  display: block;
}

#aside-menu {
  display: none;
  position: fixed;
  z-index: 100000;
  top: 0;
  right: -360px;
  width: 100%;
  height: 100%;
  max-width: 360px;
  background: #fff;
  transition: 0.3s;
}
#aside-menu.on {
  right: 0;
}
#aside-menu .aside-header {
  position: relative;
  padding: 20px 16px;
}
#aside-menu .aside-header .is-non-member {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
}
#aside-menu .aside-header .is-non-member a {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  padding-right: 20px;
}
#aside-menu .aside-header .is-non-member a::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/common/ico/ico_aside_login.svg") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#aside-menu .aside-header .member-info {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 46px 20px 18px;
}
#aside-menu .aside-header .member-info .name {
  font-size: 14px;
}
#aside-menu .aside-header .member-info .point {
  font-size: 14px;
}
#aside-menu .aside-header .link {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  position: relative;
}
#aside-menu .aside-header .link i {
  display: block;
  margin: 0 auto;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 4px;
}
#aside-menu .aside-header .link.login.on i {
  background-color: #024fc4;
  background-image: url("../images/common/ico/hd_util_logout.svg");
}
#aside-menu .aside-header .link.login i {
  background-image: url("../images/common/ico/hd_util_login.svg");
}
#aside-menu .aside-header .link.join {
  margin-left: 20px;
}
#aside-menu .aside-header .link.join i {
  background-image: url("../images/common/ico/hd_util_join.svg");
}
#aside-menu .aside-header .link.my {
  margin-left: 21px;
}
#aside-menu .aside-header .link.my i {
  background-image: url("../images/common/ico/hd_util_my.svg");
}
#aside-menu .aside-header .link.notify {
  margin-left: 21px;
}
#aside-menu .aside-header .link.notify.on::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#aside-menu .aside-header .link.notify i {
  background-image: url("../images/common/ico/hd_util_notify.svg");
}
#aside-menu .aside-header .aside-close {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  background: url("../images/common/ico/aside_close.svg") no-repeat center center;
  font-size: 0;
}
#aside-menu .aside-body {
  border-top: 10px solid #f9f9f9;
  height: calc(100% - 120px);
  overflow-x: auto;
}
#aside-menu .aside-body::-webkit-scrollbar {
  width: 10px;
  background: none;
}
#aside-menu .aside-body::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 4px;
  background: #d3d3d3;
}
#aside-menu .aside-body .aside-btn {
  margin: 0 -12px 10px;
  display: flex;
}
#aside-menu .aside-body .aside-btn .btn {
  width: 50%;
  height: 34px;
  line-height: 32px;
  border-radius: 0;
  border: 0;
  font-size: 13px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.34);
}
#aside-menu .aside-body .aside-btn .btn + .btn {
  position: relative;
}
#aside-menu .aside-body .aside-btn .btn + .btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #fff;
}
#aside-menu .aside-body .aside-menu .dep1 > a {
  display: block;
  position: relative;
  padding: 18px 30px 18px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
#aside-menu .aside-body .aside-menu .dep1.has-child > a:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -5px;
  width: 14px;
  height: 7px;
  background: url("../images/common/ico/arrow_down.svg") no-repeat center center;
  background-size: 100% auto;
  transition: 0.3s;
}
#aside-menu .aside-body .aside-menu .dep1.on > a:after {
  transform: scaleY(-1);
}
#aside-menu .aside-body .aside-menu .dep1.on .dep2 {
  height: auto;
}
#aside-menu .aside-body .aside-menu .dep2 {
  background: #f9f9f9;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}
#aside-menu .aside-body .aside-menu .dep2 .dep2-space {
  padding: 10px 0 10px 15px;
}
#aside-menu .aside-body .aside-menu .dep2 .dep2-space > a {
  display: block;
  font-size: 14px;
  line-height: 19px;
  padding-left: 6px;
  position: relative;
}
#aside-menu .aside-body .aside-menu .dep2 .dep2-space > a + a {
  margin-top: 14px;
}
#aside-menu .aside-body .aside-menu .dep2 .dep2-space > a::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #222;
  position: absolute;
  left: 0;
  top: 9px;
}

#footer {
  background: #222227;
  padding: 32px 0 46px;
}
#footer .ft-logo {
  width: 154px;
  height: 27px;
}
#footer .ft-logo .logo-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/common/img/logo_ft.svg") no-repeat center;
  background-size: 100% auto;
}
#footer .ft-btm {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin: 20px 0 0;
  padding: 18px 0 0;
  font-size: 14px;
  line-height: 1.2;
  color: #999;
}
#footer .ft-btm .copyright {
  padding-top: 36px;
}

.go-top {
  position: fixed;
  z-index: 9999;
  right: 5%;
  bottom: 250px;
  font-size: 0;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0 none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background: #fff url("../images/common/ico/btn_top.svg") no-repeat center center;
  background-position: top 12px center;
  transition: 0.3s;
  opacity: 0;
  display: none;
}
.go-top::after {
  content: "TOP";
  display: block;
  padding-top: 26px;
  font-weight: 500;
  font-size: 12px;
  color: #666;
}
.go-top.show {
  display: block;
}
.go-top.show2 {
  opacity: 1;
}

@media (max-width: 1300px) {
  #header .inner {
    flex-wrap: wrap;
    align-items: center;
  }
  #header .gnb {
    order: 4;
    width: 100%;
    flex: 0 0 auto;
    overflow-x: auto;
    margin-left: 0;
    gap: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #header .gnb::-webkit-scrollbar {
    display: none;
  }
  #header .gnb > li {
    width: auto;
    flex: 0 0 auto;
  }
  #header .gnb > li > a {
    padding: 16px 0 14px;
    font-weight: 400;
    font-size: 16px;
  }
  #header .gnb > li > a::after {
    content: none;
  }
  #header .hd-utils {
    margin: 0 0 0 auto;
  }
  #header .hd-utils .link {
    font-size: 0;
    display: none;
  }
  #header .hd-utils .link i {
    width: 32px;
    height: 32px;
    margin-bottom: 0;
  }
  #header .hd-utils .link.notify {
    display: block;
    margin-left: 0;
  }
  #header .hd-utils .link.notify.on::after {
    width: 8px;
    height: 8px;
  }
  #header .btn-menu {
    margin-left: 15px;
    width: 20px;
    height: 20px;
    background: url("../images/common/ico/hd_btn_menu.svg") no-repeat center;
  }
  #aside-menu {
    display: block;
  }
  #footer .ft-top .w-set {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  #footer .ft-top .w-set .ft-link {
    width: 100%;
    padding: 16px;
    background: #f9f9f9;
  }
  #footer .ft-top .w-set .ft-link a + a {
    margin-left: 35px;
  }
  #footer .ft-top .w-set .ft-link a + a::after {
    content: none;
  }
  #footer .ft-top .w-set .ft-family {
    width: 100%;
  }
  #footer .ft-top .w-set .ft-family .tab {
    width: 100%;
  }
  #footer .ft-btm {
    padding: 20px 0 56px;
    font-size: 13px;
    color: #666;
  }
  #footer .ft-btm br {
    display: block;
  }
  #footer .ft-btm .copyright {
    padding-top: 16px;
  }
}