@charset "UTF-8";
#header {
  position: relative;
  /* border-bottom: 1px solid #e0e0e0; */
  background: #fff;
}
#header .inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 84px;
  display: flex;
  align-items: center;
}
#header .hd-logo {
  width: 207px;
  height: 42px;
}
#header .hd-logo .logo-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/common/img/logo.svg") no-repeat center;
  background-size: 100% auto;
}
#header .gnb-wrap {
  margin: 0 auto;
  position: relative;
  height: 100%;
}
#header .gnb-wrap .gnb {
  height: 100%;
}
#header .gnb-wrap .gnb > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
#header .gnb-wrap .gnb > li:hover > a, #header .gnb-wrap .gnb > li.on > a {
  color: #024fc4;
}
#header .gnb-wrap .gnb > li > a {
  height: 100%;
  padding: 32px 27px 0;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  transition: all 0.15s;
}
#header .gnb-wrap .gnb .depth2 {
  position: absolute;
  left: 32px;
  top: 0;
  width: 100%;
  opacity: 0;
  display: none;
  padding-top: 17px;
  position: relative;
  z-index: 110;
  transition: all 0.35s;
}
#header .gnb-wrap .gnb .depth2.on {
  opacity: 1;
  display: block;
}
#header .gnb-wrap .gnb .depth2 li a {
  display: block;
  padding: 8px 0;
  font-size: 16px;
  transition: all 0.15s;
}
#header .gnb-wrap .gnb .depth2 li a:hover, #header .gnb-wrap .gnb .depth2 li a.on {
  color: #024fc4;
}
#header .gnb-wrap .gnb .depth3 li a {
  position: relative;
  color: #555;
  padding: 5px 0 5px 16px;
}
#header .gnb-wrap .gnb .depth3 li a::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #555;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
#header .gnb-wrap .gnb .depth3 li:first-child a {
  padding-top: 2px;
}
#header .gnb-wrap .gnb .depth3 li:last-child a {
  padding-bottom: 8px;
}
#header .gnb-wrap .gnb-bg {
  opacity: 0;
}
#header .gnb-wrap .gnb-bg.on {
  position: absolute;
  left: -100vw;
  top: 85px;
  width: 200vw;
  height: 334px;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.0588235294);
  transition: all 0.35s;
  z-index: 100;
}
#header .hd-utils {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 0;
}
#header .hd-utils .login {
  background: #fff;
  width: 80px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #3090d6;
  border-radius: 6px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #3090d6;
  margin-right: 16px;
}
#header .hd-utils .logout {
  padding: 0 14px;
  background: #fff;
  width: 148px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #121212;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #121212;
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
}
#header .hd-utils .logout .time {
  font-family: "Montserrat", sans-serif;
  color: #024fc4;
  padding-left: 21px;
  background: url("../images/common/ico/hd_time.svg") no-repeat left center;
}
#header .hd-utils .notify, #header .hd-utils .history {
  display: block;
  width: 42px;
  height: 42px;
  background: url("../images/common/ico/hd_notify.svg") no-repeat center;
  margin-left: 2px;
}
#header .hd-utils .notify.on, #header .hd-utils .on.history {
  position: relative;
}
#header .hd-utils .notify.on::after, #header .hd-utils .on.history::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #024fc4;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: absolute;
  right: 7px;
  top: 8px;
}
#header .hd-utils .history {
  background-image: url("../images/common/ico/hd_history.svg");
}
#header .hd-utils .hd_lang {
  position: relative;
  margin-left: 2px;
}
#header .hd-utils .hd_lang .btn_lang {
  display: inline-block;
  width: 43px;
  height: 43px;
  background: url("../images/common/ico/hd_lang.svg") no-repeat center;
  position: relative;
}
#header .hd-utils .hd_lang .btn_lang .txt {
  position: absolute;
  left: 18px;
  bottom: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #222;
}
#header .hd-utils .hd_lang .btn_lang.on::after {
  transform: scaleY(-1);
}
#header .hd-utils .hd_lang .btn_lang::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url("../images/common/ico/hd_lang_arrow.svg") no-repeat center;
  position: absolute;
  right: -5px;
  transition: all 0.35s;
}
#header .hd-utils .hd_lang .pop_dropdown {
  display: none;
  position: absolute;
  z-index: 1000;
  top: calc(100% + 2px);
  left: 0;
  width: auto;
  min-width: 120px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  padding: 6px 0;
}
#header .hd-utils .hd_lang .pop_dropdown .pop_dropdown_btn {
  display: block;
  padding: 6px 16px;
  font-size: 14px;
  color: #555;
}
#header .hd-utils .hd_lang .pop_dropdown .pop_dropdown_btn:hover, #header .hd-utils .hd_lang .pop_dropdown .pop_dropdown_btn.on {
  color: #3090d6;
}
#header .header-mobile {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 50px 0 40px;
}
#header .header-mobile .hd-center .title {
  font-size: 18px;
  font-weight: 600;
}
#header .header-mobile .hd-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
#header .header-mobile .hd-left .btn_back {
  display: block;
  width: 42px;
  height: 100%;
  font-size: 0;
  background-image: url("../images/common/ico/btn_hd_back.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 16px;
}
.aside-bg {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.63;
}
.aside-bg.on {
  display: block;
}

#aside-menu {
  display: none;
  position: fixed;
  z-index: 100000;
  top: 0;
  right: -360px;
  width: 100%;
  height: 100%;
  max-width: 360px;
  background: #fff;
  transition: 0.3s;
}
#aside-menu.on {
  right: 0;
}
#aside-menu .aside-header {
  position: relative;
  padding: 14px 16px 16px;
}
#aside-menu .aside-header .login {
  display: block;
  width: 100%;
  max-width: 104px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #121212;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
}
#aside-menu .aside-header .login::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url("../images/common/ico/aside_login.svg") no-repeat center;
  margin: 0 8px -3px 0;
}
#aside-menu .aside-header .member-info {
  padding-top: 10px;
  font-size: 18px;
}
#aside-menu .aside-header .member-info .name {
  font-weight: 500;
}
#aside-menu .aside-header .aside-btn {
  margin-top: 23px;
}
#aside-menu .aside-header .aside-btn .login {
  max-width: 100%;
}
#aside-menu .aside-header .aside-close {
  position: absolute;
  top: 26px;
  right: 16px;
  width: 18px;
  height: 18px;
  background: url("../images/common/ico/aside_close.svg") no-repeat center center;
  font-size: 0;
}
#aside-menu .aside-body {
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  height: calc(100% - 130px);
  overflow-y: auto;
}
#aside-menu .aside-body::-webkit-scrollbar {
  width: 3px;
  background: none;
}
#aside-menu .aside-body::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 2px;
  background: #e5e5e5;
}
#aside-menu .aside-body .aside-menu {
  position: relative;
  height: 100%;
  padding-top: 12px;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth1.on h2 {
  background: #024fc4 url("../images/common/ico/aside_depth1.svg") no-repeat right 16px center;
  color: #fff;
  width: 160px;
  position: relative;
  z-index: 10;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth1.on .depth2-list {
  display: block;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth1 h2 {
  font-weight: 500;
  font-size: 16px;
  padding: 16px;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth2-list {
  display: none;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 212px;
  height: 100% !important;
  padding: 12px 16px 0 30px;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth2-list .depth2 + .depth2 {
  border-top: 1px solid #eee;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth2-list .depth2.has-child > a {
  background: none;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth2-list .depth2 a {
  display: block;
  padding: 14px 0;
  font-size: 15px;
  background: url("../images/common/ico/aside_depth2.svg") no-repeat right center;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth3-list .depth3:first-child {
  margin-top: -5px;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth3-list .depth3:last-child {
  margin-bottom: 9px;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth3-list .depth3 a {
  padding: 5px 0 5px 10px;
  font-size: 13px;
  position: relative;
  background-size: 4px;
}
#aside-menu .aside-body .aside-menu .depth1-list .depth3-list .depth3 a::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #b2b2b2;
  position: absolute;
  left: 0;
  top: 13px;
}

#footer {
  background: #222227;
}
#footer .w-set {
  position: relative;
  padding: 32px 0 46px;
}
#footer .link-list {
  position: absolute;
  right: 0;
  top: 100px;
  font-size: 0;
}
#footer .link-list .link {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
#footer .link-list .link + .link {
  margin-left: 22px;
}
#footer .ft-logo {
  width: 154px;
  height: 27px;
}
#footer .ft-logo .logo-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/common/img/logo_ft.svg") no-repeat center;
  background-size: 100% auto;
}
#footer .ft-btm {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin: 20px 0 0;
  padding: 18px 0 0;
  font-size: 14px;
  line-height: 1.2;
  color: #999;
}
#footer .ft-btm .ft-info .txt01 .ceo {
  display: block;
  color: #fff;
  padding-bottom: 12px;
}
#footer .ft-btm .ft-info .txt01 em {
  color: #fff;
}
#footer .ft-btm .ft-info .txt01 .address {
  margin-left: 23px;
}
#footer .ft-btm .ft-info .txt02 {
  padding-top: 12px;
}
#footer .ft-btm .ft-info .txt02 span {
  margin-left: 14px;
}
#footer .ft-btm .ft-info .txt03 {
  padding-top: 14px;
}
#footer .ft-btm .copyright {
  padding-top: 36px;
}

.go-top {
  position: fixed;
  z-index: 9999;
  right: 5%;
  bottom: 150px;
  font-size: 0;
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 0 none;
  background: #0b248d url("../images/common/ico/go_top.svg") no-repeat center center;
  background-position: top 18px center;
  transition: 0.3s;
  opacity: 0;
  display: none;
}
.go-top::after {
  content: "TOP";
  display: block;
  padding-top: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.go-top.show {
  display: block;
}
.go-top.show2 {
  opacity: 1;
}

@media (max-width: 1300px) {
  #header.sub {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  #header .inner {
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
  }
  #header .hd-logo {
    width: 123px;
  }
  #header .gnb-wrap {
    display: none;
  }
  #header .btn-menu {
    margin-left: 15px;
    width: 24px;
    height: 24px;
    background: url("../images/common/ico/hd_btn_menu.svg") no-repeat center;
  }
  #aside-menu {
    display: block;
  }
  #footer .w-set {
    padding: 58px 16px 60px;
  }
  #footer .ft-logo {
    margin: 0 auto;
  }
  #footer .link-list {
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  #footer .link-list .link {
    font-size: 12px;
  }
  #footer .link-list .link + .link {
    margin-left: 30px;
  }
  #footer .ft-btm {
    padding: 24px 0 0;
    font-size: 12px;
  }
  #footer .ft-btm br {
    display: block;
  }
  #footer .ft-btm .ft-info .txt01 .ceo {
    display: inline-block;
    padding-right: 24px;
    padding-bottom: 10px;
  }
  #footer .ft-btm .ft-info .txt01 .address {
    display: block;
    margin-left: 0;
  }
  #footer .ft-btm .ft-info .txt02 {
    padding-top: 10px;
  }
  #footer .ft-btm .ft-info .txt02 span:last-child {
    display: block;
    margin-left: 0;
    padding-top: 10px;
  }
  #footer .ft-btm .ft-info .txt03 {
    padding-top: 10px;
  }
  #footer .ft-btm .copyright {
    padding-top: 26px;
  }
  .go-top {
    width: 52px;
    height: 52px;
    background-position: top 13px center;
    background-size: 17px auto;
  }
  .go-top::after {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  #header .inner {
    padding: 16px 16px 56px;
  }
  #header .hd-utils .login {
    margin-right: 4px;
    width: auto;
    height: auto;
    border: 0;
  }
  #header .hd-utils .logout {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 24px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
    width: calc(100% - 32px);
    margin: 0 auto;
  }
  #header .hd-utils .logout .txt::before {
    content: "자동 ";
  }
  #header .hd-utils .notify, #header .hd-utils .history {
    width: 30px;
    height: 30px;
    margin-left: 4px;
    background-size: 20px;
  }
  #header .hd-utils .notify.on::after, #header .hd-utils .on.history::after {
    width: 11px;
    height: 11px;
    right: 2px;
    top: 4px;
  }
  #header .hd-utils .history {
    background-size: 34px;
  }
  #header .hd-utils .hd_lang .btn_lang {
    background-size: 34px;
  }
  #header .hd-utils .hd_lang .btn_lang .txt {
    font-size: 10px;
  }
}