@import "./utility.scss";

#container.main {
    #header {
        background: #f7f7f9;
        border-bottom: 0;
    }
}
.main-content {
    background: #f7f7f9;
    padding: 36px 0 120px;
    .main-visual {
        background: url("../images/common/img/main_visual.png"), linear-gradient(0deg, #1057a1 0%, #002762 100%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 56px 80px;
        border-radius: 34px;
        .txt-area {
            .kr {
                font-weight: 700;
                font-size: 36px;
                line-height: 38px;
                color: #fff;
            }
            .en {
                font-family: $mont;
                font-size: 16px;
                line-height: 21px;
                color: #fff;
                padding-top: 14px;
            }
        }
        .link-area {
            display: flex;
            gap: 30px;
            a {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 34px;
                transition: all 0.35s;
                position: relative;
                border: 1px solid transparent;
                font-size: 18px;
                color: #fff;
                text-align: center;
                i {
                    width: 126px;
                    height: 126px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, 0.28) url("../images/common/ico/main_link_1.svg") no-repeat center;
                    transition: all 0.35s;
                }
                @for $i from 0 to 5 {
                    &.link#{$i} {
                        i {
                            background-image: url("../images/common/ico/main_link_#{$i}.svg");
                        }
                    }
                }
                &:hover {
                    i {
                        background-color: #a5adf852;
                    }
                    font-weight: 700;
                }
            }
        }
    }
    .main-cont {
        margin-top: 50px;
        .cont-top {
            display: flex;
            gap: 32px;
        }
        .tab-wrap {
            width: calc(100% - 380px);
            border-radius: 24px;
            overflow: hidden;
            background: #fff;
            padding: 30px 24px;
            box-shadow: 0px 0px 12px #0000000f;
            .tab {
                width: 100%;
                display: flex;
                gap: 12px;
                button {
                    height: 46px;
                    flex: 1;
                    cursor: pointer;
                    color: #3555af;
                    font-size: 16px;
                    text-align: center;
                    border: 2px solid #3555af;
                    border-radius: 30px;
                    transition: all 0.2s;
                    &.on,
                    &:hover,
                    &:active {
                        background-color: #3555af;
                        color: #fff;
                        font-weight: 600;
                    }
                }
            }
            .tab-box {
                display: none;
                &.on {
                    display: block;
                }
                .month-list {
                    padding: 24px 0 18px;
                    display: flex;
                    justify-content: center;
                    gap: 22px;
                    a {
                        cursor: initial;
                        flex: 0 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        font-size: 14px;
                        color: #555;
                        &.on {
                            color: $primary-color1;
                            background: #024fc41e;
                            border: 1px solid $primary-color1;
                        }
                        span {
                            font-family: $mont;
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }
                }
                .table-wrap {
                    .table-body {
                        padding: 13px 16px 0 0;
                        margin-right: -16px;
                        height: 306px;
                        overflow: auto;
                        @include scroll;
                    }
                    .list-row {
                        display: table;
                        width: 100%;
                        table-layout: fixed;
                        padding: 7px 0;
                        vertical-align: middle;
                        &.table-title {
                            padding: 14px 10px 14px 0;
                            border: solid #ddd;
                            border-width: 1px 0;
                            div {
                                font-size: 14px;
                            }
                        }
                        & > div {
                            font-size: 15px;
                            display: table-cell;
                            text-align: center;
                        }
                        .sort {
                            width: 120px;
                            span {
                                display: inline-block;
                                width: 112px;
                                height: 30px;
                                line-height: 30px;
                                text-align: center;
                                color: #fff;
                                background: #6420db;
                                border-radius: 15px;
                                &.middle {
                                    background: #339933;
                                }
                                &.whole {
                                    background: #f76504;
                                }
                                &.comp {
                                    background: #3074f0;
                                }
                            }
                        }
                        .type {
                            width: 60px;
                        }
                        .num {
                            width: 110px;
                            color: #555;
                        }
                        .register {
                            text-align: right;
                            width: 86px;
                            padding: 0;
                            .btn {
                                font-size: 14px;
                                width: 72px;
                                height: 36px;
                                line-height: 34px;
                                border-color: rgba(102, 102, 102, 0.16);
                                transition: all 0.2s;
                                &:hover {
                                    background: $primary-color1;
                                    border-color: $primary-color1;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
        .info-wrap {
            width: 380px;
            .notice-area {
                background: #fff;
                box-shadow: 0px 0px 12px #0000000f;
                border-radius: 24px;
                padding: 20px;
                .tit-area {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .tit {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .view {
                        flex: 0 0 auto;
                        font-size: 0;
                        width: 25px;
                        height: 25px;
                        background: #fff url("../images/common/ico/view.svg") no-repeat center;
                        border: 1px solid #dddddd;
                        border-radius: 50%;
                        transition: all 0.35s;
                        &:hover {
                            transform: rotate(90deg);
                        }
                    }
                }
                .notice-list {
                    margin-top: 24px;
                    li {
                        & + li {
                            margin-top: 14px;
                            padding-top: 14px;
                            border-top: 1px dashed #ddd;
                        }
                        a {
                            display: block;
                            &:hover {
                                .tit {
                                    text-decoration: underline;
                                }
                            }
                        }
                        .tit {
                            @include ellipsis($lines: 1);
                            font-size: 16px;
                            line-height: 1.3;
                        }
                        .date {
                            display: block;
                            padding-top: 11px;
                            font-family: $mont;
                            font-size: 14px;
                            padding-right: 10px;
                            color: $text-color3;
                        }
                    }
                }
            }
            .supply-area {
                margin-top: 32px;
                padding: 44px 24px;
                display: block;
                background: #6798e2 url("../images/common/img/main_supply.svg") no-repeat right bottom;
                border-radius: 18px;
                color: #fff;
                transition: all 0.35s;
                &:hover {
                    .tit {
                        background-position: right center;
                    }
                    background-color: $primary-color1;
                }
                .tit {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.2;
                    padding-right: 24px;
                    background: url("../images/common/ico/link.svg") no-repeat right 10px center;
                    transition: all 0.35s;
                }
                .txt {
                    padding-top: 18px;
                    font-weight: 200;
                    font-size: 18px;
                    line-height: 1.2;
                }
            }
        }
        .cont-btm {
            margin-top: 50px;
            .board-wrap {
                display: flex;
                gap: 30px;
                > a {
                    padding: 26px 20px;
                    background: #fff url("../images/common/ico/link_arrow.svg") no-repeat right 20px center;
                    flex: 1;
                    height: 140px;
                    border-radius: 24px;
                    box-shadow: 0px 0px 12px #0000000f;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    transition: all 0.2s;
                    &:hover {
                        background-position: right 14px center;
                    }
                    i {
                        display: block;
                        width: 88px;
                        height: 88px;
                        border-radius: 50%;
                        background-color: #f8f8f8;
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: all 0.35s;
                    }
                    .tit {
                        font-weight: 700;
                        font-size: 20px;
                        .mont {
                            font-weight: 600;
                        }
                    }
                    .txt {
                        padding-top: 10px;
                        font-weight: 300;
                        font-size: 14px;
                    }
                    @for $i from 1 to 4 {
                        &.board#{$i} {
                            i {
                                background-image: url("../images/common/ico/main_board_#{$i}.svg");
                            }
                        }
                    }
                }
            }
            .cs-wrap {
                margin-top: 50px;
                padding: 36px 40px;
                height: 180px;
                background: #ebedff url("../images/common/img/main_cs.png") no-repeat right bottom;
                border-radius: 24px;
                .tit {
                    display: block;
                    font-family: $gmarket;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 1.3;
                }
                .num {
                    padding-top: 16px;
                    font-size: 13px;
                    strong {
                        font-family: $mont;
                        font-weight: 700;
                        font-size: 24px;
                        padding-right: 5px;
                    }
                }
                .time {
                    padding-top: 13px;
                    font-size: 16px;
                    em {
                        font-family: $mont;
                    }
                }
            }
        }
    }
}

// 메인팝업
#mainPopupBg {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    opacity: 0.4;
}
#mainPopup {
    position: fixed;
    z-index: 9999 + 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    .mainPopup-wrap {
        position: relative;
    }
    .swiper-navi {
        margin: -30px auto 0;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 10;
        .swiper-button {
            width: 60px;
            height: 60px;
            font-size: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 31px 57px;
            position: absolute;
            z-index: 10;
            &.prev {
                background-image: url("../images/common/ico/swiper_prev.svg");
                left: -81px;
            }
            &.next {
                background-image: url("../images/common/ico/swiper_next.svg");
                right: -81px;
            }
        }
    }
    .swiper-count {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 90px;
        transform: translateX(-50%);
        width: auto;
        color: #fff;
        font-size: 16px;
        span {
            font-family: $mont;
        }
        em {
            margin: 0 4px;
        }
    }
    .swiper {
        position: relative;
        overflow: hidden;
        .swiper-wrapper {
            .swiper-slide {
                a {
                    display: block;
                    position: relative;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .mainpop-menu {
        display: flex;
        button {
            flex: 1;
            background: #fff;
            font-size: 18px;
            height: 70px;
            line-height: 68px;
            & + button {
                position: relative;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 16px;
                    background: #bcbcbc;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

@include tablet {
    .main-content {
        .main-visual {
            flex-direction: column;
            gap: 40px;
            padding: 60px 0;
        }
        .main-cont {
            .cont-top {
                flex-direction: column;
                gap: 40px;
            }
            .tab-wrap {
                width: 100%;
                .tab-box {
                    .table-wrap {
                        .list-row {
                            .sort {
                                width: 12%;
                            }
                            .type {
                                width: 10%;
                            }
                            .num {
                                width: 14%;
                            }
                            .period {
                                width: 25%;
                            }
                            .date {
                                width: 25%;
                            }
                            .register {
                                width: 14%;
                            }
                        }
                    }
                }
            }
            .info-wrap {
                width: 100%;
            }
            .cont-btm {
            }
        }
    }
}

@media (max-width: 900px) {
    .main-content {
        .main-cont {
            .cont-top {
                gap: 32px;
            }
            .tab-wrap {
                .tab {
                    button {
                        font-size: 16px;
                    }
                }
                .tab-box {
                    .month-list {
                        a:not(.on) {
                            display: none;
                        }
                        a {
                            height: 40px;
                            line-height: 38px;
                            &.on {
                                width: 100%;
                                border-radius: 24px;
                            }
                        }
                    }
                    .table-wrap {
                        .table-body {
                            margin: 24px -10px 0 0;
                            padding: 0 10px 0 0;
                            height: 804px;
                        }
                        .list-row {
                            padding: 0;
                            &.table-title {
                                display: none;
                            }
                            & + .list-row {
                                margin-top: 20px;
                                padding-top: 20px;
                                border-top: 1px solid #ddd;
                            }
                            & > div {
                                width: auto !important;
                                display: block;
                                text-align: left;
                                padding: 0;
                                line-height: 1;
                            }
                            .sort {
                                padding-bottom: 12px;
                                span {
                                    width: auto;
                                    padding: 0 14px;
                                    border-radius: 15px;
                                    font-size: 14px;
                                }
                            }
                            .type {
                                font-size: 18px;
                                display: inline-block;
                            }
                            .num {
                                font-size: 18px;
                                display: inline-block;
                                padding-left: 18px;
                                color: #555;
                            }
                            .period {
                                padding-top: 10px;
                                &::before {
                                    content: "접수기간 : ";
                                    font-size: 15px;
                                    font-family: "Pretendard", sans-serif;
                                }
                            }
                            .date {
                                padding-top: 8px;
                                &::before {
                                    content: "평가 일정 : ";
                                    font-size: 15px;
                                    font-family: "Pretendard", sans-serif;
                                }
                            }
                            .register {
                                padding-top: 16px;
                                .btn {
                                    width: 100%;
                                    font-size: 14px;
                                    height: 42px;
                                    line-height: 40px;
                                }
                            }
                        }
                    }
                }
            }
            .info-wrap {
                .notice-area {
                    padding: 26px 16px 30px;
                    .notice-list {
                        li {
                            & + li {
                                margin-top: 16px;
                                padding-top: 16px;
                            }
                        }
                    }
                }
            }
            .cont-btm {
                .board-wrap {
                    & > a {
                        padding: 16px 0 18px;
                        background-image: none;
                        flex-direction: column;
                        height: auto;
                        gap: 12px;
                        border-radius: 12px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@include mobile {
    .main-content {
        padding-top: 20px;
        .main-visual {
            gap: 32px;
            padding: 30px 0 40px;
            height: auto;
            background-image: url("../images/common/img/main_visual_m.png");
            background-position: right bottom;
            border-radius: 20px;
            .txt-area {
                text-align: center;
                .kr {
                    font-size: 21px;
                    line-height: 1;
                }
                .en {
                    font-size: 13px;
                    padding-top: 10px;
                }
            }
            .link-area {
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px 0;
                a {
                    width: calc(100% / 2 - 7px);
                    gap: 8px;
                    font-size: 16px;
                    i {
                        width: 92px;
                        height: 92px;
                        background-size: 46px;
                    }
                }
            }
        }
        .main-cont {
            margin-top: 32px;
            .tab-wrap {
                padding: 26px 16px;
                .tab {
                    gap: 8px;
                    button {
                        height: 40px;
                    }
                }
                .tab-box {
                    .month-list {
                        padding: 12px 0 0;
                    }
                }
            }
            .info-wrap {
                .notice-area {
                    .tit-area {
                        .tit {
                            font-size: 20px;
                        }
                        .view {
                            width: 21px;
                            height: 21px;
                            background-size: 7px;
                        }
                    }
                }
                .supply-area {
                    padding: 50px 16px;
                    background-size: 360px auto;
                    .tit {
                        font-size: 18px;
                    }
                    .txt {
                        padding-top: 14px;
                        font-size: 15px;
                    }
                }
            }
            .cont-btm {
                margin-top: 32px;
                .board-wrap {
                    gap: 14px;
                    > a {
                        i{
                            width: 60px;
                            height: 60px;
                            background-size: 38px;
                        }
                        .tit {
                            font-size: 16px;
                        }
                        .txt {
                            display: none;
                        }
                    }
                }
                .cs-wrap {
                    margin-top: 32px;
                    padding: 26px 0;
                    height: auto;
                    background-image: none;
                    text-align: center;
                    .tit{
                        font-size: 20px;
                    }
                    .num {
                        padding-top: 14px;
                        font-size: 12px;
                        strong {
                            font-size: 20px;
                            padding-right: 6px;
                        }
                    }
                    .time {
                        padding-top: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    #mainPopup {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        transform: initial;
        width: 100%;
        max-width: 100%;
        .swiper-navi {
            top: -18px;
            .swiper-button {
                &.prev {
                    background-image: url("../images/common/ico/swiper_prev_m.svg");
                    left: 50%;
                    transform: translateX(-50%);
                    margin-left: -42px;
                }
                &.next {
                    background-image: url("../images/common/ico/swiper_next_m.svg");
                    right: 50%;
                    transform: translateX(50%);
                    margin-right: -42px;
                }
            }
        }
        .swiper-count {
            bottom: auto;
            top: -28px;
            z-index: 1000;
        }
        .swiper {
            border-radius: 12px 12px 0px 0px;
            overflow: hidden;
        }
        .mainpop-menu {
            button {
                font-size: 14px;
                height: 40px;
                line-height: 38px;
            }
        }
    }
}
