@charset "UTF-8";
#container.main #header {
  background: #f7f7f9;
  border-bottom: 0;
}

.main-content {
  background: #f7f7f9;
  padding: 36px 0 120px;
}
.main-content .main-visual {
  background: url("../images/common/img/main_visual.png"), linear-gradient(0deg, #1057a1 0%, #002762 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 56px 80px;
  border-radius: 34px;
}
.main-content .main-visual .txt-area .kr {
  font-weight: 700;
  font-size: 36px;
  line-height: 38px;
  color: #fff;
}
.main-content .main-visual .txt-area .en {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  padding-top: 14px;
}
.main-content .main-visual .link-area {
  display: flex;
  gap: 30px;
}
.main-content .main-visual .link-area a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
  transition: all 0.35s;
  position: relative;
  border: 1px solid transparent;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.main-content .main-visual .link-area a i {
  width: 126px;
  height: 126px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.28) url("../images/common/ico/main_link_1.svg") no-repeat center;
  transition: all 0.35s;
}
.main-content .main-visual .link-area a.link0 i {
  background-image: url("../images/common/ico/main_link_0.svg");
}
.main-content .main-visual .link-area a.link1 i {
  background-image: url("../images/common/ico/main_link_1.svg");
}
.main-content .main-visual .link-area a.link2 i {
  background-image: url("../images/common/ico/main_link_2.svg");
}
.main-content .main-visual .link-area a.link3 i {
  background-image: url("../images/common/ico/main_link_3.svg");
}
.main-content .main-visual .link-area a.link4 i {
  background-image: url("../images/common/ico/main_link_4.svg");
}
.main-content .main-visual .link-area a:hover {
  font-weight: 700;
}
.main-content .main-visual .link-area a:hover i {
  background-color: rgba(165, 173, 248, 0.3215686275);
}
.main-content .main-cont {
  margin-top: 50px;
}
.main-content .main-cont .cont-top {
  display: flex;
  gap: 32px;
}
.main-content .main-cont .tab-wrap {
  width: calc(100% - 380px);
  border-radius: 24px;
  overflow: hidden;
  background: #fff;
  padding: 30px 24px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.0588235294);
}
.main-content .main-cont .tab-wrap .tab {
  width: 100%;
  display: flex;
  gap: 12px;
}
.main-content .main-cont .tab-wrap .tab button {
  height: 46px;
  flex: 1;
  cursor: pointer;
  color: #3555af;
  font-size: 16px;
  text-align: center;
  border: 2px solid #3555af;
  border-radius: 30px;
  transition: all 0.2s;
}
.main-content .main-cont .tab-wrap .tab button.on, .main-content .main-cont .tab-wrap .tab button:hover, .main-content .main-cont .tab-wrap .tab button:active {
  background-color: #3555af;
  color: #fff;
  font-weight: 600;
}
.main-content .main-cont .tab-wrap .tab-box {
  display: none;
}
.main-content .main-cont .tab-wrap .tab-box.on {
  display: block;
}
.main-content .main-cont .tab-wrap .tab-box .month-list {
  padding: 24px 0 18px;
  display: flex;
  justify-content: center;
  gap: 22px;
}
.main-content .main-cont .tab-wrap .tab-box .month-list a {
  cursor: initial;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 14px;
  color: #555;
}
.main-content .main-cont .tab-wrap .tab-box .month-list a.on {
  color: #024fc4;
  background: rgba(2, 79, 196, 0.1176470588);
  border: 1px solid #024fc4;
}
.main-content .main-cont .tab-wrap .tab-box .month-list a span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .table-body {
  padding: 13px 16px 0 0;
  margin-right: -16px;
  height: 306px;
  overflow: auto;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .table-body::-webkit-scrollbar {
  width: 3px;
  background: none;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .table-body::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 2px;
  background: #e5e5e5;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 7px 0;
  vertical-align: middle;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row.table-title {
  padding: 14px 10px 14px 0;
  border: solid #ddd;
  border-width: 1px 0;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row.table-title div {
  font-size: 14px;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row > div {
  font-size: 15px;
  display: table-cell;
  text-align: center;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .sort {
  width: 120px;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .sort span {
  display: inline-block;
  width: 112px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #6420db;
  border-radius: 15px;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .sort span.middle {
  background: #339933;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .sort span.whole {
  background: #f76504;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .sort span.comp {
  background: #3074f0;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .type {
  width: 60px;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .num {
  width: 110px;
  color: #555;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .register {
  text-align: right;
  width: 86px;
  padding: 0;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .register .btn {
  font-size: 14px;
  width: 72px;
  height: 36px;
  line-height: 34px;
  border-color: rgba(102, 102, 102, 0.16);
  transition: all 0.2s;
}
.main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .register .btn:hover {
  background: #024fc4;
  border-color: #024fc4;
  color: #fff;
}
.main-content .main-cont .info-wrap {
  width: 380px;
}
.main-content .main-cont .info-wrap .notice-area {
  background: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.0588235294);
  border-radius: 24px;
  padding: 20px;
}
.main-content .main-cont .info-wrap .notice-area .tit-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content .main-cont .info-wrap .notice-area .tit-area .tit {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
.main-content .main-cont .info-wrap .notice-area .tit-area .view {
  font-size: 0;
  width: 25px;
  height: 25px;
  background: #fff url("../images/common/ico/view.svg") no-repeat center;
  border: 1px solid #dddddd;
  border-radius: 50%;
  transition: all 0.35s;
}
.main-content .main-cont .info-wrap .notice-area .tit-area .view:hover {
  transform: rotate(90deg);
}
.main-content .main-cont .info-wrap .notice-area .notice-list {
  margin-top: 24px;
}
.main-content .main-cont .info-wrap .notice-area .notice-list li + li {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px dashed #ddd;
}
.main-content .main-cont .info-wrap .notice-area .notice-list li a {
  display: block;
}
.main-content .main-cont .info-wrap .notice-area .notice-list li a:hover .tit {
  text-decoration: underline;
}
.main-content .main-cont .info-wrap .notice-area .notice-list li .tit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.3;
}
.main-content .main-cont .info-wrap .notice-area .notice-list li .date {
  display: block;
  padding-top: 11px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-right: 10px;
  color: #999;
}
.main-content .main-cont .info-wrap .supply-area {
  margin-top: 32px;
  padding: 44px 24px;
  display: block;
  background: #6798e2 url("../images/common/img/main_supply.svg") no-repeat right bottom;
  border-radius: 18px;
  color: #fff;
  transition: all 0.35s;
}
.main-content .main-cont .info-wrap .supply-area:hover {
  background-color: #024fc4;
}
.main-content .main-cont .info-wrap .supply-area:hover .tit {
  background-position: right center;
}
.main-content .main-cont .info-wrap .supply-area .tit {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  padding-right: 24px;
  background: url("../images/common/ico/link.svg") no-repeat right 10px center;
  transition: all 0.35s;
}
.main-content .main-cont .info-wrap .supply-area .txt {
  padding-top: 18px;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.2;
}
.main-content .main-cont .cont-btm {
  margin-top: 50px;
}
.main-content .main-cont .cont-btm .board-wrap {
  display: flex;
  gap: 30px;
}
.main-content .main-cont .cont-btm .board-wrap > a {
  padding: 26px 20px;
  background: #fff url("../images/common/ico/link_arrow.svg") no-repeat right 20px center;
  flex: 1;
  height: 140px;
  border-radius: 24px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.0588235294);
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.2s;
}
.main-content .main-cont .cont-btm .board-wrap > a:hover {
  background-position: right 14px center;
}
.main-content .main-cont .cont-btm .board-wrap > a i {
  display: block;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.35s;
}
.main-content .main-cont .cont-btm .board-wrap > a .tit {
  font-weight: 700;
  font-size: 20px;
}
.main-content .main-cont .cont-btm .board-wrap > a .tit .mont {
  font-weight: 600;
}
.main-content .main-cont .cont-btm .board-wrap > a .txt {
  padding-top: 10px;
  font-weight: 300;
  font-size: 14px;
}
.main-content .main-cont .cont-btm .board-wrap > a.board1 i {
  background-image: url("../images/common/ico/main_board_1.svg");
}
.main-content .main-cont .cont-btm .board-wrap > a.board2 i {
  background-image: url("../images/common/ico/main_board_2.svg");
}
.main-content .main-cont .cont-btm .board-wrap > a.board3 i {
  background-image: url("../images/common/ico/main_board_3.svg");
}
.main-content .main-cont .cont-btm .cs-wrap {
  margin-top: 50px;
  padding: 36px 40px;
  height: 180px;
  background: #ebedff url("../images/common/img/main_cs.png") no-repeat right bottom;
  border-radius: 24px;
}
.main-content .main-cont .cont-btm .cs-wrap .tit {
  display: block;
  font-family: "GmarketSans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
}
.main-content .main-cont .cont-btm .cs-wrap .num {
  padding-top: 17px;
  font-size: 13px;
}
.main-content .main-cont .cont-btm .cs-wrap .num strong {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-right: 5px;
}
.main-content .main-cont .cont-btm .cs-wrap .time {
  padding-top: 13px;
  font-size: 16px;
}
.main-content .main-cont .cont-btm .cs-wrap .time em {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1240px) {
  .main-content .main-visual {
    flex-direction: column;
    gap: 40px;
    padding: 60px 0;
  }
  .main-content .main-cont .cont-top {
    flex-direction: column;
    gap: 40px;
  }
  .main-content .main-cont .tab-wrap {
    width: 100%;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .sort {
    width: 12%;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .type {
    width: 10%;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .num {
    width: 14%;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .period {
    width: 25%;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .date {
    width: 25%;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .register {
    width: 14%;
  }
  .main-content .main-cont .info-wrap {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .main-content .main-cont .tab-wrap .tab button {
    font-size: 16px;
  }
  .main-content .main-cont .tab-wrap .tab-box .month-list a:not(.on) {
    display: none;
  }
  .main-content .main-cont .tab-wrap .tab-box .month-list a {
    height: 42px;
    line-height: 40px;
  }
  .main-content .main-cont .tab-wrap .tab-box .month-list a.on {
    width: 100%;
    border-radius: 24px;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .table-body {
    margin: 24px -12px 0 0;
    padding-right: 12px;
    height: 742px;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row {
    padding: 0;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row.table-title {
    display: none;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row + .list-row {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #ddd;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row > div {
    width: auto !important;
    display: block;
    text-align: left;
    padding: 0;
    line-height: 1;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .sort {
    padding-bottom: 12px;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .sort span {
    border-radius: 3px;
    font-size: 14px;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .type {
    font-size: 18px;
    display: inline-block;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .num {
    font-size: 18px;
    display: inline-block;
    padding-left: 18px;
    color: #555;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .period {
    padding-top: 10px;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .period::before {
    content: "접수기간 : ";
    font-size: 15px;
    font-family: "Pretendard", sans-serif;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .date {
    padding-top: 8px;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .date::before {
    content: "평가 일정 : ";
    font-size: 15px;
    font-family: "Pretendard", sans-serif;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .register {
    padding-top: 16px;
  }
  .main-content .main-cont .tab-wrap .tab-box .table-wrap .list-row .register .btn {
    width: 100%;
    font-size: 14px;
    height: 42px;
    line-height: 40px;
  }
}
#mainPopupBg {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  opacity: 0.4;
}

#mainPopup {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
}
#mainPopup .swiper-navi {
  margin: -30px auto 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
}
#mainPopup .swiper-navi .swiper-button {
  width: 60px;
  height: 60px;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 31px 57px;
  position: absolute;
  z-index: 10;
}
#mainPopup .swiper-navi .swiper-button.prev {
  background-image: url("../images/common/ico/ico_swiper_prev_w.svg");
  left: -81px;
}
#mainPopup .swiper-navi .swiper-button.next {
  background-image: url("../images/common/ico/ico_swiper_next_w.svg");
  right: -81px;
}
#mainPopup .swiper {
  position: relative;
  overflow: hidden;
}
#mainPopup .swiper .swiper-wrapper .swiper-slide a {
  display: block;
  position: relative;
}
#mainPopup .swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
}
#mainPopup .swiper .swiper-count {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: auto;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
#mainPopup .mainpop-menu {
  display: flex;
}
#mainPopup .mainpop-menu button {
  flex: 1;
  background: #fff;
  font-size: 18px;
  height: 70px;
  line-height: 68px;
}
#mainPopup .mainpop-menu button + button {
  border-left: 1px solid #666;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 20px;
  }
  .main-content .main-visual {
    gap: 24px;
    padding: 30px 0;
    height: auto;
    background-image: url("../images/common/img/main_visual_m.png");
    background-position: right bottom;
  }
  .main-content .main-visual .txt-area {
    text-align: center;
  }
  .main-content .main-visual .txt-area .kr {
    font-size: 24px;
  }
  .main-content .main-visual .txt-area .en {
    font-size: 14px;
    padding-top: 12px;
  }
  .main-content .main-visual .link-area {
    flex-wrap: wrap;
    gap: 20px 14px;
  }
  .main-content .main-visual .link-area a {
    width: calc(50% - 7px);
    gap: 12px;
    font-size: 14px;
  }
  .main-content .main-visual .link-area a i {
    width: 100px;
    height: 100px;
  }
  .main-content .main-cont {
    margin-top: 24px;
  }
  .main-content .main-cont .info-wrap .notice-area .tit-area .tit {
    font-size: 20px;
  }
  .main-content .main-cont .info-wrap .notice-area .tit-area .view {
    width: 21px;
    height: 21px;
    background-size: 7px;
  }
  .main-content .main-cont .info-wrap .supply-area {
    margin-top: 40px;
    padding: 50px 16px;
    background-size: 360px auto;
  }
  .main-content .main-cont .info-wrap .supply-area .tit {
    font-size: 18px;
  }
  .main-content .main-cont .info-wrap .supply-area .txt {
    padding-top: 14px;
    font-size: 15px;
  }
  .main-content .main-cont .cont-btm {
    margin-top: 24px;
  }
  .main-content .main-cont .cont-btm .board-wrap {
    gap: 14px;
  }
  .main-content .main-cont .cont-btm .board-wrap > a {
    padding: 12px;
    height: 94px;
  }
  .main-content .main-cont .cont-btm .board-wrap > a i {
    display: none;
  }
  .main-content .main-cont .cont-btm .board-wrap > a .tit {
    font-size: 16px;
  }
  .main-content .main-cont .cont-btm .board-wrap > a .txt {
    display: none;
  }
  .main-content .main-cont .cont-btm .cs-wrap {
    margin-top: 24px;
    background-image: none;
  }
  .main-content .main-cont .cont-btm .cs-wrap .num {
    padding-top: 14px;
    font-size: 12px;
  }
  .main-content .main-cont .cont-btm .cs-wrap .num strong {
    padding-right: 4px;
  }
  .main-content .main-cont .cont-btm .cs-wrap .time {
    padding-top: 10px;
  }
  #mainPopup {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    transform: initial;
    width: 100%;
    max-width: 100%;
  }
}