h2.tit {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1300px) {
  h2.tit {
    font-size: 26px;
    line-height: 36px;
  }
}

h3.tit {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

.location {
  height: 44px;
  background: #fff;
  font-size: 0;
  border-bottom: 1px solid #e0e0e0;
}
.location .w-set {
  height: 100%;
}
.location .w-set > li {
  position: relative;
  display: inline-block;
  height: 100%;
}
.location .w-set > li + li > a {
  padding-left: 29px;
  vertical-align: middle;
}
.location .w-set > li + li::after {
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  background: url("../images/common/ico/location_depth.svg") no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.location .w-set > li > a {
  line-height: 44px;
  height: 100%;
}
.location a {
  display: inline-block;
  font-size: 14px;
  position: relative;
}
.location a + a {
  padding: 15px 20px;
}
.location a + a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #d3d3d3;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.location .home {
  font-size: 0;
  padding-right: 24px;
}
.location .home::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/common/ico/location_home.svg") no-repeat center;
  margin-bottom: -6px;
}
.location .has-select {
  padding-right: 40px;
  background: url("../images/common/ico/location_arrow.svg") no-repeat right 20px center;
}
.location .has-select + ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 0 15px;
  width: 100%;
}
.location .has-select + ul.on {
  display: block;
}
.location .has-select + ul li a {
  display: block;
  padding: 5px 0;
}
.location .has-select + ul li:first-child a {
  padding-top: 15px;
}
.location .has-select + ul li:last-child a {
  padding-bottom: 15px;
}
.location .has-select + ul a {
  color: #555;
  transition: all 0.2s;
}
.location .has-select + ul a:hover {
  color: #024fc4;
}

.member {
  padding: 100px 0 200px;
  border-top: 1px solid #ddd;
}
.member .tit-area {
  margin-bottom: 40px;
}
.member .tit-area .txt {
  margin-top: 12px;
  font-size: 16px;
  color: #555;
  text-align: center;
}
.member .w-set {
  max-width: 400px;
}
.member .input-wrap + .input-wrap {
  margin-top: 10px;
}
.member .input-wrap input {
  height: 60px;
}
.member .btn {
  margin-top: 40px;
  height: 52px;
  line-height: 50px;
}
.member .btn + .btn {
  margin-top: 12px;
}
@media (max-width: 1300px) {
  .member .btn {
    margin-top: 30px;
    height: 50px;
  }
}
.member .captcha {
  margin: 12px 0 0;
  min-height: 120px;
  background: #ddd;
}
.member .find-pw {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #555;
  line-height: 16px;
  margin-top: 40px;
}
.member .find-pw::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 17px;
  background: url("../images/common/ico/find_pw.svg") no-repeat center;
  margin: 0 8px -4px 0;
}