main > img {
  margin-bottom: 160px;
}

h2.tit {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
@media (max-width: 1300px) {
  h2.tit {
    font-size: 24px;
    line-height: 29px;
  }
}

h3.tit {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.location {
  height: 44px;
  background: #fff;
  font-size: 0;
  border-bottom: 1px solid #e0e0e0;
}
.location .w-set {
  height: 100%;
}
.location .w-set > li {
  position: relative;
  display: inline-block;
  height: 100%;
}
.location .w-set > li + li > a {
  padding-left: 29px;
  vertical-align: middle;
}
.location .w-set > li + li::after {
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  background: url("../images/common/ico/location_depth.svg") no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.location .w-set > li > a {
  line-height: 44px;
  height: 100%;
}
.location a {
  display: inline-block;
  font-size: 14px;
  position: relative;
}
.location a + a {
  padding: 15px 20px;
}
.location a + a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #d3d3d3;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.location .home {
  font-size: 0;
  padding-right: 24px;
}
.location .home::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/common/ico/location_home.svg") no-repeat center;
  margin-bottom: -6px;
}
.location .has-select {
  padding-right: 40px;
  background: url("../images/common/ico/location_arrow.svg") no-repeat right 20px center;
}
.location .has-select + ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  width: 100%;
}
.location .has-select + ul.on {
  display: block;
}
.location .has-select + ul li a {
  display: block;
  padding: 5px 15px;
}
.location .has-select + ul li:first-child a {
  padding-top: 15px;
}
.location .has-select + ul li:last-child a {
  padding-bottom: 15px;
}
.location .has-select + ul a {
  color: #555;
  transition: all 0.2s;
}
.location .has-select + ul a:hover {
  color: #024fc4;
}

.tab-list {
  display: flex;
}
.tab-list button,
.tab-list a {
  padding: 0 20px;
  flex: 1;
  height: 60px;
  line-height: 58px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #dddddd;
  border-left: 0;
}
.tab-list button:first-child,
.tab-list a:first-child {
  border-left: 1px solid #dddddd;
}
.tab-list button.on,
.tab-list a.on {
  background: #3555af;
  border-color: #3555af;
  font-weight: 500;
  color: #fff;
}

.tab-content .tab-box {
  display: none;
}
.tab-content .tab-box.on {
  display: block;
}

.member-wrap {
  padding: 80px 0 120px;
  border-top: 1px solid #ddd;
}
.member-wrap .tit-area {
  text-align: center;
}
.member-wrap .w-set {
  max-width: 400px;
}
.member-wrap .sub-txt {
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
  color: #555;
}
.member-wrap .sub-txt br {
  display: none;
}
.member-wrap .login {
  margin-top: 40px;
}
.member-wrap .login .input-wrap input {
  height: 60px;
  line-height: 58px;
  padding: 0 16px;
}
.member-wrap .login .input-wrap + .input-wrap {
  margin-top: 10px;
}
.member-wrap .input-wrap + .input-wrap {
  margin-top: 12px;
}
.member-wrap .input-wrap input {
  height: 50px;
  border-color: #ddd;
  padding: 0 14px;
  line-height: 48px;
}
.member-wrap .input-wrap input::-moz-placeholder {
  color: #a7a7a7;
}
.member-wrap .input-wrap input::placeholder {
  color: #a7a7a7;
}
.member-wrap .btn {
  margin-top: 40px;
  height: 52px;
  line-height: 50px;
  font-weight: 400;
}
.member-wrap .btn + .btn {
  margin-top: 12px;
}
.member-wrap .captcha-wrap {
  margin: 12px 0 0;
  border-radius: 6px;
  border: 1px solid #dddddd;
}
.member-wrap .captcha-wrap .captcha {
  min-height: 70px;
  background: #ddd;
}
.member-wrap .captcha-wrap input[type=text] {
  border: 0;
  padding: 0 14px;
}
.member-wrap .note-txt {
  width: 100%;
  margin-top: 24px;
  border-radius: 6px;
  background-color: #f5f9fc;
  padding: 18px 14px 18px 16px;
}
.member-wrap .note-txt.chk .txt {
  padding-left: 20px;
  background-image: url("../images/common/ico/member_chk.svg");
  background-position: center left;
  background-size: 10px;
  font-size: 14px;
  line-height: 1;
}
.member-wrap .note-txt .txt {
  padding-left: 26px;
  background-image: url("../images/common/ico/login_note.svg");
  background-repeat: no-repeat;
  background-position: top 2px left;
  background-size: 18px;
  font-size: 16px;
  color: #555;
  line-height: 24px;
}
.member-wrap .note-txt .txt + .txt {
  margin-top: 14px;
}
.member-wrap .find-pw {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #555;
  line-height: 16px;
  margin-top: 40px;
}
.member-wrap .find-pw::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 17px;
  background: url("../images/common/ico/find_pw.svg") no-repeat center;
  margin: 0 8px -4px 0;
}
.member-wrap .find-wrap {
  margin-top: 26px;
  padding-top: 160px;
  background-image: url("../images/common/img/find_pass.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 120px;
}
.member-wrap .find-wrap .tab-menu {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 50px;
}
.member-wrap .find-wrap .tab-menu .tab {
  width: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: #b2b2b2;
}
.member-wrap .find-wrap .tab-menu .tab.on {
  background-color: #3555AF;
  border-color: #3555AF;
  color: #fff;
  font-weight: 600;
}
.member-wrap .find-wrap .tab-menu .tab:first-of-type {
  border-radius: 6px 0 0 6px;
  border: 1px solid #dddddd;
  border-width: 1px 0 1px 1px;
}
.member-wrap .find-wrap .tab-menu .tab:last-of-type {
  border-radius: 0 6px 6px 0;
  border: 1px solid #dddddd;
  border-width: 1px 1px 1px 0;
}
.member-wrap .find-wrap .tab-menu .tab a {
  display: block;
  width: 100%;
}
.member-wrap .join-wrap .w-set {
  max-width: 1000px;
}
.member-wrap .join-wrap .join-top {
  width: 100%;
  margin: 34px 0 40px;
  text-align: right;
}
.member-wrap .join-wrap .join-top > span {
  font-size: 14px;
  color: #555;
}
.member-wrap .join-wrap .join-top > span::before {
  content: "* ";
  color: #024fc4;
}
.member-wrap .join-wrap .join-top .info-box {
  margin: 10px 0 0;
  text-align: center;
}
.member-wrap .join-wrap .join-top .info-box ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  border: solid #DDDDDD;
  border-width: 1px 0 1px 0;
}
.member-wrap .join-wrap .join-top .info-box ul li {
  display: table-cell;
  border-left: 1px solid #DDDDDD;
}
.member-wrap .join-wrap .join-top .info-box ul li .th {
  height: 42px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #DDDDDD;
  line-height: 42px;
  color: #222;
}
.member-wrap .join-wrap .join-top .info-box ul li span {
  display: block;
  height: 54px;
  font-size: 16px;
  line-height: 54px;
  color: #222;
}
.member-wrap .join-wrap .join-top .info-box ul li:last-of-type {
  border-right: 1px solid #DDDDDD;
}
.member-wrap .join-wrap .join-top .info-box table {
  width: 100%;
  border: 1px solid #dddddd;
}
.member-wrap .join-wrap .join-top .info-box table th {
  height: 42px;
  background-color: #f5f5f5;
  border-right: 1px solid #dddddd;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #222;
}
.member-wrap .join-wrap .join-top .info-box table th:last-of-type {
  border: 0;
}
.member-wrap .join-wrap .join-top .info-box table td {
  height: 54px;
  background-color: #fff;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  font-size: 16px;
  line-height: 52px;
  color: #222;
}
.member-wrap .join-wrap .join-form dl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.member-wrap .join-wrap .join-form dl + dl {
  margin-top: 20px;
}
.member-wrap .join-wrap .join-form dl dt {
  width: 180px;
  font-size: 16px;
  color: #222;
}
.member-wrap .join-wrap .join-form dl dt::after {
  content: " *";
  color: #024fc4;
}
.member-wrap .join-wrap .join-form dl dd {
  flex: 1;
}
.member-wrap .join-wrap .join-form dl dd input {
  height: 40px;
  padding: 0 16px;
  font-size: 15px;
}
.member-wrap .join-wrap .join-form .input-wrap {
  display: flex;
  gap: 10px;
}
.member-wrap .join-wrap .join-form .input-wrap .type-address {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.member-wrap .join-wrap .join-form .input-wrap .type-address input {
  flex: 2;
}
.member-wrap .join-wrap .join-form .input-wrap .type-address .detail {
  flex: 1;
  min-width: 270px;
}
.member-wrap .join-wrap .join-form .input-wrap .type-mobile {
  gap: 5px;
}
.member-wrap .join-wrap .join-form .input-wrap .type-mobile .num-bar {
  width: 6px;
  height: 1px;
  background-color: #222;
}
.member-wrap .join-wrap .join-form .input-wrap .type-mobile input {
  flex: 1;
  max-width: 120px;
}
.member-wrap .join-wrap .join-form .input-wrap .type-mobile + .btn {
  max-width: 120px;
  height: 40px;
  margin-top: 0;
  line-height: 38px;
}
.member-wrap .join-wrap .join-form .input-wrap .type-mobile + .btn span:last-of-type {
  display: none;
}
.member-wrap .join-wrap .join-form .input-wrap .type-mobile + .btn.resend {
  border-color: #222;
}
.member-wrap .join-wrap .join-form .input-wrap .type-mobile + .btn.resend span:first-of-type {
  display: none;
}
.member-wrap .join-wrap .join-form .input-wrap .type-mobile + .btn.resend span:last-of-type {
  display: block;
  color: #222;
}
.member-wrap .join-wrap .join-form .input-wrap select {
  height: 40px;
  width: 200px;
  padding: 0 16px;
  font-size: 15px;
  color: #a7a7a7;
}
.member-wrap .join-wrap .join-form .input-wrap .cert-box {
  display: flex;
  height: 40px;
  max-width: 262px;
  padding-right: 16px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  line-height: 38px;
}
.member-wrap .join-wrap .join-form .input-wrap .cert-box input {
  border: 0;
  padding-right: 10px;
  background-color: transparent;
}
.member-wrap .join-wrap .join-form .input-wrap .cert-box .time {
  color: #f50e0e;
  font-size: 14px;
}
.member-wrap .join-wrap .join-form .input-wrap .cert-box + .btn {
  flex: 1;
  max-width: 120px;
  height: 40px;
  margin-top: 0;
  line-height: 38px;
}
.member-wrap .join-wrap .join-form .input-wrap.cert-wrap {
  display: none;
  gap: 10px;
}
.member-wrap .join-wrap .join-form .input-wrap.cert-wrap.on {
  display: flex;
}
.member-wrap .join-wrap .join-form .checkbox label {
  font-size: 16px;
}
.member-wrap .join-wrap .join-form .checkbox label::before {
  width: 22px;
  height: 22px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.member-wrap .join-wrap .join-form .btn-wrap {
  margin-top: 60px;
  justify-content: center;
}
.member-wrap .join-wrap .join-form .btn-wrap .btn {
  margin-top: 0;
  width: 200px;
}

.con-top .tit-area {
  position: relative;
  width: 100%;
  height: 190px;
}
.con-top .tit-area .bg {
  width: 100%;
  height: 100%;
  background-image: url("../images/common/img/regi_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.con-top .tit-area .w-set {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.con-top .tit-area .w-set h2.tit {
  text-align: left;
  line-height: 190px;
  color: #fff;
}

.con-btm {
  padding: 60px 0 120px;
}

.regi-wrap {
  /* padding: 0 0 120px; */
}
.regi-wrap .con-btm {
  padding-top: 60px;
}
.regi-wrap .con-btm .w-set.type-s {
  padding: 0 100px;
}
.regi-wrap .con-btm .step-list {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 120px;
  padding: 20px 70px;
  border: 1px solid #ddd;
}
.regi-wrap .con-btm .step-list.type-w {
  height: 125px;
  padding: 0 30px;
}
.regi-wrap .con-btm .step-list > li {
  display: flex;
  align-items: center;
  gap: 24px;
}
.regi-wrap .con-btm .step-list > li.on i {
  background-color: #111e55;
}
.regi-wrap .con-btm .step-list > li.on .step-txt {
  color: #111e55;
}
.regi-wrap .con-btm .step-list > li.on .step-txt .num {
  font-weight: 600;
}
.regi-wrap .con-btm .step-list > li.on .step-txt .txt {
  font-weight: 700;
}
.regi-wrap .con-btm .step-list > li i {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #dddddd;
  border-radius: 50%;
}
.regi-wrap .con-btm .step-list > li .step-txt {
  text-align: center;
  color: #b2b2b2;
}
.regi-wrap .con-btm .step-list > li .step-txt .num {
  font-size: 16px;
}
.regi-wrap .con-btm .step-list > li .step-txt .txt {
  margin-top: 6px;
  font-size: 18px;
}
.regi-wrap .con-btm .step-list > li.step01 i {
  background-image: url("../images/common/ico/step01.svg");
}
.regi-wrap .con-btm .step-list > li.step02 i {
  background-image: url("../images/common/ico/step02.svg");
}
.regi-wrap .con-btm .step-list > li.step03 i {
  background-image: url("../images/common/ico/step03.svg");
}
.regi-wrap .con-btm .step-list > li.step04 i {
  background-image: url("../images/common/ico/step04.svg");
}
.regi-wrap .con-btm .step-list > li::after, .regi-wrap .con-btm .step-list > li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #dddddd;
  border-radius: 50%;
}
.regi-wrap .con-btm .step-list > li:first-of-type::before {
  display: none;
}
.regi-wrap .con-btm .step-list > li:last-of-type::after {
  display: none;
}
.regi-wrap .con-btm .regi-con {
  margin-top: 40px;
}
.regi-wrap .con-btm .regi-con p.tit {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}
.regi-wrap .con-btm .regi-con p.tit em {
  color: #024fc4;
}
.regi-wrap .con-btm .regi-con .regi-step01 .type,
.regi-wrap .con-btm .regi-con .regi-step01 .program,
.regi-wrap .con-btm .regi-con .regi-step01 .special {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 10px;
  margin-top: 40px;
}
.regi-wrap .con-btm .regi-con .regi-step01 .radiobox {
  flex: 1;
  height: 50px;
}
.regi-wrap .con-btm .regi-con .regi-step01 .radiobox input[type=radio]:checked + label {
  color: #024fc4;
  background-color: rgba(2, 79, 196, 0.1215686275);
  border-color: #024fc4;
}
.regi-wrap .con-btm .regi-con .regi-step01 .radiobox label {
  padding: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  line-height: 48px;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.regi-wrap .con-btm .regi-con .regi-step01 .radiobox label::before {
  display: none;
}
.regi-wrap .btn-wrap {
  margin-top: 60px;
  justify-content: center;
}
.regi-wrap .btn-wrap .btn {
  max-width: 200px;
}
.regi-wrap .btn-wrap .btn.next::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-left: 10px;
  background-image: url("../images/common/ico/link.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.board-wrap .boardList-wrap .search-wrap {
  max-width: 550px;
  height: 50px;
  margin: 0 auto 24px;
}
.board-wrap .boardList-wrap .search-wrap form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.board-wrap .boardList-wrap .search-wrap select {
  padding: 0 15px;
  width: 140px;
  border-radius: 3px;
  font-size: 14px;
  color: #666;
}
.board-wrap .boardList-wrap .search-wrap .input-label {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 24px;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
}
.board-wrap .boardList-wrap .search-wrap .input-label input[type=text] {
  border: 0;
}
.board-wrap .boardList-wrap .search-wrap .search-btn {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-image: url("../images/common/ico/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}
.board-wrap .boardList-wrap .board-count {
  text-align: left;
  margin-bottom: 20px;
}
.board-wrap .boardList-wrap .board-count span {
  font-size: 14px;
  color: #333;
}
.board-wrap .boardList-wrap .board-count span em {
  color: #024fc4;
}
.board-wrap .boardList-wrap .table-top {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-top: 2px solid #222;
  border-bottom: 1px solid #222;
  line-height: 57px;
  font-weight: 500;
  font-size: 18px;
}
.board-wrap .boardList-wrap .table-wrap {
  border-bottom: 1px solid #222;
}
.board-wrap .boardList-wrap .table-wrap .table-list {
  border-bottom: 1px solid #ddd;
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: 16px;
  padding: 12px 0;
}
.board-wrap .boardList-wrap .table-wrap .table-list:last-of-type {
  border-bottom: 0;
}
.board-wrap .boardList-wrap .table-wrap .table-list .list.date, .board-wrap .boardList-wrap .table-wrap .table-list .list.hit {
  font-family: "Montserrat", sans-serif;
}
.board-wrap .boardList-wrap .table-wrap .table-list .list.title {
  text-align: left;
  padding-left: 20px;
}
.board-wrap .boardList-wrap .table-wrap .table-list .list.title > a {
  display: inline-block;
  max-width: calc(100% - 300px);
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board-wrap .boardList-wrap .list {
  display: table-cell;
  text-align: center;
}
.board-wrap .boardList-wrap .list.no {
  width: 120px;
  font-family: "Montserrat", sans-serif;
}
.board-wrap .boardList-wrap .list.no.is-notice span {
  display: inline-block;
  background-color: #3555af;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  padding: 0 20px;
  line-height: 32px;
}
.board-wrap .boardList-wrap .list.date {
  width: 200px;
}
.board-wrap .boardList-wrap .list.hit {
  width: 100px;
}

@media (max-width: 1300px) {
  .member-wrap {
    padding: 50px 0 100px;
  }
  .member-wrap .sub-txt {
    margin: 26px 0 32px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .type-mobile {
    flex: 2;
  }
  .member-wrap .join-wrap .join-form .input-wrap .type-mobile input {
    max-width: none;
    padding: 0 10px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .type-mobile + .btn {
    flex: 1;
    max-width: none;
    min-width: 270px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .cert-box {
    max-width: none;
    flex: 2;
  }
  .member-wrap .join-wrap .join-form .input-wrap .cert-box + .btn {
    max-width: none;
    min-width: 270px;
  }
}
@media (max-width: 768px) {
  .location {
    display: none;
  }
  .tab-list button,
  .tab-list a {
    height: 50px;
    line-height: 48px;
  }
  .con-top .tit-area {
    height: 160px;
  }
  .con-top .tit-area .w-set h2.tit {
    text-align: center;
    line-height: 160px;
  }
  .con-btm {
    padding: 40px 0 80px;
  }
  .member-wrap .sub-txt {
    font-size: 14px;
  }
  .member-wrap .sub-txt br {
    display: block;
  }
  .member-wrap .login .input-wrap input {
    height: 40px;
    line-height: 38px;
  }
  .member-wrap .input-wrap input {
    height: 40px;
    padding: 0 12px;
    line-height: 38px;
    font-size: 14px;
  }
  .member-wrap .input-wrap + .input-wrap {
    margin-top: 10px;
  }
  .member-wrap .btn {
    height: 50px;
    line-height: 48px;
  }
  .member-wrap .captcha-wrap {
    margin-top: 20px;
  }
  .member-wrap .note-txt {
    margin-top: 20px;
    padding: 16px 12px;
  }
  .member-wrap .note-txt.chk {
    margin-top: 16px;
    padding: 14px 12px 16px;
  }
  .member-wrap .note-txt .txt {
    padding-left: 24px;
    font-size: 14px;
    line-height: 20px;
    background-size: 16px;
  }
  .member-wrap .note-txt .txt + .txt {
    margin-top: 10px;
  }
  .member-wrap .find-pw {
    margin-top: 20px;
    font-size: 12px;
  }
  .member-wrap .find-pw::before {
    width: 7px;
    height: 15px;
    background-size: contain;
    margin-right: 6px;
  }
  .member-wrap .find-wrap {
    margin-top: 26px;
    padding-top: 122px;
    background-size: 90px;
  }
  .member-wrap .find-wrap .tab-menu {
    height: 42px;
    margin-bottom: 20px;
  }
  .member-wrap .find-wrap .tab-menu .tab {
    line-height: 40px;
    font-size: 14px;
  }
  .member-wrap .join-wrap .join-top {
    margin: 26px 0 20px;
  }
  .member-wrap .join-wrap .join-top > span {
    font-size: 12px;
  }
  .member-wrap .join-wrap .join-top .info-box {
    margin: 8px 0 0;
    background-color: #f5f5f5;
    padding: 20px 12px;
  }
  .member-wrap .join-wrap .join-top .info-box ul {
    border: 0;
  }
  .member-wrap .join-wrap .join-top .info-box ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
  }
  .member-wrap .join-wrap .join-top .info-box ul li span, .member-wrap .join-wrap .join-top .info-box ul li .th {
    height: auto;
    line-height: 1;
    border-bottom: 0;
  }
  .member-wrap .join-wrap .join-top .info-box ul li + li {
    margin-top: 12px;
  }
  .member-wrap .join-wrap .join-top .info-box ul li:last-of-type {
    border: 0;
  }
  .member-wrap .join-wrap .join-form dl + dl {
    margin-top: 16px;
  }
  .member-wrap .join-wrap .join-form dl dt {
    width: 100%;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .member-wrap .join-wrap .join-form dl dd input {
    padding: 0 12px;
    font-size: 14px;
  }
  .member-wrap .join-wrap .join-form .input-wrap {
    flex-wrap: wrap;
  }
  .member-wrap .join-wrap .join-form .input-wrap .type-address {
    flex-wrap: wrap;
    gap: 6px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .type-address input {
    flex: auto;
    width: 100%;
    padding: 0 10px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .type-mobile {
    width: 100%;
    flex: auto;
    gap: 7px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .type-mobile input {
    max-width: none;
    padding: 0 10px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .type-mobile + .btn {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    font-size: 14px;
  }
  .member-wrap .join-wrap .join-form .input-wrap select {
    width: 100%;
    padding: 0 12px;
    font-size: 14px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .cert-box {
    max-width: none;
    width: 100%;
    flex: auto;
    padding-right: 10px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .cert-box input {
    padding: 0 10px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .cert-box .time {
    font-size: 12px;
  }
  .member-wrap .join-wrap .join-form .input-wrap .cert-box + .btn {
    width: 100%;
    flex: auto;
    font-size: 14px;
  }
  .member-wrap .join-wrap .join-form .checkbox label {
    font-size: 14px;
  }
  .member-wrap .join-wrap .join-form .checkbox label::before {
    width: 20px;
    height: 20px;
    top: 3px;
    bottom: auto;
  }
  .member-wrap .join-wrap .join-form .btn-wrap {
    margin-top: 40px;
    gap: 14px;
  }
  .member-wrap .join-wrap .join-form .btn-wrap .btn {
    flex: 1;
  }
  .board-wrap .boardList-wrap .search-wrap {
    max-width: 100%;
    height: auto;
    margin: 0 auto 32px;
  }
  .board-wrap .boardList-wrap .search-wrap form {
    flex-wrap: wrap;
  }
  .board-wrap .boardList-wrap .search-wrap select {
    width: 100%;
    padding: 0 14px;
    font-size: 16px;
  }
  .board-wrap .boardList-wrap .search-wrap input {
    height: 50px;
  }
  .board-wrap .boardList-wrap .search-wrap .input-label {
    padding-right: 14px;
  }
  .board-wrap .boardList-wrap .board-count {
    margin-bottom: 14px;
  }
  .board-wrap .boardList-wrap .table-wrap {
    border-top: 2px solid #222;
  }
  .board-wrap .boardList-wrap .table-wrap .table-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px 10px;
  }
  .board-wrap .boardList-wrap .table-wrap .table-list .list.title {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .board-wrap .boardList-wrap .table-wrap .table-list .list.title > a {
    max-width: calc(100% - 5px);
    width: calc(100% - 5px);
  }
  .board-wrap .boardList-wrap .table-wrap .table-list .list.no {
    display: none;
  }
  .board-wrap .boardList-wrap .table-wrap .table-list .list.no.is-notice {
    display: inline-block;
  }
  .board-wrap .boardList-wrap .table-wrap .table-list .list.no.is-notice + .title {
    width: calc(100% - 76px);
  }
  .board-wrap .boardList-wrap .table-wrap .table-list .list.date::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin-left: 10px;
    background-color: #D3D3D3;
  }
  .board-wrap .boardList-wrap .table-wrap .list.no, .board-wrap .boardList-wrap .table-wrap .list.date, .board-wrap .boardList-wrap .table-wrap .list.hit {
    width: auto;
    font-size: 14px;
  }
  .board-wrap .boardList-wrap .table-wrap .list.title {
    width: 100%;
  }
  .board-wrap .boardList-wrap .table-wrap .list.title .new-ico {
    margin-right: 16px;
  }
}