@import "./utility.scss";

//임시
main {
    & > img {
        margin-bottom: 160px;
    }
}

// 공통
h2.tit {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    @media (max-width: 1300px) {
        font-size: 24px;
        line-height: 29px;
    }
}
h3.tit {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.location {
    height: 44px;
    background: #fff;
    font-size: 0;
    border-bottom: 1px solid #e0e0e0;
    .w-set {
        height: 100%;
        & > li {
            position: relative;
            display: inline-block;
            height: 100%;
            & + li {
                & > a {
                    padding-left: 29px;
                    vertical-align: middle;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 5px;
                    height: 8px;
                    background: url("../images/common/ico/location_depth.svg") no-repeat;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            & > a {
                line-height: 44px;
                height: 100%;
            }
        }
    }
    a {
        display: inline-block;
        font-size: 14px;
        position: relative;
        & + a {
            padding: 15px 20px;
            &::after {
                content: "";
                display: inline-block;
                width: 1px;
                height: 20px;
                background: $base-color1;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .home {
        font-size: 0;
        padding-right: 24px;
        &::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("../images/common/ico/location_home.svg") no-repeat center;
            margin-bottom: -6px;
        }
    }
    .has-select {
        padding-right: 40px;
        background: url("../images/common/ico/location_arrow.svg") no-repeat right 20px center;
        & + ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            background: #fff;
            border: 1px solid $base-color1;
            border-radius: 3px;
            width: 100%;
            &.on {
                display: block;
            }
            li {
                a {
                    display: block;
                    padding: 5px 15px;
                }
                &:first-child {
                    a {
                        padding-top: 15px;
                    }
                }
                &:last-child {
                    a {
                        padding-bottom: 15px;
                    }
                }
            }
            a {
                color: $text-color2;
                transition: all 0.2s;
                &:hover {
                    color: $primary-color1;
                }
            }
        }
    }
}
.tab-list {
    display: flex;
    button,
    a {
        padding: 0 20px;
        flex: 1;
        height: 60px;
        line-height: 58px;
        text-align: center;
        font-size: 18px;
        border: 1px solid #dddddd;
        border-left: 0;
        &:first-child {
            border-left: 1px solid #dddddd;
        }
        &.on {
            background: #3555af;
            border-color: #3555af;
            font-weight: 500;
            color: #fff;
        }
    }
}
.tab-content {
    .tab-box {
        display: none;
        &.on {
            display: block;
        }
    }
}

// 회원
.member-wrap {
    padding: 100px 0 120px;
    border-top: 1px solid #ddd;
    .tit-area {
        text-align: center;
        .txt {
            margin-top: 12px;
            font-size: 16px;
            color: $text-color2;
        }
    }
    .w-set {
        max-width: 400px;
    }
    //로그인
    .login {
        margin-top: 40px;
        .input-wrap {
            input {
                height: 60px;
                line-height: 58px;
                padding: 0 16px;
            }
            + .input-wrap {
                margin-top: 10px;
            }
        }
    }
    .input-wrap {
        + .input-wrap {
            margin-top: 12px;
        }
        input {
            height: 50px;
            border-color: #ddd;
            padding: 0 14px;
            line-height: 48px;
            &::placeholder {
                color: #a7a7a7;
            }
        }
    }
    .btn {
        margin-top: 40px;
        height: 52px;
        line-height: 50px;
        font-weight: 400;
        + .btn {
            margin-top: 12px;
        }
    }
    .captcha-wrap {
        margin: 12px 0 0;
        border-radius: 6px;
        border: 1px solid #dddddd;
        .captcha {
            min-height: 70px;
            background: #ddd;
        }
        input[type="text"] {
            border: 0;
            padding: 0 14px;
        }
    }
    .note-txt {
        width: 100%;
        margin-top: 24px;
        border-radius: 6px;
        background-color: #f5f9fc;
        padding: 18px 14px 18px 16px;
        &.chk {
            .txt {
                padding-left: 20px;
                background-image: url("../images/common/ico/member_chk.svg");
                background-position: center left;
                background-size: 10px;
                font-size: 14px;
                line-height: 1;
            }
        }
        .txt {
            padding-left: 26px;
            background-image: url("../images/common/ico/login_note.svg");
            background-repeat: no-repeat;
            background-position: top 2px left;
            background-size: 18px;
            font-size: 16px;
            color: $text-color2;
            line-height: 24px;
            + .txt {
                margin-top: 14px;
            }
        }
    }
    .find-pw {
        display: block;
        text-align: center;
        font-size: 14px;
        color: $text-color2;
        line-height: 16px;
        margin-top: 40px;
        &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 17px;
            background: url("../images/common/ico/find_pw.svg") no-repeat center;
            margin: 0 8px -4px 0;
        }
    }
    .find-wrap {
        margin-top: 26px;
        padding-top: 160px;
        background-image: url("../images/common/img/find_pass.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 120px;
        .tab-menu {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            height: 50px;
            .tab {
                width: 50%;
                background-color: #fff;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
                color: #b2b2b2;
                &.on {
                    background-color: $primary-color2;
                    border-color: $primary-color2;
                    color: #fff;
                    font-weight: 600;
                }
                &:first-of-type {
                    border-radius: 6px 0 0 6px;
                    border: 1px solid #dddddd;
                    border-width: 1px 0 1px 1px;
                }
                &:last-of-type {
                    border-radius: 0 6px 6px 0;
                    border: 1px solid #dddddd;
                    border-width: 1px 1px 1px 0;
                }
                a {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    //회원가입
    .join-wrap {
        .w-set {
            max-width: 1000px;
        }
        .join-top {
            width: 100%;
            margin: 34px 0 40px;
            text-align: right;
            > span {
                font-size: 14px;
                color: $text-color2;
                &::before {
                    content: "* ";
                    color: $primary-color1;
                }
            }
            .info-box {
                margin: 10px 0 0;
                text-align: center;
                ul {
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                    border: solid #DDDDDD;
                    border-width: 1px 0 1px 0;
                    li {
                        display: table-cell;
                        border-left: 1px solid #DDDDDD;
                        .th {
                            height: 42px;
                            background-color: #F5F5F5;
                            border-bottom: 1px solid #DDDDDD;
                            line-height: 42px;
                            color: $text-color1;
                        }
                        span {
                            display: block;
                            height: 54px;
                            font-size: 16px;
                            line-height: 54px;
                            color: $text-color1;
                        }
                        &:last-of-type {
                            border-right: 1px solid #DDDDDD;
                        }
                    }
                }
                table {
                    width: 100%;
                    border: 1px solid #dddddd;
                    th {
                        height: 42px;
                        background-color: #f5f5f5;
                        border-right: 1px solid #dddddd;
                        font-size: 16px;
                        line-height: 40px;
                        font-weight: 400;
                        color: $text-color1;
                        &:last-of-type {
                            border: 0;
                        }
                    }
                    td {
                        height: 54px;
                        background-color: #fff;
                        border-top: 1px solid #dddddd;
                        border-right: 1px solid #dddddd;
                        font-size: 16px;
                        line-height: 52px;
                        color: $text-color1;
                    }
                }
            }
        }
        .join-form {
            dl {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                + dl {
                    margin-top: 20px;
                }
                dt {
                    width: 180px;
                    font-size: 16px;
                    color: $text-color1;
                    &::after {
                        content: " *";
                        color: $primary-color1;
                    }
                }
                dd {
                    flex: 1;
                    input {
                        height: 40px;
                        padding: 0 16px;
                        font-size: 15px;
                    }
                }
            }
            .input-wrap {
                display: flex;
                .type-address {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    input {
                        flex: 2;
                    }
                    .detail {
                        flex: 1;
                    }
                }
                .type-mobile {
                    gap: 5px;
                    .num-bar {
                        width: 6px;
                        height: 1px;
                        background-color: #222;
                    }
                    input {
                        flex: 1;
                        max-width: 120px;
                    }
                    + .btn {
                        width: 120px;
                        height: 40px;
                        margin-top: 0;
                        margin-left: 10px;
                        line-height: 38px;
                        span:last-of-type {
                            display: none;
                        }
                        &.resend {
                            border-color: #222;
                            span:first-of-type {
                                display: none;
                            }
                            span:last-of-type {
                                display: block;
                                color: #222;
                            }
                        }
                    }
                }
                select {
                    height: 40px;
                    width: 200px;
                    padding: 0 16px;
                    font-size: 15px;
                    color: #a7a7a7;
                }
                .cert-box {
                    display: flex;
                    max-width: 262px;
                    height: 40px;
                    padding-right: 16px;
                    font-size: 15px;
                    border: 1px solid #ddd;
                    border-radius: 6px;
                    background-color: #fff;
                    line-height: 38px;
                    input {
                        border: 0;
                        padding-right: 10px;
                        background-color: transparent;
                    }
                    .time {
                        color: #f50e0e;
                        font-size: 14px;
                    }
                    + .btn {
                        width: 120px;
                        height: 40px;
                        margin-top: 0;
                        line-height: 38px;
                    }
                }
                &.cert-wrap {
                    display: none;
                    gap: 10px;
                    &.on {
                        display: flex;
                    }
                }
            }
            .checkbox {
                label {
                    font-size: 16px;
                    &::before {
                        width: 22px;
                        height: 22px;
                        top: 0;
                        bottom: 0;
                        margin: auto 0;
                    }
                }
            }
            .btn-wrap {
                margin-top: 60px;
                justify-content: center;
                .btn {
                    margin-top: 0;
                    width: 200px;
                }
            }
        }
    }
}

//타이틀 배경이미지
.con-top {
    .tit-area {
        position: relative;
        width: 100%;
        height: 190px;
        .bg {
            width: 100%;
            height: 100%;
            background-image: url("../images/common/img/regi_bg.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .w-set {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            h2.tit {
                text-align: left;
                line-height: 190px;
                color: #fff;
            }
        }
    }
}
.con-btm {
    padding: 60px 0 120px;
}

//평가 접수
.regi-wrap {
    /* padding: 0 0 120px; */
    //접수 step
    .con-btm {
        padding-top: 60px;

        //step 리스트
        .w-set {
            &.type-s {
                padding: 0 100px;
            }
        }
        .step-list {
            display: flex;
            align-items: center;
            gap: 8px;
            width: 100%;
            height: 120px;
            padding: 20px 70px;
            border: 1px solid #ddd;
            &.type-w {
                height: 125px;
                padding: 0 30px;
            }
            > li {
                display: flex;
                align-items: center;
                gap: 24px;
                &.on {
                    i {
                        background-color: #111e55;
                    }
                    .step-txt {
                        color: #111e55;
                        .num {
                            font-weight: 600;
                        }
                        .txt {
                            font-weight: 700;
                        }
                    }
                }
                i {
                    width: 80px;
                    height: 80px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: #dddddd;
                    border-radius: 50%;
                }
                .step-txt {
                    text-align: center;
                    color: #b2b2b2;
                    .num {
                        font-size: 16px;
                    }
                    .txt {
                        margin-top: 6px;
                        font-size: 18px;
                    }
                }
                @for $i from 1 to 5 {
                    &.step0#{$i} {
                        i {
                            background-image: url("../images/common/ico/step0#{$i}.svg");
                        }
                    }
                }
                &::after,
                &::before {
                    content: "";
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    background-color: #dddddd;
                    border-radius: 50%;
                }
                &:first-of-type::before {
                    display: none;
                }
                &:last-of-type::after {
                    display: none;
                }
            }
        }
        .regi-con {
            margin-top: 40px;
            p.tit {
                width: 100%;
                font-size: 20px;
                font-weight: 500;
                em {
                    color: $primary-color1;
                }
            }
            .regi-step01 {
                .type,
                .program,
                .special {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px 10px;
                    margin-top: 40px;
                }
                .radiobox {
                    flex: 1;
                    height: 50px;
                    input[type="radio"]:checked + label {
                        color: $primary-color1;
                        background-color: #024fc41f;
                        border-color: $primary-color1;
                    }
                    label {
                        padding: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #ddd;
                        background-color: #fff;
                        border-radius: 5px;
                        line-height: 48px;
                        text-align: center;
                        color: #666;
                        font-size: 14px;
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .btn-wrap {
        margin-top: 60px;
        justify-content: center;
        .btn {
            max-width: 200px;
            &.next {
                &::after {
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 10px;
                    margin-left: 10px;
                    background-image: url("../images/common/ico/link.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}

//알림마당
.board-wrap {
    .boardList-wrap {
        .search-wrap {
            max-width: 550px;
            height: 50px;
            margin: 0 auto 24px;
            form {
                display: flex;
                align-items: center;
                gap: 10px;
            }
            select {
                padding: 0 15px;
                width: 140px;
                border-radius: 3px;
                font-size: 14px;
                color: #666;
            }
            .input-label {
                flex: 1;
                display: flex;
                align-items: center;
                height: 100%;
                padding-right: 24px;
                border-radius: 3px;
                border: 1px solid #d3d3d3;
                input[type="text"] {
                    border: 0;
                }
            }
            .search-btn {
                font-size: 0;
                width: 20px;
                height: 20px;
                background-image: url("../images/common/ico/search.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px;
            }
        }
        .board-count {
            text-align: left;
            margin-bottom: 20px;
            span {
                font-size: 14px;
                color: #333;
                em {
                    color: $primary-color1;
                }
            }
        }
        .table-top {
            display: table;
            width: 100%;
            table-layout: fixed;
            border-top: 2px solid #222;
            border-bottom: 1px solid #222;
            line-height: 57px;
            font-weight: 500;
            font-size: 18px;
        }
        .table-wrap {
            border-bottom: 1px solid #222;
            .table-list {
                border-bottom: 1px solid #ddd;
                display: table;
                table-layout: fixed;
                width: 100%;
                font-size: 16px;
                padding: 12px 0;
                &:last-of-type {
                    border-bottom: 0;
                }
                .list {
                    &.date,
                    &.hit {
                        font-family: $mont;
                    }
                    &.title {
                        text-align: left;
                        padding-left: 20px;
                        > a {
                            display: inline-block;
                            max-width: calc(100% - 300px);
                            vertical-align: middle;
                            @include ellipsis(1);
                        }
                    }
                }
            }
        }
        .list {
            display: table-cell;
            text-align: center;
            &.no {
                width: 120px;
                font-family: $mont;
                &.is-notice {
                    span {
                        display: inline-block;
                        background-color: #3555af;
                        border-radius: 3px;
                        font-size: 14px;
                        color: #fff;
                        padding: 0 20px;
                        line-height: 32px;
                    }
                }
            }
            &.date {
                width: 200px;
            }
            &.hit {
                width: 100px;
            }
        }
    }
}

@include tablet {
    .member-wrap {
        .join-wrap {
            .join-top {
                .info-box {
                    background-color: transparent !important;
                    padding: 0 !important;
                    ul {
                        border: solid #DDDDDD !important;
                        border-width: 1px 0 1px 0 !important;
                        li {
                            display: table-cell !important;
                            border-left: 1px solid #DDDDDD !important;
                            .th {
                                height: 42px !important;
                                line-height: 42px !important;
                                border-bottom: 1px solid #DDDDDD !important;
                            }
                            span {
                                height: 54px !important;
                                line-height: 54px !important;
                            }
                            &:last-of-type {
                                border-right: 1px solid #DDDDDD !important;
                            }
                        }
                    }
                }
            }
            .join-form {
                .input-wrap {
                    gap: 10px;
                    .type-mobile {
                        flex: 2;
                        + .btn {
                            flex: 1;
                            margin-top: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    //타이틀 배경
    .con-top {
        .tit-area {
            height: 160px;
            .w-set {
                h2.tit {
                    text-align: center;
                    line-height: 160px;
                }
            }
        }
    }
    .con-btm {
        padding: 40px 0 80px;
    }

    //회원
    .member-wrap {
        padding: 50px 0 100px;
        .tit-area {
            margin-bottom: 20px;
            .txt {
                margin-top: 8px;
                font-size: 14px;
            }
        }
        //로그인
        .login {
            .input-wrap {
                input {
                    height: 40px;
                    line-height: 38px;
                }
            }
        }
        .input-wrap {
            input {
                height: 40px;
                padding: 0 12px;
                line-height: 38px;
                font-size: 14px;
            }
            + .input-wrap {
                margin-top: 10px;
            }
        }
        .btn {
            height: 50px;
            line-height: 48px;
        }
        .captcha-wrap {
            margin-top: 20px;
        }
        .note-txt {
            margin-top: 20px;
            padding: 16px 12px;
            &.chk {
                margin-top: 16px;
                padding: 14px 12px 16px;
            }
            .txt {
                padding-left: 24px;
                font-size: 14px;
                line-height: 20px;
                background-size: 16px;
                + .txt {
                    margin-top: 10px;
                }
            }
        }
        .find-pw {
            margin-top: 20px;
            font-size: 12px;
            &::before {
                width: 7px;
                height: 15px;
                background-size: contain;
                margin-right: 6px;
            }
        }
        .find-wrap {
            margin-top: 26px;
            padding-top: 110px;
            background-size: 90px;
            .tab-menu {
                height: 42px;
                margin-bottom: 20px;
                .tab {
                    line-height: 40px;
                    font-size: 14px;
                }
            }
        }

        //회원가입
        .join-wrap {
            .join-top {
                margin: 26px 0 20px;
                > span {
                    font-size: 12px;
                }
                .info-box {
                    margin: 8px 0 0;
                    background-color: #f5f5f5;
                    padding: 20px 12px;
                    ul {
                        li {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border: 0;
                            span, .th {
                                height: auto;
                                line-height: 1;
                                border-bottom: 0;
                            }
                            + li {
                                margin-top: 12px;
                            }
                            &:last-of-type {
                                border: 0;
                            }
                        }
                    }
                }
            }
            .join-form {
                dl {
                    + dl {
                        margin-top: 16px;
                    }
                    dt {
                        width: 100%;
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
                    dd {
                        input {
                            padding: 0 12px;
                            font-size: 14px;
                        }
                    }
                }
                .input-wrap {
                    flex-wrap: wrap;
                    .type-address {
                        flex-wrap: wrap;
                        gap: 6px;
                        input {
                            flex: auto;
                            width: 100%;
                            padding: 0 10px;
                        }
                    }
                    .type-mobile {
                        width: 100%;
                        gap: 7px;
                        input {
                            max-width: none;
                            padding: 0 10px;
                        }
                        + .btn {
                            width: 100%;
                            margin-top: 10px;
                            margin-left: 0;
                            font-size: 14px;
                        }
                    }
                    select {
                        width: 100%;
                        padding: 0 12px;
                        font-size: 14px;
                    }
                    .cert-box {
                        max-width: none;
                        flex: 2;
                        padding-right: 10px;
                        input {
                            padding: 0 10px;
                        }
                        .time {
                            font-size: 12px;
                        }
                        + .btn {
                            flex: 1;
                            width: auto;
                            font-size: 14px;
                        }
                    }
                }
                .checkbox {
                    label {
                        font-size: 14px;
                        &::before {
                            width: 20px;
                            height: 20px;
                            top: 3px;
                            bottom: auto;
                        }
                    }
                }
                .btn-wrap {
                    margin-top: 40px;
                    gap: 14px;
                    .btn {
                        flex: 1;
                    }
                }
            }
        }
    }

    .board-wrap {
        .boardList-wrap {
            .search-wrap {
                max-width: 100%;
                height: auto;
                margin: 0 auto 32px;
                form {
                    flex-wrap: wrap;
                }
                select {
                    width: 100%;
                    padding: 0 14px;
                    font-size: 16px;
                }
                input {
                    height: 50px;
                }
                .input-label{
                    padding-right: 14px;
                }
            }
            .board-count {
                margin-bottom: 14px;
            }
            .table-wrap {
                border-top: 2px solid #222;
                .table-list {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 12px 10px;
                    .list {
                        &.title {
                            display: flex;
                            align-items: center;
                            padding: 0;
                            > a{
                                max-width: calc(100% - 5px);
                                width: calc(100% - 5px);
                            }
                        }
                        &.no {
                            display: none;
                            &.is-notice {
                                display: inline-block;
                                + .title {
                                    width: calc(100% - 76px);
                                }
                            }
                        }
                        &.date::after {
                            content: '';
                            display: inline-block;
                            width: 1px; height: 10px;
                            margin-left: 10px;
                            background-color: #D3D3D3;
                        }
                    }
                }
                .list {
                    &.no, &.date, &.hit {
                        width: auto;
                        font-size: 14px;
                    }
                    &.title {
                        width: 100%;
                        .new-ico {
                            margin-right: 16px;
                        }
                    }
                }
            }
        }
    }
}
