@import "./utility.scss";

// 공통
h2.tit {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    font-family: $mont;
    @media (max-width: 1300px) {
        font-size: 26px;
        line-height: 36px;
    }
}
h3.tit {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
}

.location {
    height: 44px;
    background: #fff;
    font-size: 0;
    border-bottom: 1px solid #e0e0e0;
    .w-set {
        height: 100%;
        & > li {
            position: relative;
            display: inline-block;
            height: 100%;
            & + li {
                & > a {
                    padding-left: 29px;
                    vertical-align: middle;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 5px;
                    height: 8px;
                    background: url("../images/common/ico/location_depth.svg") no-repeat;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            & > a {
                line-height: 44px;
                height: 100%;
            }
        }
    }
    a {
        display: inline-block;
        font-size: 14px;
        position: relative;
        & + a {
            padding: 15px 20px;
            &::after {
                content: "";
                display: inline-block;
                width: 1px;
                height: 20px;
                background: $base-color1;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .home {
        font-size: 0;
        padding-right: 24px;
        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("../images/common/ico/location_home.svg") no-repeat center;
            margin-bottom: -6px;
        }
    }
    .has-select {
        padding-right: 40px;
        background: url("../images/common/ico/location_arrow.svg") no-repeat right 20px center;
        & + ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            background: #fff;
            border: 1px solid $base-color1;
            border-radius: 3px;
            padding: 0 15px;
            width: 100%;
            &.on {
                display: block;
            }
            li {
                a {
                    display: block;
                    padding: 5px 0;
                }
                &:first-child {
                    a {
                        padding-top: 15px;
                    }
                }
                &:last-child {
                    a {
                        padding-bottom: 15px;
                    }
                }
            }
            a {
                color: $text-color2;
                transition: all 0.2s;
                &:hover {
                    color: $primary-color1;
                }
            }
        }
    }
}

// 회원
.member {
    padding: 100px 0 0;
    border-top: 1px solid #ddd;
    .tit-area {
        margin-bottom: 40px;
    }
    .w-set {
        max-width: 400px;
    }
    .input-wrap {
        + .input-wrap {
            margin-top: 10px;
        }
        input {
            height: 60px;
            border-color: #ddd;
            padding: 0 16px;
            line-height: 58px;
        }
    }
    .btn {
        margin-top: 40px;
        height: 52px;
        line-height: 50px;
        font-weight: 400;
        + .btn {
            margin-top: 12px;
        }
    }
    .captcha_wrap{
        margin: 12px 0 0;
        border-radius: 6px;
        border: 1px solid #DDDDDD;
        .captcha {
            min-height: 70px;
            background: #ddd;
        }
        input[type=text]{
            border: 0;
            padding: 0 14px;
        }
    }
    .note_txt{
        width: 100%;
        margin-top: 24px;
        border-radius: 6px;
        background-color: #F5F9FC;
        padding: 18px 14px 18px 16px;
        .txt {
            display: flex; gap: 8px;
            font-size: 16px;
            color: $text-color2;
            line-height: 24px;

            i{
                flex: 0 0 18px;
                width: 18px; height: 18px;
                margin-top: 2px;
                background-image: url(../images/common/ico/login_note.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
            + .txt{
                margin-top: 14px;
            }
        }
    }
    .find-pw {
        display: block;
        text-align: center;
        font-size: 14px;
        color: $text-color2;
        line-height: 16px;
        margin-top: 40px;
        &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 17px;
            background: url("../images/common/ico/find_pw.svg") no-repeat center;
            margin: 0 8px -4px 0;
        }
    }
}


@include mobile{
    .member{
        padding: 50px 0 0;
        .input-wrap{
            input{
                height: 40px;
                padding: 0 12px;
                line-height: 38px;
                font-size: 14px;
            }
        }
        .btn{
            height: 50px;
            line-height: 48px;
        }
        .captcha_wrap{
            margin-top: 20px;
        }
        .note_txt{
            margin-top: 20px;
            padding: 16px 12px;
            .txt {
                display: flex; gap: 8px;
                font-size: 14px;
                line-height: 20px;
                i{
                    flex: 0 0 16px;
                    width: 16px; height: 16px;
                    background-size: contain;
                }
                + .txt{
                    margin-top: 10px;
                }
            }
        }
        .find-pw{
            margin-top: 20px;
            font-size: 12px;
            &::before{
                width: 7px;
                height: 15px;
                background-size: contain;
                margin-right: 6px;
            }
        }
    }
}