@import "./utility.scss";

// 공통
h2.tit {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    font-family: $mont;
    @media (max-width: 1300px) {
        font-size: 26px;
        line-height: 36px;
    }
}
h3.tit {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
}

.location {
    height: 44px;
    background: #fff;
    font-size: 0;
    border-bottom: 1px solid #e0e0e0;
    .w-set {
        height: 100%;
        & > li {
            position: relative;
            display: inline-block;
            height: 100%;
            & + li {
                & > a {
                    padding-left: 29px;
                    vertical-align: middle;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 5px;
                    height: 8px;
                    background: url("../images/common/ico/location_depth.svg") no-repeat;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            & > a {
                line-height: 44px;
                height: 100%;
            }
        }
    }
    a {
        display: inline-block;
        font-size: 14px;
        position: relative;
        & + a {
            padding: 15px 20px;
            &::after {
                content: "";
                display: inline-block;
                width: 1px;
                height: 20px;
                background: $base-color1;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .home {
        font-size: 0;
        padding-right: 24px;
        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("../images/common/ico/location_home.svg") no-repeat center;
            margin-bottom: -6px;
        }
    }
    .has-select {
        padding-right: 40px;
        background: url("../images/common/ico/location_arrow.svg") no-repeat right 20px center;
        & + ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            background: #fff;
            border: 1px solid $base-color1;
            border-radius: 3px;
            padding: 0 15px;
            width: 100%;
            &.on {
                display: block;
            }
            li {
                a {
                    display: block;
                    padding: 5px 0;
                }
                &:first-child {
                    a {
                        padding-top: 15px;
                    }
                }
                &:last-child {
                    a {
                        padding-bottom: 15px;
                    }
                }
            }
            a {
                color: $text-color2;
                transition: all 0.2s;
                &:hover {
                    color: $primary-color1;
                }
            }
        }
    }
}

// 회원
.member {
    padding: 100px 0 200px;
    border-top: 1px solid #ddd;
    .tit-area {
        margin-bottom: 40px;
        .txt {
            margin-top: 12px;
            font-size: 16px;
            color: $text-color2;
            text-align: center;
        }
    }
    .w-set {
        max-width: 400px;
    }
    .input-wrap {
        + .input-wrap {
            margin-top: 10px;
        }
        input {
            height: 60px;
        }
    }
    .btn {
        margin-top: 40px;
        height: 52px;
        line-height: 50px;
        + .btn {
            margin-top: 12px;
        }
        @media (max-width: 1300px) {
            margin-top: 30px;
            height: 50px;
        }
    }
    .captcha {
        margin: 12px 0 0;
        min-height: 120px;
        background: #ddd;
    }
    .find-pw {
        display: block;
        text-align: center;
        font-size: 14px;
        color: $text-color2;
        line-height: 16px;
        margin-top: 40px;
        &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 17px;
            background: url("../images/common/ico/find_pw.svg") no-repeat center;
            margin: 0 8px -4px 0;
        }
    }
}
