@import "./utility.scss";

.wbz-popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.wbz-popup-cont {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 20px 40px;
    background: #fff;
    width: 100%;
    max-width: 800px;
    border-radius: 6px;
    &.on {
        display: block;
    }
    &.size-m{
        max-width: 584px;
    }
    .popup-header {
        padding-bottom: 20px;
        &.type-border {
            border-bottom: 2px solid #707070;
        }
        .popup-title {
            text-align: center;
            display: block;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
        }
        .popup-close {
            position: absolute;
            right: 26px;
            top: 30px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            margin-right: -4px;
            background: url("../images/common/ico/aside_close.svg") no-repeat center center;
            background-size: 18px;
            border: 0 none;
            font-size: 0;
        }
    }
    .popup-cont {
        max-height: 500px;
        overflow-y: auto;
        & > img {
            width: 100%;
        }
        // 스크롤
        &::-webkit-scrollbar {
            width: 8px; /* 가로축 스크롤바 폭 너비 */
            cursor: pointer;
            margin-left: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: #ddd; /* 스크롤바의 색상 */
            border-radius: 10px;
            cursor: pointer;
        }
        &::-webkit-scrollbar-track {
            background: #f4f4f4; /*스크롤바 뒷 배경 색상*/
            border-radius: 10px;
            cursor: pointer;
        }
        .popup-text {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
        }
        .popup-terms {
            max-height: 470px;
            overflow-y: auto;
            font-size: 16px;
            line-height: 20px;
            border: 1px solid #eee;
            padding: 15px 20px;
            pre {
                white-space: pre-line;
                font-size: 14px;
                line-height: 150%;
                font-weight: 400;
                word-break: break-all;
                color: #333;
                padding-right: 20px;
            }
        }
        .popup-button {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            gap: 12px;
            button {
                max-width: 140px;
                width: 100%;
                font-size: 16px;
                height: 50px;
                line-height: 48px;
                border: 1px solid $primary-color1;
                border-radius: 3px;
            }
            .cr_1 {
                background-color: $primary-color1;
                color: #fff;
            }
            .cr_2 {
                background-color: #fff;
                color: $text-color1;
                border-color: #666;
            }
            .cr_3{
                background-color: #222;
                border-color: #222;
                color: #fff;
            }
        }
    }
    // 인스턴트 팝업
    &.type-alert {
        max-width: 380px;
        padding: 50px 45px 40px;
        .popup-header {
            padding: 0;
            .popup-close {
                right: 26px;
                top: 26px;
            }
        }
        .popup-cont {
            max-height: none;
            overflow: visible;
            .popup-text {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                min-height: 90px;
                .desc {
                    padding-top: 10px;
                    font-weight: 400;
                    font-size: 17px;
                }
            }
            .popup-button {
                margin-top: 30px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .wbz-popup-cont.type-bottom {
        transform: translate(-50%, -50%) scale(0);
    }
    .wbz-popup-cont.type-bottom.on.ani {
        transform: translate(-50%, -50%) scale(100%);
    }
}

@media (max-width: 1023px) {
    .wbz-popup-cont {
        // 모바일 풀 팝업
        &.type-full {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateY(0);
            border-radius: 0;
        }
        // 모바일 바텀 팝업
        &.type-bottom {
            top: auto;
            bottom: 0;
            left: 0;
            width: 100%;
            max-height: calc(100% - 55px);
            transform: translateY(100%);
            transition: 0.4s;
            border-radius: 20px 20px 0px 0px;
            overflow-y: auto;
            &.on.ani {
                transform: translateY(0);
            }
        }
        // 모바일 풀바텀 팝업
        &.m-full {
            max-height: 100%;
            height: 100%;
            border-radius: 0;
            padding: 0;
            .popup-header {
                position: relative;
                justify-content: center;
                padding: 0;
                height: 51px;
                border-bottom: 1px solid #d3d3d3;
                .popup-title {
                    font-size: 18px;
                    margin: 0 auto;
                }
                .popup-close {
                    position: absolute;
                    left: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url("../images/common/ico/ico_popup_back.svg");
                    background-size: 10px auto;
                }
            }
            .popup-cont {
                max-height: calc(100% - 51px);
                padding-bottom: 64px;
            }
            .popup-bottom {
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 16px;
                .btn {
                    height: 50px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .wbz-popup-cont {
        max-width: calc(100% - 36px);
    }
}

@media (max-width: 400px) {
    .wbz-popup-cont {
        &.type-alert {
            max-width: calc(100% - 36px);
        }
    }
}
