@charset "utf-8";

@import url('common.css');
@import url('layout.css');

/* space */
.mt0 {margin-top:0 !important;}
.mt05 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mr45 {margin-right:45px !important;}
.mt65 {margin-top:65px !important;}
.pt25 {padding-top: 25px !important;}
.pl20 {padding-left: 20px !important;}


/* color */
.tclr01 {color:#f82307 !important;}

/* text_type */
.ttype01 {padding-top:20px;color:#444;}
.ttype02 {line-height:25px;}
.ttype03 {padding:25px 0 10px;text-align:center;line-height:25px;}
.ttype04 {color:#666;font-size:13px;}
.ttype05 {padding-left:130px;text-align:center;color:#666;}
.ttype06 {margin:30px 0 15px;color:#f95300;}
.ttype07 {margin:28px 0 18px;color:#f82307;}
.ttype08 {margin-bottom:-15px;color:#ec3a04;}
.ttype09 {color:#555;font-size:15px;}
.ttype10 {color:#7d7d7d;font-size:14px;}

/* list_type */
.ulist01 li {margin-top:6px;padding-left:10px;background:url('/images/common/bult04.gif') no-repeat 0 10px;}
.ulist01 li:first-child {margin-top:0;}
.ulist01 li.li01 {padding-left:0;background:none;}
.ulist02 {margin-top:20px;}
.ulist02:first-child {margin-top:0;}
.ulist02 li {padding-left:10px;line-height:24px;background:url('/images/common/bult04.gif') no-repeat 0 10px;}
.ulist02 li.li01 {padding-left:0;background:none;}
.dlist01 dt {margin:20px 0 10px;padding-left:16px;color:#333;font-size:18px;font-weight:bold;background:url('/images/common/bult06.gif') no-repeat 0 50%;}
.dlist01 dt:first-child {margin-top:0;}
.dlist01 dd {padding-left:16px;margin-bottom:3px;}
.dlist01 dd ol li {line-height:24PX;}
.dlist02 dt {margin-top:5px;color:#000;font-weight:bold;}
.dlist02 dt:first-child {margin-top:0;}
.dlist02 dd {color:#555;padding-left:10px;background:url('/images/common/bult04.gif') no-repeat 0 10px;}

/* heading */
.h401 {margin-bottom:20px;padding-left:17px;color:#333;font-size:22px;font-weight:bold;background:url('/images/common/bult01.gif') no-repeat 0 50%;}
.h402  { font-size: 20px;
    font-weight: 600;
    position: relative;
    padding-top: 13px;
    margin-top: 44px;
    line-height: 1.2;
    letter-spacing: -0.2px;
	margin-bottom: 10px;}
	.h402::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 9px;
    background-image: url(/images/common/title_deco.png);
    position: absolute;
    top: 0px;
}
.h402 span {font-size:18px;font-weight:normal;}
.h402 .btn_down {margin-left:20px;}
.h402_frt { font-size: 20px;
    font-weight: 600;
    position: relative;
    padding-top: 13px;
    margin-top: 0px;
    line-height: 1.2;
    letter-spacing: -0.2px;margin-bottom: 10px;}
.h402_frt::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 9px;
    background-image: url(/images/common/title_deco.png);
    position: absolute;
    top: 0px;
}
.h403 {margin:40px 0 25px;color:#333;font-size:22px;font-weight:bold;}
.h403 .ico_txt {display:inline-block;width:43px;height:24px;margin-right:10px;line-height:24px;font-size:14px;color:#fff;text-align:center;font-weight:bold;background:#fcb208;vertical-align:middle;}
.h403 em {display:inline-block;margin-left:25px;color:#222;font-size:16px;font-weight:normal;}
.h404 {margin:40px 0 20px;padding-left:16px;color:#222;font-size:18px;font-weight:bold;background:url('/images/common/bult06.gif') no-repeat 0 50%;}
.h404 span {color:#333;font-size:16px;font-weight:normal;}
.h405 {margin:40px 0 25px;color:#333;font-size:25px;font-weight:bold;}
.h501 {margin-bottom:20px;padding-left:16px;color:#ff7403;font-size:18px;font-weight:bold;background:url('/images/common/bult05.gif') no-repeat 0 50%;}
.h502 {margin:40px 0 20px;color:#333;font-size:20px;font-weight:bold;}
.h503 {margin:30px 0 15px;color:#333;font-size:16px;font-weight:normal;}
.h503:first-child {margin-top:0;}
.h504 {margin:30px 0 15px;padding-left:16px;color:#222;font-size:18px;font-weight:bold;background:url('/images/common/bult01.gif') no-repeat 0 50%;}
.h504:first-child {margin-top:0;}
.h505 {margin:20px 0 3px;color:#333;font-size:14px;font-weight:normal;}
.h601 {margin:20px 0 15px 10px;color:#333;font-size:14px;font-weight:normal;}
.h601_frt {margin:3px 0 15px 10px;color:#333;font-size:14px;font-weight:normal;}
.twrap {position:relative;}
.twrap .ico_add {position:absolute;right:0;top:10px;color:#333;font-size:15px;font-weight:bold;}
.twrap .ico_add img {margin-right:8px;}
.twrap .ess_making2 {position:absolute;right:0;top:5px;}
.twrap .btn_down2 {position:absolute;right:0;top:0;}

/* input,select,textarea */
input.intype {height:31px;padding-left:8px;font-size:15px;border:1px solid #adadad;}
input.intype.type2 {margin-bottom:10px;background:#f8f8f8;}
input.intype2 {height:37px;padding-left:8px;font-size:15px;border:1px solid #adadad;background:#f7f7f7;}
input.intype3 {height:31px;padding-right:8px;font-size:15px;text-align:right;border:1px solid #adadad;}
select.seltype {height:31px;padding-left:6px;border:1px solid #adadad;}
select.seltype2 {height:39px;padding-left:6px;border:1px solid #adadad;}
textarea {padding:5px;border:1px solid #adadad;overflow:auto;}
input::-webkit-input-placeholder {color:#666;font-size:14px;}
input:-moz-placeholder {color:#666;font-size:14px;}
input::-moz-placeholder {color:#666;font-size:14px;}
input:-ms-input-placeholder {color:#666;font-size:14px;}

/* tab */
.tab0 li {width:100%;}
.tab1 li {width:100%;}
.tab2 li {width:50%;}
.tab3 li {width:33.33%;}
.tab3 li:last-child {width:33.34%;}
.tab4 li {width:25%;}
.tab5 li {width:20%;} 
.tab6 li {width:16.66%;}
.tab7 li {width:14.28%;} 

.tab01 {margin-bottom:50px;padding-top:1px;overflow:hidden;clear:both;}
.tab01.type2 {margin-bottom:0;}
.tab01 li {float:left;text-align:center;}
.tab01 li a {display:block;height:50px;line-height:50px;font-size:16px;color:#222;border:1px solid #c9c9c9;border-left:0;}
.tab01 li:first-child a {border-left:1px solid #c9c9c9;}
.tab01 li a:hover {color:#00924e;}
.tab01 li.on {background:#80c623;}
.tab01 li.on a {color:#fff;font-weight:bold;border:1px solid #80c623;}
.tab01 li span {font-weight:bold;}
.tab01 li.on span {color:#fff441;text-decoration:underline;}
.tab02 {margin-bottom:45px;overflow:hidden;clear:both;background:#f6f6f6;border-bottom:1px solid #c9c9c9;}
.tab02.type2 {float:right;}
.tab02.type3 {margin-bottom:12px;}
.tab02.type3 ul {float:none;width:auto;padding-left:10px;text-align:left;}
.tab02 ul {width:50%;overflow:hidden;text-align:center;}
.tab02 ul.right {float:right;}
.tab02 li {display:inline;padding:0 13px;}
.tab02 li a {display:inline;height:50px;padding:0 2px;line-height:50px;font-size:15px;color:#444;}
.tab02 li a:hover {color:#1aa000;text-decoration:underline;}
.tab02 li.on a {padding-left:10px;color:#1aa000;font-weight:bold;text-decoration:underline;background:url('/images/common/bult02.gif') no-repeat 0 50%;}
.tab03 {height:41px;margin-bottom:25px;clear:both;border-bottom:1px solid #000;}
.tab03:after {content: ".";display:block;height:0;clear:both;visibility:hidden;}
.tab03 li {float:left;width:160px;text-align:center;}
.tab03 li a {display:block;height:40px;line-height:40px;color:#666;border:1px solid #bebebe;border-left:0;border-bottom:0;background:#f6f7f7;}
.tab03 li:first-child a {border-left:1px solid #bebebe;}
.tab03 li.on:first-child a {margin-left:0;}
.tab03 li a:hover {color:#00924e;}
.tab03 li.on a {height:41px;margin-left:-1px;color:#000;border:1px solid #000;border-bottom:0;background:#fff;}

/* table */
.tbl01 {width:100%;border-top:2px solid #666;clear:both;letter-spacing:-0.5px;}
.tbl01 thead th {padding:10px 0;font-size:15px;color:#000;border-bottom:1px solid #666;background:#f7f7f7;}
.tbl01 tbody th {padding:15px 0;color:#555;font-weight:normal;border-bottom:1px solid #e1e1e1;border-right:1px solid #e1e1e1;}
.tbl01 thead th.th01 {padding:9px 0;line-height:18px;}
.tbl01 tbody th.th01 {padding:15px 10px 15px 18px;border-right:0;text-align:left;}
.tbl01 tbody th.th02 {font-size:15px;color:#000;font-weight:bold;background:#f7f7f7;}
.tbl01 td {padding:15px 10px 15px 18px;text-align:left;color:#555;border-bottom:1px solid #e1e1e1;}
.tbl01 .sline {border-left:1px solid #e1e1e1;}
.tbl01 .tcenter {padding:15px 0;text-align:center;}
.tbl01 .check {font-size:20px;background:#f7f7f7;}
.tbl01 td hr {display:block;height:1px;margin:5px 0;border-color:#808080;border-style:dotted;border-width:1px 0 0;}
.tbl02 {width:100%;border-top:2px solid #666;clear:both;letter-spacing:-0.5px;}
.tbl02 thead th {padding:12px 0;font-size:15px;color:#000;border-bottom:1px solid #ddd;border-right:1px solid #d2d7dc;background:#eef3f7;font-weight: 500;}
.tbl02 thead th.th01 {border-bottom:1px solid #d2d7dc;}
.tbl02 tbody th {padding:15px 0;color:#555;font-weight:normal;border-bottom:1px solid #d2d7dc;border-right:1px solid #d2d7dc;}
.tbl02 td {padding:15px 0;text-align:center;color:#555;border-bottom:1px solid #d2d7dc;border-right:1px solid #d2d7dc;}
.tbl02 td.td01 {color:#000;font-weight:bold;background:#f7f7f7;}
.tbl02 .tleft {padding:15px 10px 15px 18px;text-align:left;}
.tbl02 .last {border-right:0;}
.tbl02 .down {text-align:right;padding-right:40px;background:url('/images/sub/ico_down2.gif') no-repeat 40px 50%;}
.tbl02 .up {text-align:right;padding-right:40px;background:url('/images/sub/ico_up.gif') no-repeat 40px 50%;}
.tbl02 tr.sum th,.tbl02 tr.sum td {padding:15px 0;font-size:15px;color:#000;font-weight:bold;background:#f7f7f7;}
.tbl02 tr.sum .down {text-align:right;padding-right:40px;background:#f7f7f7 url('/images/sub/ico_down2.gif') no-repeat 40px 50%;}
.tbl02 tr.sum .up {text-align:right;padding-right:40px;background:#f7f7f7 url('/images/sub/ico_up.gif') no-repeat 40px 50%;}
.tbl03 {width:100%;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;clear:both;letter-spacing:-0.5px;}
.tbl03 th {padding:6px 0;text-align:center;font-size:;border-right:1px solid #d8d8d8;background:#f6f6f6;}
.tbl03 td {padding:6px 0;text-align:center;font-size:;border-top:1px solid #d8d8d8;border-right:1px solid #d8d8d8;}

/* search */
.tbl_search {width:100%;border-top:1px solid #c9c9c9;clear:both;line-height:20px;letter-spacing:-0.5px;}
.tbl_search th {padding:12px 0;font-size:15px;color:#333;border-right:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;background:#eef3f7;font-weight: 600;}
.tbl_search td {padding:12px 0 12px 22px;color:#222;text-align:left;border-bottom:1px solid #c9c9c9;}
.tbl_search .sline {border-left:1px solid #c9c9c9;}
.tbl_search .th01 {padding:18px 0 6px 22px;text-align:left;vertical-align:top;}
.tbl_search .chk_list {overflow:hidden;}

.chk_list input[type]{ position: absolute; right: 0; opacity: 0;}
.chk_list label{display: inline-block;vertical-align: middle;padding-left: 25px;line-height: 24px;} 
.chk_list label{background: url(/images/common/chk_ico_off.png); vertical-align: inherit; background-repeat: no-repeat; background-position: 0 3px;}
.chk_list input:checked + label {background: url(/images/common/chk_ico_on.png);  background-repeat: no-repeat; background-position: 0 3px;}


.tbl_search .chk_list li,.tbl_search .chk_list1 li,.tbl_search .chk_list2 li,.tbl_search .chk_list3 li,.tbl_search .chk_list4 li,.tbl_search .chk_list5 li {float:left;width:25%;margin:8px 0;}
.tbl_search .chk_list.type2 li {float:left;width:20%;margin:8px 0;}
.tbl_search .chk_list li label,.tbl_search .chk_list1 li label,.tbl_search .chk_list2 li label,.tbl_search .chk_list3 li label,.tbl_search .chk_list4 li label,.tbl_search .chk_list5 li label {margin-left:6px;font-size:14px;color:#333;}
.tbl_search .chk_list1,.tbl_search .chk_list2,.tbl_search .chk_list3 {height:35px;margin-top:-3px;overflow:hidden;}
.tbl_search .chk_list4,.tbl_search .chk_list5 {height:74px;overflow:hidden;}
.tbl_search .chk_list5 .etc {width:50%}
.tbl_search .chk_list5 .etc .intype {height:28px;margin-left:10px;}
.tbl_search .ico_plus1,.tbl_search .ico_plus2,.tbl_search .ico_plus3,.tbl_search .ico_plus4,.tbl_search .ico_plus5 {display:inline-block;width:20px;height:16px;margin-left:30px;text-indent:-9999px;overflow:hidden;background:url('/images/common/ico_plus.gif') no-repeat 0 0;vertical-align:middle;}
.tbl_search .ico_plus1.on,.tbl_search .ico_plus2.on,.tbl_search .ico_plus3.on,.tbl_search .ico_plus4.on,.tbl_search .ico_plus5.on {background:url('/images/common/ico_minus.gif') no-repeat 0 0;}
.tbl_search .ico_plus4 {display:inline-block;width:20px;height:16px;margin-left:14px;text-indent:-9999px;overflow:hidden;background:url('/images/common/ico_plus.gif') no-repeat 0 0;vertical-align:middle;}
.tbl_search .ico_plus5 {position:relative;top:-20px;display:inline-block;width:20px;height:16px;margin-left:28px;text-indent:-9999px;overflow:hidden;background:url('/images/common/ico_plus.gif') no-repeat 0 0;vertical-align:middle;}

.search_btn {padding:30px 0 40px;text-align:center;}
a.btn_search {display:inline-block;padding:0 32px;height:40px;line-height:40px;text-align:center;font-size:17px;color:#fff;font-weight:500;vertical-align:middle;background:#323232;white-space:nowrap;}

.board_search {padding:12px 0;margin-bottom:40px;text-align:center;border:1px solid #e8e8e8;background:#f7f7f7;margin-top: 26px;}
.board_search span {display: inline-block;padding-right:10px;font-size:16px;color:#333;font-weight:bold;line-height: 32px;vertical-align: top;}
.board_search .intype {height:33px;margin-right:-5px;}

/* tbl_list */
.tbl_list {width:100%;border-top:2px solid #666;clear:both;line-height:20px;letter-spacing:-0.5px;table-layout: fixed;}
.tbl_list th {padding:15px 0;font-size:15px;color:#222;border-bottom:1px solid #666;background:#f7f7f7;font-weight: 600;}
.tbl_list td {padding:15px 0;text-align:center;color:#555;border-bottom:1px solid #e1e1e1;overflow:hidden; text-overflow:ellipsis;white-space: nowrap;}
.tbl_list .tit,.tbl_list .tleft {padding:15px 0 15px 10px;text-align:left;}
.tbl_list .tit a {color:#000;}
.tbl_list .tit2 a,.tbl_list .link a {color:#000;text-decoration:underline;}
.tbl_list .link2 a {color:#047d3e;text-decoration:underline;}
.tbl_list .link3 a {color:#f86516;text-decoration:underline;}
.tbl_list .noti_tit {padding:17px 0 17px 10px;text-align:left;font-weight:bold;}
.tbl_list .noti {color:#26895b;font-weight:bold;}
.tbl_list .source a {font-size:13px;text-decoration:underline;color:#555;}
.tbl_list .source a:hover,.tbl_list .tit a:hover,.tbl_list .tit2 a:hover {color:#00924e;}
.tbl_list .sel a {text-decoration:underline;color:#f86516;}
.tbl_list .ico_new {margin-left:10px;}
.tbl_list .ico_lock {margin-right:10px;margin-top:-3px;}
.tbl_list .field_list li {padding-left:10px;line-height:18px;background:url('/images/common/bult04.gif') no-repeat 0 9px;}
.tbl_list .ico_txt {display:inline-block;margin:-2px 0;padding:0 8px;height:24px;line-height:24px;color:#fff;font-weight:bold;background:#fcb208;}

/* paginate */
.paginate {text-align:center;margin-top:30px;clear:both;line-height:16px;}
.paginate a.pre,.paginate a.pre_end,.paginate a.next,.paginate a.next_end {padding:0;background:none;}
.paginate a.pre {margin:0 13px 0 4px;}
.paginate a.next {margin:0 4px 0 13px;}
.paginate a.pre:hover,.paginate a.pre_end:hover,.paginate a.next:hover,.paginate a.next_end:hover {padding:0;}
.paginate a {display:inline-block;font-size:12px;width: 30px;height: 30px;line-height: 30px;text-align: center;margin:0 1px;color:#666;text-align:center;
vertical-align:middle;-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;}
.paginate a.active,.paginate a:hover {color:#fff;background:#108579;}

/* tbl_view */
.tbl_view {width:100%;border-top:2px solid #626262;clear:both;line-height:20px;letter-spacing:-0.5px;}
.tbl_view th {padding:14px 0;color:#000;font-weight:normal;border-bottom:1px solid #dbdbdb;border-right:1px solid #dbdbdb;background:#eef3f7;text-align:center;}
.tbl_view td {padding:14px 0 14px 20px;color:#333;border-bottom:1px solid #dbdbdb;text-align:left;}
.tbl_view .tit {font-size:15px;color:#000;font-weight:600;}
.tbl_view .td01 {padding:8px 0 8px 20px;}
.tbl_view .source a {color:#e47133;text-decoration:underline;}
.tbl_view .cont {padding:25px 22px;}
.tbl_view .sline {border-left:1px solid #dbdbdb;}
.tbl_view .attach_list a {color:#004f78;text-decoration:underline;line-height:22px;}
.tbl_view .attach_list span {padding-left:5px;}
.tbl_view .field_list li {padding-left:10px;line-height:18px;background:url('/images/common/bult04.gif') no-repeat 0 9px;}
.tbl_view .notopen {padding:70px 0;text-align:center;font-size:18px;color:#444;font-weight:bold;}
.tbl_view .notopen span {padding:20px 0 20px 54px;background:url('/images/sub/ico_pass2.gif') no-repeat 0 0;}

/* tbl_write */
.ess_making {padding-bottom:14px;text-align:right;color:#d31b03;font-size:13px;}
.ess_making2 {padding-bottom:14px;text-align:right;color:#666;font-size:13px;}
.ess_making2 em {color:#f82307;}
.tbl_write {width:100%;border-top:2px solid #626262;clear:both;line-height:20px;letter-spacing:-0.5px;}
.tbl_write th {padding:14px 0 14px 18px;color:#333;font-weight:normal;border-bottom:1px solid #c9c9c9;border-right:1px solid #c9c9c9;background:#eef3f7;text-align:left;}
.tbl_write td {padding:8px 0 8px 20px;color:#444;border-bottom:1px solid #c9c9c9;text-align:left;}
.tbl_write th em {color:#f82307;font-size:13px;}
.tbl_write .sline {border-left:1px solid #c9c9c9;}
.tbl_write .tcen {padding:8px 0;text-align:center;}
.tbl_write .attach_list {margin-top:8px;}
.tbl_write .attach_list a {margin-right:6px;}
.tbl_write .desc01 {display:inline-block;width:170px;padding-left:5px;line-height:14px;font-size:12px;color:#808080;vertical-align:middle;}
.tbl_write .desc02 {margin-left:5px;font-size:13px;color:#808080;}
.tbl_write .chk_list {overflow:hidden;}
.tbl_write .chk_list li {float:left;width:25%;margin:8px 0;}
.tbl_write .chk_list .etc {width:50%}
.tbl_write .chk_list .etc .intype {margin-left:10px;}
.tbl_write .chk_list2 {overflow:hidden;}
.tbl_write .chk_list2 li {float:left;width:15%;margin:8px 0;}
.tbl_write .agree_info,.tbl_write .agree_info2 {position:relative;padding:15px 0;}
.tbl_write .agree_info dt,.tbl_write .agree_info2 dt {margin-bottom:10px;font-size:15px;color:#222;font-weight:bold;}
.tbl_write .agree_info dd {color:#555;line-height:18px;}
.tbl_write .agree_info dd span,.tbl_write .agree_info2 dd span {color:#ff7506;}
.tbl_write .agree_info .agree_sel {position:absolute;right:60px;top:50px;}
.tbl_write .agree_info2 dd {color:#555;line-height:22px;}
.tbl_write .agree_info2 dd em {padding-left:8px;}
.tbl_write .agree_info2 .agree_sel {padding:5px 20px 0 0;text-align:right;}
.tbl_write .rad_wrap {display:block;padding:2px 0 15px;}
.tbl_data {width:100%;border-top:2px solid #626262;clear:both;line-height:20px;letter-spacing:-0.5px;}
.tbl_data thead th {padding:10px 0;background:#f8f8f8;border-bottom:1px solid #c9c9c9;}
.tbl_data tbody th {padding:12px 0;border-bottom:1px solid #c9c9c9;font-weight:normal;}
.tbl_data td {padding:7px 0;color:#444;border-bottom:1px solid #c9c9c9;text-align:center;}

/* calendar */
.calwrap {position:relative;display:inline-block;}
.calwrap .ico_cal {margin-left:3px;}
.calendar {position:absolute;left:0;top:32px;width:210px;border:1px solid #999;background:#fff;z-index:1;}
.calendar .pre_month {height:26px;padding-top:3px;text-align:center;background:url('/images/common/bg_sche.gif') repeat-x 0 0;}
.calendar .pre_month a {vertical-align:middle;}
.calendar .pre_month span {display:inline-block;padding:0 7px;font-size:14px;color:#000;font-weight:bold;vertical-align:middle;letter-spacing:-1px;}
.calendar .sch_wrap {padding:0 7px 7px;}
.calendar .tbl_sche {width:100%;line-height:16px;letter-spacing:-0.5px;}
.calendar .tbl_sche th {padding:6px 0 7px;font-size:14px;font-weight:bold;color:#2f2f2f;border:0;text-align:center;background:url('/images/common/dotline03.gif') repeat-x 0 100%;}
.calendar .tbl_sche td {padding:4px 0;font-size:13px;border:0;text-align:center;}
.calendar .tbl_sche td a {display:block;}
.calendar .tbl_sche .satday {color:#124e9f}
.calendar .tbl_sche .sunday,.tbl_sche .sunday a {color:#c30f18}
.calendar .tbl_sche td.current {background:#2d74ba;color:#fff;}
.calendar .tbl_sche td.current a {color:#fff;}
.calendar .sche_close {position:absolute;right:8px;top:3px;}

/* schedule */
.sche_search {position:relative;top:57px;min-height:30px;padding:18px 0;border-top:2px solid #000;text-align:center;background:#f2f2f2;}
.sche_search span {padding-right:10px;font-size:15px;color:#333;font-weight:bold;}
.sche_search .intype {height:33px;margin-right:-5px;}
#schemask {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:10000;opacity:0.5;filter:alpha(opacity=50)}
.schewrap {display:none;position:fixed;top:50%;left:50%;width:660px;padding:20px 20px 35px 20px;margin-left:-20px;z-index:10001;background:#fff;}
.schewrap h4 {height:48px;padding-top:5px;margin-bottom:33px;color:#000;font-size:23px;font-weight:bold;border-bottom:2px solid #323232;}
.schewrap .close {position:absolute;right:20px;top:30px;}
.schewrap h5 {margin:25px 0 20px;padding-left:17px;color:#222;font-size:18px;font-weight:bold;background:url('/images/common/bult01.gif') no-repeat 0 50%;}
.schewrap .sche_cont {background:url('/images/common/dotline01.gif') repeat-x 0 0;}
.schewrap .sche_cont .date {padding:21px 0 15px 20px;color:#555;line-height:22px;border-bottom:1px solid #c9c9c9;}
.schewrap .sche_cont .cont {padding:12px 10px 15px 20px;color:#555;line-height:22px;border-bottom:1px solid #c9c9c9;}

/* button */
.btn_center {margin-top:30px;text-align:center;}
.btn_center a {margin:0 3px;}
.btn_right {margin-top:-36px;text-align:right;}
a.btn_list,a.btn_confirm,a.btn_regist,a.btn_back {display:inline-block;padding:0 25px;height:40px;line-height:40px;text-align:center;font-size:17px;color:#fff;font-weight:500;vertical-align:middle;background:#323232;white-space:nowrap;}
a.btn_register {display:inline-block;padding:0 15px;height:38px;line-height:38px;text-align:center;font-size:17px;color:#222;font-weight:bold;border:1px solid #696969;vertical-align:middle;background:#fff;white-space:nowrap;}
a.btn_cancel,a.btn_modi,a.btn_del,a.btn_apply,a.btn_temp,a.btn_next {display:inline-block;padding:0 25px;height:38px;line-height:38px;text-align:center;
font-size:17px;color:#222;font-weight:600;border:1px solid #696969;vertical-align:middle;background:#fff;white-space:nowrap;}
a.btn_attach {display:inline-block;padding:0 14px;height:29px;line-height:29px;text-align:center;font-size:14px;color:#222;font-weight:bold;border:1px solid #696969;vertical-align:middle;background:#fff;white-space:nowrap;}
a.btn_attach2 {display:inline-block;padding:0 14px;height:37px;line-height:37px;text-align:center;font-size:17px;color:#222;font-weight:bold;border:1px solid #696969;vertical-align:middle;background:#fff;white-space:nowrap;}
a.btn_coun {display:inline-block;height:33px;padding:0 13px;margin-left:3px;line-height:33px;text-align:center;font-size:13px;color:#fff;vertical-align:middle;background:#8d8d8d;white-space:nowrap;}
a.btn_addr {display:inline-block;width:70px;height:33px;margin:0 0 10px 3px;line-height:33px;text-align:center;font-size:13px;color:#fff;vertical-align:middle;background:#8d8d8d;white-space:nowrap;}
a.btn_del2 {display:inline-block;height:28px;padding:0 12px;line-height:28px;text-align:center;font-size:13px;color:#fff;vertical-align:middle;background:#8d8d8d;white-space:nowrap;}
a.btn_view {display:inline-block;width:106px;height:32px;line-height:28px;text-align:center;font-size:15px;
color:#198094;font-weight:bold;border-style: solid;  border-width: 2px;  border-image: linear-gradient(to right, #03b6a5, #3297d7) 1;vertical-align:middle;background:#fff;white-space:nowrap;}
.blank_btn {margin-left: 15px;
    height: 35px;
    line-height: 31px;
    padding: 0 30px 0 10px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #03b6a5, #3297d7) 1;
    background-color: #fff;
    font-size: 16px;color: #;
    color: #03b6a5 !important;
    font-weight: 600;
    background-image: url(/images/common/downloadBtn_ico.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    letter-spacing: -1px;}
.blank_btn i{width: 8px;height: 13px;background-image: url(/images/sub/blank_btn_ico.png);}

.go_btn{    
    display: inline-block;
    width: 82px;
    height: 35px;
    line-height: 31px;
    padding: 0 30px 0 10px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #03b6a5, #3297d7) 1;
    background-color: #fff;
    font-size: 16px;color: #;
    color: #03b6a5 !important;
    font-weight: 600;
    background-image: url(/images/sub/blank_btn_ico.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    letter-spacing: -1px;}

a.btn_down {    height: 35px;
    line-height: 31px;
    padding: 0 30px 0 10px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #03b6a5, #3297d7) 1;
    background-color: #fff;
    font-size: 16px;
    color: #03b6a5;
    font-weight: 600;
    background-image: url(/images/common/downloadBtn_ico.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    letter-spacing: -1px;}

a.btn_down2 {display:inline-block;padding:0 18px;height:33px;line-height:33px;text-align:center;font-size:15px;color:#222;font-weight:bold;border:1px solid #696969;vertical-align:middle;background:#fff;white-space:nowrap;}
a.btn_down2 em {padding-right:30px;font-weight:bold;background:#fff url('/images/sub/ico_down.gif') no-repeat 100% 50%;}

a.btn_down3 {display: inline-block;
	height: 50px; line-height: 48px;
    padding: 0 57px 0 30px;
    border: 1px solid #1a93bf;
    background-color: #fff;
    font-size: 14px;
    color: #1a93bf;
	text-align: center;
    background-image: url(../images/common/downloadBtn_ico2.png);
    background-repeat: no-repeat;
    background-position: right 30px center;}

a.btn_go {display:inline-block;height:24px;padding:0 10px;line-height:24px;text-align:center;font-weight:bold;color:#fff;vertical-align:middle;background:#989898;white-space:nowrap;}
a.btn_page {display:inline-block;padding:0 15px;margin-left:25px;height:32px;line-height:32px;text-align:center;font-size:15px;color:#222;font-weight:bold;border:1px solid #696969;vertical-align:middle;background:#fff;white-space:nowrap;}

/* comment */
.comment {margin-top:35px;}
.comment h4 {margin:25px 0 20px;padding-left:17px;color:#333;font-size:18px;font-weight:bold;background:url('/images/common/bult01.gif') no-repeat 0 50%;}
.comment .co_write {padding:30px 0;overflow:hidden;border-top:2px solid #5f5f5f;border-bottom:2px solid #5f5f5f;background:#fbfbf2;}
.comment .co_write .captcha {float:left;width:280px;padding:0 0 0 13px;font-size:13px;}
.comment .co_write .captcha .captcha_img {width:136px;height:46px;}
.comment .co_write .captcha .captcha_reflash {margin-left:15px;color:#ff7d13;}
.comment .co_write .captcha .captcha_reflash a {color:#ff7d13;}
.comment .co_write .captcha .txt {margin-bottom:5px;}
.comment .co_write .write {position:relative;float:left;width:700px;height:83px;padding:0 80px 0 110px;margin-top:20px;border:1px solid #c9c9c9;background:#fff;}
.comment .co_write .write .tit {position:absolute;left:0;top:13px;width:100px;height:59px;line-height:59px;text-align:center;font-size:16px;color:#444;border-right:1px solid #ddd;}
.comment .co_write .write textarea.intype {width:500px;height:80px;padding:10px;border:0;}
.comment .co_write .write .ov_label {left:123px;top:30px;font-size:13px;color:#666;}
.comment .co_write .write .ov_label.type2 {left:123px;top:20px;font-size:13px;color:#666;}
.comment .co_write .write .btn_coresi {position:absolute;right:0;top:0;display:inline-block;width:78px;height:81px;line-height:83px;text-align:center;font-size:16px;color:#010101;font-weight:bold;border-left:1px solid #c9c9c9;vertical-align:middle;background:#fff;white-space:nowrap;}
.comment .co_list li {position:relative;padding:25px 10px 27px 0;line-height:20px;border-bottom:1px solid #c9c9c9;}
.comment .co_list li .name_wrap {margin-bottom:15px;}
.comment .co_list li .name_wrap .name {margin-right:25px;font-size:16px;font-weight:bold;color:#000;}
.comment .co_list li .name_wrap .date {color:#444;}
.comment .co_list li .breply {position:absolute;right:0;top:25px;color:#444;}
.comment .co_list li .breply_cancel {position:absolute;right:0;top:25px;color:#444;}
.comment .co_list li .modi_wrap {position:absolute;right:0;top:25px;color:#444;}
.comment .co_list li .modi_wrap a {color:#444;}
.comment .co_list li.reply {padding:25px 10px 27px 40px;background:url('/images/common/ico_reply.gif') no-repeat 6px 22px;}
.comment .co_list li.reply.write1 .text_wrap {position:relative;width:757px;height:83px;padding:0 80px 0 0;border:1px solid #c9c9c9;background:#fff;}
.comment .co_list li.reply.write1 {padding:25px 0 27px 40px;overflow:hidden;}
.comment .co_list li.reply.write1 .txtype {width:882px;height:80px;padding:10px;border:0;}
.comment .co_list li.reply.write1 .btn_comodi,.comment .co_list li.reply.write3 .btn_comodi {position:absolute;right:0;top:25px;display:inline-block;width:78px;height:42px;line-height:41px;text-align:center;font-size:16px;color:#010101;font-weight:bold;border:1px solid #c9c9c9;vertical-align:middle;background:#fff;white-space:nowrap;}
.comment .co_list li.reply.write1 .btn_cocan,.comment .co_list li.reply.write3 .btn_cocan {position:absolute;right:0;top:66px;display:inline-block;width:78px;height:39px;line-height:41px;text-align:center;font-size:16px;color:#010101;font-weight:bold;border:1px solid #c9c9c9;vertical-align:middle;background:#fff;white-space:nowrap;}
.comment .co_list li.reply.write2 {padding:25px 0 27px 40px;overflow:hidden;}
.comment .co_list li.reply.write2 .captcha {float:left;width:270px;font-size:13px;}
.comment .co_list li.reply.write2 .captcha .captcha_img {width:136px;height:46px;}
.comment .co_list li.reply.write2 .captcha .captcha_reflash {margin-left:15px;color:#ff7d13;}
.comment .co_list li.reply.write2 .captcha .captcha_reflash a {color:#ff7d13;}
.comment .co_list li.reply.write2 .captcha .txt {margin-bottom:5px;}
.comment .co_list li.reply.write2 .write {position:relative;float:left;width:377px;height:83px;padding:0 80px 0 110px;margin-top:20px;border:1px solid #c9c9c9;background:#fff;}
.comment .co_list li.reply.write2 .write .tit {position:absolute;left:0;top:13px;width:100px;height:59px;line-height:59px;text-align:center;font-size:16px;color:#444;border-right:1px solid #ddd;}
.comment .co_list li.reply.write2 .write textarea.intype {width:355px;height:60px;padding:10px;border:0;}
.comment .co_list li.reply.write2 .write .ov_label {left:123px;top:30px;font-size:13px;color:#666;}
.comment .co_list li.reply.write2 .btn_coresi {position:absolute;right:0;top:0;display:inline-block;width:78px;height:41px;line-height:41px;text-align:center;font-size:16px;color:#010101;font-weight:bold;border-left:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;vertical-align:middle;background:#fff;white-space:nowrap;}
.comment .co_list li.reply.write2 .btn_cocan {position:absolute;right:0;top:42px;display:inline-block;width:78px;height:41px;line-height:41px;text-align:center;font-size:16px;color:#010101;font-weight:bold;border-left:1px solid #c9c9c9;vertical-align:middle;background:#fff;white-space:nowrap;}
.comment .co_list li.reply.write3 .text_wrap {position:relative;width:712px;height:83px;padding:0 80px 0 0;border:1px solid #c9c9c9;background:#fff;}
.comment .co_list li.reply.write3 {padding:25px 0 27px 86px;background:url('/images/common/ico_reply.gif') no-repeat 46px 22px;}
.comment .co_list li.reply.write3 .txtype {width:690px;height:60px;padding:10px;border:0;}
.comment .btn_more {margin-top:40px;text-align:center;}
.comment .btn_more a {padding-right:35px;font-size:18px;font-weight:bold;color:#000;background:url('/images/common/ico_more.gif') no-repeat 100% 5px;}

/* layer_popup */
#layermask {width:100%;height:100%;left:0;position:fixed;top:0;background:#000;z-index:9900;opacity:0.5;filter:alpha(opacity=50)}
.layerwrap {position:absolute;top:23%;left:50%;width:660px;padding:20px 20px 35px 20px;margin-left:-330px;z-index:9990;background:#fff;}
.layerwrap.type2 {position:absolute;top:10%;left:50%;width:860px;padding:20px 20px 35px 20px;margin-left:-450px;z-index:9990;background:#fff;}
.layerwrap.type3 {position:absolute;top:18%;left:50%;width:660px;padding:20px 20px 35px 20px;margin-left:-330px;z-index:9990;background:#fff;}
.layerwrap.type4 {position:absolute;top:12%;left:50%;width:660px;padding:20px 20px 35px 20px;margin-left:-330px;z-index:9990;background:#fff;}
.layerwrap h4 {height:48px;padding-top:5px;margin-bottom:33px;color:#000;font-size:23px;font-weight:bold;border-bottom:2px solid #323232;}
.layerwrap .close {position:absolute;right:20px;top:30px;}
.layerwrap h5 {margin:25px 0 20px;padding-left:17px;color:#222;font-size:18px;font-weight:bold;background:url('/images/common/bult01.gif') no-repeat 0 50%;}
.layerwrap .sche_cont {background:url('/images/common/dotline01.gif') repeat-x 0 0;}
.layerwrap .sche_cont .date {padding:21px 0 15px 20px;color:#555;line-height:22px;border-bottom:1px solid #c9c9c9;}
.layerwrap .sche_cont .cont {padding:12px 10px 15px 20px;color:#555;line-height:22px;border-bottom:1px solid #c9c9c9;}
.layerwrap .attach_cont {border-top:1px solid #c9c9c9;}
.layerwrap .attach_cont li {padding:10px 10px;border-bottom:1px solid #c9c9c9;}
.layerwrap h5.h5_type1 {margin:25px 0 17px;padding-left:23px;color:#222;font-size:15px;font-weight:normal;background:url('/images/common/bult03.gif') no-repeat 10px 50%;}
.layerwrap h5.h5_type2 {margin:25px 0 12px;padding:0;color:#222;font-size:16px;background:none;}
.layerwrap .tip_list li {position:relative;padding-left:12px;line-height:23px;background:url('/images/common/bult03.gif') no-repeat 0 50%;}
.layerwrap .tip_list li .btn_down2 {position:absolute;right:0;top:0;}
.layerwrap .address_cont {position:relative;height:520px;overflow-x:hidden;overflow-y:auto;}
.layerwrap .addr_search {position:relative;margin-bottom:20px;padding-right:85px}
.layerwrap .addr_search .intype {height:39px;border:1px solid #323232;background:#f7f7f7;}
.layerwrap .addr_search .imtype {position:absolute;right:0;top:0;}
.layerwrap .addr_info {padding:14px 0;margin-bottom:3px;text-align:center;font-size:13px;line-height:23px;border:1px solid #cacaca;background:#f8f8f8;}
.layerwrap .addr_list li {position:relative;padding:12px 0 12px 55px;font-size:13px;border-bottom:1px solid #e5e5e5;}
.layerwrap .addr_num {position:absolute;left:3px;top:12px;color:#de6225;}
.layerwrap .addr1 {display:block;}
.layerwrap .addr1 em {padding-left:5px;color:#666}
.layerwrap .addr2 {display:block;margin-top:7px;font-size:12px;color:#777;}
.layerwrap .map_link {position:absolute;right:10px;top:12px;}
.layerwrap .addr_result {margin-top:10px;padding-right:10px;font-size:12px;color:#777;text-align:right;}
.layerwrap .cata_busi {background:#fff;border-top:1px solid #c9c9c9;}
.layerwrap .cata_busi dt {font-size:15px;font-weight:bold;border-bottom:1px solid #c9c9c9;background:#fff url("/images/common/ico_minus.gif") no-repeat 10px 50%;}
.layerwrap .cata_busi dt.hidden {background:#fff url("/images/common/ico_plus.gif") no-repeat 10px 50%;}
.layerwrap .cata_busi dt span {display:block;padding:16px 30px 15px 45px;cursor:pointer;}
.layerwrap .cata_busi dd {display:none;padding:8px 10px 8px 45px;border-bottom:1px solid #c9c9c9;background:#f6f6f6;}
.layerwrap .cata_busi dd ul {overflow:hidden;}
.layerwrap .cata_busi dd li {float:left;width:25%;margin:5px 0;}
.layerwrap .graph_wrap {margin-bottom:30px;}
.layerwrap.type4 .tbl_list th {padding:12px 0;}
.layerwrap.type4 .tbl_list td {padding:11px 0;}
.layerwrap.type5 {position:absolute;top:12%;left:50%;width:960px;padding:20px 20px 35px 20px;margin-left:-480px;z-index:9990;background:#fff;}
.layerwrap .email_refuse dt {padding:5px 0 30px;color:#15a502;font-size:22px;font-weight:bold;text-align:center;}
.layerwrap .email_refuse dd {line-height:22px;}
.layerwrap .privacy_cont {height:540px;padding:0 5px;line-height:21px;overflow:auto;overflow-x:hidden;}
.layerwrap .privacy_cont .tit {margin:20px 0 10px;font-size:15px;color:#222;font-weight:bold;}
.layerwrap .privacy_cont h5 {margin:25px 0 15px;padding-left:17px;color:#222;font-size:17px;font-weight:bold;background:url('/images/common/bult06.gif') no-repeat 0 50%;}
.layerwrap .privacy_cont .privacy01 {margin-top:10px;}
.layerwrap .privacy_cont .privacy01 dd {padding-left:21px;}
.layerwrap .privacy_cont .privacy02 li {position:relative;padding-left:18px;}
.layerwrap .privacy_cont .privacy02 li span {position:absolute;left:0;top:0;}
.layerwrap .privacy_cont .privacy02 a {text-decoration:underline;}

/* manage */
.law_info {padding:25px 10px;margin-top:45px;border-top:2px solid #363636;}
.law_info li {line-height:25px;}
.law_info .btn {padding:17px 0 5px;text-align:center;}
.law_info .btn a {display:inline-block;padding:0 15px;height:32px;line-height:32px;text-align:center;font-size:15px;color:#222;font-weight:bold;border:1px solid #696969;vertical-align:middle;background:#fff;white-space:nowrap;}
.law_search {position:relative;height:35px;padding:12px 0 12px 133px;margin-bottom:48px;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;}
.law_search span {position:absolute;left:0;top:0;display:inline-block;width:103px;height:59px;line-height:59px;font-size:16px;color:#333;text-align:center;font-weight:bold;border-right:1px solid #c9c9c9;background:#fffef2;}
.law_search .intype {height:33px;margin-right:-5px;}
.easy_lawinfo {position:relative;height:27px;padding:23px 0 20px 185px;border-top:1px solid #666;}
.easy_lawinfo span {position:absolute;left:0;top:0;display:inline-block;width:165px;height:70px;line-height:70px;font-size:14px;color:#fff;text-align:center;font-weight:bold;background:#f5a768;}
.easy_lawinfo ul {overflow:hidden;}
.easy_lawinfo ul li {float:left;width:50%;}
.easy_lawinfo ul li a {margin-left:10px;}
/* 181119 시작 */
.view_interview  {padding:25px 10px 24px 34px;overflow:hidden;border:1px solid #d9eadb;background: #f0f8f1;}
.view_interview .thumb {float:left;width:172px;height:172px;margin-right:55px;}
.view_interview .cont {float:left;width:610px;}
.view_interview .cont span {display:inline-block;margin:30px 0 10px;font-size:17px;color:#000;}
.view_interview .cont .tit {margin-bottom:10px;font-size:25px;font-weight:bold;color:#569501;line-height:30px;letter-spacing:-0.5px;}
.view_interview .cont .txt {font-size:17px;color:#666;}
.view_qna {margin-top:30px;overflow:hidden;}
.view_qna dt {font-size:15px;font-weight:bold;color:#333;border-bottom:1px solid #c9c9c9;background:#fff url("/images/common/ico_minus.gif") no-repeat 100% 50%;}
.view_qna dt.hidden {background:url("/images/common/ico_plus.gif") no-repeat 100% 50%;}
.view_qna dt.active{border-bottom:2px solid #019347}
.view_qna dt span {display:block;padding:20px 10px 20px 45px;cursor:pointer;background:url('/images/common/ico_q.gif') no-repeat 0 50%;}
.view_qna dd {display:none;padding:20px 10px 10px 65px;color:#444;background-image:url('/images/common/ico_a.gif');background-repeat:no-repeat;background-position:left 20px top 14px;border:1px solid #dcdcdc;border-top:0;background-color:#fafafa;}
.view_qna dd:last-child {border-bottom:1px solid #c9c9c9;}
.view_qna dd .img {padding:20px 0;text-align:center;}
.busi_history {position:relative;border-top:2px solid #5f5f5f;border-bottom:1px solid #c9c9c9;overflow:hidden;}
.busi_history dl{width:100%;display:table;}
.busi_history dl:last-child dt{padding-bottom:85px;}
.busi_history dt {vertical-align:top;display:table-cell;width:172px;font-size:30px;font-weight:bold;color:#00a34e;background:#f7f7f7;text-align:center;padding-top:50px;letter-spacing:-0.025em;border-right:1px solid #cfcfcf;}
.busi_history dd {display:table-cell;color:#444;padding-right:20px;padding-top:48px;}
.busi_history dd li{position:relative;padding-left:80px;vertical-align:top;padding-bottom:9px;}
.busi_history dd li::before{content:"";position:absolute;top:9px;left:0;display:block;background-image: url("/images/sub/busi_history_bul.png");background-repeat:no-repeat;background-position:left center;width:60px;height:10px;}
.busi_history dd li p{font-size:17px;line-height:26px;position:relative;padding-left:70px;letter-spacing:-0.05em;}
.busi_history dd li p span{position:absolute;top:0;left:0;display: inline-block;line-height:26px;font-weight:600;color:#008c35;}


/* //181119 */

/* ecodesign */
.eco_tit {background:url('/images/common/dotline01.gif') repeat-x 0 0;}
.eco_tit h4 {padding:25px 0 23px;background:url('/images/common/dotline01.gif') repeat-x 0 100%;}
.eco_tit h4 span {padding-left:17px;color:#000;font-size:22px;font-weight:bold;background:url('/images/common/bult01.gif') no-repeat 0 50%;}
.view_eco1 {overflow:hidden;padding:17px 10px 30px 30px;border-top:2px solid #626262;border-bottom:1px solid #c9c9c9;}
.view_eco1 .thumb {float:left;width:230px;height:230px;margin-top:13px;}
.view_eco1 .view_info {float:right;width:540px;overflow:hidden;}
.view_eco1 .view_info dt {width:100px;float:left;margin-top:13px;font-weight:bold;clear:left;color:#333;}
.view_eco1 .view_info dd {position:relative;width:430px;float:left;color:#666;margin-top:13px;}
.view_eco1 .view_info dd.attach a {color:#004f78;text-decoration:underline;line-height:22px;}
.view_eco1 .view_info dd.attach span {padding-left:5px;}
.view_eco1 .view_info .btn_coun {position:absolute;right:0;top:-8px;}
.view_eco2 {padding:25px 0;color:#666;line-height:24px;border-top:2px solid #626262;border-bottom:1px solid #c9c9c9;}
.view_eco2 .thumb {text-align:center;padding:25px 0 25px;}
.view_eco2 .thumb:first-child {padding:5px 0 25px;}
.eco_idea {position:relative;margin-bottom:45px;background:url('/images/common/dotline01.gif') repeat-x 0 0;}
.eco_idea .inner {padding:28px 0;background:url('/images/common/dotline01.gif') repeat-x 0 100%;}
.eco_idea ul {padding-left:167px;background:url('/images/sub/ico_idea.gif') no-repeat 30px 50%;}
.eco_idea ul li {margin-top:10px;line-height:20px;}
.eco_idea ul li:first-child {margin-top:0;}
.eco_idea ul li .txt01 {color:#ff7506;font-weight:bold;}
.eco_idea ul li .txt02 {color:#000;text-decoration:underline;}
.eco_idea .btn {position:absolute;right:30px;top:33px;display:inline-block;width:110px;height:85px;line-height:24px;padding-top:25px;color:#fff;font-size:20px;text-align:center;font-weight:bold;background:url('/images/sub/bg_circle.gif') no-repeat 0 0;}
.eco_idea2 {position:relative;margin-bottom:35px;background:url('/images/common/dotline01.gif') repeat-x 0 0;}
.eco_idea2 .inner {padding:28px 0;background:url('/images/common/dotline01.gif') repeat-x 0 100%;}
.eco_idea2 dl {padding-left:130px;background:url('/images/sub/ico_idea2.gif') no-repeat 8px 30px;}
.eco_idea2 dt {margin:25px 0 10px;font-size:17px;color:#000;font-weight:bold;}
.eco_idea2 dt:first-child {margin-top:0;}
.eco_idea2 dd {line-height:20px;}
.eco_idea2 dd .txt01 {color:#ff7506;}
.eco_idea2 dd .txt02 {padding-left:8px;}
.eco_idea2 dd .txt03 {color:#000;text-decoration:underline;}
.eco_idea2 .btn {position:absolute;right:0;bottom:45px;display:inline-block;padding:0 15px;height:38px;line-height:38px;text-align:center;font-size:17px;color:#222;font-weight:bold;border:1px solid #696969;vertical-align:middle;background:#fff;white-space:nowrap;}
.eco_busi {background:#fff;}
.eco_busi dt {font-size:15px;border-bottom:1px solid #c9c9c9;background:#fff url("/images/common/ico_minus.gif") no-repeat 100% 50%;}
.eco_busi dt.hidden {background:#fff url("/images/common/ico_plus.gif") no-repeat 100% 50%;}
.eco_busi dt span {display:block;padding:14px 20px 14px 0;cursor:pointer;}
.eco_busi dd {display:none;padding:30px 10px 10px;}
.eco_busi .eco_wrap {overflow:hidden;}
.eco_busi .eco_wrap .thumb {float:left;width:285px;text-align:center;}
.eco_busi .eco_wrap .list {float:right;width:570px;}
.eco_busi .eco_wrap h5 {margin-top:20px;font-size:14px;font-weight:bold;border:0;background:none;}
.eco_busi .eco_wrap h5:first-child {margin-top:0;}
.eco_busi .eco_wrap li {padding-left:10px;background:url('/images/common/bult04.gif') no-repeat 0 10px;}

/* hospital */
.hos01 {height:639px;margin-bottom:60px;overflow:hidden;text-indent:-9999px;background:url('/images/sub/hospital_img01.jpg') no-repeat 0 0;}
.hos_list01 dt {margin:30px 0 10px;padding-left:16px;color:#333;font-size:18px;font-weight:bold;background:url('/images/common/bult06.gif') no-repeat 0 50%;}
.hos_list01 dt:first-child {margin-top:0;}
.hos_list01 dd {padding-left:16px;margin-bottom:3px;}
.hos_list01 dd.dd01 {color:#ff7501;font-size:13px;}
.hos_list01 dd ul {margin:20px 0 30px;}
.hos_list01 dd li {margin-bottom:10px;}
.hos_list01 dd li span {display:inline-block;width:93px;height:25px;margin-right:15px;line-height:25px;text-align:center;border-radius:2px;background:#e5e4e4;}
.hos_list01 dd li em {display:block;padding-left:107px;font-size:13px;color:#ff7501;}
.hos_self {background:url('/images/common/dotline01.gif') repeat-x 0 0;}
.hos_self ul {padding:15px 10px;background:url('/images/common/dotline01.gif') repeat-x 0 100%;}
.hos_self ul li {font-size:16px;line-height:40px;color:#000;}
.hos_self ul li span {display:inline-block;width:85px;color:#333;}
.hos_self ul li label {margin:0 30px 0 8px;font-size:15px;color:#000;}
.hos_self ul li .intype {margin-top:-3px;}
.self_check {padding-left:20px;}
.check_wrap {border-top:2px solid #666;border-bottom:1px solid #e1e1e1;}
.check_wrap dl {border-bottom:1px solid #e1e1e1;overflow:hidden;}
.check_wrap dt {float:left;width:127px;padding:10px 0;color:#000;font-weight:bold;text-align:center;border-right:1px solid #e1e1e1;background:#f7f7f7;}
.check_wrap dd {float:left;width:720px;padding:10px 0;padding-left:18px;}
.check_wrap ul {padding:13px 20px;}
.check_wrap ul li {color:#555;margin:6px 0;overflow:hidden;}
.check_wrap ul li span {display:inline-block;float:left;width:122px;}
.check_wrap ul li label {margin-left:10px;}
.check_wrap ul li em {float:left;width:700px;}
.report_exp {overflow:hidden;margin-top:20px;}
.report_exp .tit_wrap {position:relative;height:53px;padding:30px 20px 0;font-size:25px;color:#16795b;font-weight:bold;text-align:center;border-top:2px solid #000;border-bottom:1px dashed #b3b3b3;background:#fffeea;}
.report_exp .tit_wrap .logo {position:absolute;left:20px;top:20px;display:inline-block;width:138px;height:42px;line-height:42px;font-size:15px;color:#000;font-weight:bold;border:1px solid #b4b4b4;border-radius:3px;background:#fff;}
.report_exp .tit_wrap .year {position:absolute;right:20px;top:20px;display:inline-block;width:138px;height:42px;line-height:42px;font-size:15px;color:#000;font-weight:bold;border:1px solid #b4b4b4;border-radius:3px;background:#fff;}
.report_exp .report_cont {padding-bottom:30px;border-bottom:1px solid #000;}
.report_exp .report_cont .cont {padding-left:10px;}
.report_exp .graph_wrap {padding:40px 0 20px;overflow:hidden;text-align:center;}
.report_exp .graph_wrap.type2 {padding:15px 0;}
.report_exp .graph_wrap .tit {display:inline-block;height:30px;line-height:30px;margin-bottom:20px;padding:0 20px;color:#000;text-align:center;border:2px solid #454545;border-radius:20px;}
.report_exp .graph_wrap .left {float:left;width:50%;}
.report_exp .graph_wrap .right {float:left;width:50%;}
.exp_tab {height:41px;margin:15px 0 30px;clear:both;border-bottom:1px solid #000;}
.exp_tab li {float:left;width:160px;text-align:center;}
.exp_tab li span {display:block;height:40px;line-height:40px;color:#666;border:1px solid #bebebe;border-left:0;border-bottom:0;background:#f6f7f7;}
.exp_tab li:first-child span {border-left:1px solid #bebebe;height:41px;margin-left:-1px;color:#000;border:1px solid #000;border-bottom:0;background:#fff;}
.hos_manage {position:relative;margin-bottom:30px;background:url('/images/common/dotline01.gif') repeat-x 0 0;}
.hos_manage dl {padding:25px 10px;overflow:hidden;background:url('/images/common/dotline01.gif') repeat-x 0 100%;}
.hos_manage dt {font-size:22px;font-weight:bold;color:#333;}
.hos_manage dd {position:absolute;right:0;top:19px;}
.hos_manage dd a {margin-left:15px;}
.report_cont {overflow:hidden;margin-top:20px;padding-bottom:30px;border-bottom:1px solid #000;}
.report_cont .graph_wrap {padding:30px 0 20px;overflow:hidden;text-align:center;}
.report_cont .graph_wrap.type2 {padding:15px 0;}
.report_cont .graph_wrap .tit {display:inline-block;height:30px;line-height:30px;margin-bottom:20px;padding:0 20px;color:#000;text-align:center;border:2px solid #454545;border-radius:20px;}
.report_cont .graph_wrap .left {float:left;width:50%;}
.report_cont .graph_wrap .right {float:left;width:50%;}

/* consulting */
.cons01 {margin-top:5px;padding:13px 0 13px 90px;border:1px solid #c6c6c6;overflow:hidden;}
.cons01 li {float:left;width:18%;padding-left:8px;line-height:26px;background:url('/images/sub/dot01.gif') no-repeat 0 50%;}
.cons02 {padding:25px 0;text-align:center;border:1px solid #c6c6c6;overflow:hidden;}
.cons03 {padding:25px 0 10px;text-align:center;}
.cons04 {height:472px;border:1px solid #c6c6c6;overflow:hidden;text-indent:-9999px;background:url('/images/sub/cons_img03.gif') no-repeat 0 0;}
.inquiry_wrap {position:relative;overflow:hidden;}
.inquiry_wrap.type2 {min-height:130px;}
.inquiry_wrap .ico_tel {position:absolute;left:85px;top:38px;padding:5px 0 5px 40px;color:#333;font-size:18px;text-decoration:underline;background:url('/images/sub/ico_tel.gif') no-repeat 0 50%;}
.inquiry_wrap .ico_mail {position:absolute;left:280px;top:38px;padding:5px 0 5px 50px;color:#333;font-size:18px;text-decoration:underline;background:url('/images/sub/ico_mail.gif') no-repeat 0 50%;}
.inquiry_wrap .ico_tel_wrap {position:absolute;left:105px;top:38px;}
.inquiry_wrap .ico_tel_wrap span {display:block;margin-bottom:15px;padding:5px 0 5px 40px;color:#333;font-size:16px;background:url('/images/sub/ico_tel.gif') no-repeat 0 50%;}
.inquiry_wrap .ico_tel_wrap em {padding-left:20px;color:#333;font-size:18px;text-decoration:underline;}
.btn_ques {margin:-10px 0 -34px;text-align:right;}
.btn_ques a {display:inline-block;padding:0 43px 0 23px;height:38px;line-height:38px;text-align:center;font-size:17px;color:#222;font-weight:bold;border:1px solid #696969;vertical-align:middle;background:#fff url('/images/sub/ico_ques.gif') no-repeat 85% 50%;white-space:nowrap;}

/* greencompany */
.gr_list {width:546px;}
.gr_list li {position:relative;padding:10px 0 10px 10px;}
.gr_list li .btn_view,.gr_list.type2 li .btn_down {position:absolute;right:0;top:3px;}
.gr_list li::before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 10px;
        background-color: #03b6a5;
        position: absolute;
        top: 20px;
        left: 0;
    }

.gr_list.type2 {width:340px;margin-top:35px;}
.gr_list2 > li {margin-top:25px;line-height:25px;}
.gr_list2 > li:first-child {margin-top:0;}
.gr_list2 li ol {margin-left:10px;}
.gr01 {height:608px;margin:40px 0 60px;overflow:hidden;text-indent:-9999px;background:url('/images/sub/green_img01_v2.jpg') no-repeat 0 0;}


/* mypage */
.pass_recon {background:url('/images/common/dotline01.gif') repeat-x 0 0;}
.pass_recon .inner {padding:47px 0 25px;/* background:url('/images/common/dotline01.gif') repeat-x 0 100%; */}
.pass_recon .inner dl {min-height:118px;padding-left:277px;background:url('/images/sub/ico_pass.gif') no-repeat 144px 3px;}
.pass_recon .inner dl dt {margin-bottom:17px;padding-left:17px;color:#000;font-size:22px;font-weight:600;background:url('/images/common/bult01.gif') no-repeat 0 50%;}
.pass_recon .inner dl dd {margin-bottom:23px; color:#333;font-size:16px;}
.pass_recon .inner dl dd span {padding-right:10px;font-size:16px;color:#333;font-weight:bold;}
.pass_recon .inner dl dd .intype {height:35px;margin-right:-5px;}
.satisfy {padding:25px 20px 20px;border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;}
.satisfy label {color:#333;margin-left:5px;}
.satisfy label.sat01 {padding-right:105px;background:url('/images/common/ico_star5.gif') no-repeat 60px 0;}
.satisfy label.sat02 {padding-right:105px;background:url('/images/common/ico_star4.gif') no-repeat 35px 0;}
.satisfy label.sat03 {padding-right:105px;background:url('/images/common/ico_star3.gif') no-repeat 35px 0;}
.satisfy label.sat04 {padding-right:105px;background:url('/images/common/ico_star2.gif') no-repeat 49px 0;}
.satisfy label.sat05 {padding-right:105px;background:url('/images/common/ico_star1.gif') no-repeat 72px 0;}
.satisfy .btn {margin-top:13px;text-align:center;}

/* etc */
.search_box {margin-bottom:50px;padding:27px 0;border:1px solid #d8d8d8;text-align:center;}
.search_box .tit {display:inline-block;padding-right:5px;font-size:16px;font-weight:bold;color:#000;font-family:sans-serif;}
.search_box .search_wrap {display:inline-block;width:440px;height:42px;padding-left:20px;text-align:left;background:url('/images/sub/bg_search_wrap.gif') no-repeat 0 0;}
.search_box .search_wrap .search {width:385px;height:30px;border:0;}
.result_txt {margin-bottom:13px;font-size:22px;color:#333;}
.result_txt .txt01 {color:#333;font-weight:bold;}
.result_txt .txt02 {color:#32ae01;font-weight:bold;}
.result_box {overflow:hidden;}
.result_box h4 {margin:25px 0 -10px;padding-left:16px;color:#222;font-size:18px;font-weight:bold;background:url('/images/common/bult06.gif') no-repeat 0 50%;}
.result_box h4 span {font-weight:300;}
.result_box h4 em {color:#dd4644;}
.result_box dt {margin:30px 0 10px;font-size:14px;text-decoration:underline;}
.result_box dt .cata {color:#288901;}
.result_box dt .date {padding-left:20px;color:#666;}
.result_box dd {color:#555;}
.result_box .more {padding:30px 12px 5px;text-align:right;text-decoration:underline;background:url('/images/sub/arrow01.gif') no-repeat 100% 37px;}
.result_nodata {width:590px;margin:0 auto 30px;}
.result_nodata .result_txt {margin:70px 0 30px;font-size:22px;color:#333;}
.result_nodata .result_txt .txt01 {color:#333;font-weight:bold;}
.result_nodata ul {padding:28px 0 35px 136px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:url('/images/sub/result_nodata.gif') no-repeat 0 32px;}
.result_nodata li {color:#555;}
.error_box {width:516px;height:310px;margin:40px auto 0;text-align:center;border:1px solid #d8d8d8;background:url('/images/sub/error_404.gif') no-repeat 50% 28px;}
.error_box.type2 {background:url('/images/sub/error_500.gif') no-repeat 50% 40px;}
.error_box dl {margin-top:158px;}
.error_box.type2 dl {margin-top:210px;}
.error_box dt {color:#222;font-size:32px;font-weight:bold;}
.error_box dd {margin-top:20px;color:#222;font-size:18px;}
.login_wrap {width:890px;margin:0 auto;}
.login_wrap .login_box {position:relative;padding:45px 0 28px 220px;border:1px solid #d8d8d8;background:url('/images/common/bg_login.gif') no-repeat 84px 30px;}
.login_wrap .login_box dt {margin-bottom:15px;color:#222;font-size:22px;font-weight:bold;}
.login_wrap .login_box dd {color:#555;font-size:15px;}
.login_wrap .login_box ul {margin-top:30px;}
.login_wrap .login_box li {margin-bottom:6px;}
.login_wrap .login_box li .login {width:295px;height:43px;padding-left:15px;border:1px solid #cbcbcb;border-top:1px solid #adadad;border-radius:2px;}
.login_wrap .login_box .input_wrap {position:relative;}
.login_wrap .login_box .btn_login {position:absolute;top:30px;left:324px;}
.login_wrap .login_box .desc {margin-top:15px;color:#d73f19;}
.login_wrap .login_info {position:relative;margin-top:30px;padding-bottom:50px;border-bottom:1px solid #ccc;overflow:hidden;}
.login_wrap .login_info li {float:left;width:50%;font-size:17px;color:#333;}
.login_wrap .login_info li.li01 span {display:inline-block;padding:20px 0 10px 60px;background:url('/images/common/ico_sear.gif') no-repeat 0 10px;} 
.login_wrap .login_info li.li02 span {display:inline-block;padding:20px 0 10px 78px;background:url('/images/common/ico_write.gif') no-repeat 0 8px;}
.login_wrap .login_info li .btn_page {padding:0 18px;}
.login_wrap .login_info .desc {position:absolute;left:205px;top:0;font-size:15px;color:#555;}
.login_wrap .ban_list {margin-top:25px;overflow:hidden;border-top:1px solid #e2e2e2;border-left:1px solid #e2e2e2;}
.login_wrap .ban_list li {float:left;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}

.ttype02 ul {padding-left:8px;}
.txt_type01 {padding:25px 0 12px;text-align:center;}
.img_wrap {text-align:center;padding-top:18px;}
.img_wrap.type2 {padding:18px 0;}
.img_wrap span {display:inline-block;margin:0 9px;}
.hotel_feedback {margin:13px 0 0 10px;padding:25px 0 20px 166px;border:1px solid #e9e9e9;background:url('/images/sub/hotel_img21.jpg') no-repeat 38px 69px;}
.hotel_feedback dt {margin-bottom:8px;font-size:18px;color:#333;font-weight:bold;}

.input-right {text-align: right !important;}