.season_wrap .w_set {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.season_wrap .season_top {
  height: auto;
  background-size: cover;
  position: relative;
}
.season_wrap .season_top.bg_01 {
  background: url("../images/sub/park_bg01.png") no-repeat center;
}
.season_wrap .season_top.bg_02 {
  background: url("../images/sub/park_bg02.png") no-repeat center;
}
.season_wrap .season_top.bg_03 {
  background: url("../images/sub/park_bg03.png") no-repeat center;
}
.season_wrap .season_top.bg_04 {
  background: url("../images/sub/park_bg04.png") no-repeat center;
}
.season_wrap .season_top .bg {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.3607843137), #000000);
  opacity: 0.48;
  position: absolute;
  left: 0;
  top: 0;
}
.season_wrap .season_top .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  color: #fff;
}
.season_wrap .season_top .tit > strong {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
}
.season_wrap .season_top .txt {
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
}
.season_wrap .season_top .bg_slide_wrap .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  color: #222;
}
.season_wrap .season_top .bg_slide_wrap .txt {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #666;
}
.season_wrap .swiper {
  overflow: visible;
}

@media (min-width: 1400px) {
  .season_wrap {
    margin-top: 80px;
  }
  .season_wrap .season_top {
    width: 100%;
    height: 580px;
  }
  .season_wrap .season_top .w_set .tit {
    font-size: 90px;
    line-height: -90px;
  }
  .season_wrap .season_top .w_set .tit > strong {
    font-size: 48px;
    font-weight: 600;
    line-height: -48px;
  }
  .season_wrap .season_top .w_set .txt {
    font-size: 22px;
    line-height: 32px;
    margin-top: 60px;
  }
  .season_wrap .season_cont {
    margin: 100px 0 0;
  }
  .season_wrap .season_cont .info_slide {
    width: 1400px;
    margin: 0 auto;
  }
  .season_wrap .season_cont .info_slide.summer_info .swiper-slide {
    width: 100%;
  }
  .season_wrap .season_cont .info_slide .swiper .swiper_area {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .season_wrap .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide {
    flex-direction: column;
    align-items: flex-start;
  }
  .season_wrap .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide .sub_tit {
    font-family: "Noto Sans KR", sans-serif;
    margin: 26px 0 20px;
    font-size: 22px;
    color: #222;
  }
  .season_wrap .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide .sub_info {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #666;
  }
  .season_wrap .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide .sub_info > span {
    display: inline-block;
    margin-right: 14px;
  }
  .season_wrap .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide .sub_info > p {
    margin-top: 12px;
  }
  .season_wrap .season_cont .info_slide .swiper .swiper-button-next {
    top: 210px;
    right: calc(50% - 760px);
    background: url("../images/sub/park_info_right.svg") no-repeat center;
  }
  .season_wrap .season_cont .info_slide .swiper .swiper-button-prev {
    top: 210px;
    left: calc(50% - 760px);
    background: url("../images/sub/park_info_left.svg") no-repeat center;
  }
  .season_wrap .season_cont .info_slide .swiper .swiper-button-next:after,
  .season_wrap .season_cont .info_slide .swiper .swiper-button-prev:after {
    display: none;
  }
  .season_wrap .season_cont .info_slide .swiper .swiper-pagination {
    display: none;
  }
  .season_wrap .season_cont .bg_slide_wrap {
    margin: 100px 0 120px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .bg {
    background-color: #E8E8B9;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .bg {
    background-color: #CDECEC;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .bg {
    background-color: #FCD0BD;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .bg {
    background-color: #E0E6EC;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 {
    position: relative;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .bg {
    width: 75%;
    height: 620px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section .tit {
    margin-bottom: 33px;
    font-size: 48px;
    line-height: 48px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section .txt {
    font-size: 20px;
    line-height: 29px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section .swiper {
    position: absolute;
    top: calc(50% - 190px);
    height: 380px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section .swiper .swiper_area {
    position: absolute;
    top: 0;
    right: 52px;
    width: 1200px;
    overflow: hidden;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section .swiper .swiper-button-next {
    width: 42px;
    height: 42px;
    top: auto;
    bottom: 0;
    right: auto;
    left: calc(50% - 400px);
    background-color: #fff;
    border-radius: 50%;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section .swiper .swiper-button-next::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 0;
    right: 0;
    background: url("../images/sub/park_slide_right.svg") no-repeat center;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section .swiper .swiper-button-next.swiper-button-disabled {
    opacity: 1;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section .swiper .swiper-button-prev {
    width: 42px;
    height: 42px;
    top: auto;
    bottom: 0;
    left: calc(50% - 460px);
    background-color: #fff;
    border-radius: 50%;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section .swiper .swiper-button-prev::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 0;
    left: 0;
    background: url("../images/sub/park_slide_left.svg") no-repeat center;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide01 .slide_section .swiper .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 {
    position: relative;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .bg {
    width: 75%;
    height: 620px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section .tit {
    margin-bottom: 33px;
    font-size: 48px;
    line-height: 48px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section .txt {
    font-size: 20px;
    line-height: 29px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section .swiper {
    position: absolute;
    top: calc(50% - 190px);
    height: 380px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section .swiper .swiper_area {
    position: absolute;
    top: 0;
    right: 52px;
    width: 1200px;
    overflow: hidden;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section .swiper .swiper-button-next {
    width: 42px;
    height: 42px;
    top: auto;
    bottom: 0;
    right: auto;
    left: calc(50% - 400px);
    background-color: #fff;
    border-radius: 50%;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section .swiper .swiper-button-next::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 0;
    right: 0;
    background: url("../images/sub/park_slide_right.svg") no-repeat center;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section .swiper .swiper-button-next.swiper-button-disabled {
    opacity: 1;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section .swiper .swiper-button-prev {
    width: 42px;
    height: 42px;
    top: auto;
    bottom: 0;
    left: calc(50% - 460px);
    background-color: #fff;
    border-radius: 50%;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section .swiper .swiper-button-prev::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 0;
    left: 0;
    background: url("../images/sub/park_slide_left.svg") no-repeat center;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide02 .slide_section .swiper .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 {
    position: relative;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .bg {
    width: 75%;
    height: 620px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section .tit {
    margin-bottom: 33px;
    font-size: 48px;
    line-height: 48px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section .txt {
    font-size: 20px;
    line-height: 29px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section .swiper {
    position: absolute;
    top: calc(50% - 190px);
    height: 380px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section .swiper .swiper_area {
    position: absolute;
    top: 0;
    right: 52px;
    width: 1200px;
    overflow: hidden;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section .swiper .swiper-button-next {
    width: 42px;
    height: 42px;
    top: auto;
    bottom: 0;
    right: auto;
    left: calc(50% - 400px);
    background-color: #fff;
    border-radius: 50%;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section .swiper .swiper-button-next::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 0;
    right: 0;
    background: url("../images/sub/park_slide_right.svg") no-repeat center;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section .swiper .swiper-button-next.swiper-button-disabled {
    opacity: 1;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section .swiper .swiper-button-prev {
    width: 42px;
    height: 42px;
    top: auto;
    bottom: 0;
    left: calc(50% - 460px);
    background-color: #fff;
    border-radius: 50%;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section .swiper .swiper-button-prev::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 0;
    left: 0;
    background: url("../images/sub/park_slide_left.svg") no-repeat center;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide03 .slide_section .swiper .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 {
    position: relative;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .bg {
    width: 75%;
    height: 620px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section .tit {
    margin-bottom: 33px;
    font-size: 48px;
    line-height: 48px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section .txt {
    font-size: 20px;
    line-height: 29px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section .swiper {
    position: absolute;
    top: calc(50% - 190px);
    height: 380px;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section .swiper .swiper_area {
    position: absolute;
    top: 0;
    right: 52px;
    width: 1200px;
    overflow: hidden;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section .swiper .swiper-button-next {
    width: 42px;
    height: 42px;
    top: auto;
    bottom: 0;
    right: auto;
    left: calc(50% - 400px);
    background-color: #fff;
    border-radius: 50%;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section .swiper .swiper-button-next::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 0;
    right: 0;
    background: url("../images/sub/park_slide_right.svg") no-repeat center;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section .swiper .swiper-button-next.swiper-button-disabled {
    opacity: 1;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section .swiper .swiper-button-prev {
    width: 42px;
    height: 42px;
    top: auto;
    bottom: 0;
    left: calc(50% - 460px);
    background-color: #fff;
    border-radius: 50%;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section .swiper .swiper-button-prev::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 0;
    left: 0;
    background: url("../images/sub/park_slide_left.svg") no-repeat center;
  }
  .season_wrap .season_cont .bg_slide_wrap.bg_slide04 .slide_section .swiper .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
  }
}
@media (max-width: 1399px) {
  .sub_line_bg.no_bg ~ #content {
    margin: 0;
  }
  .footer {
    margin-top: 0;
  }
  .season_wrap {
    margin-top: 40px;
  }
  .season_wrap .season_top {
    padding: 20px 0;
  }
  .season_wrap .season_top .w_set .tit {
    font-size: 60px;
    line-height: 60px;
  }
  .season_wrap .season_top .w_set .tit > strong {
    font-size: 18px;
    line-height: 20px;
    margin-right: 10px;
  }
  .season_wrap .season_top .w_set .txt {
    font-size: 20px;
    line-height: 24px;
    margin-top: 12px;
  }
  .season_wrap .season_top .w_set .txt > br {
    display: none;
  }
  .season_cont {
    padding: 60px 0 0;
  }
  .season_cont .info_slide {
    padding: 0 16px;
    width: 100%;
  }
  .season_cont .info_slide .swiper .swiper_area {
    width: 100%;
    overflow: hidden;
  }
  .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide {
    flex-direction: column;
    align-items: flex-start;
  }
  .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide > img {
    margin: 0 auto;
  }
  .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide .sub_tit {
    font-family: "Noto Sans KR", sans-serif;
    margin: 20px 0 16px;
    font-size: 18px;
    color: #222;
  }
  .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide .sub_info {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #666;
  }
  .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide .sub_info > span {
    display: inline-block;
    margin-right: 10px;
  }
  .season_cont .info_slide .swiper .swiper_area .swiper-wrapper .swiper-slide .sub_info > p {
    margin-top: 10px;
  }
  .season_cont .info_slide .swiper .swiper-button-next,
  .season_cont .info_slide .swiper .swiper-button-prev {
    display: none;
  }
  .season_cont .info_slide .swiper .swiper-pagination-bullet-active {
    width: 27px;
    height: 8px;
    border-radius: 4px;
    background-color: #222;
  }
  .season_cont .info_slide .swiper .swiper-horizontal > .swiper-pagination-bullets,
  .season_cont .info_slide .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  .season_cont .info_slide .swiper .swiper-pagination-custom,
  .season_cont .info_slide .swiper .swiper-pagination-fraction {
    bottom: -30px;
  }
  .bg_slide_wrap {
    margin-top: 70px;
    padding: 60px 16px 70px;
  }
  .bg_slide_wrap.bg_slide01 {
    background-color: #E8E8B9;
  }
  .bg_slide_wrap.bg_slide01 {
    position: relative;
  }
  .bg_slide_wrap.bg_slide01 .bg {
    width: 100%;
    height: 100%;
  }
  .bg_slide_wrap.bg_slide01 .tit {
    font-size: 23px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .bg_slide_wrap.bg_slide01 .txt {
    font-size: 16px;
    line-height: 24px;
    color: #444;
  }
  .bg_slide_wrap.bg_slide01 .txt > br {
    display: none;
  }
  .bg_slide_wrap.bg_slide01 .w_set {
    padding: 0;
  }
  .bg_slide_wrap.bg_slide01 .swiper {
    margin-top: 34px;
  }
  .bg_slide_wrap.bg_slide01 .swiper .swiper-button-prev::after, .bg_slide_wrap.bg_slide01 .swiper .swiper-button-next::after {
    display: none;
  }
  .bg_slide_wrap.bg_slide02 {
    position: relative;
  }
  .bg_slide_wrap.bg_slide02 .bg {
    width: 100%;
    height: 100%;
  }
  .bg_slide_wrap.bg_slide02 .tit {
    font-size: 23px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .bg_slide_wrap.bg_slide02 .txt {
    font-size: 16px;
    line-height: 24px;
    color: #444;
  }
  .bg_slide_wrap.bg_slide02 .txt > br {
    display: none;
  }
  .bg_slide_wrap.bg_slide02 .w_set {
    padding: 0;
  }
  .bg_slide_wrap.bg_slide02 .swiper {
    margin-top: 34px;
  }
  .bg_slide_wrap.bg_slide02 .swiper .swiper-button-prev::after, .bg_slide_wrap.bg_slide02 .swiper .swiper-button-next::after {
    display: none;
  }
  .bg_slide_wrap.bg_slide03 {
    position: relative;
  }
  .bg_slide_wrap.bg_slide03 .bg {
    width: 100%;
    height: 100%;
  }
  .bg_slide_wrap.bg_slide03 .tit {
    font-size: 23px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .bg_slide_wrap.bg_slide03 .txt {
    font-size: 16px;
    line-height: 24px;
    color: #444;
  }
  .bg_slide_wrap.bg_slide03 .txt > br {
    display: none;
  }
  .bg_slide_wrap.bg_slide03 .w_set {
    padding: 0;
  }
  .bg_slide_wrap.bg_slide03 .swiper {
    margin-top: 34px;
  }
  .bg_slide_wrap.bg_slide03 .swiper .swiper-button-prev::after, .bg_slide_wrap.bg_slide03 .swiper .swiper-button-next::after {
    display: none;
  }
  .bg_slide_wrap.bg_slide04 {
    position: relative;
  }
  .bg_slide_wrap.bg_slide04 .bg {
    width: 100%;
    height: 100%;
  }
  .bg_slide_wrap.bg_slide04 .tit {
    font-size: 23px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .bg_slide_wrap.bg_slide04 .txt {
    font-size: 16px;
    line-height: 24px;
    color: #444;
  }
  .bg_slide_wrap.bg_slide04 .txt > br {
    display: none;
  }
  .bg_slide_wrap.bg_slide04 .w_set {
    padding: 0;
  }
  .bg_slide_wrap.bg_slide04 .swiper {
    margin-top: 34px;
  }
  .bg_slide_wrap.bg_slide04 .swiper .swiper-button-prev::after, .bg_slide_wrap.bg_slide04 .swiper .swiper-button-next::after {
    display: none;
  }
}
@media (max-width: 360px) {
  .season_wrap .season_top {
    padding: 20px 0;
  }
  .season_wrap .season_top .w_set .tit {
    font-size: 14px;
    line-height: 20px;
  }
  .season_wrap .season_top .w_set .tit > strong {
    font-size: 24px;
    line-height: 33px;
    margin-right: 10px;
  }
  .season_wrap .season_top .w_set .tit > br {
    display: none;
  }
  .season_wrap .season_top .w_set .txt {
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
  }
}