#hedaer{
    position: relative;
}
#content{
    @media(max-width:1400px){
        margin-top: 24px !important;
    }
    .recommend_wrap{
        .facility_banner_box{
            position: relative;
            overflow: hidden;
            margin-top: 60px;
            @media(max-width:1400px){
                margin-top: 39px;
            }
            .facility_banner_img{
                    margin-top: auto;
                    position: relative;
                    margin: 0;
                    padding: 0;
                    word-wrap: break-word;
                    word-break: keep-all;
                    overflow: hidden;
                    .facility_banner_back{
                        padding-top: 30%;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        @media(max-width:360px){
                            padding-top: 50%;
                        }
                    }
                    &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5803921569) 100%) 0% 0% no-repeat padding-box;
                            background-size: cover;
                            z-index: 1;
                    }
                    img {
                        height: 100%;
                    }
                    
                }
            }
        }
        .w_set{
            .cont{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @media(max-width:852px){
                    align-items: start;
                }
                
                span{
                    display: block;
                    text-align: start !important;
                    word-break: keep-all;
                    &.tit_s {
                        margin-top: 20px;
                        font-size: 20px;
                        line-height: 26pxt;
                        @media(max-width:1400px){
                            line-height: 20px;
                        }
                    }
                
                    &.tit_m {
                        font-weight: 500;
                    }
                
                    strong {
                        font-weight: 600;
                        }
                }
                &.btn_wrap{
                    flex-direction: row;
                    @media(max-width:680px){
                        flex-direction: column;
                    }
                    a{
                        width: 192px;
                        height: 50px;
                        background: #222222 0% 0% no-repeat padding-box !important;
                        // border-radius: 6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: left;
                        margin-top: 20px;
                        font-size: 17px;
                        @media(max-width:680px){
                            width: 100%;
                        }
                        // p{
                        //     letter-spacing: 0px;
                        //     font: normal normal normal 17px/25px Noto Sans KR;
                        //     color: #FFFFFF;
                        //     position: relative;
                        //     display: flex;
                        //     justify-content: center;
                        //     align-items: center;
                        //     &::before {
                        //             content: "";
                        //             background-image: url(../admin/ad_images/common/arrow_right_light.png);
                        //             position: absolute;
                        //             height: 100%;
                        //             width: 20px;
                        //             background-repeat: no-repeat;
                        //             background-position: center;
                        //             top: 0;
                        //             left: 100%;
                        //         }
                        // }
                
                    }
                }
            }
        }
        .trace_wrap{
            .w_set{
                .tit{
                    @media(max-width:1400px){
                        margin-top: 36px;
                    }
                }
                .facility_img {
                    &.type_page3{
                        width: 100%;
                        height: 410px;
                        padding-bottom: 0% !important;
                        
                        @media (max-width: 895px) {
                            height: 0;
                            padding-bottom: 45% !important;
                            background-size: cover !important;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                    width: 100%;
                    height: 438px;
                    padding-bottom: 0% !important;
                    @media (max-width: 600px) {
                        height: 0;
                        padding-bottom: 67% !important;
                        background-size: cover !important;
                    }
                }
                .script{
                    margin-top: 60px;
                }
                .experience_information_box{
                    margin: 40px 0;
                    border-top: 1px solid #222;
                    @media(max-width:1400px){
                        margin: 20px 0;
                    }
                    .experience_information_tr{
                        display: grid;
                        grid-template-columns: 30% 70%;
                        border-bottom: 1px solid #DDDDDD;
                        .experience_information_th{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-right: 1px solid #DDDDDD;
                            word-break: keep-all;
                            font-size: 18px;
                            line-height: 26px;
                            padding: 24px 0;
                            color: #000;
                            @media(max-width:1400px){
                                font-size: 16px;
                                line-height: 24px;
                                padding: 20px 0;
                            }
                        }
                        .experience_information_td{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: start;
                            font-size: 18px;
                            overflow-x: auto;
                            gap: 0;
                            overflow-y: clip;
                            line-height: 26px;
                            padding: 11px;
                            color: #000;
                            @media(max-width:1400px){
                                padding: 12px;
                            }
                            &::-webkit-scrollbar{
                                display: none;
                            }
                            /* Chrome, Safari, Opera*/
                            -ms-overflow-style: none;
                            /* IE and Edge */
                            scrollbar-width: none;
                            /* Firefox */
                            @media(max-width:1400px){
                                    font-size: 14px;
                                    line-height: 20px;
                            }
                            span{
                                text-wrap: nowrap;
                            }
                            em{
                                color: #139274;
                                text-wrap: nowrap;
                            }
                        }
                    }
                }
            }
        }
        .w_set{
            .image_view{
                margin-right: 0;
                .view{
                    @media (max-width: 1399px){
                        width: 280px;
                        height: 280px;
                    }
                    .overlay{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 0 !important;
                        .num{
                            border: 2px dotted #fff;
                        }
                    }
                }
            }
        }
    }


#footer{
    .footer_cnt{
        .right{
            .family_site{
                .btn_drop{
                    width: 100%;
                    height: 40px;
                    border: 2px solid #DDDDDD;
                    position: relative;
                    font-weight: 600;
                    &::after{
                            content: '';
                            width: 10px;
                            height: 5px;
                            background: url(../images/main/ico_arr_black_drop.svg) no-repeat center center;
                            background-size: cover;
                            position: absolute;
                            right: 20px;
                            top: 56%;   
                    }
                }

            }
        }
    }
}