#hedaer{
    position: relative;
}
#content{
    .recommend_wrap{
        .w_set{
            .cont{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center !important;
                span{
                    display: block;
                    text-align: start !important;
                }
                &.btn_wrap{
                    a{
                        width: 100%;
                        height: 50px;
                        background: #222222 0% 0% no-repeat padding-box !important;
                        // border-radius: 6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: left;
                        margin-top: 1.5rem;
                        font-size: 17px;
                        @media(min-width:361px){
                            display: none;
                        }
                        // p{
                        //     letter-spacing: 0px;
                        //     font: normal normal normal 17px/25px Noto Sans KR;
                        //     color: #FFFFFF;
                        //     position: relative;
                        //     display: flex;
                        //     justify-content: center;
                        //     align-items: center;
                        //     &::before {
                        //             content: "";
                        //             background-image: url(../admin/ad_images/common/arrow_right_light.png);
                        //             position: absolute;
                        //             height: 100%;
                        //             width: 20px;
                        //             background-repeat: no-repeat;
                        //             background-position: center;
                        //             top: 0;
                        //             left: 100%;
                        //         }
                        // }
                
                    }
                }
            }
        }
        .trace_wrap{
            .w_set{
                .facility_img {
                    &.type_page3{
                        width: 100%;
                        height: 438px;
                        padding-bottom: 0% !important;
                    
                        @media (max-width: 895px) {
                            height: 0;
                            padding-bottom: 45% !important;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                    width: 100%;
                    height: 438px;
                    padding-bottom: 0% !important;
                    @media (max-width: 600px) {
                        height: 0;
                        padding-bottom: 67% !important;
                        background-size: cover;
                    }
                }
                .script{
                    margin-top: 60px;
                }
                .experience_information_box{
                    margin: 60px 0;
                    border-top: 1px solid #000;
                    .experience_information_tr{
                        display: grid;
                        grid-template-columns: 30% 70%;
                        grid-template-rows: 3.5rem;
                        @media(max-width:578px){
                            grid-template-rows: 5rem;
                        }
                        .experience_information_th{
                            padding: 0.5rem 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 600;
                            border-right: 1px solid #DDDDDD;
                            border-bottom: 1px solid #DDDDDD;
                            word-break: keep-all;
                            font-size: 18px;
                            @media(max-width:1400px){
                                font-size: 14px;
                            }
                        }
                        .experience_information_td{
                            padding: 0.5rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: start;
                            border-bottom: 1px solid #DDDDDD;
                            font-size: 18px;
                            @media(max-width:1400px){
                                    font-size: 14px;
                                    span{
                                        line-height: 18px !important;
                                    }
                            }
                            span{
                                font-weight: 600;
                                word-break: keep-all;
                                line-height: 26px;
                            }
                            em{
                                color: #139274;
                                word-break: keep-all;
                            }
                        }
                    }
                }
            }
        }
        .w_set{
            .image_view{
                .view{
                    @media (max-width: 1399px){
                        width: 280px;
                        height: 280px;
                    }
                    .overlay{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 0 !important;
                        .num{
                            border: 2px dotted #fff;
                        }
                    }
                }
            }
        }
    }
}