body {
    color: #222;
}

// Primary Color
$primary-color1: #0c9194;
$primary-color2: #00b780;

// Text Color
$text-color1: #222;
$text-color2: #333;
$text-color3: #666;

// Base Color
// $base-color1: #d9d9d9;

// Mobile
$mobile-space: 16px;

@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

// line
@mixin ellipsis($lines: 1) {
    @if ($lines==1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

@mixin w-set-m {
    margin-left: -$mobile-space;
    margin-right: -$mobile-space;
    padding-left: $mobile-space;
    padding-right: $mobile-space;
}

@mixin scroll {
    &::-webkit-scrollbar {
        width: 10px;
        background: none;
    }
    &::-webkit-scrollbar-thumb {
        width: 8px;
        border-radius: 4px;
        // background: $base-color1;
    }
}

@mixin imgbox($percent) {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    &:after {
        content: "";
        display: block;
        padding-bottom: $percent;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.35s;
    }
}

/* Font - NotoSansCKJ (기본) */
/* Medium */
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src:
        url("../../fonts/NotoSansCKJ/NotoSans-Medium.woff2") format("woff2"),
        url("../../fonts/NotoSansCKJ/NotoSans-Medium.woff") format("woff"),
        url("../../fonts/NotoSansCKJ/NotoSans-Medium.eot") format("opentype"),
        url("../../fonts/NotoSansCKJ/NotoSans-Medium.ttf") format("truetype");
}

/* Font - Inter(숫자 및 영문 일부) */
/* Light */
@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
    src:
        url("../../fonts/Inter/Inter-Light.woff2") format("woff2"),
        url("../../fonts/Inter/Inter-Light.woff") format("woff"),
        url("../../fonts/Inter/Inter-Light.eot") format("opentype"),
        url("../../fonts/Inter/Inter-Light.ttf") format("truetype");
}
/* Regular */
@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src:
        url("../../fonts/Inter/Inter-Regular.woff2") format("woff2"),
        url("../../fonts/Inter/Inter-Regular.woff") format("woff"),
        url("../../fonts/Inter/Inter-Regular.eot") format("opentype"),
        url("../../fonts/Inter/Inter-Regular.ttf") format("truetype");
}
/* Medium */
@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src:
        url("../../fonts/Inter/Inter-Medium.woff2") format("woff2"),
        url("../../fonts/Inter/Inter-Medium.woff") format("woff"),
        url("../../fonts/Inter/Inter-Medium.eot") format("opentype"),
        url("../../fonts/Inter/Inter-Medium.ttf") format("truetype");
}
/* Bold */
@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src:
        url("../../fonts/Inter/Inter-Bold.woff2") format("woff2"),
        url("../../fonts/Inter/Inter-Bold.woff") format("woff"),
        url("../../fonts/Inter/Inter-Bold.eot") format("opentype"),
        url("../../fonts/Inter/Inter-Bold.ttf") format("truetype");
}

.w_set {
    max-width: 1400px;
    margin: 0 auto;
}

// 헤더
.wrap-header {
    &.new {
        background-image: none;
        .inner {
            max-width: 1400px;
        }
        .hd_top {
            display: flex;
            justify-content: flex-end;
            font-size: 0;
            padding-top: 6px;
            a {
                display: inline-block;
                font-size: 16px;
                & + a {
                    position: relative;
                    margin-left: 14px;
                    padding-left: 14px;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        display: inline-block;
                        width: 1px;
                        height: 10px;
                        background-color: #d3d3d3;
                    }
                }
            }
        }
        .hd_btm {
            padding-top: 7px;
            display: flex;
            justify-content: space-between;
        }
        .nav {
            margin: 0 auto;
            position: relative;
            & > ul {
                display: inline-block;
                & > li {
                    width: 220px;
                    & > a {
                        display: inline-block;
                        position: relative;
                        height: 100%;
                        font-size: 20px;
                        font-weight: 600;
                        padding: 10px 20px 30px;
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            display: block;
                            width: 0;
                            height: 0;
                            background-color: $primary-color1;
                            transition: all 0.35s;
                        }
                        &:hover,
                        &.on {
                            &::after {
                                width: 100%;
                                height: 4px;
                            }
                        }
                    }
                }
            }
        }
        .sub_menu {
            border-top: 1px solid #ddd;
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            width: 120%;
            min-height: 276px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center top;
            background-image: url(../images/common/depth_bg.jpg);
            transition: 0.3s;
            -webkit-transition: 0.3s;
            &.selected {
                display: block;
                &::before {
                    content: "";
                    border-top: 1px solid #ddd;
                    position: absolute;
                    left: 50%;
                    top: -1px;
                    z-index: -1;
                    width: 1000%;
                    height: 100%;
                    margin-left: -500%;
                    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
                    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
                    background-color: #fff;
                }
            }
            .depth2 {
                font-size: 0;
                padding: 0 0 88px 0;
                & > li {
                    display: inline-block;
                    vertical-align: top;
                    max-width: 240px;
                    margin-right: 60px;
                    margin-top: 16px;
                    &:last-child {
                        margin-right: 0;
                    }
                    .sub_tit {
                        display: block;
                        min-width: 220px;
                        height: 50px;
                        line-height: 48px;
                        padding: 0 20px;
                        font-size: 18px;
                        font-weight: 500;
                        background-color: #f9f9f9;
                        color: $primary-color1;
                        &.has_depth {
                            background: #f9f9f9 url("../../images/ico/has_depth.svg") no-repeat right 20px center;
                        }
                    }
                }
            }
            .depth3 {
                margin-top: 9px;
                margin-left: 20px;
                & > li {
                    &:hover,
                    &.on {
                        & > a {
                            color: $primary-color1;
                        }
                    }
                    a {
                        position: relative;
                        display: block;
                        font-weight: 500;
                        font-size: 16px;
                        padding: 5px 0 5px 10px;
                        &::before {
                            content: "";
                            display: inline-block;
                            width: 3px;
                            height: 3px;
                            border-radius: 50%;
                            background-color: $primary-color1;
                            position: absolute;
                            left: 3px;
                            top: 17px;
                        }
                    }
                }
            }
            .depth4 {
                padding-left: 10px;
                & > li {
                    &:hover,
                    &.on {
                        & > a {
                            color: $primary-color1;
                        }
                    }
                    a {
                        padding-left: 5px;
                        font-weight: 400;
                        padding: 2px 0 2px 10px;
                        &::before {
                            content: "";
                            display: inline-block;
                            width: 2px;
                            height: 2px;
                            border-radius: 50%;
                            background-color: #222;
                            position: absolute;
                            left: 3px;
                            top: 15px;
                        }
                    }
                }
            }
        }
        .ico {
            &.search {
                position: initial;
                margin-left: 0;
                background: url("../../images/ico/hd_search.svg") no-repeat center;
                // background-size: 20px auto;
            }
            &.menu {
                position: initial;
                margin-left: 0;
                margin-right: -12px;
                background: url("../../images/ico/hd_menu.svg") no-repeat center;
                // background-size: 17px auto;
            }
        }
        .h-sitemap {
            z-index: 999;
            .depth2 {
                & > li {
                    padding-left: 0;
                    margin-bottom: 0;
                    &::before {
                        content: none;
                    }
                }
                li {
                    &.current {
                        a {
                            border-bottom: 0;
                        }
                    }
                    a {
                        &:hover,
                        &:focus {
                            border-bottom: 0;
                        }
                    }
                }
            }
            .menu-header {
                padding: 30px 0 32px;
                height: auto;
                background-color: $primary-color1;
                .inner {
                    position: relative;
                    .m-close {
                        right: 0;
                        top: 10px;
                        background: url("../../images/ico/sitemap_close.svg") no-repeat center;
                    }
                }
                h1 {
                    font-weight: 500;
                    font-size: 36px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 16px;
                }
            }
            .menu-body {
                padding: 37px 0 160px;
                .sitemap_li {
                    display: flex;
                    margin: 0;
                    & + .sitemap_li {
                        margin-top: 50px;
                    }
                    h2 {
                        line-height: 1.8;
                        font-weight: 500;
                        font-size: 24px;
                        width: 270px;
                        flex: 0 0 auto;
                    }
                }
                .sitemap_depth3 {
                    padding-top: 9px;
                    padding-left: 20px;
                    flex-direction: column;
                    & > li {
                        &:hover,
                        &.on {
                            & > a {
                                color: $primary-color1;
                            }
                        }
                        a {
                            position: relative;
                            display: block;
                            font-weight: 500;
                            font-size: 16px;
                            padding: 5px 0 5px 10px;
                            &::before {
                                content: "";
                                display: inline-block;
                                width: 3px;
                                height: 3px;
                                border-radius: 50%;
                                background-color: $primary-color1;
                                position: absolute;
                                left: 3px;
                                top: 17px;
                            }
                        }
                    }
                }
                .sitemap_depth4 {
                    & > li {
                        &:hover,
                        &.on {
                            & > a {
                                color: $primary-color1;
                            }
                        }
                        a {
                            margin-left: 10px;
                            font-weight: 400;
                            padding: 2px 0 2px 9px;
                            &::before {
                                content: "";
                                display: inline-block;
                                width: 2px;
                                height: 2px;
                                border-radius: 50%;
                                background-color: #222;
                                position: absolute;
                                left: 3px;
                                top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .wrap-header {
        &.new {
            .h-sitemap {
                .depth1 {
                    & > li > h2,
                    & > li > a {
                        border-bottom: 0;
                    }
                }
                .depth2 {
                    width: 100%;
                    display: flex;
                    gap: 40px;
                    padding: 0;
                    & > li {
                        flex: 1;
                    }
                    & > li > button,
                    & > li > a,
                    & > li > strong {
                        width: 100%;
                        display: block;
                        background: #f9f9f9;
                        border-radius: 3px;
                        height: 50px;
                        line-height: 48px;
                        font-size: 18px;
                        color: $primary-color1;
                        padding: 0 20px;
                    }
                    & > li > strong {
                        background: #f9f9f9 url("../../images/ico/has_depth.svg") no-repeat right 16px center;
                    }
                }
                .menu-body {
                    .sitemap_li {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .wrap-header {
        &.new {
            background-image: none;
            .inner {
                padding: 0 16px;
                max-width: 1400px;
            }
            .ico.logo {
                width: 104px;
                height: 29px;
                background-size: 610px;
                margin-top: 2px;
            }
            .hd_top {
                display: none;
            }
            .hd_btm {
                padding: 12px 0 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .nav {
                display: none;
            }
            .sub_menu {
                display: none;
            }
            .ico {
                &.search {
                    margin-left: auto;
                }
            }
            .h-sitemap {
                max-width: 360px;
                width: 100%;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
                &::-webkit-scrollbar {
                    display: none; /* Chrome, Safari, Opera*/
                }
                .depth1 {
                    & > li > h2,
                    & > li > a {
                        text-align: left;
                        background-color: #f9f9f9;
                        &.ui-state-active {
                            background-color: #fff;
                        }
                    }
                }
                .depth2 {
                    padding: 0;
                    border-left: 0;
                    & > li > button,
                    & > li > a,
                    & > li > strong {
                        border-bottom: 1px solid #ddd;
                        border-radius: 0;
                        height: 50px;
                        line-height: 48px;
                        font-weight: 500;
                        font-size: 16px;
                        padding: 0 26px 0 20px;
                    }
                    & > li > strong {
                        background: url("../../images/ico/has_depth.svg") no-repeat right 16px center;
                        &.ui-state-active {
                            background-image: url("../../images/ico/has_depth_on.svg");
                        }
                    }
                }
                .menu-header {
                    padding: 20px 0 0;
                    height: auto;
                    background-color: $primary-color1;
                    .inner {
                        position: relative;
                        .m-close {
                            width: 20px;
                            height: 20px;
                            right: 16px;
                            top: 0;
                            background: url("../../images/ico/sitemap_close.svg") no-repeat center;
                            background-size: 16px;
                        }
                    }
                    h1 {
                        font-weight: 400;
                        font-size: 16px;
                        margin-bottom: 0;
                        line-height: 24px;
                        strong {
                            font-weight: 400;
                            font-size: 20px;
                        }
                    }
                    p {
                        margin-top: 6px;
                        font-size: 16px;
                        line-height: 24px;
                        .time {
                            font-size: 18px;
                            line-height: 28px;
                        }
                        .bt {
                            border: 0;
                            background: #fff;
                            color: #222;
                            font-weight: 400;
                        }
                    }
                    ul {
                        position: initial;
                        display: flex;
                        margin: 28px -16px 0;
                        li {
                            flex: 1;
                            font-size: 16px;
                            a {
                                display: block;
                                line-height: 50px;
                                width: 100%;
                                height: 100%;
                                background-color: #00b780;
                                &.join {
                                    background-color: #07a08c;
                                }
                            }
                        }
                    }
                }
                .menu-body {
                    padding: 0;
                    height: 100%;
                    background-color: #f9f9f9;
                    .inner {
                        padding: 0;
                    }
                    .sitemap_li {
                        display: block;
                        & + .sitemap_li {
                            margin-top: 0;
                        }
                        h2 {
                            height: 50px;
                            line-height: 48px;
                            padding-left: 24px;
                            font-size: 16px;
                            max-width: 160px;
                        }
                    }
                    .sitemap_depth2 {
                        flex: 1;
                        width: 100%;
                        & + .sitemap_depth2 {
                            margin-top: 0;
                        }
                    }
                    .sitemap_depth3 {
                        padding: 13px 0 14px 20px;
                        border-bottom: 1px solid #ddd;
                        flex-direction: column;
                        & > li {
                            &:hover,
                            &.on {
                                & > a {
                                    color: $primary-color1;
                                }
                            }
                            a {
                                display: block;
                                padding: 7px 0;
                                font-size: 16px;
                                line-height: 1.2;
                                &::before {
                                    content: none;
                                }
                            }
                        }
                    }
                    .sitemap_depth4 {
                        & > li {
                            &:hover,
                            &.on {
                                & > a {
                                    color: $primary-color1;
                                }
                            }
                            a {
                                margin-left: 0;
                                padding: 5px 0 5px 10px;
                                font-weight: 400;
                                position: relative;
                                &::before {
                                    content: "";
                                    display: inline-block;
                                    width: 2px;
                                    height: 2px;
                                    border-radius: 50%;
                                    background-color: #222;
                                    position: absolute;
                                    top: 13px;
                                    left: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 푸터
.wrap-footer {
    &.new {
        .f-logo {
            top: 50px;
        }
        .f-link {
            margin-bottom: 32px;
            ul {
                li {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 10px;
                        background-color: #ddd;
                        border-right: 0;
                    }
                    &:last-child {
                        &::before {
                            content: none;
                        }
                    }
                    a {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        margin-right: 30px;
                        strong {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .wrap-footer {
        &.new {
            .f-sns {
                bottom: auto;
                top: 16px;
                right: 280px;
            }
            .f-family-link {
                bottom: auto;
                top: 10px;
                right: 50px;
                & + button {
                    bottom: auto;
                    top: 10px;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .wrap-footer {
        &.new {
            & > .inner {
                padding: 0 16px 40px;
            }
            .f-family-slide {
                .inner {
                    padding-top: 16px;
                }
            }
            .f-link {
                margin: 0 -16px;
                padding: 17px 16px 23px;
                background-color: #f9f9f9;
                ul {
                    display: flex;
                    gap: 16px 47px;
                    flex-wrap: wrap;
                    li {
                        &::before {
                            content: none;
                        }
                        a {
                            margin-right: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
            .f-middle {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .f-logo {
                position: initial;
                display: inline-block;
            }
            .f-company {
                margin-top: 20px;
                color: #222;
                font-weight: 400;
                .copyright {
                    color: #666;
                }
            }
            .f-family-link {
                flex: 0 0 auto;
                position: initial;
                border-radius: 3px;
                color: #222;
                border-color: #ddd;
                max-width: 187px;
                width: 100%;
                height: 46px;
                padding-left: 14px;
                padding-right: 26px;
                background: url("../../images/ico/ico-sub-menu-new.svg") no-repeat right 14px center;
            }
            .f-mark {
                display: inline-block;
                vertical-align: middle;
                .wa {
                    width: 60px;
                    height: 42px;
                }
                .eprivacy {
                    height: 36px !important;
                }
            }
            .f-sns {
                position: initial;
                display: inline-block;
            }
        }
    }
}

// 메인
.main {
    padding-top: 110px;
    .main_visual {
        overflow: hidden;
        padding: 90px 0 80px;
        position: relative;
        background: url("../../images/img/main_visual_bg.png") no-repeat center;
        background-size: cover;
        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            width: 291px;
            height: 227px;
            background: url("../../images/img/main_visual_img_1.svg") no-repeat;
        }
        &::after {
            content: "";
            position: absolute;
            right: 60px;
            bottom: 0;
            display: block;
            width: 203px;
            height: 142px;
            background: url("../../images/img/main_visual_img_4.svg") no-repeat;
        }
        .w_set {
            display: grid;
            grid-template-columns: 40.75% calc(59.25% - 47px);
            column-gap: 47px;
            row-gap: 36px;
        }
        .banner_wrap {
            grid-row: 1 / 3;
            position: relative;
            .swiper_control {
                margin-top: 20px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                .pagination {
                    width: auto;
                    .swiper-pagination-bullet {
                        width: 10px;
                        height: 10px;
                        opacity: 1;
                        background-color: #dddddd;
                        margin: 0 5px;
                    }
                    .swiper-pagination-bullet-active {
                        background-color: $primary-color2;
                    }
                }
            }
            .banner {
                display: block;
                a {
                    display: block;
                    overflow: hidden;
                    border-radius: 30px 0px 30px 30px;
                    width: 100%;
                    position: relative;
                }
            }
        }
        .search_area {
            & > div {
                display: flex;
                align-items: center;
                position: relative;
                span {
                    font-family: "Inter";
                    font-weight: 500;
                    font-size: 24px;
                    color: $primary-color2;
                    margin-right: 35px;
                }
                .input_area {
                    display: flex;
                    flex: 1;
                    position: relative;
                    border: 2px solid $primary-color2;
                    border-radius: 6px;
                    background: #fff;
                }
                select {
                    background-color: #fff;
                    height: 70px;
                    border-radius: 6px 0 0 6px;
                    background-position: right center;
                    padding: 0 20px 0 20px;
                }
                input {
                    background: #fff;
                    height: 70px;
                    padding: 0 80px 0 20px;
                    font-size: 16px;
                    width: 100%;
                    color: $text-color3;
                }
                a {
                    display: inline-block;
                    background: $primary-color2 url("../../images/ico/search_btn.svg") no-repeat 50% 50%;
                    width: 70px;
                    height: 100%;
                    transition: all 0.2s;
                    font-size: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    &:hover {
                        background-color: #02996c;
                    }
                }
            }
            .search_ul {
                font-size: 0;
                max-width: 84%;
                margin: 10px 0 0 auto;
                li {
                    display: inline-block;
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        font-size: 16px;
                        color: #333;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .quick {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border-radius: 20px;
            box-shadow: 0px 3px 6px #00000029;
            background: #fff;
            padding: 0 32px;
            position: relative;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                right: -26px;
                top: -25px;
                display: block;
                width: 25px;
                height: 25px;
                background: url("../../images/img/main_visual_img_2.svg");
            }
            &::before {
                content: "";
                position: absolute;
                left: 35px;
                bottom: -113px;
                display: block;
                width: 112px;
                height: 106px;
                background: url("../../images/img/main_visual_img_3.svg");
            }
            li {
                &:nth-child(-n + 3) {
                    a {
                        border-bottom: 1px solid #ddd;
                    }
                }
                &:nth-child(3n) {
                    a {
                        &::after {
                            display: none;
                        }
                    }
                }
                @for $i from 1 to 7 {
                    &.quick#{$i} {
                        a:before {
                            background-image: url("../../images/ico/quick#{$i}.svg");
                        }
                    }
                }
                a {
                    display: flex;
                    font-weight: 500;
                    font-size: 18px;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transition: all 0.2s;
                    align-items: center;
                    padding: 12% 5%;
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 52px;
                        background: #ddd;
                        position: absolute;
                        right: 0;
                    }
                    &::before {
                        flex: 0 0 auto;
                        display: inline-block;
                        content: "";
                        width: 90px;
                        height: 90px;
                        background: url("../../images/ico/quick01.svg") no-repeat 50% 50%;
                        // background-size: cover;
                        transition: all 0.2s;
                    }
                    &:hover {
                        color: #008859;
                        &::before {
                            background-position-y: 38%;
                        }
                    }
                }
            }
        }
    }
    .main_sec {
        padding-top: 100px;
        &:last-child {
            padding-bottom: 100px;
        }
        h2 {
            &.tit_kr {
                font-size: 15px;
                color: $primary-color2;
                line-height: 18px;
            }
            &.tit {
                font-family: "Montserrat";
                padding-top: 10px;
                font-weight: 600;
                font-size: 50px;
                line-height: 60px;
            }
        }
        .news_wrap {
            position: relative;
            .swiper_navi {
                .swiper_button {
                    position: absolute;
                    top: 40%;
                    font-size: 0;
                    display: block;
                    width: 15px;
                    height: 27px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 15px auto;
                    &.swiper_next {
                        background-image: url("../../images/ico/ico_swiper_next.svg");
                        right: -45px;
                    }
                    &.swiper_prev {
                        background-image: url("../../images/ico/ico_swiper_prev.svg");
                        left: -45px;
                    }
                }
                .swiper-button-disabled {
                    opacity: 0.3;
                }
            }
            .news {
                padding-top: 30px;
                &:hover {
                    .img {
                        img {
                            transform: scale(110%);
                        }
                    }
                }
                .img {
                    @include imgbox($percent: 115%);
                    .flag {
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 10;
                        background-color: $primary-color1;
                        color: #fff;
                        font-weight: 500;
                        font-size: 15px;
                        text-align: center;
                        padding: 4px 12px;
                    }
                }
                .tit {
                    @include ellipsis($lines: 2);
                    padding-top: 20px;
                    font-size: 20px;
                    line-height: 24px;
                }
                .date {
                    font-family: "Inter";
                    display: block;
                    padding-top: 16px;
                    font-size: 16px;
                    color: $text-color3;
                }
            }
        }
        .board_wrap {
            margin-top: 43px;
            display: flex;
            justify-content: space-between;
            gap: 50px;
            .board_area {
                position: relative;
                width: 100%;
                height: 100%;
                & > li {
                    display: inline-block;
                    padding-right: 50px;
                    &.active {
                        .tit {
                            a.board_name {
                                &::after {
                                    content: "";
                                    display: block;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: $primary-color1;
                                    position: absolute;
                                    right: -11px;
                                    top: -8px;
                                }
                            }
                        }
                        .more_btn {
                            display: block;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 18px;
                            height: 18px;
                            background: url("../../images/ico/more_btn.svg") no-repeat center;
                            transition: all 0.35s;
                            &:focus {
                                outline: 2px solid #000;
                            }
                            &:hover {
                                transform: rotate(180deg);
                            }
                        }
                        .board_list {
                            max-width: 933px;
                            position: absolute;
                            top: 54px;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: block;
                            border-top: 1px solid #666;
                            padding-top: 34px;
                            display: flex;
                            gap: 36px;
                            li {
                                width: calc(100% / 3);
                                &:hover {
                                    a {
                                        .tit {
                                            color: $primary-color1;
                                        }
                                    }
                                }
                            }
                            a {
                                .tit {
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 19px;
                                    @include ellipsis($lines: 2);
                                    transition: all 0.35s;
                                }
                                .txt {
                                    padding-top: 26px;
                                    font-size: 15px;
                                    color: $text-color3;
                                    @include ellipsis($lines: 2);
                                }
                                .list_btm {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding-top: 23px;
                                    margin-top: 25px;
                                    border-top: 1px dashed #d3d3d3;
                                    .writer {
                                        font-size: 14px;
                                        color: $text-color3;
                                    }
                                    .date {
                                        display: block;
                                        font-family: "Inter";
                                        font-size: 14px;
                                        color: $text-color2;
                                        padding-left: 21px;
                                        background: url("../../images/ico/i_date.svg") no-repeat left center;
                                    }
                                }
                            }
                        }
                    }
                    .tit {
                        display: inline-block;
                        width: 100%;
                        a.board_name {
                            overflow: visible;
                            position: relative;
                            font-size: 20px;
                            font-weight: 500;
                            transition: all 0.35s;
                            &::after {
                                display: none;
                            }
                        }
                    }
                    .more_btn {
                        display: none;
                        font-size: 0;
                    }
                }
                li {
                    .board_list {
                        display: none;
                    }
                    &.no_data {
                        p.tit {
                            font-size: 16px;
                            line-height: 30px;
                            padding: 5px 0;
                        }
                    }
                }
            }
            .banner {
                @include imgbox($percent: 62.99%);
                flex: 0 0 auto;
                max-width: 435px;
                .pc {
                    display: block;
                }
                .mobile {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .main {
        padding-top: 60px;
        .main_visual {
            padding: 50px 0;
            &::before {
                background-size: 80%;
                background-position: top right;
            }
            &::after {
                background-size: 50%;
                background-position: bottom;
            }
            .w_set {
                padding: 0 16px;
                // column-gap: 40px;
                row-gap: 0px;
            }
            .banner_wrap {
                .swiper_control {
                    margin-top: 0;
                    .pagination {
                    }
                }
            }
            .search_area {
                margin-top: 10px;
                & > div {
                    span {
                        font-size: 22px;
                        margin-right: 20px;
                    }
                    select {
                        height: 50px;
                        padding-left: 14px;
                    }
                    input {
                        height: 50px;
                        padding: 0 60px 0 16px;
                        font-size: 16px;
                    }
                    a {
                        width: 50px;
                        height: 50px;
                        background-size: 20px auto;
                    }
                }
                .search_ul {
                    li {
                        margin-right: 16px;
                        a {
                            font-size: 15px;
                        }
                    }
                }
            }
            .quick {
                margin-top: 10px;
                padding: 0 16px;
                li {
                    a {
                        gap: 16px;
                        font-size: 16px;
                        padding: 3% 8%;
                        &::before {
                            width: 50px;
                            height: 50px;
                            background-size: 100% auto;
                        }
                    }
                }
            }
        }
        .main_sec {
            padding: 50px 16px 0;
            &:last-child {
                padding-bottom: 50px;
            }
            h2 {
                &.tit {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
            .news_wrap {
                padding: 0 30px;
                .swiper_navi {
                    .swiper_button {
                        &.swiper_next {
                            right: 0;
                        }
                        &.swiper_prev {
                            left: 0;
                        }
                    }
                }
            }
            .board_wrap {
                gap: 32px;
                .board_area {
                    & > li {
                        &.active {
                            .board_list {
                                li {
                                    display: none;
                                    width: calc(100% / 2);
                                    &:nth-child(1),
                                    &:nth-child(2) {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .main {
        .main_visual {
            .w_set {
                grid-template-columns: 40.75% calc(59.25% - 24px);
                column-gap: 24px;
            }
            .quick {
                li {
                    a {
                        &::before {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .main {
        .main_visual {
            padding: 25px 0;
            background: #ebfaf5;
            .w_set {
                padding: 0 16px;
                grid-template-columns: calc(55% - 24px) 45%;
                row-gap: 20px;
            }
            .search_area {
                & > div {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    .input_area {
                        width: 100%;
                    }
                }
                .search_ul {
                    margin-left: 0;
                    max-width: 100%;
                }
            }
            .quick {
                grid-column: 1/3;
                &::after {
                    right: -13px;
                    background-size: 20px;
                    background-repeat: no-repeat;
                }
                &::before {
                    background-size: 50px;
                    background-repeat: no-repeat;
                }
                li {
                    a {
                        padding: 10% 8%;
                    }
                }
            }
        }
        .main_sec {
            padding: 50px 16px 0;
            &:last-child {
                padding-bottom: 50px;
            }
            h2 {
                &.tit {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
            .news_wrap {
                padding: 0;
                .swiper_navi {
                    .swiper_button {
                        display: none;
                    }
                }
                .news {
                    padding-top: 20px;
                    .img {
                        .flag {
                            font-size: 14px;
                        }
                    }
                    .tit {
                        padding-top: 16px;
                        font-size: 16px;
                        line-height: 1.2;
                    }
                    .date {
                        padding-top: 14px;
                        font-size: 14px;
                    }
                }
            }
            .board_wrap {
                flex-direction: column;
                margin-top: 20px;
                gap: 0;
                .board_area {
                    height: 300px;
                    & > li {
                        &.active {
                            .more_btn {
                                top: 0;
                            }
                            .board_list {
                                max-width: 100%;
                            }
                        }
                    }
                }
                .banner {
                    @include imgbox($percent: 20%);
                    max-width: 100%;
                    .pc {
                        display: none;
                    }
                    .mobile {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .main {
        .main_visual {
            .w_set {
                display: block;
            }
            .banner_wrap {
                .swiper_control {
                    margin-top: 16px;
                }
            }
            .search_area {
                margin-top: 50px;
                & > div {
                    span {
                        display: none;
                    }
                }
                .search_ul {
                    text-align: center;
                }
            }
            .quick {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 20px;
                &::after,
                &::before {
                    content: none;
                }
                li {
                    a {
                        font-size: 15px;
                        padding: 8% 6%;
                        border-bottom: 1px solid #ddd;
                        &::before {
                            width: 36px;
                            height: 36px;
                        }
                    }
                    &:nth-child(3n) {
                        a {
                            &::after {
                                display: block;
                            }
                        }
                    }
                    &:nth-child(2n) {
                        a {
                            &::after {
                                display: none;
                            }
                        }
                    }
                    &:nth-last-child(-n + 2) {
                        a {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
        .main_sec {
            .board_wrap {
                .board_area {
                    height: 600px;
                    & > li {
                        padding-right: 20px;
                        &.active {
                            .tit {
                                a.board_name {
                                    &::after {
                                        width: 6px;
                                        height: 6px;
                                        right: -8px;
                                        top: -2px;
                                    }
                                }
                            }
                            .board_list {
                                top: 38px;
                                padding-top: 20px;
                                flex-direction: column;
                                gap: 0;
                                border-width: 2px;
                                li {
                                    width: 100%;
                                    border-bottom: 1px solid #666;
                                    margin-bottom: 30px;
                                    padding-bottom: 12px;
                                    &:nth-child(2) {
                                        display: block;
                                    }
                                    &:nth-child(3) {
                                        display: block;
                                    }
                                }
                                a {
                                    .txt {
                                        padding-top: 16px;
                                    }
                                    .list_btm {
                                        padding-top: 14px;
                                        margin-top: 14px;
                                    }
                                }
                            }
                        }
                        .tit {
                            a.board_name {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .banner {
                    margin-top: 30px;
                    @include imgbox($percent: 62.99%);
                    .pc {
                        display: block;
                    }
                    .mobile {
                        display: none;
                    }
                }
            }
        }
    }
}
