#contents.join .step03-wrap dl {
  display: flex;
}
#contents.join .step03-wrap dl:not(:first-child) {
  margin-top: 20px;
}
#contents.join .step03-wrap dl dt {
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  width: 161px;
}
#contents.join .step03-wrap dl dd {
  display: flex;
  gap: 10px;
  align-items: center;
}
#contents.join .step03-wrap dl dd .num-bar {
  width: 8px;
  height: 1px;
  display: inline-block;
  background-color: #707070;
}
#contents.join .step03-wrap dl dd .input-info {
  font-size: 15px;
  line-height: 22px;
  color: #A7A7A7;
}
#contents.join .step03-wrap dl dd .input-info .mo-br {
  display: none;
}