@import "./utility.scss";

main {
    &.join {
        .input-wrap {
            
            input,
            select {
                height: 40px;
                border-radius: 3px;
                font-size: 15px;
            }
        }
        .step03-wrap {
            .tit-area{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 2px solid #666666;
                border-bottom: 1px solid #D3D3D3;
                padding: 22px 0;
                font-size: 20px;
                line-height: 29px;
                font-weight: 500;
                .info{
                    font-size: 15px;
                    line-height: 22px;
                    font-weight: 400;
                    margin-left: 10px;
                    margin-right: auto;
                }
                .btn-info{
                    color: $primary-color2;
                    font-size: 15px;
                    padding: 0 15px 0 33px;
                }
            }
            dl {
                display: flex;
                &:not(:first-child) {
                    margin-top: 20px;
                }
                dt {
                    font-size: 18px;
                    line-height: 40px;
                    font-weight: 500;
                    width: 161px;
                }
                dd {
                    width: 100%;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    .num-bar {
                        width: 8px;
                        height: 1px;
                        display: inline-block;
                        background-color: #707070;
                    }
                    .input-info {
                        font-size: 15px;
                        line-height: 22px;
                        color: #a7a7a7;
                        .mo-br {
                            display: none;
                        }
                    }
                }
            }
            .list-wrap{
                li {
                    & + li{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
