/* -------- header -------- */
#header {
  position: relative;
}
#header.on::after {
  display: block;
  height: 300px;
}
#header::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: 100%;
  height: 0;
  background: #fff;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.0588235294);
  border-top: 1px solid #dddddd;
  transition: all 0.35s;
}
#header .inner {
  max-width: 1300px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
#header .hd-logo {
  display: inline-block;
  flex: 0 0 auto;
  width: 178px;
  height: 57px;
  margin-top: 22px;
}
#header .hd-logo .logo-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/common/img/logo_header.png") no-repeat center;
  background-size: 100% auto;
}
#header .gnb {
  flex: 1;
  margin-left: 60px;
  display: flex;
}
#header .gnb > li {
  display: inline-block;
  vertical-align: top;
  width: 16.6666666667%;
}
#header .gnb > li:hover > a, #header .gnb > li.on > a {
  color: #459729;
}
#header .gnb > li:hover > a::after {
  width: 100%;
  height: 3px;
}
#header .gnb > li > a {
  padding: 36px 0;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  transition: all 0.15s;
}
#header .gnb > li > a::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background: #459729;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1607843137);
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: all 0.15s;
}
#header .gnb .depth2 {
  display: none;
  height: 300px;
  padding-top: 14px;
  position: relative;
  z-index: 100;
}
#header .gnb .depth2.on {
  display: block;
}
#header .gnb .depth2 li a {
  display: block;
  padding: 8px 0;
  font-size: 16px;
  transition: all 0.15s;
}
#header .gnb .depth2 li a:hover, #header .gnb .depth2 li a.on {
  color: #459729;
}
#header .hd-utils {
  margin: 19px 0 0 48px;
  font-size: 0;
}
#header .hd-utils .link {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  position: relative;
}
#header .hd-utils .link i {
  display: block;
  margin: 0 auto;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 4px;
}
#header .hd-utils .link.login.on i {
  background-color: #78b53a;
  background-image: url("../images/common/ico/hd_util_logout.svg");
}
#header .hd-utils .link.login i {
  background-image: url("../images/common/ico/hd_util_login.svg");
}
#header .hd-utils .link.join {
  margin-left: 29px;
}
#header .hd-utils .link.join i {
  background-image: url("../images/common/ico/hd_util_join.svg");
}
#header .hd-utils .link.my {
  margin-left: 21px;
}
#header .hd-utils .link.my i {
  background-image: url("../images/common/ico/hd_util_my.svg");
}
#header .hd-utils .link.notify {
  margin-left: 21px;
}
#header .hd-utils .link.notify.on::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #459729;
}
#header .hd-utils .link.notify i {
  background-image: url("../images/common/ico/hd_util_notify.svg");
}