@import "./utility.scss";

//임시
.main {
    img {
        width: 100%;
    }
}

.main {
    .main-visual {
        position: relative;
        .swiper-control {
            max-width: 1160px;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 126px;
            width: 100%;
            display: flex;
            align-items: center;
            z-index: 10;
            font-size: 0;
            .play {
                margin-right: 20px;
                display: block;
                width: 8px;
                height: 10px;
                background: url("../images/common/ico/ico_swiper_play.svg") no-repeat center;
                background-size: cover;
                &.on {
                    background-image: url("../images/common/ico/ico_swiper_stop.svg");
                }
            }
            .pagination {
                width: auto;
                z-index: 11;
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    opacity: 0.3;
                    background-color: #666;
                    margin: 0 4px;
                }
                .swiper-pagination-bullet-active {
                    width: 20px;
                    border-radius: 5px;
                    opacity: 0.8;
                    background-color: #333;
                }
            }
        }
        .swiper-navi {
            max-width: 1320px;
            margin: -25px auto 0;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            z-index: 10;
            .swiper-button {
                width: 50px;
                height: 50px;
                font-size: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 25px 47px;
                position: absolute;
                z-index: 10;
                &.prev {
                    background-image: url("../images/common/ico/ico_swiper_prev.svg");
                }
                &.next {
                    background-image: url("../images/common/ico/ico_swiper_next.svg");
                    right: 0;
                }
            }
        }
    }
    .main-sec {
        &.my {
            background: #EDF4AB;
        }
        &.bg {
            background: #f9f9f9;
        }
        &.bg2 {
            background: #f6fcff;
        }
        &.is-login {
            .menu-wrap {
                padding-top: 60px;
            }
        }
    }
    .tit-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2.tit {
            font-weight: 600;
            font-size: 26px;
            line-height: 38px;
        }
        .btn-more {
            font-size: 20px;
            line-height: 1;
            &::after {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url("../images/common/ico/more.svg") no-repeat center;
                margin-left: 10px;
                transition: all 0.35s;
            }
            &:hover {
                font-weight: 500;
                &::after {
                    transform: rotate(90deg);
                }
            }
        }
    }
    .my-wrap {
        padding: 50px 0 45px;
    }
    .info-wrap {
        padding-top: 60px;
        display: flex;
        gap: 50px;
        & > a {
            padding: 30px 40px 0;
            display: block;
            width: calc(100% / 2);
            height: 160px;
            border: 1px solid #dddddd;
            border-radius: 20px;
            transition: all 0.35s;
            background: url("../images/common/ico/main_menu_1.png") no-repeat right 50px center;
            &.manual {
                background-image: url("../images/common/ico/main_menu_2.png");
            }
            &:hover {
                box-shadow: 0px 6px 14px #0000000f;
                background-position-y: 30%;
            }
            .tit {
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                padding-right: 16px;
                // background: url('../images/common/ico/.svg') no-repeat right center;
            }
            .txt {
                padding-top: 15px;
                font-size: 16px;
                line-height: 24px;
                color: #333;
            }
        }
    }
    .menu-wrap {
        padding: 80px 0 100px;
        display: flex;
        gap: 28px;
        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            font-weight: 500;
            font-size: 22px;
            width: calc(100% / 4);
            height: 200px;
            border: 1px solid #dddddd;
            border-radius: 20px;
            transition: all 0.35s;
            &::before {
                content: "";
                display: block;
                margin: 0 auto;
                width: 90px;
                height: 90px;
                background: url("../images/common/ico/main_menu_1.png") no-repeat 50% 50%;
                transition: all 0.2s;
            }
            @for $i from 1 to 5 {
                &.menu#{$i} {
                    &::before {
                        background-image: url("../images/common/ico/main_menu_#{$i}.png");
                    }
                }
            }
            &.menu2 {
                gap: 0;
            }
            &:hover {
                box-shadow: 0px 6px 14px #0000000f;
                &::before {
                    background-position-y: 0;
                }
            }
        }
    }
    .cont-top {
        display: grid;
        grid-template-columns: 64px 100%;
        gap: 10px 14px;
        .day {
            grid-row: 1/3;
            width: 64px;
            height: 64px;
            line-height: 62px;
            background: #5587df30;
            border: 1px solid #5689e0;
            border-radius: 10px;
            font-family: $inter;
            font-weight: 600;
            font-size: 18px;
            color: $primary-color3;
            text-align: center;
            &.end {
                background: #33333330;
                border-color: #666;
                font-family: $noto;
                font-weight: 500;
                color: $text-color1;
            }
        }
        .tit-area {
            grid-column: 2;
            justify-content: flex-start;
            gap: 6px;
            .tit {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.3;
                @include ellipsis($lines: 1);
                max-width: calc(100% - 140px);
            }
            .tag {
                display: inline-block;
                width: 36px;
                height: 20px;
                line-height: 18px;
                border: 1px solid #e83232;
                border-radius: 3px;
                font-weight: 500;
                font-size: 13px;
                background: #fff;
                color: #e83232;
                text-align: center;
            }
        }
        .info {
            grid-column: 2;
            grid-row: 2;
            font-size: 0;
            span {
                font-size: 16px;
                line-height: 24px;
                & + span {
                    padding-left: 10px;
                    margin-left: 10px;
                    position: relative;
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 10px;
                        background: #dddddd;
                        position: absolute;
                        left: 0;
                        top: 8px;
                    }
                }
            }
        }
    }
    .recruit-wrap {
        padding: 60px 0;
        .recruit-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px 26px;
            margin-top: 40px;
            li {
                width: calc(50% - 13px);
                background: #fff;
                border: 1px solid #dddddd;
                border-radius: 16px;
                transition: all 0.35s;
                &:hover {
                    box-shadow: 0px 6px 14px #0000000f;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 26px;
                    padding-left: 30px;
                    overflow: hidden;
                }
                .cont-btm {
                    margin-top: 24px;
                    padding-top: 14px;
                    border-top: 1px dashed #d3d3d3;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: $inter;
                    font-size: 16px;
                    line-height: 20px;
                    color: #666;
                    .date {
                        padding-left: 26px;
                        background: url("../images/common/ico/date.svg") no-repeat left center;
                    }
                    .views {
                        padding-left: 24px;
                        background: url("../images/common/ico/views.svg") no-repeat left bottom 3px;
                    }
                }
            }
        }
    }
    .volunteer-wrap {
        padding: 70px 0 110px;
        .volunteer-link {
            display: flex;
            gap: 30px;
            margin-top: 30px;
            .link {
                width: calc(100% / 3);
                height: 160px;
                display: block;
                border: 1px solid #dddddd;
                border-radius: 16px;
                transition: all 0.35s;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;
                &:hover {
                    box-shadow: 0px 6px 14px #0000000f;
                }
                &::before {
                    content: "";
                    display: block;
                    width: 50px;
                    height: 50px;
                    background: pink;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 50px;
                    height: 50px;
                    background: pink;
                }
                .tit {
                    font-weight: 500;
                    font-size: 22px;
                }
                .txt {
                    padding-top: 8px;
                    font-size: 16px;
                }
            }
        }
    }
    .board-wrap {
        padding: 100px 0 120px;
        display: flex;
        gap: 30px;
        & > div {
            width: calc(50% - 15px);
        }
        .notice {
            .cont {
                min-height: 240px;
                margin-top: 36px;
                padding: 30px 20px;
                border: 1px solid #dddddd;
                border-radius: 16px;
                .cont-top {
                    overflow: hidden;
                    &:hover {
                        .tit {
                            color: $primary-color4;
                        }
                    }
                    .day {
                        border-color: $primary-color4;
                        background: #ebeefb;
                        color: $primary-color4;
                        padding: 10px 0;
                        font-size: 24px;
                        line-height: 29px;
                        .month {
                            font-weight: 500;
                            font-size: 14px;
                            // padding-bottom: 4px;
                            line-height: 17px;
                        }
                    }
                    .tit-area {
                        .tit {
                            max-width: calc(100% - 108px);
                            line-height: 31px;
                            transition: all 0.2s;
                        }
                    }
                    .desc {
                        @include ellipsis($lines: 1);
                        max-width: calc(100% - 80px);
                        font-size: 16px;
                        line-height: 1.4;
                    }
                }
                .cont-btm {
                    margin-top: 20px;
                    padding-top: 20px;
                    border-top: 1px dashed #d3d3d3;
                    .notice-list {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            & + a {
                                margin-top: 5px;
                            }
                            &:hover {
                                .txt {
                                    text-decoration: underline;
                                }
                            }
                            .txt {
                                @include ellipsis($lines: 1);
                                max-width: calc(100% - 200px);
                                font-size: 16px;
                                line-height: 26px;
                                position: relative;
                                padding-left: 10px;
                                transition: all 0.35s;
                                &::after {
                                    content: "-";
                                    font-size: 16px;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                            .date {
                                font-family: $inter;
                                font-size: 14px;
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
        .board {
            .info {
                padding: 28px 30px;
                border-radius: 16px;
                background: #fff0f5 url("../images/common/img/main_info_bg.svg") no-repeat center;
                background-size: cover;
                .tit {
                    font-family: $sotong;
                    color: #f06cb6;
                    font-size: 40px;
                }
                .txt {
                    padding-top: 12px;
                    font-size: 16px;
                }
                .contact {
                    br {
                        display: none;
                    }
                    padding-top: 20px;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
            .board-list {
                display: flex;
                gap: 28px;
                margin-top: 20px;
                a {
                    padding: 17px 0;
                    display: inline-block;
                    width: 33.33%;
                    border: 1px solid #dddddd;
                    border-radius: 10px;
                    text-align: center;
                    font-weight: 500;
                    font-size: 16px;
                    position: relative;
                    transition: all 0.35s;
                    &::before {
                        content: "";
                        display: block;
                        width: 40px;
                        height: 40px;
                        margin: 0 auto 3px;
                        background: url("../images/common/ico/main_board_1.svg") no-repeat center;
                    }
                    @for $i from 1 to 4 {
                        &.board#{$i} {
                            &::before {
                                background-image: url("../images/common/ico/main_board_#{$i}.svg");
                            }
                        }
                    }
                    &:hover {
                        box-shadow: 0px 6px 14px #0000000f;
                    }
                }
            }
        }
    }
}

@include mobile {
    .main {
        .main-visual {
            .swiper-control {
                display: none;
            }
            .swiper-navi {
                display: none;
            }
        }
        .tit-area {
            h2.tit {
                font-size: 20px;
                line-height: 29px;
            }
            .btn-more {
                font-size: 15px;
                line-height: 2;
                &::after {
                    width: 10px;
                    height: 10px;
                    margin-left: 4px;
                }
            }
        }
        .menu-wrap {
            padding: 42px 0;
            flex-wrap: wrap;
            gap: 14px;
            .menu {
                width: calc(100% / 2 - 7px);
                height: 104px;
                font-size: 14px;
                &::before {
                    width: 45px;
                    height: 45px;
                    background-size: cover;
                }
            }
        }
        .cont-top {
            display: grid;
            grid-template-columns: 62px 100%;
            gap: 6px 10px;
            .day {
                width: 62px;
                height: 62px;
                line-height: 60px;
                border-radius: 8px;
                font-size: 16px;
            }
            .tit-area {
                .tit {
                    font-size: 16px;
                    line-height: 1.2;
                }
            }
            .info {
                span {
                    font-size: 14px;
                    line-height: 20px;
                    & + span {
                        padding-left: 6px;
                        margin-left: 6px;
                        &::after {
                            top: 7px;
                            height: 8px;
                        }
                    }
                }
            }
        }
        .recruit-wrap {
            padding: 42px 0;
            .recruit-list {
                margin-top: 24px;
                gap: 16px;
                flex-direction: column;
                li {
                    width: 100%;
                    a {
                        padding: 14px 12px;
                    }
                    .cont-btm {
                        margin-top: 14px;
                        line-height: 1;
                        .date {
                            padding-left: 0;
                            font-size: 13px;
                            background: none;
                        }
                        .views {
                            padding-left: 20px;
                            font-size: 12px;
                            background-size: 16px;
                            background-position: left bottom;
                        }
                    }
                }
            }
        }
        .board-wrap {
            padding: 42px 0 0;
            flex-direction: column;
            gap: 40px;
            & > div {
                width: 100%;
            }
            .notice {
                .cont {
                    min-height: auto;
                    margin-top: 20px;
                    padding: 20px 12px;
                    .cont-top {
                        .day {
                            grid-row: 1;
                            padding: 9px 0;
                            font-size: 20px;
                            line-height: 24px;
                            .month {
                                font-size: 13px;
                                line-height: 16px;
                            }
                        }
                        .tit-area {
                            grid-column: 2;
                            .tit {
                                max-width: calc(100% - 100px);
                            }
                        }
                        .desc {
                            @include ellipsis($lines: 2);
                            grid-column: 1/3;
                            line-height: 1.4; 
                        }
                    }
                    .cont-btm {
                        margin-top: 14px;
                        padding-top: 14px;
                        .notice-list {
                            a {
                                .txt {
                                    max-width: calc(100% - 74px);
                                    font-size: 14px;
                                    line-height: 20px;
                                    padding-left: 8px;
                                    &::after {
                                        font-size: 14px;
                                    }
                                }
                                .date {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
            .board {
                .info {
                    padding: 20px 20px 15px;
                    border-radius: 10px;
                    background-position: right;
                    position: relative;
                    br {
                        display: block;
                    }
                    .tit {
                        font-size: 30px;
                    }
                    .txt {
                        padding-top: 6px;
                        font-size: 15px;
                    }
                    .contact {
                        padding-top: 6px;
                        font-size: 13px;
                        span {
                            font-weight: 600;
                        }
                        br {
                            display: block;
                        }
                    }
                }
                .board-list {
                    gap: 14px;
                    margin-top: 30px;
                    a {
                        font-size: 15px;
                        &::before {
                            width: 36px;
                            height: 36px;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .main {
        .board-wrap {
            .board {
                .info {
                    background: #fff0f5 url("../images/common/img/main_info_2.png") no-repeat right top;
                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url("../images/common/img/main_info_1.png") no-repeat right -25px bottom;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-size: 440px auto;
                    }
                }
            }
        }
    }
}
