@charset "UTF-8";
h2.tit {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}
@media (max-width: 1300px) {
  h2.tit {
    font-size: 26px;
    line-height: 36px;
  }
}

h3.tit {
  font-weight: 600;
  font-size: 26px;
}

.location {
  height: 50px;
  background: #f9f9f9;
  font-size: 0;
}
.location .w-set {
  height: 100%;
}
.location .w-set > li {
  position: relative;
  display: inline-block;
  height: 100%;
}
.location .w-set > li + li > a {
  padding-left: 20px;
}
.location .w-set > li + li::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background: #d3d3d3;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.location .w-set > li > a {
  line-height: 50px;
  height: 100%;
}
.location a {
  display: inline-block;
  font-size: 14px;
  position: relative;
}
.location a + a {
  padding: 15px 20px;
}
.location a + a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #d3d3d3;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.location .home {
  padding: 0 30px 0 34px;
  background: url("../images/common/ico/location_home.svg") no-repeat left center;
}
.location .has-select {
  padding-right: 70px;
  background: url("../images/common/ico/location_arrow.svg") no-repeat right 20px center;
}
.location .has-select + ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 0 15px;
  width: 100%;
}
.location .has-select + ul.on {
  display: block;
}
.location .has-select + ul li a {
  display: block;
  padding: 5px 0;
}
.location .has-select + ul li:first-child a {
  padding-top: 15px;
}
.location .has-select + ul li:last-child a {
  padding-bottom: 15px;
}
.location .has-select + ul a {
  color: #333;
  transition: all 0.2s;
}
.location .has-select + ul a:hover {
  color: #78b53a;
}

.info-box {
  background: #fff5c8 url("../images/common/img/info_bg.png") no-repeat center bottom;
  border-radius: 3px;
  padding: 30px 0;
}
@media (max-width: 765px) {
  .info-box {
    padding: 15px;
  }
}
.info-box .info {
  max-width: 700px;
  margin: 0 auto;
}
.info-box .tit {
  display: block;
  padding-bottom: 10px;
  font-family: "iceSotong-Rg", sans-serif !important;
  font-size: 40px;
  color: #ff8000;
}
@media (max-width: 765px) {
  .info-box .tit {
    font-size: 30px;
  }
}
.info-box p + p {
  margin-top: 6px;
}
.info-box .txt, .info-box .be {
  font-size: 15px;
  line-height: 22px;
}
.info-box .be {
  position: relative;
  padding-left: 10px;
}
.info-box .be::after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #222;
  position: absolute;
  left: 0;
  top: 8px;
}

main.member {
  padding: 100px 0 200px;
  border-top: 1px solid #ddd;
}
main.member .w-set {
  max-width: 400px;
}
main.member .input-wrap + .input-wrap {
  margin-top: 10px;
}
main.member .btn {
  margin-top: 40px;
  height: 60px;
  line-height: 58px;
}
main.member .btn + .btn {
  margin-top: 15px;
}
@media (max-width: 1300px) {
  main.member .btn {
    margin-top: 30px;
    height: 50px;
  }
}
main.member .id input {
  padding-left: 43px;
  background: url("../images/common/ico/login_id.svg") no-repeat left 15px center;
}
main.member .pw input {
  padding-left: 43px;
  background: url("../images/common/ico/login_pw.svg") no-repeat left 15px center;
}
main.member .login-wrap {
  margin-top: 60px;
}
main.member .find-wrap {
  margin-top: 20px;
  padding-top: 160px;
  background: url("../images/common/img/member_top.png") no-repeat top center;
  background-size: 120px;
}
main.member .login-btm {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.member .login-btm a {
  font-size: 15px;
}
main.member .login-btm a + a {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
}
main.member .login-btm a + a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #666;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
main.member .fail-txt {
  text-align: center;
  padding-top: 67px;
  margin: 40px 0 30px;
  background: url("../images/common/ico/login_fail.svg") no-repeat top center;
}
main.member .fail-txt .txt1 {
  font-weight: 500;
  font-size: 20px;
}
main.member .fail-txt .txt1 span {
  color: #459729;
}
main.member .fail-txt .txt2 {
  font-size: 15px;
  line-height: 22px;
}
main.member .captcha {
  margin: 20px 0 10px;
  min-height: 60px;
  background: #ddd;
}
main.member .info-pw {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
}
main.member .info-pw .info-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
main.member .info-pw .info-list li {
  font-size: 14px;
  line-height: 20px;
}
main.member .info-pw .info-list li::before {
  content: "·";
  margin-right: 2px;
}
@media (max-width: 1300px) {
  main.member {
    padding: 40px 0 140px;
  }
  main.member .find-wrap {
    padding-top: 110px;
    background-size: 90px;
  }
  main.member .find-wrap .input-wrap input {
    border-radius: 3px;
  }
  main.member .find-wrap .btn {
    border-radius: 3px;
  }
  main.member .info-pw {
    margin-top: 10px;
  }
}
main.join {
  padding: 100px 0 120px;
  border-top: 1px solid #ddd;
}
main.join input[type=text] {
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 0 14px;
  font-size: 15px;
  line-height: 22px;
}
main.join input[type=text]::placeholder {
  font-size: 15px;
  line-height: 22px;
  color: #a7a7a7;
}
main.join input[type=text].input01 {
  width: 490px;
}
main.join input[type=text].input02 {
  width: 120px;
}
main.join input[type=text].input03 {
  width: 260px;
}
main.join input[type=text].input04 {
  width: 360px;
}
main.join input[type=text].input05 {
  width: 320px;
}
main.join input[type=text].input06 {
  width: 400px;
}
main.join input[type=text].input07 {
  width: 160px;
}
main.join .w-set {
  max-width: 1200px;
}
main.join .join-top {
  padding: 40px 0 0;
}
main.join .join-top .step-list {
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 683px;
}
main.join .join-top .step-list.off-list {
  max-width: 491px;
}
main.join .join-top .step-list li.on .txt, main.join .join-top .step-list li.on .info-box .be, .info-box main.join .join-top .step-list li.on .be {
  color: #459729;
}
main.join .join-top .step-list li.line {
  display: block;
  width: 26px;
  height: 3px;
  background: url("../images/common/img/step_line.svg") no-repeat;
}
main.join .join-top .step-list li span {
  display: block;
  text-align: center;
  font-weight: 500;
}
main.join .join-top .step-list li .num {
  font-family: "Inter", sans-serif !important;
  font-size: 16px;
  color: #666;
  line-height: 20px;
}
main.join .join-top .step-list li .txt, main.join .join-top .step-list li .info-box .be, .info-box main.join .join-top .step-list li .be {
  font-size: 20px;
  line-height: 29px;
  padding-top: 5px;
}
main.join .step01-wrap {
  margin-top: 58px;
  border-top: 2px solid #707070;
}
main.join .step01-wrap .all-ck-wrap {
  padding: 30px 0;
  border-bottom: 1px solid #707070;
}
main.join .step01-wrap .all-ck-wrap .checkbox label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
main.join .step01-wrap .list-ck-wrap {
  padding-top: 20px;
}
main.join .step01-wrap .list-ck-wrap .ck-list:not(:first-child) {
  padding-top: 30px;
}
main.join .step01-wrap .list-ck-wrap .ck-list .ck-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
main.join .step01-wrap .list-ck-wrap .ck-list .ck-wrap .ck-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
main.join .step01-wrap .list-ck-wrap .ck-list .ck-wrap .ck-title br {
  display: none;
}
main.join .step01-wrap .list-ck-wrap .ck-list .ck-wrap label {
  font-size: 16px;
  line-height: 24px;
}
main.join .step01-wrap .list-ck-wrap .ck-list .term-box {
  border: 1px solid #d3d3d3;
  height: 160px;
  overflow-y: auto;
  padding: 13px 20px;
  font-size: 14px;
  line-height: 20px;
  word-break: break-all;
}
main.join .step01-wrap .list-ck-wrap .ck-list .term-box::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}
main.join .step01-wrap .list-ck-wrap .ck-list .term-box::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 30px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
main.join .step02-wrap {
  margin-top: 80px;
}
main.join .input-wrap {
  margin-top: 40px;
}
main.join .input-wrap input[type=text],
main.join .input-wrap select {
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
}
main.join .input-wrap .tit-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #666666;
  padding: 22px 0;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
}
main.join .input-wrap .tit-area .info {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: auto;
}
main.join .input-wrap .tit-area .btn-info {
  color: #459729;
  border: #459729 solid 1px;
  border-radius: 3px;
  font-size: 15px;
  padding: 7px 15px 7px 33px;
  background-image: url(../images/common/ico/empty.svg);
  background-repeat: no-repeat;
  background-position: 12px 50%;
  background-size: 14px;
}
main.join .input-wrap .content-wrap.cw01 {
  padding: 20px 0 30px 0;
  border-top: 1px solid #d3d3d3;
}
main.join .input-wrap .content-wrap.cw02 {
  padding: 20px 0 36px 0;
  border-top: 1px solid #666666;
}
main.join .input-wrap .content-wrap.cw02 .sub-title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
main.join .input-wrap .content-wrap.cw03 {
  margin-bottom: 20px;
  padding: 20px 0px 16px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  border: 1px solid #D3D3D3;
}
main.join .input-wrap .content-wrap.cw03 .checkbox {
  width: 196px;
}
main.join .input-wrap .content-wrap.cw03 .checkbox.sub {
  width: 232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.join .input-wrap .content-wrap.cw03 .checkbox.sub input[type=text] {
  height: 36px;
}
main.join .input-wrap .content-wrap.cw04 {
  padding: 20px 0 0;
  border-top: 1px solid #666666;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
main.join .input-wrap .content-wrap.cw04 .area-sel {
  display: flex;
  align-items: center;
  gap: 10px;
}
main.join .input-wrap .content-wrap.cw04 .area-sel span {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
main.join .input-wrap .content-wrap.cw04 .area-sel select {
  width: 160px;
}
main.join .input-wrap .content-wrap dl {
  display: flex;
}
main.join .input-wrap .content-wrap dl:not(:first-child) {
  margin-top: 20px;
}
main.join .input-wrap .content-wrap dl dt {
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  width: 161px;
  flex: 0 0 auto;
}
main.join .input-wrap .content-wrap dl dd {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
main.join .input-wrap .content-wrap dl dd .num-bar {
  width: 8px;
  height: 1px;
  display: inline-block;
  background-color: #707070;
}
main.join .input-wrap .content-wrap dl dd .input-info {
  font-size: 15px;
  line-height: 22px;
  color: #a7a7a7;
  text-wrap: nowrap;
}
main.join .input-wrap .content-wrap dl dd .input-info .mo-br {
  display: none;
}
main.join .input-wrap .content-wrap dl dd .add-txt {
  font-size: 15px;
  line-height: 22px;
}
main.join .input-wrap .content-wrap dl dd .add-btn {
  display: flex;
  gap: 10px;
}
main.join .input-wrap .content-wrap dl dd .add-btn input[type=text] {
  width: 490px;
}
main.join .input-wrap .content-wrap .work-wrap {
  margin-top: 20px;
  border: 1px solid #d3d3d3;
  padding: 20px 30px 23px 30px;
}
main.join .input-wrap .content-wrap .work-wrap .list-wrap {
  margin-top: 20px;
}
main.join .input-wrap .content-wrap .work-wrap .list-wrap li + li {
  margin-top: 10px;
}
main.join .step04-wrap {
  margin-top: 45px;
  border-top: 2px solid #666;
}
main.join .step01-off-wrap {
  margin-top: 60px;
}
main.join .step02-off-wrap {
  margin-top: 60px;
}
main.join .step02-off-wrap .member-wrap {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 60px;
}
main.join .step02-off-wrap .member-wrap .certi-type span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
main.join .step02-off-wrap .member-wrap .certi-type span::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 22px;
  background-image: url(../images/common/ico/hd_util_my.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 20px;
}
main.join .step02-off-wrap .member-wrap .mem-info span {
  font-size: 16px;
  line-height: 24px;
}
main.join .step02-off-wrap .member-wrap .mem-info span:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  background-color: #a7a7a7;
  margin: 0 25px;
}
main.join .step02-off-wrap .account-wrap {
  display: flex;
  border-top: 2px solid #666666;
  border-bottom: 1px solid #d3d3d3;
  margin-top: 40px;
  padding: 15px 0;
  gap: 44px;
}
main.join .step02-off-wrap .account-wrap .title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
main.join .step02-off-wrap .account-wrap .option-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
main.join .step02-off-wrap .account-wrap .option-wrap .input-wrap input {
  border-radius: 3px;
  height: 40px;
  width: 368px;
}
main.join .step02-off-wrap .account-wrap .option-wrap .info-txt {
  font-size: 15px;
  line-height: 22px;
  color: #a7a7a7;
}
main.join .step03-off-wrap {
  margin-top: 45px;
  border-top: 2px solid #666;
}
main.join .common-wrap .certi-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.join .common-wrap .certi-wrap .certi-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  width: 585px;
  border: 1px solid #707070;
  border-radius: 10px;
}
main.join .common-wrap .certi-wrap .certi-list.on {
  outline: 1px solid #78b53a;
  border: 1px solid #78b53a;
}
main.join .common-wrap .certi-wrap .certi-list.certi-phone {
  gap: 25px;
}
main.join .common-wrap .certi-wrap .certi-list.certi-phone i {
  background-image: url(../images/common/ico/certi_phone.svg);
}
main.join .common-wrap .certi-wrap .certi-list.certi-ipin {
  gap: 35px;
}
main.join .common-wrap .certi-wrap .certi-list.certi-ipin i {
  background-image: url(../images/common/ico/certi_ipin.svg);
}
main.join .common-wrap .certi-wrap .certi-list i {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 111px;
  height: 111px;
}
main.join .common-wrap .certi-wrap .certi-list .txt-box .title {
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
}
main.join .common-wrap .certi-wrap .certi-list .txt-box .content {
  margin-top: 15px;
  font-size: 15px;
  line-height: 22px;
  display: inline-block;
}
main.join .common-wrap .certi-wrap .certi-list .txt-box button {
  margin-top: 15px;
  display: block;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  width: 140px;
  height: 40px;
  background-color: #459729;
  border-radius: 3px;
}
main.join .common-wrap .info-txt {
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main.join .common-wrap .info-txt li {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  margin-left: 8px;
}
main.join .common-wrap .info-txt li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -8px;
  height: 1.5px;
  display: inline-block;
  width: 1.5px;
  background-color: #222;
  border-radius: 50%;
}
main.join .common-wrap .mo-br {
  display: none;
}
main.join .common-wrap .fin-wrap {
  margin-top: 45px;
}
main.join .common-wrap .fin-wrap i {
  background-image: url(../images/common/ico/join_fin_ico.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 83px;
  height: 90px;
  margin: 0 auto;
}
main.join .common-wrap .fin-wrap .main-txt {
  margin-top: 42px;
  text-align: center;
}
main.join .common-wrap .fin-wrap .main-txt p {
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
}
main.join .common-wrap .fin-wrap .main-txt span {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
}
main.join .common-wrap .fin-wrap .member-txt {
  margin: 30px auto 0;
  background-color: #f9f9f9;
  padding: 30px 0;
  width: 380px;
}
main.join .common-wrap .fin-wrap .member-txt .info-wrap .info-list {
  display: flex;
  width: 187px;
  margin: 0 auto;
}
main.join .common-wrap .fin-wrap .member-txt .info-wrap .info-list:first-child {
  gap: 46px;
}
main.join .common-wrap .fin-wrap .member-txt .info-wrap .info-list:first-child p {
  letter-spacing: 2px;
}
main.join .common-wrap .fin-wrap .member-txt .info-wrap .info-list:last-child {
  gap: 48px;
  margin-top: 10px;
}
main.join .common-wrap .fin-wrap .member-txt .info-wrap .info-list p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
main.join .common-wrap .fin-wrap .member-txt .info-wrap .info-list strong {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
main.join .common-wrap .fin-wrap .bottom-txt {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-break: keep-all;
}
main.join .common-wrap .fin-wrap .bottom-txt span {
  font-size: 16px;
  line-height: 24px;
}
main.join .common-wrap .fin-wrap .bottom-txt span.txt-im {
  color: #d43333;
}
main.join .btn-area {
  margin-top: 60px;
  text-align: center;
}
main.join .btn-area.type-a {
  margin-top: 100px;
}
main.join .btn-area.type-a .btn {
  max-width: 140px;
}
main.join .btn-area .btn {
  max-width: 200px;
}
@media (max-width: 1300px) {
  main.join {
    padding: 40px 0 60px 0;
  }
  main.join .join-top {
    padding: 30px 0 0;
  }
  main.join .join-top .step-list {
    margin: 27px auto 0;
  }
  main.join .join-top .step-list.off-list {
    padding: 0 30px;
  }
  main.join .join-top .step-list li.line {
    width: 16px;
    background-size: 26px;
  }
  main.join .join-top .step-list li .num {
    font-size: 10px;
    line-height: 12px;
  }
  main.join .join-top .step-list li .txt, main.join .join-top .step-list li .info-box .be, .info-box main.join .join-top .step-list li .be {
    font-size: 14px;
    line-height: 20px;
  }
  main.join .step01-wrap {
    margin-top: 40px;
  }
  main.join .step01-wrap .all-ck-wrap {
    padding: 20px 0;
  }
  main.join .step01-wrap .all-ck-wrap .checkbox label {
    font-size: 16px;
    word-break: keep-all;
  }
  main.join .step01-wrap .all-ck-wrap .checkbox label::before {
    margin-top: 0;
    top: 0;
  }
  main.join .step01-wrap .list-ck-wrap .ck-list .ck-wrap {
    align-items: end;
  }
  main.join .step01-wrap .list-ck-wrap .ck-list .ck-wrap .ck-title {
    font-size: 15px;
    line-height: 22px;
  }
  main.join .step01-wrap .list-ck-wrap .ck-list .ck-wrap .ck-title br {
    display: block;
  }
  main.join .step01-wrap .list-ck-wrap .ck-list .ck-wrap label {
    font-size: 15px;
    line-height: 22px;
  }
  main.join .step02-wrap {
    margin-top: 40px;
  }
  main.join .input-wrap .tit-area {
    padding: 20px 0;
    font-size: 18px;
    line-height: 27px;
  }
  main.join .input-wrap .content-wrap.cw02 {
    padding: 20px 0 30px 0;
  }
  main.join .input-wrap .content-wrap.cw02 dl {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main.join .input-wrap .content-wrap.cw02 dl dd {
    margin-top: 0;
    width: auto;
  }
  main.join .input-wrap .content-wrap.cw02 .sub-title {
    font-size: 16px;
    line-height: 24px;
  }
  main.join .input-wrap .content-wrap.cw03 {
    margin-bottom: 20px;
    padding: 20px 0px 16px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    border: 1px solid #D3D3D3;
  }
  main.join .input-wrap .content-wrap.cw03 .checkbox {
    width: 196px;
  }
  main.join .input-wrap .content-wrap.cw03 .checkbox.sub {
    width: 232px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main.join .input-wrap .content-wrap.cw03 .checkbox.sub input[type=text] {
    height: 36px;
  }
  main.join .input-wrap .content-wrap.cw04 {
    padding: 20px 0 0;
    border-top: 1px solid #666666;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }
  main.join .input-wrap .content-wrap.cw04 .area-sel {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  main.join .input-wrap .content-wrap.cw04 .area-sel span {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }
  main.join .input-wrap .content-wrap.cw04 .area-sel select {
    width: 160px;
  }
  main.join .input-wrap .content-wrap dl {
    flex-direction: column;
  }
  main.join .input-wrap .content-wrap dl:not(:first-child) {
    margin-top: 15px;
  }
  main.join .input-wrap .content-wrap dl dt {
    font-size: 16px;
    line-height: 24px;
    width: auto;
  }
  main.join .input-wrap .content-wrap dl dd {
    margin-top: 10px;
    gap: 6px;
    flex-wrap: wrap;
  }
  main.join .input-wrap .content-wrap dl dd .num-bar {
    width: 6px;
  }
  main.join .input-wrap .content-wrap dl dd .input-info {
    font-size: 14px;
    line-height: 20px;
  }
  main.join .input-wrap .content-wrap dl dd .input-info .mo-br {
    display: block;
  }
  main.join .input-wrap .content-wrap dl dd .add-txt {
    font-size: 16px;
    line-height: 24px;
  }
  main.join .input-wrap .content-wrap dl dd .add-btn {
    width: 100%;
  }
  main.join .input-wrap .content-wrap dl dd .add-btn input[type=text] {
    width: calc(100% - 88px);
  }
  main.join .input-wrap .content-wrap dl dd .type-l {
    max-width: none;
  }
  main.join .input-wrap .content-wrap .work-wrap {
    padding: 15px;
  }
  main.join .input-wrap .content-wrap .work-wrap .list-wrap {
    margin-top: 20px;
  }
  main.join .input-wrap .content-wrap .work-wrap .list-wrap li + li {
    margin-top: 10px;
  }
  main.join .step01-off-wrap {
    margin-top: 40px;
  }
  main.join .step02-off-wrap {
    margin-top: 40px;
  }
  main.join .step02-off-wrap .member-wrap {
    flex-direction: column;
    gap: 13px;
    height: 92px;
  }
  main.join .step02-off-wrap .account-wrap {
    flex-direction: column;
    display: flex;
    border-top: 2px solid #666666;
    border-bottom: none;
    margin-top: 40px;
    padding: 20px 0 0 0;
    gap: 10px;
  }
  main.join .step02-off-wrap .account-wrap .title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
  main.join .step02-off-wrap .account-wrap .option-wrap {
    gap: 0;
    flex-wrap: wrap;
  }
  main.join .step02-off-wrap .account-wrap .option-wrap .select-wrap {
    width: 218px;
    order: 1;
  }
  main.join .step02-off-wrap .account-wrap .option-wrap .input-wrap {
    order: 3;
  }
  main.join .step02-off-wrap .account-wrap .option-wrap .input-wrap input {
    border-radius: 3px;
    height: 40px;
    width: 368px;
  }
  main.join .step02-off-wrap .account-wrap .option-wrap .btn-wrap {
    order: 2;
  }
  main.join .step02-off-wrap .account-wrap .option-wrap .info-txt {
    order: 4;
    font-size: 15px;
    line-height: 22px;
    color: #a7a7a7;
  }
  main.join .common-wrap .info-txt {
    margin-top: 30px;
  }
  main.join .common-wrap .mo-br {
    display: block;
  }
  main.join .common-wrap .fin-wrap {
    margin-top: 25px;
  }
  main.join .common-wrap .fin-wrap .main-txt {
    margin-top: 40px;
  }
  main.join .common-wrap .fin-wrap .main-txt span {
    margin-top: 20px;
  }
  main.join .common-wrap .fin-wrap .member-txt {
    width: 100%;
  }
  main.join .common-wrap .fin-wrap .bottom-txt {
    margin-top: 20px;
  }
  main.join .btn-area .btn {
    max-width: 140px;
    font-size: 15px;
    font-weight: 400;
  }
}
@media (max-width: 1450px) {
  main.join .common-wrap .certi-wrap {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  main.join .common-wrap .certi-wrap .certi-list {
    align-items: start;
    width: 100%;
    padding: 30px 15px;
  }
  main.join .common-wrap .certi-wrap .certi-list.certi-phone {
    gap: 17px;
  }
  main.join .common-wrap .certi-wrap .certi-list.certi-ipin {
    gap: 15px;
  }
  main.join .common-wrap .certi-wrap .certi-list.certi-ipin i {
    margin-top: -3px;
  }
  main.join .common-wrap .certi-wrap .certi-list i {
    width: 65px;
    min-width: 65px;
    height: 65px;
  }
  main.join .common-wrap .certi-wrap .certi-list .txt-box .title {
    font-size: 18px;
    line-height: 27px;
  }
  main.join .common-wrap .certi-wrap .certi-list .txt-box button {
    margin-top: 10px;
    width: 120px;
  }
}

.alarm-wrap {
  padding: 60px 0 120px;
}
.alarm-wrap .con-top {
  padding-bottom: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #222222;
}
.alarm-wrap .con-top .back-button {
  display: none;
}
.alarm-wrap .table-top {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #222222;
  padding: 18px 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
.alarm-wrap .table-top .th-list {
  display: table-cell;
  text-align: center;
}
.alarm-wrap .table-top .th-list:first-child {
  width: 100px;
}
.alarm-wrap .table-top .th-list:last-child {
  width: 200px;
}
.alarm-wrap .table-top .th-list .checkbox label {
  vertical-align: middle;
}
.alarm-wrap .table-wrap .table-list {
  border-bottom: 1px solid #d3d3d3;
  padding: 15px 0;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.alarm-wrap .table-wrap .table-list .td-list {
  display: table-cell;
  text-align: center;
}
.alarm-wrap .table-wrap .table-list .td-list.ckBox {
  width: 100px;
}
.alarm-wrap .table-wrap .table-list .td-list.ckBox .checkbox label {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}
.alarm-wrap .table-wrap .table-list .td-list.title {
  font-size: 16px;
  line-height: 24px;
  text-align: start;
}
.alarm-wrap .table-wrap .table-list .td-list.title a {
  max-width: 100%;
  word-wrap: break-word;
}
.alarm-wrap .table-wrap .table-list .td-list.date {
  width: 200px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif !important;
  color: #666666;
}

@media (max-width: 1300px) {
  .alarm .js-include {
    display: none;
  }
  .alarm-wrap {
    padding: 20px 0 80px;
  }
  .alarm-wrap .con-top {
    padding-bottom: 7px;
    border-bottom: none;
  }
  .alarm-wrap .con-top h3.tit {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
  .alarm-wrap .con-top .back-button {
    display: inline-block;
    background-image: url(../images/common/ico/back_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 27px;
    height: 20px;
  }
  .alarm-wrap .con-top .del-btn {
    height: 22px;
    width: 21px;
    border: none;
    background-image: url(../images/common/ico/delete_button_ico.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -114px;
    z-index: 100;
  }
  .alarm-wrap .con-top .del-btn span {
    display: none;
  }
  .alarm-wrap .table-top {
    display: inline-block;
    table-layout: unset;
    padding: 15px 0;
  }
  .alarm-wrap .table-top .th-list:nth-child(n+2) {
    display: none;
  }
  .alarm-wrap .table-top .th-list:first-child {
    width: 24px;
  }
  .alarm-wrap .table-wrap .table-list .td-list {
    display: inline-block;
  }
  .alarm-wrap .table-wrap .table-list .td-list.ckBox {
    width: 24px;
    vertical-align: top;
  }
  .alarm-wrap .table-wrap .table-list .td-list.title {
    width: calc(100% - 24px);
    padding: 0 8px;
  }
  .alarm-wrap .table-wrap .table-list .td-list.date {
    width: auto;
    margin-left: 33px;
    margin-top: 5px;
    font-size: 15px;
    line-height: 19px;
  }
}