h2.tit {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

h3.tit {
  font-weight: 600;
  font-size: 26px;
}

.location {
  height: 50px;
  background: #f9f9f9;
  font-size: 0;
}
.location .w-set {
  height: 100%;
}
.location .w-set > li {
  position: relative;
  display: inline-block;
  height: 100%;
}
.location .w-set > li + li > a {
  padding-left: 20px;
}
.location .w-set > li + li::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background: #d3d3d3;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.location .w-set > li > a {
  line-height: 50px;
  height: 100%;
}
.location a {
  display: inline-block;
  font-size: 14px;
  position: relative;
}
.location a + a {
  padding: 15px 20px;
}
.location a + a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #d3d3d3;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.location .home {
  padding: 0 30px 0 34px;
  background: url("../images/common/ico/location_home.svg") no-repeat left center;
}
.location .has-select {
  padding-right: 70px;
  background: url("../images/common/ico/location_arrow.svg") no-repeat right 20px center;
}
.location .has-select + ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 0 15px;
  width: 100%;
}
.location .has-select + ul.on {
  display: block;
}
.location .has-select + ul li a {
  display: block;
  padding: 5px 0;
}
.location .has-select + ul li:first-child a {
  padding-top: 15px;
}
.location .has-select + ul li:last-child a {
  padding-bottom: 15px;
}
.location .has-select + ul a {
  color: #333;
  transition: all 0.2s;
}
.location .has-select + ul a:hover {
  color: #78b53a;
}

.info-box {
  background: #fff5c8 url("../images/common/img/info_bg.png") no-repeat center bottom;
  border-radius: 3px;
  padding: 30px 0;
}
.info-box .info {
  max-width: 700px;
  margin: 0 auto;
}
.info-box .tit {
  display: block;
  padding-bottom: 10px;
  font-family: "iceSotong-Rg", sans-serif !important;
  font-size: 40px;
  color: #ff8000;
}
.info-box p + p {
  margin-top: 6px;
}
.info-box .txt, .info-box .be {
  font-size: 15px;
  line-height: 1.3;
}
.info-box .be {
  position: relative;
  padding-left: 10px;
}
.info-box .be::after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #222;
  position: absolute;
  left: 0;
  top: 8px;
}

.member {
  padding: 100px 0 200px;
  border-top: 1px solid #ddd;
}
.member .w-set {
  max-width: 400px;
}
.member .input-wrap + .input-wrap {
  margin-top: 10px;
}
.member .btn {
  margin-top: 30px;
}
.member .btn + .btn {
  margin-top: 15px;
}
.member .id input {
  padding-left: 43px;
  background: url("../images/common/ico/login_id.svg") no-repeat left 15px center;
}
.member .pw input {
  padding-left: 43px;
  background: url("../images/common/ico/login_pw.svg") no-repeat left 15px center;
}
.member .login-wrap {
  margin-top: 60px;
}
.member .find-wrap {
  margin-top: 20px;
  padding-top: 160px;
  background: url("../images/common/img/member_top.png") no-repeat top center;
}
.member .login-btm {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.member .login-btm a {
  font-size: 15px;
}
.member .login-btm a + a {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
}
.member .login-btm a + a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #666;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.member .fail-txt {
  text-align: center;
  padding-top: 67px;
  margin: 40px 0 30px;
  background: url("../images/common/ico/login_fail.svg") no-repeat top center;
}
.member .fail-txt .txt1 {
  font-weight: 500;
  font-size: 20px;
}
.member .fail-txt .txt1 span {
  color: #459729;
}
.member .fail-txt .txt2 {
  font-size: 15px;
  line-height: 22px;
}
.member .captcha {
  margin: 20px 0 10px;
  min-height: 60px;
  background: #ddd;
}

.join .w-set {
  max-width: 1200px;
}
.join .join-top {
  padding: 40px 0 0;
}
.join .join-top .step-list {
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 683px;
}
.join .join-top .step-list li.on .txt, .join .join-top .step-list li.on .info-box .be, .info-box .join .join-top .step-list li.on .be {
  color: #459729;
}
.join .join-top .step-list li.line {
  display: block;
  width: 26px;
  height: 3px;
  background: url("../images/common/img/step_line.svg") no-repeat;
}
.join .join-top .step-list li span {
  display: block;
  text-align: center;
  font-weight: 500;
}
.join .join-top .step-list li .num {
  font-family: "Inter", sans-serif !important;
  font-size: 16px;
  color: #666;
}
.join .join-top .step-list li .txt, .join .join-top .step-list li .info-box .be, .info-box .join .join-top .step-list li .be {
  font-size: 20px;
  padding-top: 5px;
}
.join .btn-area {
  margin-top: 60px;
  text-align: center;
}
.join .btn-area .btn {
  max-width: 200px;
}